<div class="depoimentos">
	<h2>Depoimentos</h2>    
	<p>
	<%= image_tag depoimento.imagem.url(:real) unless missing?(depoimento.imagem) %>
	<span class="autor"><%= depoimento.nome %><br /></span>
	<span class="aspas-abre">&ldquo;</span><%=raw depoimento.descricao %><span class="aspas-fecha">&rdquo;</span>
	</p>
<br class="clear" />
</div>