<% title "Cursos Presenciais" %>

<h2>Cursos Presenciais</h2>
<% form_tag url_for(:controller => "cursos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "busca", :locals => {:categorias => @categorias} %>
    </div>

    <div class="caixa_canto_redondo_branca">
      <div class="caixa_topo_branca"><div></div></div>
      <div class="caixa_conteudo_branca">
        <div class="exibi_cursos">
          <h2>Lançamentos</h2>

          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>

          <ul class="lista_cursos">
            <% @cursos.each do |curso| -%>
              <li>
                <% link_to curso_path(curso) do %>
					<p class="thumb"><%= image_tag curso.imagem.file? ? curso.imagem.url(:thumbnail) : "thumb_curso_online.gif" %></p>
					<p class="desc_curso"><%= curso.nome %><br /><span><%=raw truncate_html(curso.descricao, :length => 60) %></span></p>
                <% end -%>
              </li>
            <% end -%>
            <br class="clear" />
          </ul>

          <!-- Paginacao -->
          <% unless @cursos.blank? -%>
            <div class="paginacao">
              <%= will_paginate @cursos %>
            </div>
          <% end -%>

          <div class="clear"></div>
        </div>
      </div>
      <div class="caixa_rodape_branca"><div></div></div>
    </div>
    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">
  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>

  <%= render :partial => "cursos/banners" %>

</div>