<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<p><%= "O cliente #{@user.email} recuperou sua senha" %></p>
<p><%= "Nome: #{@user.name}" %></p>
<p><%= "CPF: #{@user.cpf}" %></p>
<p><%= "E-mail: #{@user.email}" %></p>
<p><%= link_to "Mais informações", edit_admin_user_url(@user) %></p>
</body>
</html>