<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table width="610" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="background-color: #0075D5; padding: 10px;"><table width="580px" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><%= image_tag "http://www.plantaodoenem.com.br/images/logo_plantao_enem.png", :alt => Settings.site, :title => Settings.site %></td>
        <td>&nbsp;</td>
        <td></td>
        <td align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #ffffff;">Confirma&ccedil;&atilde;o de Cadastro</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:10px 25px 25px 25px; border: 1px solid #a9a9a9; border-width: 0 1px; background-color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size: 14px;"><!-- Conteudo do email -->
      <h2 style="color: #0075D5;">Caro(a) <%=h @user.name -%>,</h2>
      <p style="line-height:18px; color: #666666;">Voc&ecirc; solicitou uma nova senha. Veja abaixo a sua nova senha de acesso ao site:</p>
      <p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;">Login:</span> <%=h "#{@contact[:login]} ou #{@contact[:email]}" -%> <br />
        <span style="font-weight:bold;">Senha:</span> <%= @contact[:message] %> </p>

      <!-- Fim do conteudo do email --></td>
  </tr>
  <tr>
    <td align="left" style="padding:10px; background-color: #ccc; border: 1px solid #a9a9a9; border-width: 0 1px 1px 1px; font-family:Arial, Helvetica, sans-serif; font-size: 12px;"><span style="font-weight:bold; font-size: 16px;">Plantão do ENEM</span><br />
      <a style="color:##0075D5;" title="Acesse nosso site!" href="http://www.plantaodoenem.com.br">plantaodoenem.com.br</a>
      <!-- contatos do gustavo -->
      <!-- Fim de contatos --></td>
  </tr>
</table>
</body>
</html>
