<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table width="610" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="background-color: #0075D5; padding: 10px;"><table width="580px" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><%= image_tag "http://www.plantaodoenem.com.br/images/logo_plantao_enem.png", :alt => Settings.site, :title => Settings.site %></td>
        <td>&nbsp;</td>
        <td></td>
        <td align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #ffffff;">Confirma&ccedil;&atilde;o de Cadastro</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:10px 25px 25px 25px; border: 1px solid #a9a9a9; border-width: 0 1px; background-color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size: 14px;"><!-- Conteudo do email -->
      <h2 style="color: #0075D5;">Caro(a) <%=h @user.name -%>,</h2>
      <p style="line-height:18px; color: #666666;"> Seu pedido foi processado e est&aacute; aguardando confirma&ccedil;&atilde;o do pagamento. Caso
      n&atilde;o tenha feito o pagamento ainda, por favor acesse o site do <%= Settings.site %> e efetue login. Em seguida, acesse o item "Meus Pedidos", dentro da caixa &Aacute;rea do Aluno</p>
      <p style="color: #666666; margin: 0; font-weight: bold;">Seus dados de acesso:</p>
      <p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;">Login:</span> <%=h "#{@user.login} ou #{@user.email}" -%> <br />
      </p>

      <!-- Pedido do cliente -->
      <h2 style="color: #0075D5;">Seu Pedido</h2>
      <table>
        <tr>
          <td>Descri&ccedil;&atilde;o</td>
          <td>Valor</td>
        </tr>
        <% @order.products.each do |product| -%>
        <tr>
          <td><%= product[:description] %></td>
          <td>R$<%= product[:price] / 100.00 %></td>
        </tr>
        <% end -%>
        <tr>
          <td>Total</td>
          <td>R$<%= @order.products.inject(0){|sum, item| sum + item[:price]} / 100.00 %></td>
        </tr>
      </table>
      <!-- Fim do pedido do cliente -->
      <!-- Fim do conteudo do email --></td>
  </tr>
  <tr>
    <td align="left" style="padding:10px; background-color: #ccc; border: 1px solid #a9a9a9; border-width: 0 1px 1px 1px; font-family:Arial, Helvetica, sans-serif; font-size: 12px;"><span style="font-weight:bold; font-size: 16px;">Plantão do ENEM</span><br />
      <a style="color:##0075D5;" title="Acesse nosso site!" href="http://www.plantaodoenem.com.br">plantaodoenem.com.br</a>
      <!-- contatos do gustavo -->
      <!-- Fim de contatos --></td>
  </tr>
</table>
</body>
</html>
