<% unless @tickers.blank? %>
  <section id="featured">
    <!-- start slider -->
    <div id="slider" class="sl-slider-wrapper demo-2">
      <div class="sl-slider">
        <% @tickers.each do |ticker| %>
      		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
      			<div class="sl-slide-inner">
                <% if ticker.link.blank? -%>
                  <%= image_tag ticker.imagem.url(:original), :alt => ticker.descricao, :title => ticker.descricao, :class => "bg-img" %>
                <% else -%>
                  <%= link_to image_tag(ticker.imagem.url(:original), :alt => ticker.descricao, :title => ticker.descricao, :class => "bg-img"), ticker.link %>
                <% end %>
      			</div>
      		</div>
        <% end %>
      </div>
    	<!-- /sl-slider -->
    	<nav id="nav-dots" class="nav-dots">
        <% @tickers.each_index do |i| -%>
          <span class="<%= 'nav-dot-current' if i.zero? %>"></span>
        <% end %>
    	</nav>
    </div>
  </section>
<% end %>
