<div class="row nomargin">
	<div class="span12">
		<div class="headnav">
			<ul>
				<li>
          <% link_to new_user_path do %>
            <i class="icon-user"></i> Cadastrar-se
          <% end %>
				<li><a href="#sign-in-window" data-toggle="modal">Área do Aluno</a></li>
			</ul>
		</div>
		<!-- Sign in Modal -->
		<div id="sign-in-window" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 id="mySigninModalLabel">Entrar na <strong>Área do Aluno</strong></h4>
			</div>
			<div class="modal-body">
        <% form_tag session_path, :class => "form-horizontal" do %>
  				<div class="control-group">
  					<label class="control-label" for="user-login-username">Login</label>
  					<div class="controls">
              <%= text_field_tag 'login', nil, :id => 'user-login-username', :maxlength => 50, :placeholder => "insira seu login ou e-mail" %>
  					</div>
  				</div>
  				<div class="control-group">
  					<label class="control-label" for="user-login-password">Senha</label>
  					<div class="controls">
              <%= password_field_tag 'password', nil, :id => "user-login-password", :placeholder => "insira sua senha" %>
  					</div>
  				</div>
  				<div class="control-group">
  					<div class="controls">
              <%= submit_tag 'Entrar', :class => "btn" %>
  					</div>
  					<p class="aligncenter margintop20">
  						Esqueceu sua senha? <%= link_to 'Solicite outra', forgot_password_path %>
  					</p>
  				</div>
        <% end %>
			</div>
		</div>
		<!-- end signin modal -->
	</div>
</div>