<!-- Area do Aluno -->

<div class="row" style="background: #f3f3f3; margin-bottom: 10px;">
	<div class="span3" style="margin-top: 10px; height: 60px;">
		<span style="font-weight: bold;">ÁREA DO ALUNO</span><br/>
		<p>Seja bem-vindo(a) <span style="font-weight: bold;"><%= @user.name %></span></p>

	</div>

	<div class="span8" style="margin-top: 19px; padding: 3px 0 2px 0;">
		<ul class="menu-aluno">
			<li><%= link_to "Meus Cursos", meus_cursos_path%></li>
			<li><%= link_to "Pedidos", {:controller => 'pedido', :action => 'index'}%></li>
			<li><%= link_to "Meus dados", edit_user_path(@user) %></li>
		</ul>
	</div>

	<div class="span1" style="margin-top: 10px;">
		<%= button_to "Sair", logout_path, :class => "btn btn-theme margintop10 pull-left" %>
	</div>
</div>
<div class="row">
  <% if @user.trial_period? %>
  <div class="alert alert-info">
  	<button type="button" class="close" data-dismiss="alert">×</button>
  	<strong>Bem vindo!</strong> Você tem <%= pluralize(@user.remaining_trial_period, 'dia', 'dias') %> grátis pra testar o curso. Aproveite!
  </div>
  <% end %>
</div>
<!-- Area do Aluno -->