<% title "Acesso Restrito" %>

<h2><%= yield(:title) %></h2>

<div class="box_acesso_restrito" id="box_login">
  <h3>Já é cadastrado?</h3>
  <p>Digite seu nome de usuário e senha abaixo para acessar o sistema.</p>
  <% form_tag session_path do -%>
    <p class="bl">
	<%= label_tag 'login', "Login", :class => 'field' %>
    <%= text_field_tag 'login', @login, :class => "campo_texto", :maxlength => 50, :placeholder => "insira seu login ou e-mail" %>
	</p>
	<p class="bl">
    <%= label_tag 'password', "Senha", :class => 'field' %>
    <%= password_field_tag 'password', nil, :class => "campo_texto", :placeholder => "insira sua senha" %>
	</p>
    <p>
      <%= check_box_tag 'remember_me', '1', @remember_me %>
      <%= label_tag 'remember_me', 'Lembrar de mim' %>
		<%= link_to 'Esqueceu sua senha?', forgot_password_path, :class => 'link_form' %>
<br class="clear" />
    </p>
    <%= submit_tag 'Entrar', :class => 'button gray marg' %>
  <% end -%>
	<br class="clear" />
</div>


<div class="box_acesso_restrito" id="box_pre_cadastro">
  <h3>Ainda não é cadastrado?</h3>
  <p>Preencha o formulário abaixo para criar uma conta para acessar o sistema.</p>
  <% form_tag new_user_path, :method => :get do -%>
    <p class="bl">
	<%= label_tag 'user[first_name]', "Nome", :class => 'field' %>
    <%= text_field_tag 'user[first_name]', "", :class => "campo_texto", :maxlength => 50 %>
    <p/>
	<p class="bl">
    <%= label_tag 'user[email]', "E-mail", :class => 'field' %>
    <%= text_field_tag 'user[email]', "", :class => "campo_texto", :maxlength => 50 %>
	<p/>
    <%= submit_tag 'Cadastrar-se', :class => 'button gray marg' %>
  <% end -%>
	<br class="clear" />
</div>



<br class="clear" />
