<% form_for( [:admin, parceiro], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :url, "Url" %>
    <%= f.text_field :url, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    <%= image_tag parceiro.imagem.url(:thumbnail) unless missing?(parceiro.imagem) %> (.jpg, .gif ou .png)
  </div>

  <div>
    <%= f.label :detalhes %>
    <br/>
    <%= f.text_area :detalhes, :class => "tinymce" %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>
