<div>
  <span>
    <span class="titulo"><%= link_to parceiro.nome, edit_admin_parceiro_path(parceiro) %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, parceiro], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>