<% title "Parceiros" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'parceiro'} %>

<div class="registros">
  <%= render :partial => @parceiros %><br />
</div>
<br class="clear" />

<%= will_paginate @parceiros %>