<% content_for :custom_javascript_includes do %>
    <%= javascript_include_tag "products_watch" %>
<% end %>

<% title @ticket ? @ticket.nome : "Ao Vivo" %>

<div class="conteudo_geral">

  <h2>Assistir aula ao vivo</h2>

  <% form_tag url_for(:controller => "tickets", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
      <div class="principal">
        <% unless @ticket.blank? -%>
            <div class="exibi_cursos">
              <span class="btn_voltar"><%= link_to "Voltar para Minhas Aulas ao Vivo", meus_tickets_path %></span>

              <h2><%= @ticket.nome %></h2>

              <div class="resumo">
                <% if @ticket.videos.empty? %>
                    <%=raw @ticket.codigo_embed %>
                <% else %>
                    <div id="view_video" class="video_assistir">
                      <%= render :partial => "view", :locals => {:video => @ticket.videos.first.video_upload, :curso_id => @ticket.id} %>
                    </div>
                <% end %>
                <br class="clear"/>
              </div>

              <% unless @ticket.descricao.blank? %>
                  <div class="descricao_curso">
                    <h4><span>Conteúdo</span></h4>

                    <p><%=raw @ticket.descricao.nl2br %></p>
                  </div>
              <% end -%>
              <% unless @ticket.professors.blank? -%>
                  <div class="descricao_curso">
                    <h4><span><%= @ticket.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
                    <% @ticket.professors.each do |professor| -%>
                        <p>
                          <% if professor.professor.imagem.file? -%>
                              <%= image_tag professor.professor.imagem.url(:thumbnail) %>
                          <% end -%>
                          <%= link_to professor.professor.nome, professor_path(professor.professor) %>
                        </p>
                    <% end -%>
                  </div>
              <% end -%>
              <% unless @ticket.publico_alvo.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Curso indicado para</span></h4>

                    <p><%= @ticket.publico_alvo %></p>
                  </div>
              <% end -%>

              <% unless @ticket.carga_horaria.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Carga Horária</span></h4>

                    <p><%= @ticket.carga_horaria %></p>
                  </div>
              <% end -%>

              <div class="descricao_curso">
                <h4><span>Investimento</span></h4>

                <p><%= @ticket.investimento_com_desconto_ativo.reais_formatado %></p>
              </div>
              <% unless @ticket.produto_anexos.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Material de Apoio</span></h4>
                    <%= render :partial => 'produto_anexo', :collection => @ticket.produto_anexos %>
                  </div>
              <% end -%>
              <div class="clear"></div>
            </div>
        <% end -%>
        <div class="clear"></div>

      </div>
  <% end -%>


  <% if !@ticket.videos.empty? %>
      <div class="col3_interna">
        <h2>Aulas</h2>

        <div class="lista_aulas_curso">
          <ul>
            <% @ticket.videos.each do |video| -%>
                <li id="li-video-<%= video.video_upload.id %>">
                  <p>
                    <%= link_to_remote image_tag(@ticket.imagem.file? ? @ticket.imagem.url(:thumbnail, :size => "80x60") : "thumb_curso_online.gif") + video.video_upload.nome + "<br />", :url => {:controller => "tickets", :action => "view", :video_id => video.video_upload.id, :curso_id => @ticket.id} %>
                    <span>Tempo:</span> <%= video.video_upload.duracao_label %>.
                    <br class="clear"/>
                  </p>
                </li>
            <% end -%>
          </ul>
        </div>
        <br class="clear"/>
      </div>
  <% end %>
</div>