<% title "Ao Vivo" %>

<div class="conteudo_geral">

  <h2>Ao Vivo</h2>
  <% form_tag url_for(:controller => "tickets", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
      <div class="principal">
        <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Aulas Ao Vivo'} %>
        </div>

        <div class="exibi_cursos">
          <h2>Lançamentos</h2>

          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page]) %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>

          <ul class="lista_cursos">
            <% @tickets.each do |ticket| -%>
                <li>
                  <% link_to ticket_path(ticket) do %>
                      <p class="thumb"><%= image_tag(ticket.imagem.file? ? ticket.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>

                      <p class="desc_curso"><%= ticket.nome %><br/>
                        <span><%=raw truncate_html(ticket.descricao, :length => 150) %></span></p>
                  <% end -%>
                  <br class="clear"/>
                </li>
            <% end -%>

          </ul>

          <!-- Paginacao -->
          <% unless @tickets.blank? -%>
              <div class="paginacao">
                <%= will_paginate @tickets %>
              </div>
          <% end -%>

          <br class="clear"/>
        </div>
      </div>
  <% end -%>
  <!-- fim do conteudo principal -->

  <div class="col3_interna">
    <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
    <%= render :partial => "cursos/banners" %>
  </div>
</div>
