<% title "Finalizando pedido"  %>

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading"><h2>Efetuar Pagamento</h2></div>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">

			<div class="span12">
				<h5>Etapas para efetivar a compra</h5>
				<ul class="passos_compra">
					<li>1. Conferir o Pedido</li><i class="icon-circle-arrow-right"></i>
		            <li>2. Identificação</li><i class="icon-circle-arrow-right"></i>
		            <li id="atual">3. Efetuar Pagamento</li><i class="icon-circle-arrow-right"></i>
		            <li>4. Confirmação</li>
				</ul>
			</div>

			<div class="span8">
				<p>Para concluir o pagamento, você será encaminhado para a página do <strong>PagSeguro.</strong></p>
				<p>O seu curso será liberado em até 24 horas depois da confirmação de seu pagamento pelo sistema do PagSeguro.</p>
			</div>
			<div class="span4 testimonial" style="background: #f3f3f3; width: 245px;">
				<%= pagseguro_form @order, :submit => "Ver Condições no PagSeguro" %>
			</div>
		</div>
	</div>
</section>