<% type ||= !params[:type].blank? && params[:type] == "free" ? :free : :not_free %>
<% title "Pedido efetuado com sucesso" %>

<!-- Google Code for Cursos vendidos Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 977212950;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "gsDQCJLxzAcQlqz80QM"; var
  google_conversion_value = 0; var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977212950/?value=0&amp;label=gsDQCJLxzAcQlqz80QM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2>Pedido Confirmado!</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">

			<div class="span12">
				<h5>Etapas para efetivar a compra</h5>
				<ul class="passos_compra">
					<li>1. Conferir o Pedido</li><i class="icon-circle-arrow-right"></i>
          <li>2. Identificação</li><i class="icon-circle-arrow-right"></i>
          <li>3. Efetuar Pagamento</li><i class="icon-circle-arrow-right"></i>
          <li id="atual">4. Confirmação</li>
				</ul>
			</div>

			<div class="span12">
        <% if type == :not_free %>
        <p>Você receberá um e-mail do <strong>PagSeguro<strong> confirmando o seu pedido.</p>
        <% else %>
         <p>Você receberá um e-mail com instruções para acessar o conteúdo.</p>
        <% end %>
        <div style="margin-top: 20px;">
        	<i class='icon-circle-arrow-left'></i><% link_to home_path do %><span class="btn_voltar">Voltar ao Site</span><% end -%>
        	<br class="clear" />
        </div>
			</div>
		</div>
	</div>
</section>