<% title 'Meus Pedidos' %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2>Meus Pedidos</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">
			<div class="span12">

				<% if @faturas.blank? %>
				  <p>Você não comprou nenhum curso até o momento.</p>
				<% else %>
					<div class="registros">
			  		<table class="table table-striped">
              <thead>
  							<tr>
  								<td class="data_ped">Data</td>
  								<td class="status_ped">Situação</td>
  								<td class="detalhes_ped">Detalhes</td>
  							</tr>
              </thead>
              <tbody>
  			    		<%= render :partial => "fatura", :collection => @faturas %>
              </tbody>
						</table>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>