<% title "Resumo do Pedido" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2>Resumo do Pedido nº <%= @fatura.id %></h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">
			<div class="span12">
      	<i class='icon-circle-arrow-left'></i><%= link_to "Voltar para seus pedidos", :controller => 'pedido', :action => 'index'%>

	  		<table class="table table-striped">
          <thead>
      			<tr>
      				<td class="data_ped2">Data da Compra</td>
      				<td class="status_ped2">Situação</td>
      				<td class="detalhes_ped2">Itens do Pedido</td>
      			</tr>
          </thead>
          <tbody>
      			<tr>
      				<td><%= @fatura.created_at.to_s(:padrao_data_hora) %></td>
      				<td class="meio"><%= @fatura.status_legible %></td>
      				<td><%= render :partial => "fatura_item", :collection => @fatura.fatura_items %></td>
      			</tr>
      			<tr>
      				<td></td>
      				<td class="meio">Total</td>
      				<td><%= @fatura.total_price.real_contabil %></td>
      			</tr>
          </tbody>

    		</table>

    		<% if @fatura.pending? %>
  				<% link_to url_for(:controller => 'pedido', :action => 'checkout', :id => @fatura), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do %><i class="icon-shopping-cart"></i>Fazer Pagamento <% end -%>
    		<% end %>
			</div>
		</div>
	</div>
</section>