<% title "Resumo do Pedido" %>

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading"><h2>Pedido</h2></div>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h5>Etapas para efetivar a compra</h5>
				<ul class="passos_compra">
					<li id="atual">1. Conferir o Pedido</li><i class="icon-circle-arrow-right"></i>
		            <li>2. Identificação</li><i class="icon-circle-arrow-right"></i>
		            <% if @basket[:total] > 0 %>
		            <li>3. Efetuar Pagamento</li><i class="icon-circle-arrow-right"></i>
		            <li>4. Confirmação</li>
		            <% else %>
		            <li>5. Confirmação</li>
		            <% end %>
				</ul>
			</div>

			<div class="span12">
				<table class="table table-striped">
					<thead>
		        <tr>
		          <th class="item_cabecalho_primeiro">Item</th>
		          <th class="item_cabecalho">Preço (R$)</th>
		        </tr>
					</thead>

					<tbody>
						<% @basket[:items].each do |item_id, info| %>
						  <tr>
						    <td valign="middle"><%= info[:item].nome %></td>
						    <td class="preco"><%= info[:item].investimento_com_desconto_ativo.real_contabil %></td>
						  </tr>
						<% end %>
						<% if @basket[:subtotal] != @basket[:total] -%>
						  <tr>
						    <td class='total_texto'>Subtotal:</td>
						    <td class='total_valor'><%= @basket[:subtotal].reais_contabeis %></td>
						  </tr>
						  <% end -%>
						  <% if @basket[:total_discount] > 0 -%>
						  <tr>
						    <td class='total_texto'>Desconto:</td>
						    <td class='total_valor'><%= @basket[:total_discount].reais_contabeis %></td>
						  </tr>
						<% end -%>
						<tr>
						  <td class="total_texto">Total:</td>
						  <td class="total_valor"><%= @basket[:total].reais_contabeis %></td>
						</tr>
					</tbody>
	      </table>
			</div>

			<div class="span12" style="margin-top: 20px;">
  			<% link_to url_for(:controller => 'pedido', :action => 'checkout'), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do %><i class="icon-shopping-cart"></i> Continuar <% end -%>
			</div>

		</div>
	</div>
</section>


