<% title "Cadastro de Usuário" %>
<div class="conteudo_geral">
<h2>Cadastro de Usuário</h2>

    <div class="conteudo_cadastro conteudo">

      <% form_for :user, :url => users_path do |f| -%>
      	<p class="atencao_cadastro"><span>Atenção!</span> Por gentileza, preencha todos os campos.</p>
		
        <p>
          <%= f.label :name, 'Nome' %>
          <%= f.text_field :name, :maxlength => 100, :class => "campo" %><br />
        </p>
        
        <p>
          <%= f.label :nascimento, 'Data de Nascimento' %>
          <%= f.text_field :nascimento, :maxlength => 10, :class => "campo" %><br />
        </p>

        <p>
          <%= f.label :login, 'Login' %>
          <%= f.text_field :login, :maxlength => 40, :class => "campo" %>
        </p>

        <div>
          <p>
            <%= f.label :email, 'E-mail' %>
            <%= f.text_field :email, :maxlength => 100, :class => "campo" %>
          </p>
        
          <p>
            <%= f.label :email_confirmation, 'Confirmação de e-mail'%>
            <%= f.text_field :email_confirmation, :maxlength => 100, :class => "campo" %>
          </p>
        </div>
        
        <div>
          <p class="bl1">
            <%= f.label :password, 'Senha' %>
            <%= f.password_field :password, :class => "campo_senha" %>
          </p>

          <p class="bl2">
            <%= f.label :password_confirmation, 'Confirmação de Senha', :class => "label_senha_2" %>
            <%= f.password_field :password_confirmation, :class => "campo_senha" %>
          </p>
          <br class="clear" />
        </div>

        <p>
          <%= f.label :cpf, "CPF" %>
          <%= f.text_field :cpf, :maxlength => 14, :class => "campo" %>
        </p>
        
        <p>
          <%= f.label :endereco, "Endereço" %>
          <%= f.text_field :endereco, :maxlength => 100, :class => "campo" %>
        </p>
        
        <p>
          <%= f.label :complemento, "Complemento" %>
          <%= f.text_field :complemento, :maxlength => 100, :class => "campo" %>
        </p>
        
        <p>
          <%= f.label :bairro, "Bairro" %>
          <%= f.text_field :bairro, :maxlength => 100, :class => "campo" %>
        </p>
        
        <p>
          <%= f.label :estado_id, "Estado" %>
          <%= f.collection_select :estado_id, Estado.ordered.all, :id, :nome, :include_blank => true %>
	 	  <%= observe_field(:user_estado_id, :url => :update_cidade_users,
		                  :update => :cidade_container,
		                  :with => :estado_id
		            ) %>
        </p>
        
        <p id="cidade_container">
	      <% if !@user.estado.blank? %>
		  <%= f.label :cidade_id, "Cidade" %>
          <%= f.collection_select :cidade_id, @user.estado.cidades.ordered.all, :id, :nome, :include_blank => true %>
		  <% end %>
        </p>
        
        <div>
          <p>
            <%= f.label :cep, "CEP" %>
            <%= f.text_field :cep, :maxlength => 10, :class => "campo_cep" %>
            <%= link_to 'Não sei o CEP', 'http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro', :target => '_blank', :class => "texto_cep" -%>
          </p>
        </div>
        
        <p>
          <%= f.label :telefone_fixo, "Telefone Fixo" %>
          <%= f.text_field :telefone_fixo, :class => "campo" %>
        </p>
        
        <p>
          <%= f.label :telefone_celular, "Telefone Celular" %>
          <%= f.text_field :telefone_celular, :maxlength => 13, :class => "campo" %>
        </p>
        
        <div class="aceito_receber">
          <%= f.label 'Termos de Serviço', '&nbsp;' %>
          <label><%= f.check_box :aceite_termos_de_servico %> Aceito os <%= link_to 'termos de serviço', termos_path, :target => '_blank' %>.</label>
        </div>

        <div class="aceito_receber">
          <%= f.label '', '&nbsp;' %>
          <label><%= check_box_tag :newsletter, "on", true %> Desejo receber promoções e comunicados do <%= Settings.site %>.</label>
        </div>

        <p>
          <%= f.label '', '&nbsp;' %>
          <%= submit_tag 'Continuar', :class => "btn_comprar button2 gray" %>
        </p>
      <% end -%>
      	

    </div><!-- Fim da div cadastro-->




<% content_for :custom_javascript_includes do %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#user_cpf").mask("999.999.999-99");
                $("#user_cep").mask("99.999-999");
                $("#user_nascimento").mask("99/99/9999");
                $("#user_telefone_fixo").mask("(99)9999-9999");
                $("#user_telefone_celular").mask("(99)9999-9999");
	});
</script>
<% end %>
</div>
