<% title "Cadastrado com sucesso!" %>
<div class="conteudo_geral">
	<h2><%= @user.name %></h2>
    <div class="conteudo_cadastro">
		<div class="cadastro_sucesso">
		
		<p>
    Obrigado por ter se cadastrado no <%= Settings.site %>!<br/>
		  A partir de agora, basta se logar no sistema para ter acesso a todo o conteúdo exclusivo e para poder adquirir e assistir aos Cursos on-line.</p>
		<p>
		  Utilize o login <span><%= @user.login %></span> e a senha cadastrada para acessar o sistema.
		</p>
		</div>
    </div>
    <br class="clear" />
</div>
