<div id="tab_<%= categoria.nome.parameterize.underscore %>" class="c1a_a fonte_fam_roboto abas_scrollable_item">
  <a href="#<%= categoria.nome.parameterize.underscore %>"><%= categoria.nome.upcase %></a>
</div>
