<li>
  <p class="thumb"><%= link_to image_tag(produto.imagem.file? ? produto.imagem.url(:thumbnail) : "thumb_curso_online.gif"), polymorphic_path(produto) %></p>
  <p class="desc_curso"><%= link_to produto.nome, polymorphic_path(produto) %><br /><%=raw truncate_html(produto.descricao, :length => 120) %></p>
	<br class="clear">
</li>
