<!-- Curso -->
<div class="c1cursos_corp">
  <div class="c1cursos_img"><%= image_tag(produto.imagem.file? ? produto.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></div>
  <a href="<%= polymorphic_path(produto) %>">
    <div class="c1cursos_txt">
      <div class="c1cursos_txt_tit fonte_negrito fonte_size_17 fonte_cor_azul2 "><%= produto.nome %></div>
      <%=raw truncate_html(produto.descricao, :length => 120) %>
    </div>
  </a>
</div>
<!-- Curso -->
