<div id="categorias_tabs">
  <ul class="categorias-produto">
    <li id="tab_destaque"><a href="#destaque">DESTAQUES</a></li>
    <%= render :partial => "categoria", :collection => @categorias %>
  </ul>
  <% if @show_sorting %>
    <div class="ordenacao">
      <label for="exibir_por">Ordenar por:</label>
      <%= select_tag 'ordenar', options_for_select(@ordenacao, @sort) %>
      <%= image_tag "loader.gif", :id => "loader", :style => "display:none" %>
    </div>
  <% end %>
  <%= render_cell "produtos_destaque", :show_featured_products, :featured => @destaques %>
  <% @categorias.each do |categoria| %>
    <div id="<%= categoria.nome.parameterize.underscore %>" class="lista-produtos">
      <%= render_cell "produtos_destaque", :show_produtos, :categoria => categoria, :only_assistiveis => @only_assistiveis, :show_sorting => @show_sorting, :sort => @sort, :paginate_controller => @paginate_controller %>
    </div>
  <% end %>
 </div>
