<div id="categorias_tabs">
	<div class="container-abas">
	  <a class="prev browse left">Anterior</a>
	  <a class="next browse browse">Próximo</a>
	  <div class="c1_abas abas_scrollable">
	    <div class="abas_scrollable_items">
	      <div id="tab_destaque" class="c1a_a fonte_fam_roboto abas_scrollable_item"><a href="#destaque" class="link02">DESTAQUES</a></div>
	      <%= render :partial => "categoria_plantao_enem", :collection => @categorias, :as => :categoria %>
	    </div>
	  </div>
	</div>
	<% if @show_sorting %>
	  <div class="ordenacao">
	    <label for="exibir_por">Ordenar por:</label>
	    <%= select_tag 'ordenar', options_for_select(@ordenacao, @sort) %>
	    <%= image_tag "loader.gif", :id => "loader", :style => "display:none" %>
	  </div>
	<% end %>

	<!-- Lista de Cursos -->
	<%= render_cell "produtos_destaque", :show_featured_products_plantao_enem, :featured => @destaques %>
	<% @categorias.each do |categoria| %>
	  <div id="<%= categoria.nome.parameterize.underscore %>">
	    <%= render_cell "produtos_destaque", :show_produtos_plantao_enem, :categoria => categoria, :only_assistiveis => @only_assistiveis, :show_sorting => @show_sorting, :sort => @sort, :paginate_controller => @paginate_controller, :paginate_action => @paginate_action  %>
	  </div>
	<% end %>
	<!-- Lista de Cursos -->
</div>