<%= render :partial => "produto_plantao_enem", :collection => @produtos, :as => :produto -%>
<% if !@produtos.blank? -%>
  <div class="paginacao">
    <%= will_paginate @produtos, :params => {:controller => @paginate_controller, :action => @paginate_action, :categoria_id => @categoria.id } %>
  </div>
<% end -%>
