<ul class="lista_cursos_home">
  <%= render :partial => "produto", :collection => @produtos -%>
</ul>
<% if !@produtos.blank? -%>
  <div class="paginacao">
    <%= will_paginate @produtos, :params => {:controller => @paginate_controller, :action => @paginate_action, :categoria_id => @categoria.id } %>
  </div>
<% end -%>
<br class="clear" />
