<% title "Cursos em PDF" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Cursos em PDF</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">
			<div class="span8">
				<% form_tag url_for(:controller => "arquivos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
				    <div class="busca">
				          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Cursos em PDF'} %>
				    </div>

				        <div class="exibi_cursos">
				          <h4>Lançamentos</h4>

				          <div class="ordenacao">
				            <%= hidden_field_tag "page", (params[:page])  %>
				            <label for="exibir_por">Ordenar por:</label>
				            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
				          </div>

				          <ul class="lista_cursos">
				            <% @arquivos.each do |arquivo| -%>
				              <li>
				                <% link_to arquivo_path(arquivo) do %>
								<p class="thumb"><%= image_tag(arquivo.imagem.file? ? arquivo.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
								<p class="desc_curso"><%= arquivo.nome %><br /><span><%=raw truncate_html(arquivo.descricao, :length => 150) %></span></p>
				                <% end -%>
				              <br class="clear"/>
				              </li>
				            <% end -%>
				          </ul>

				          <!-- Paginacao -->
				          <% unless @arquivos.blank? -%>
				            <div class="paginacao">
				              <%= will_paginate @arquivos %>
				            </div>
				          <% end -%>
				        </div>
				<% end -%>
			</div>

			<div class="span4">
			  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
			  <%= render :partial => "cursos/banners" %>
			</div>
</section>