<% title "Meus Cursos em PDF" %>

<div class="conteudo_geral">
<h2>Meus Cursos em PDF</h2>
<% form_tag url_for(:controller => "arquivos", :action => "meus_arquivos"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Meus Cursos em PDF'} %>
    </div>
        <div class="exibi_cursos">
          <div class="ordenacao">	
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>			
          </div>

          <ul class="lista_cursos">
            <% @arquivos.each do |arquivo| -%>
                <li>
                <% link_to acessar_arquivo_path(arquivo) do %>
                <p class="thumb"><%= image_tag(arquivo.imagem.file? ? arquivo.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
                <p class="desc_curso"><%= arquivo.nome %><br /><span><%=raw truncate_html(arquivo.descricao, :length => 150) %></span><br/ ><span class="expiracao">Acesso até: <%= arquivo.expira_at(current_user) %></span></p>
                <% end -%>
            <br class="clear" />
              </li>
            <% end -%>

          </ul>

          <!-- Paginacao -->
          <% unless @arquivos.blank? -%>
            <div class="paginacao">
              <%= will_paginate @arquivos %>
            </div>
          <% end -%>
        </div>
    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">
	    <h2>Arquivos </h2>

	    <div class="resumo_usuario">

	    <% if @arquivos.count > 0 -%>
	    	<h3>Cursos em PDF:</h3>
	    	<p>Voc&ecirc; tem <span><%= @arquivos.count %> curso(s) em PDF</span> dispon&iacute;vel(eis).</p>
	      <br />
	    <% else -%>
	      <h3>Cursos em PDF:</h3>
	      <p><span>0 curso(s) em PDF</span> dispon&iacute;vel(eis) at&eacute; o momento</p><br />
	    <% end -%>
	    <br class="clear" />
	</div>
</div>
</div>