<% title @arquivo ? @arquivo.nome : "Cursos em PDF" %>
<div class="conteudo_geral">
<h2>Cursos em PDF</h2>
<% form_tag url_for(:controller => "arquivos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias} %>
    </div>
        <% unless @arquivo.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Cursos em PDF", arquivos_path %></span>
            <h2><%= @arquivo.nome %></h2>

            <div class="resumo">
              <div class="video">
	            <% if @arquivo.material_demonstracao.nil? %>
								<% if @arquivo.imagem.file? %>
              		<%= image_tag @arquivo.imagem.url(:player), :alt => @arquivo.nome, :title => @arquivo.nome %>
								<% end %>
							<% else %>
							  <% if @arquivo.imagem.file? %>
								  <span>Clique na imagem e baixe a aula demonstrativa</span>
									<%= link_to image_tag(@arquivo.imagem.url(:player), :alt => @arquivo.nome, :title => @arquivo.nome), download_demonstracao_arquivo_path(@arquivo), :target => "_blank" %>
								<% else %>
									<span>Clique no link abaixo e baixe a aula demonstrativa</span>
									<%= link_to @arquivo.material_demonstracao.legenda, download_demonstracao_arquivo_path(@arquivo), :target => "_blank" %>
								<% end %>
							<% end %>
              </div>
              <div class="detalhes">
                <div class="detalhes_info">
                  <h4>Informações</h4>
                  <%= html_preco_arquivo(@arquivo) %>
                  <% link_to add_to_cart_arquivo_path(@arquivo), :class => "btn_comprar button gray" do -%>Comprar<% end -%>
				<span class="btn_redes_sociais">
					<span class="btn_facebook"><%= facebook_button -%></span>
				</span>

                </div>
              </div>
              <br class="clear" />
            </div>
            <% unless @arquivo.descricao.blank? %>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>
              <p><%=raw @arquivo.descricao.nl2br %></p>
            </div>
			<% end -%>
			<% unless @arquivo.professors.blank? -%>
            <div class="descricao_curso">
              <h4><span><%= @arquivo.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
              <% @arquivo.professors.each do |professor| -%>
                <p>
				<% if professor.professor.imagem.file? -%>
				<%= image_tag professor.professor.imagem.url(:thumbnail) %>
				<% end -%>
                <%= link_to professor.professor.nome, professor_path(professor.professor) %>
				</p>
              <% end -%>
            </div>
			<% end -%>
			<% unless @arquivo.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>
              <p><%= @arquivo.publico_alvo %></p>
            </div>
			<% end -%>
            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @arquivo.investimento_com_desconto_ativo.reais_formatado %></p>
            </div>
            <div class="clear"></div>
          </div>
        <% end -%>

    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
</div>