<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<p><%= "O cliente #{@user.email} efetuou um novo pedido" %></p>
<p><%= "Nome: #{@user.name}" %></p>
<p><%= "CPF: #{@user.cpf}" %></p>
<p><%= "E-mail: #{@user.email}" %></p>
<p><%= "Número do pedido: #{@fatura.id}"%>
	<h2 style="color: #e2403d;">Detalhes do pedido</h2>
      <table>
        <tr>
          <td>Descri&ccedil;&atilde;o</td>
          <td>Valor</td>
        </tr>
        <% @order.products.each do |product| -%>
        <tr>
          <td><%= product[:description] %></td>
          <td>R$<%= product[:price] / 100.00 %></td>
        </tr>
        <% end -%>
        <tr>
          <td>Total</td>
          <td>R$<%= @order.products.inject(0){|sum, item| sum + item[:price]} / 100.00 %></td>
        </tr>
      </table>
<p><%= link_to "Mais informações", edit_admin_fatura_url(@fatura) %></p>
</body>
</html>