<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<table width="610" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="background-color: #252525; padding: 10px;"><table width="580px" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><%= image_tag "http://gustavobrigido.com.br/images/logo_master_email.png", :alt => Settings.site, :title => Settings.site %></td>
        <td>&nbsp;</td>
        <td></td>
        <td align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #ffffff;">Recupera&ccedil;&atilde;o de Senha</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:10px 25px 25px 25px; border: 1px solid #a9a9a9; border-width: 0 1px; background-color: #ffffff; font-family:Arial, Helvetica, sans-serif; font-size: 14px;"><!-- Conteudo do email -->
      <h2 style="color: #e2403d;">Caro(a) <%=h @contact[:name] -%>,</h2>
      <p style="line-height:18px; color: #666666;">Para resetar sua senha, clique no link abaixo:</p>
      <p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;"><%=h "http://gustavobrigido.com.br/reset-password/" + @contact[:message] %></span> </p>
      <p><%= image_tag "http://gustavobrigido.com.br/images/senha_login_tutorial.jpg", :alt => "Caixa de login", :title => "Caixa de login" %></p>
      <p style="line-height:18px; color: #666666;">Caso n&atilde;o tenha solicitado uma nova senha, desconsidere este e-mail.</p>
      <!-- Fim do conteudo do email --></td>
  </tr>
  <tr>
    <td align="center" style="padding:10px; background-color: #ffffff; border: 1px solid #a9a9a9; border-width: 0 1px 1px 1px; font-family:Arial, Helvetica, sans-serif; font-size: 12px;"><!-- redes sociais -->
      <table width="580" style="margin: 0 0 10px 0;" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding:5px 0 5px 0; border-top: 1px solid #ccc; font-size: 13px; font-weight: bold; color: #e2403d;">Siga-nos!</td>
        </tr>
        <tr>
          <td valign="middle" style="padding: 5px 5px 5px 0;"><%= link_to image_tag("http://gustavobrigido.com.br/images/icon_fb_email.jpg", :size => "26x26", :style => "border:0; margin-right: 10px;"), "http://www.facebook.com/gustavobrigido", :title => "Facebook do #{Settings.site}" %> <%= link_to image_tag("http://gustavobrigido.com.br/images/icon_yout_email.jpg", :size => "26x26", :style => "border:0; margin-right: 10px;"), "http://www.youtube.com/user/gbconcursos", :title => "Canal do Professor Gustavo Brígido" %> <%= link_to image_tag("http://gustavobrigido.com.br/images/icon_twt_email.jpg", :size => "26x26", :style => "border:0; margin-right: 10px;"), "http://twitter.com/ProfGBrigido", :title => "Twitter do Professor Gustavo Brígido" %></td>
        </tr>
    </table>      <!-- Fim de redes sociais --></td>
  </tr>
  <tr>
    <td align="left" style="padding:10px; background-color: #ccc; border: 1px solid #a9a9a9; border-width: 0 1px 1px 1px; font-family:Arial, Helvetica, sans-serif; font-size: 12px;"><span style="font-weight:bold; font-size: 16px;"><%= Settings.site %></span><br />
      <a style="color:#e2403d;" title="Acesse nosso site!" href="http://gustavobrigido.com.br">gustavobrigido.com.br</a>
      <!-- contatos do gustavo -->
      <!-- Fim de contatos --></td>
  </tr>
</table>
</body>
</html>
