<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<p>O usuário <b><%=h @support.name %></b> (<%=h @support.email %>) enviou a seguinte mensagem
no dia <%=h Date.today.strftime("%d.%m.%Y") %> às <%=h Time.now.strftime("%H:%M") %>
através do site <%= Settings.site %></p>

  <p><b>Assunto:</b> <%=h @support.subject %></p>
  <p><b>Mensagem:<b><br /> <%=h @support.message %></p>
</body>
</html>	
