<div>
  <span>
    <span class="titulo"><%= link_to truncate(artigo.nome, :length => 70), edit_admin_artigo_path(artigo) %></span>
    <span class="data">por <%= artigo.professor.nome %> em <%= artigo.created_at.to_s(:padrao_data).to_s %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, artigo], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>