<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.forms.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, artigo], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :descricao, "Descrição" %>
    <%= f.text_field :descricao, :maxlength => 255 %>
  </div>

  <div>
    <%= f.label :professor %>
    <%= Admin::FormPresenter.select_field f,
                                   :professor_id,
                                   :field => :nome,
                                   :collection => @professores %>
  </div>

  <div>
    <%= f.label :corpo %>
    <br/>
    <%= f.text_area :corpo, :class => "tinymce" %>
  </div>

  <%= Admin::FormPresenter.new_attachment f, :artigo_anexos, self,
                      :title => "Anexos",
                      :attachment_class => ArtigoAnexo %>

  <%= Admin::FormPresenter.existing_attachment f, :artigo_anexos, self,
                      :download_url => :download_attachment_admin_artigos_path,
                      :edit_url => :update_attachment_admin_artigos_path,
                      :title => "Anexos Existentes" %>

  <br class="clear" />

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>
<% end %>