<% title "Artigos" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'artigo'} %>

<div class="registros">
  <%= render :partial => @artigos %><br />
</div>
<br class="clear" />

<%= will_paginate @artigos %>