<% if !current_live_channel.nil? && !current_live_channel.embedded_content.blank? %>
  <div class="canal_gb">
    <h2 class="tits1 fonte_fam_roboto fonte_size_20 fonte_cor_cinza1" style="margin: 20px 0 20px 0; font-weight: normal;">Canal Plantão do ENEM</h2>
    <div>
      <%= current_live_channel.embedded_content %>
    </div>
    <% unless current_live_channel.supporting_materials.blank? %>
      <div  style="margin: 20px 0 20px 0;">
        <p class="material-apoio fonte_fam_roboto">Material de Apoio</p>
        <%= render :partial => 'supporting_material', :collection => current_live_channel.supporting_materials %>
      </div>
    <% end %>
  </div>
<% end %>