<p class="link-material">
  <%= link_to "- Anexo #{supporting_material_counter.succ} - #{supporting_material.label}", download_supporting_material_live_channel_path(supporting_material), :target => "_blank" %>
</p>
