<% title "Página Inicial" %>
<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "jquery.easytabs.min" %>
  <%= javascript_include_tag "plantao_enem/home" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.home.init();
    });
  </script>
<% end %>

<%= render :partial => "banner_flutuante" %>
<%= render_cell "home_plantao_enem", :show_tickers %>
<div class="conteudo">
  <%= render_cell "home_plantao_enem", :show_products %>

  <div class="coluna02">
    <%= render_cell "home_plantao_enem", :show_news %>

    <div class="tits1 fonte_fam_roboto fonte_size_20 fonte_cor_cinza1">REDES SOCIAIS</div>
    <div>
      <%= render :partial => "facebook_widget" %>
    </div>
    <!-- Canal ao Vivo -->
    <%= render :partial => "live_channel" %>
    <%= render_cell "home_plantao_enem", :show_partners %>
  </div>
</div>
