<% title "Plantão do ENEM" -%>

<div class="conteudo_geral">
	<h2>Conheça o Plantão do ENEM</h2>
	<div class="conteudo_estatico sobre">
		<%=raw @sobre.content %>
	</div>
	<br class="clear" />
</div>
