<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
<p><%= "A assinatura #{@produto.nome} do cliente #{@user.email} irá expirar em 10 dias" %></p>
<p><%= "Nome: #{@user.name}" %></p>
<p><%= "CPF: #{@user.cpf}" %></p>
<p><%= "E-mail: #{@user.email}" %></p>
<p><%= "Número do pedido: #{@fatura.id}"%>	
<p><%= link_to "Mais informações", edit_admin_fatura_url(@fatura) %></p>
</body>
</html>