<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin:0; padding:30px;">

<%= image_tag "http://inglesinstrumentalonline.com.br/images/marta_garcia/logo.png", :alt => Settings.site, :title => Settings.site %>
<div style="font-family:Arial, Helvetica, sans-serif; color: #666666;">
	<h2 style="font-size: 1.8em; background-color: #252525; padding: 10px; border-top: 4px solid #CB1103; font-weight: bold; color: #ffffff;">Confirma&ccedil;&atilde;o de Assinatura</h2>

    <!-- conteudo -->
    <div style="padding: 10px;">
    	<h3 style="color: #CB1103;">Caro(a) <%=h @user.name -%>,</h3>
        <p>Parab&eacute;ns!</p>
        <p>Voc&ecirc; acaba de adquirir a assinatura <span style="font-size: 18px; font-weight: bold;"><%= @assinatura.nome -%></span>. Com ela, seu acesso est&aacute; garantido at&eacute;: <span style="font-size: 14px; font-weight: bold; color: red;"><%= @expira_at.to_s(:padrao_data) -%>.<br /> Aproveite!</p>

        <p style="color: #666666; margin: 0; font-weight: bold;">Seus dados de acesso:</p>
      	<p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;">Login:</span> <%=h "#{@user.login} ou #{@user.email}" -%> <br /></p>
      	<p><%= image_tag "http://inglesinstrumentalonline.com.br/images/senha_login_tutorial.jpg", :alt => "Caixa de login", :title => "Caixa de login" %></p>
      	<p style="line-height:18px; color: #666666;">Comece a treinar seu Inglês hoje mesmo!</p>
      </div>
    <!-- Fim do conteudo -->

    <div style="border-top: 1px solid #ccc;">
    	<h4>Curso Marta Garcia</h4>
        <a style="color:#CB1103;" title="Acesse nosso site!" href="http://inglesinstrumentalonline.com.br">inglesinstrumentalonline.com.br</a>
    </div>
</div>
</body>
</html>