<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin:0; padding:30px;">

<%= image_tag "http://inglesinstrumentalonline.com.br/images/marta_garcia/logo.png", :alt => Settings.site, :title => Settings.site %>
<div style="font-family:Arial, Helvetica, sans-serif; color: #666666;">
	<h2 style="font-size: 1.8em; background-color: #252525; padding: 10px; border-top: 4px solid #CB1103; font-weight: bold; color: #ffffff;">Resetar Senha</h2>

    <!-- conteudo -->
    <div style="padding: 10px;">
    	<h3 style="color: #CB1103;">Caro(a) <%=h @contact[:name] %>,</h3>
        <p>Voc&ecirc; solicitou uma nova senha. Veja abaixo a sua nova senha de acesso ao site:</p>

      	<p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;">Login:</span> <%=h "#{@contact[:login]} ou #{@contact[:email]}" -%> <br />
        <span style="font-weight:bold;">Senha:</span> <%= @contact[:message] %> </p>

      </div>
    <!-- Fim do conteudo -->

    <div style="border-top: 1px solid #ccc;">
    	<h4>Curso Marta Garcia</h4>
        <a style="color:#CB1103;" title="Acesse nosso site!" href="http://inglesinstrumentalonline.com.br">inglesinstrumentalonline.com.br</a>
    </div>
</div>
</body>
</html>