<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin:0; padding:30px;">

<%= image_tag "http://inglesinstrumentalonline.com.br/images/marta_garcia/logo.png", :alt => Settings.site, :title => Settings.site %>
<div style="font-family:Arial, Helvetica, sans-serif; color: #666666;">
	<h2 style="font-size: 1.8em; background-color: #252525; padding: 10px; border-top: 4px solid #CB1103; font-weight: bold; color: #ffffff;">Confirma&ccedil;&atilde;o de Pedido</h2>

    <!-- conteudo -->
    <div style="padding: 10px;">
    	<h3 style="color: #CB1103;">Caro(a) <%=h @user.name -%>,</h3>
        <p>Seu pedido foi processado e est&aacute; aguardando confirma&ccedil;&atilde;o do pagamento. Caso
      n&atilde;o tenha feito o pagamento ainda, por favor acesse o site do <%= Settings.site %> e efetue login. Em seguida, acesse o item "Meus Pedidos", dentro da caixa &Aacute;rea do Aluno</p>

        <p style="color: #666666; margin: 0; font-weight: bold;">Seus dados de acesso:</p>
      	<p style="background-color:#feffd4; padding: 10px; margin:0; line-height: 22px; border: 1px solid #ffdfa2;"> <span style="font-weight:bold;">Login:</span> <%=h "#{@user.login} ou #{@user.email}" -%> <br /></p>
      	<p><%= image_tag "http://inglesinstrumentalonline.com.br/images/senha_login_tutorial.jpg", :alt => "Caixa de login", :title => "Caixa de login" %></p>

      	<h3>Seu Pedido</h3>
      	<table>
	        <tr>
				<td>Descri&ccedil;&atilde;o</td>
				<td>Valor</td>
	        </tr>
	        <% @order.products.each do |product| -%>
	        	<tr>
	          		<td><%= product[:description] %></td>
	          		<td>R$<%= product[:price] / 100.00 %></td>
	          	</tr>
	        <% end -%>
	        <tr>
	          	<td>Total</td>
	          	<td>R$<%= @order.products.inject(0){|sum, item| sum + item[:price]} / 100.00 %></td>
	        </tr>
        </table>

      	<p style="line-height:18px; color: #666666;">Comece a treinar seu Inglês hoje mesmo!</p>
      </div>
    <!-- Fim do conteudo -->

    <div style="border-top: 1px solid #ccc;">
    	<h4>Curso Marta Garcia</h4>
        <a style="color:#CB1103;" title="Acesse nosso site!" href="http://inglesinstrumentalonline.com.br">inglesinstrumentalonline.com.br</a>
    </div>
</div>
</body>
</html>