<div>
  <span>
    <span class="titulo"><%= link_to banner.tipo_label + " - " + banner.posicao_label, edit_admin_banner_path(banner) %></span>
    <span class="data"><%= banner.created_at.to_s(:padrao_data_hora) %></span><br />
    <span class="adicional"><%= banner.url %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, banner], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
  <%= link_to image_tag('backend/btn_relatorio.gif'), url_for(:controller => :banners, :action => :report, :id => banner), :class => 'relatorio' %>
</div>