<div id="filtro_report">
  <% form_tag url_for(:controller => :banners, :action => :report, :id => banner) do %>
    <span>Filtrar por data:</span>

    <%= label_tag "filtro[data_inicio]", "De" %>
    <%= Admin::FormPresenter.datepicker_tag  "filtro[data_inicio]", @inicio.to_s(:padrao_numerico), :style => "width:100px" %>

    <%= label_tag "filtro[data_fim]", "a" %>
    <%= Admin::FormPresenter.datepicker_tag  "filtro[data_fim]", @fim.to_s(:padrao_numerico), :style => "width:100px" %>

    <span class="bloco-filtro">Exibir por tipo:</span>
    <%= select "filtro", "tipo", {"Cliques" => "cliques", "Visualizacoes" => "visualizacoes", "Ambos" => "ambos"}, :selected => (params[:filtro] && params[:filtro][:tipo]) ? params[:filtro][:tipo] : nil %>

    <%= submit_tag "Filtrar", :class => "bloco-filtro" %>
  <% end %>
</div>