<% form_for( [:admin, banner], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :descricao, 'Descrição' %>
    <%= f.text_field :descricao, :maxlength => 255 %>
  </div>

  <div>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, :maxlength => 255 %>
  </div>

  <div>
    <%= f.label :target, 'Abrir' %>
    <%= f.select :target, Banner.targets %>
  </div>

  <div>
    <%= f.label :tipo %>
    <%= f.select :tipo, Banner.tipos %>
  </div>

  <div>
    <%= f.label :posicao, 'Posição' %>
    <%= f.select :posicao, Banner.posicoes %>
  </div>

  <div>
    <%= f.label :visivel, 'Exibir no site?' %>

    <%= f.radio_button(:visivel, true) %>
    <%= f.label "visivel_true", "Sim", :class => "label_radio" %>

    <%= f.radio_button(:visivel, false) %>
    <%= f.label "visivel_false", "Não", :class => "label_radio" %>
  </div>

  <div id="gerenciamento_banners">
    <%= f.label 'Forma de Gerenciamento' %>

    <%= label_tag :limite_cliques, "Cliques", :class => "label_radio" %>
    <%= f.text_field :limite_cliques, :maxlength => 10 %><br />

    <%= label_tag :limite_visualizacoes, "Visualizações", :class => "label_radio" %>
    <%= f.text_field :limite_visualizacoes, :maxlength => 10 %><br />

    <%= label_tag :limite_data, "Data de Expiração", :class => "label_radio" %>
    <%= f.date_select :limite_data, :prompt => "" %>
  </div>

  <div>
    <%= f.label :arquivo %>
    <%= f.file_field :arquivo %> (.jpg, .gif, .png ou .swf)
  </div>

  <div>
    <%= show_banner(banner, :log => "false") unless missing?(banner.arquivo) %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>