<% title "Banners" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'banner'} %>

<div class="registros banners_list">
  <%= render :partial => @banners %><br />
</div>
<br class="clear" />

<%= will_paginate @banners %>