<% title "Relatório de Banner"  %>

<%= @banner.tipo_label %>
<%= @banner.posicao_label %>
- ID: <%= @banner.id %>

<div>
  <%= show_banner(@banner, :log => false) unless missing?(@banner.arquivo) %>
</div>

<%= render :partial => "filtro", :locals => {:banner => @banner} %>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Data</th>
      <th>Tipo</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |item| -%>
      <tr>
        <td><%= item.created_at.to_s(:padrao_data_hora) %></td>
        <td><%= BannerHistory.tipos.invert[item.tipo] %></td>
        <td><%= item.ip %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%#= will_paginate @histories, :params => params %>