<fieldset>
  <legend>Busca de Artigos</legend>
  <p>
    <label class="label_busca" for="campo_busca">Buscar</label>
    <%= text_field "filtros", "nome", :value => (params[:filtros] && params[:filtros][:nome]) ? params[:filtros][:nome] : "", :class => "campo_busca" %>
    <%= submit_tag "Buscar", :class => 'btn_logar button gray'%>
  </p>
  <% unless professores.blank? -%>
    <label for="area_curso">Professor:</label>
    <%= select("filtros", "professor", professores.collect {|p| [ p.nome, p.id ] }, { :include_blank => true, :selected => (params[:filtros] && params[:filtros][:professor]) ? params[:filtros][:professor].to_i : 0 }) %>
  <% end -%>

</fieldset>
<div class="clear"></div>