<% title "Artigos" %>

<h2>Artigos</h2>

<% form_tag url_for(:controller => "artigos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    
    <div class="busca">
          <%= render :partial => "busca", :locals => {:professores => @professores} %>
    </div>
    
        <div class="exibir_artigos">
          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>

          <ul class="lista_artigos">
            <% @artigos.each do |artigo| -%>
              <li>
                  <%= link_to artigo.nome, artigo_path(artigo)%><br />
				  <%=raw truncate_html(artigo.descricao, :length => 300) %><br />
				  <span>Publicado em <%= artigo.created_at.to_s(:padrao_data) %></span>
              </li>
            <% end -%>
            <br class="clear" />
          </ul>

          <!-- Paginacao -->
          <% unless @artigos.blank? -%>
            <div class="paginacao">
              <%= will_paginate @artigos %>
            </div>
          <% end -%>

          <br class="clear" />
        </div>
        

    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>