<% title @artigo ? @artigo.nome : "Artigos" %>

<h1>Artigos</h1>
<% form_tag url_for(:controller => "artigos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    
    <div class="busca">
          <%= render :partial => "busca", :locals => {:professores => @professores} %>
    </div>


        
        <% unless @artigo.blank? -%>
          <div class="artigo">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Artigos", artigos_path %></span>

            <h3><%= @artigo.nome %></h3>
			<div class="prof_artigo">Professor: <%= @artigo.professor.nome %></div>
            <p><%=raw @artigo.corpo %></p>
            <% unless @artigo.artigo_anexos.blank? -%>
              <div class="arquivos">
                <h4>Materiais do Artigo</h4>
                <ul>
                  <% @artigo.artigo_anexos.each do |anexo| -%>
                    <li><%= link_to anexo.legenda, anexo.arquivo.url %></li>
                  <% end -%>
                </ul>
              </div>
            <% end -%>

            <div class="clear"></div>
          </div>
        <% end -%>
        

    
    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">


  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->

  <%= render :partial => "cursos/banners" %>

</div>