<% title "Finalizando pedido"  %>

<h2>Efetuar Pagamento</h2>

<div class="msg_carrinho">
	<ul class="passos_compra">
		<li class="tit_passos">Etapas da sua compra:</li>
		<li>1. Conferir o Pedido</li>
	    <li>2. Identificação</li>
		<li id="atual">3. Efetuar Pagamento</li>
		<li>4. Confirmação</li>
	</ul>
	<div class="feedback">
		<p>Para concluir o pagamento, você será encaminhado para a página do <span class="pagseguro">PagSeguro.</span></p>
		<br/><br/>
		<p>O seu curso será liberado em até 24 horas depois da confirmação de seu pagamento pelo PagSeguro.</p>
	</div>
	<%= pagseguro_form @order, :submit => "Fazer Pagamento no PagSeguro" %>
</div>
