<% type ||= !params[:type].blank? && params[:type] == "free" ? :free : :not_free %>
<% title "Pedido efetuado com sucesso" %>
  
	<ul class="passos_compra">
        <li class="tit_passos">Etapas da sua compra:</li>
        <li>1. Conferir o Pedido</li>
        <li>2. Identificação</li>
        <% if type == :not_free %>
        <li>3. Efetuar Pagamento</li>
        <li id="atual">4. Confirmação</li>
        <% else %>
        <li id="atual">3. Confirmação</li>
        <% end %>
        
    </ul>
    <div class="feedback">
      <h2>Pedido Confirmado!</h2>
      <% if type == :not_free %>
        <p>Você receberá um e-mail do <span class="pagseguro">PagSeguro</span> confirmando o seu pedido.</p>
      <% else %>
         <p>Você receberá um e-mail com instruções para acessar o conteúdo.</p>
      <% end %>
    </div>
    <div class="controles" style="margin-top: 20px;">
    	<% link_to home_path, :class => "voltar_comprar" do %><span class="btn_voltar">Voltar ao Site</span> <% end -%>
    	<br class="clear" />
    </div>
