<% title 'Meus Pedidos' %>

<h2>Meus Pedidos</h2>

    <% if @faturas.blank? %>
      <p>Você não possui nenhum pedido até o momento.</p>
    <% else %>
		<div class="registros">
      		<table>
				<tr>
					<td class="data_ped">Data</td>
					<td class="status_ped">Situação</td>
					<td class="detalhes_ped">Detalhes</td>
				<tr>
        		<%= render :partial => "fatura", :collection => @faturas %>
			</table>
		</div>
      <br class="clear" />
    <% end %>

