<% title "Minhas Aulas Ao Vivo" %>

<div class="conteudo_geral">
<h2>Minhas Aulas Ao Vivo</h2>
<% form_tag url_for(:controller => "tickets", :action => "meus_tickets"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Minhas Aulas Ao Vivo'} %>
    </div>
        <div class="exibi_cursos">
          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>

          <ul class="lista_cursos">
            <% @tickets.each do |ticket| -%>
                <li>
                <% link_to assistir_ticket_path(ticket) do %>
                <p class="thumb"><%= image_tag(ticket.imagem.file? ? ticket.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
                <p class="desc_curso"><%= ticket.nome %><br /><span><%=raw truncate_html(ticket.descricao, :length => 150) %></span><br/ ></p>
                <% end -%>
            <br class="clear" />
              </li>
            <% end -%>

          </ul>

          <!-- Paginacao -->
          <% unless @tickets.blank? -%>
            <div class="paginacao">
              <%= will_paginate @tickets %>
            </div>
          <% end -%>
        </div>
    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">


	    <h2>Aulas ao vivo</h2>

	    <div class="resumo_usuario">

	    <% if @tickets.count > 0 -%>
	    	<p>Voc&ecirc; tem <span><%= @tickets.count %> aula(s) ao vivo</span> dispon&iacute;vel(eis).</p>
	      <br />
	    <% else -%>
	      <p><span>0 aulas ao vivo</span> dispon&iacute;vel(eis) at&eacute; o momento</p><br />
	    <% end -%>
	    <br class="clear" />
	</div>
</div>


</div>