<% presenter = Courses::CoursePresenter.new(course) %>

<li class="item-thumbs span3 design">
  <% link_to presenter.url, :title => presenter.name do %>
    <%= image_tag(presenter.thumbnail) %>
  <% end %>
	<p class="desc-curso-titulo"><%= presenter.name %></p>
  <%# if presenter.offer? %>
    <!--<p class="preco-promo">De <span class="preco-de"><%= presenter.price %></span> Por <span class="preco-normal"><%= presenter.promotional_price %></span></p>-->
  <%# else %>
  	<!--<p class="preco-normal"><%#= presenter.price %></p>-->
  <%# end %>
</li>