<% unless @courses.blank? %>
  <div class="row">
    <section id="projects">
      <ul id="thumbs" class="portfolio">
        <%= render :partial => "course", :collection => @courses %>
  		</ul>
  	</section>
  </div>
<% end %>