<% title "Acesso Restrito" %>

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Acesso Restrito</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span6">
				<h4 style="margin:0;">Você já é <strong>Cadastrado?</strong></h4>
				<p>Digite seu nome de usuário e senha abaixo para acessar o sistema.</p>
				<div class="box_acesso_restrito testimonial" style="background: #f3f3f3; padding-bottom:0;">
		  			<% form_tag session_path, :class => 'cadastreform' do -%>
		  				<div class="row">
				  			<div class="span5 field">
					  			<%= text_field_tag 'login', @login, :maxlength => 50, :placeholder => "insira seu login ou e-mail" %>
				  			</div>
				  			<div class="span5 field">
					  			<%= password_field_tag 'password', nil, :placeholder => "insira sua senha" %>
				  			</div>

  							<div class="span5 field">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag 'remember_me', '1', @remember_me %> Lembrar de mim
                    </label>
                  </div>
  								<%= link_to 'Esqueceu sua senha?', forgot_password_path, :class => 'link_form' %>
  							</div>
			    			<div class="span5 field">
  			    			<%= submit_tag 'Entrar', :class => 'btn btn-theme margintop10 pull-left' %>
			    			</div>
		  				</div>
		  			<% end -%>
				</div>
			</div>

			<div class="span6">
				<h4 style="margin:0;"><strong>Cadastre-se</strong> Aqui!</h4>
				<p>Preencha o formulário abaixo para criar uma conta para acessar o sistema.</p>
				<div class="box_acesso_restrito testimonial" style="background: #f3f3f3; padding-bottom:0;">
  				<% form_tag new_user_path, :class => 'cadastreform', :method => :get do -%>
				    <div class="row">
              <div class="span5 field">
                <%= text_field_tag 'user[name]', "", :maxlength => 50, :placeholder => "insira seu nome" %>
    	        </div>
						  <div class="span5 field">
						    <%= text_field_tag 'user[email]', "", :maxlength => 50, :placeholder => "insira seu email" %>
						  </div>
              <div class="span5 field">
  						  <%= submit_tag 'Cadastrar', :class => 'btn btn-theme margintop10 pull-left' %>
              </div>
						</div>
					<% end -%>
				</div>
			</div>
		</div>
	</div>
</section>