<tr>
	<td><%= fatura.created_at.to_s(:padrao_data_hora) %></td>
	<td class="meio"><%= fatura.status_legible %></td>
	<td><%= link_to "exibir detalhes", :controller => 'pedido', :action => 'show', :id => fatura %></td>
</tr>