<% title "Resumo do Pedido" %>

<div class="conteudo_geral">

<h2>Pedido</h2>

<div class="conteudo_carrinho"> 
		<ul class="passos_compra">
			<li class="tit_passos">Etapas da sua compra:</li>
			<li id="atual">1. Conferir o Pedido</li>
            <li>2. Identificação</li>
            <% if @basket[:total] > 0 %>
            <li>3. Efetuar Pagamento</li>
            <li>4. Confirmação</li>
            <% else %>
            <li>3. Confirmação</li>
            <% end %>
		</ul>
    
      <table>
        <tr>
          <td class="item_cabecalho_primeiro">Item</td>
          <td class="item_cabecalho">Preço (R$)</td>
        </tr>

        <% @basket[:items].each do |item_id, info| %>
          <tr>
            <td valign="middle"><%= info[:item].nome %></td>
            <td class="preco"><%= info[:item].investimento_com_desconto_ativo.real_contabil %></td>
          </tr>
        <% end %>
		<% if @basket[:subtotal] != @basket[:total] -%>
		  <tr>
		    <td class='total_texto'>Subtotal:</td>
            <td class='total_valor'><%= @basket[:subtotal].reais_contabeis %></td>
		  </tr>		  
		  <% end -%>
		  <% if @basket[:total_discount] > 0 -%>
		  <tr>
		    <td class='total_texto'>Desconto:</td>
            <td class='total_valor'><%= @basket[:total_discount].reais_contabeis %></td>
		  </tr>
		<% end -%>
        <tr>
          <td class="total_texto">Total:</td>
          <td class="total_valor"><%= @basket[:total].reais_contabeis %></td>
        </tr>
      </table>
      
      <div class="controles" style="margin: 20px 0 0 0;">
        <% link_to url_for(:controller => 'pedido', :action => 'checkout'), :class => "btn_comprar button2 gray" do %>Próximo Passo<span></span> <% end -%>

        <% link_to video_aulas_path, :class => "voltar_comprar" do %><span class="btn_voltar">Voltar e comprar mais</span><% end -%>
      	<br class="clear" />
      </div>
 
</div>
</div>