<% title "Resumo do Pedido" %>

<div class="conteudo_geral">

<h2>Resumo do Pedido nº <%= @fatura.id %></h2>

<div class="conteudo_carrinho">
	
	<span class="btn_voltar"><%= link_to "Voltar para seus pedidos", :controller => 'pedido', :action => 'index'%></span>
	
	<div class="registros">		
		<table>
			<tr>
				<td class="data_ped2">Data da Compra</td>
				<td class="status_ped2">Situação</td>
				<td class="detalhes_ped2">Itens do Pedido</td>
			</tr>
			<tr>
				<td><%= @fatura.created_at.to_s(:padrao_data_hora) %></td>
				<td class="meio"><%= @fatura.status_legible %></td>
				<td><%= render :partial => "fatura_item", :collection => @fatura.fatura_items %></td>	
			</tr>
			<tr>
				<td></td>
				<td class="meio">Total</td>
				<td><%= @fatura.total_price.real_contabil %></td>	
			</tr>
			
		</table>
	</div>

		<% if @fatura.pending? %>
		  <% link_to url_for(:controller => 'pedido', :action => 'checkout', :id => @fatura), :class => "btn_comprar button2 gray btn_pagar_res_pedido" do %>Fazer Pagamento <span></span> <% end -%>
		<% end %>

</div>
</div>