div.conteudo_geral {
	width: 940px;
	margin: 0 auto;
	padding: 40px 0;
	height: auto;
}

div.sobre {
	margin-top: 30px;
}


div.principal {
    width: 620px;
    height: auto;
    float: left;
    padding: 30px 0 0 0;
}

div.col3_interna {
    width: 300px;
    height: auto;
    float: right;
    padding: 30px 0 0 0;
}

/* Titulos */
div.conteudo_geral h2 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 5px;
	font-family: 'Roboto Condensed',sans-serif;
	color: #585858;
	border-bottom: 2px solid #EBEBEB;
	padding-bottom: 5px;
}


/* Formulario de Busca */
div.busca {
    background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #D8D8D8;
    margin: 0 0 20px;
    padding: 15px;
    width: 588px;
}

form.form_busca fieldset legend, form.form_busca fieldset label.label_busca {
    display: none;
}
form.form_busca fieldset p {
    padding: 0 0 10px;
}
form.form_busca fieldset label {
    color: #696969;
    font-size: 12px;
    font-weight: bold;
}
form.form_busca fieldset input.campo_busca {
    border: 1px solid #9D9D9D;
    color: #666666;
    height: 27px;
    padding: 0 3px;
    width: 475px;
}

input.btn_logar {width: 100px; height: 31px; padding-left: 11px; font-size: 14px;}

/* Botões em CSS3 */

/* button 
---------------------------------------------- */
.button2 {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: .5em 1.5em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button2:hover {
	text-decoration: none;
	color: #fff;
}
.button2:active {
	position: relative;
	top: 1px;
}


/* color styles 
---------------------------------------------- */
/* gray */
.gray {
	color: #fff;
	border: solid 1px #a0a0a0;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#676767));
	background: -moz-linear-gradient(top,  #bababa,  #676767);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#676767');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#515151));
	background: -moz-linear-gradient(top,  #a6a6a6,  #515151);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#515151');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#bababa));
	background: -moz-linear-gradient(top,  #676767,  #bababa);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#bababa');
}

/* Green */
.green2 {
	color: #fff;
	border: solid 1px #a0a0a0;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#77ae00), to(#4c7000));
	background: -moz-linear-gradient(top,  #77ae00,  #4c7000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ae00', endColorstr='#4c7000');
}
.green2:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#679600), to(#426100));
	background: -moz-linear-gradient(top,  #679600,  #426100);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#679600', endColorstr='#426100');
}
.green2:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#4c7000), to(#77ae00));
	background: -moz-linear-gradient(top,  #4c7000,  #77ae00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c7000', endColorstr='#77ae00');
}

/* Fim dos botões */


/* Contato */
div.conteudo_contato {
    margin: 20px 0 0;
}
div#container_contato {
    background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #D8D8D8;
    float: left;
    padding: 20px;
    width: 475px;
}
div.conteudo_cadastro form p, div#container_contato form p {
    margin: 0 0 15px;
}
div#container_contato form p label {
    display: block;
    float: left;
    font-size: 13px;
    line-height: 28px;
    padding: 0 5px 0 0;
    text-align: right;
    width: 60px;
}
div.conteudo_cadastro form p input.campo, div#container_contato form p input.campo {
    border: 1px solid #9D9D9D;
    color: #666666;
    height: 27px;
    padding: 0 3px;
    width: 400px;
}
div#container_contato form p textarea {
    border: 1px solid #9D9D9D;
    color: #666666;
    height: 100px;
    width: 400px;
}
div.info_extras h3 {
    color: #696969;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
}
div.info_extras {
    float: right;
    width: 400px;
}

div.acompanhe {
    float: left;
    margin: 13px 0 20px 30px;
    width: 150px;
}
div.acompanhe ul li {
    display: inline-block;
    margin: 0;
}


/* ------------- Assinaturas ---------- */


div.assinatura_bloco {
	width: 200px;
	height: auto;
	float: left;
	margin: 20px 10px 0 0;
	background: none repeat scroll 0 0 #f3f3f3;
	border: 1px solid #D8D8D8;
	padding: 10px;
}


div.assinatura_bloco div.box_assinatura {
	min-height: 300px;
	position: relative;

}


div.assinatura_bloco div.box_assinatura h2 {
	font-size: 28px;
	text-align: center;
	padding: 5px 0 10px 0;
	margin-bottom: 10px; 
	border-bottom: 1px solid #ccc; 
	letter-spacing: -1px;
	/*text-shadow: 0px 1px 1px #a2a2a2;*/
}

/* cores dos titulos bronze, prata, ouro e platina */
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_bronze {color: #c06b19;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_prata {color: #a7a7a7;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_ouro {color: #d1bb00;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_platina {color: #d9d9d9;}



div.assinatura_bloco div.box_assinatura p.preco {
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	color: #0074D3;
	background: #fff;
	padding: 8px 0;
	letter-spacing: -1px;
}

div.assinatura_bloco div.box_assinatura div.ressalva {
	font-size: 11px;
	margin-bottom: 10px;
	color: #666;
	padding: 0 5px;
}

div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora {
	padding: 5px 0 10px 0;
	margin: 0;
}

div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora li {
	padding: 3px 0;
	list-style-type: circle;
	margin: 0;
}

div.assinatura_bloco div.box_assinatura div.ressalva span {
	font-weight: bold;
}

div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura {
	font-size: 12px;
	margin: 15px 0 15px 7px;
	width: 190px;
}

div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura li {
	border-bottom: 1px solid #ccc;
	padding: 7px 0 7px 20px;
	background: url(../../images/check.png) 0 center no-repeat;
	line-height: 16px;
	color: #585858;
}

div.assinatura_bloco div.box_assinatura p.acao {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 45px;
	
}

div.assinatura_bloco div.box_assinatura p.acao a {
	width: 70px;
	font-size: 13px;
	font-weight: bold;
}


/* Lista de cursos na janela modal */
ul.lista_cursos_assinatura {
	margin: 20px 0 0 0;
}

ul.lista_cursos_assinatura li {
	margin: 0 0 10px 0;
	font-size: 13px;
	list-style-type: decimal;
	list-style-position: inside;
}





/* preco caso tenha desconto */
div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_de {
	color: #2768b7;
	font-size: 13px;
	color: red;
	text-decoration: line-through;
	font-weight: bold;
}

div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_por {
	color: #696969;
	font-size: 20px;
	font-weight: bold;
}
/* fim de preco com desconto */


div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco {
	color: #E13A36;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 15px 0 15px 0;
}

div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p span.preco{
	color: #696969;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 15px 0 15px 0;
}

div.exibi_cursos div.resumo div.detalhes a.btn_comprar {width: 80px; font-size: 14px;}
div.exibi_cursos div.resumo div.detalhes_presencial a.btn_comprar {width: 210px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 200px;}

div.conteudo_carrinho div.controles a.btn_comprar {
	width: 190px;
	font-size: 18px;
	float: right;
	}

div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos{
    margin: 5px 0 0 0;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos img{
    margin: 5px 0 0 0;
}




span.btn_voltar {
    display: block;
    height: 18px;
    background: url(../images/btn_voltar.gif) left 0 no-repeat;
    padding: 0 0 0 25px;
    font-size: 12px;
    margin: 0 0 20px 0;
    line-height: 19px;
    font-weight: bold;
}

span.btn_voltar a {text-decoration: none;}
span.btn_voltar a:hover {text-decoration: underline;}

div.exibi_cursos div.descricao_curso {
	margin: 30px 0 0px 0;
	padding: 10px 0 0 0;
    border-top: 1px solid #d8d8d8;

	}
div.exibi_cursos div.descricao_curso h4 {
    font-size: 16px;
    color: #696969;
}
div.exibi_cursos div.descricao_curso h4 span{

}

div.exibi_cursos div.descricao_curso p{
    padding: 5px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    color: #6d6d6d;
}


/* Lista de cursos do aluno */
div.meus_cursos {}

div.meus_cursos ul {}
div.meus_cursos ul li {
	padding: 0 0 20px 0;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	}

div.meus_cursos ul li a {
	font-size: 16px;
	font-weight: bold;
	}

div.meus_cursos ul li span {
	font-weight: bold;
	}


/* Lista aulas para o aluno */
div.lista_aulas_curso {
	width: 280px;
	height: auto;
	margin: 30px 0 0 0;
	}


div.lista_aulas_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.lista_aulas_curso ul li, div.lista_aulas_curso ol li {border-bottom: 1px solid #D8D8D8; padding: 10px 0;}
div.lista_aulas_curso ul li p a {font-size: 13px; font-weight: bold;}
div.lista_aulas_curso ul li p a img {float: left; margin: 0 10px 0 0;}
div.lista_aulas_curso ul li p {font-size: 12px; line-height: 18px;}
div.lista_aulas_curso ul li p span {font-weight: bold;}

div.info_curso {margin: 20px 0 0 0; background: #ebebeb; padding: 5px;}
div.info_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.info_curso p {font-size: 13px;}

div.lista_aulas_curso ol li {
	font-size: 13px;
	line-height: 18px;
	list-style-position: outside;
}


/* Video */
div.video {margin: 0px 0 0 0;}




/* Lista de Cursos do Pacote */
ul.lista_cursos_pacote {
    height: auto;
}

ul.lista_cursos_pacote li{
    height: auto;
    width: 590px;
    display: block;
    float: left;
    padding: 5px;
    margin: 10px 0 0 0;
    background: #e8e8e8;
    font-size: 0.75em;
    text-decoration: none;
    color: #2768b7;
}


ul.lista_cursos_pacote li span.thumb {
    width: 90px;
    height: 70px;
    display: block;
    float: left;
	margin: 0 5px 0 0;
}

ul.lista_cursos_pacote li p{
	width: 495px;
	height: auto;
	float: left;
}

ul.lista_cursos_pacote li p span.nome_curso_pct {
	font-weight: bold;
	font-size: 15px;
	color: #E13A36;
}

ul.lista_cursos_pacote li p span.desc_curso_pct {
    line-height: 16px;
}

ul.lista_cursos_pacote li p span.prof_curso_pct {
    font-weight: bold;
}

/* Botoes de Redes Sociais */

span.btn_redes_sociais {
	display: block;
	width: 190px;
	height: 30px;
	margin: 10px 0 0 0;
}

span.btn_redes_sociais span.btn_tweet {
	display: block;
	width: 100px;
	height: 30px;
	float: left;
}

span.btn_redes_sociais span.btn_facebook {
	display: block;
	width: 80px;
	height: 30px;
	float: left;
	margin-left: 10px;
}




/* Tabs que mostram as categorias */
div.produtos {
    width: 620px;
    height: auto;
    margin-top: 30px;
    float: left;
}

div.produtos h2 {
	margin-bottom: 10px;
}

ul.categorias-produto {
	width: 620px;
	height: auto;
	border-bottom: 2px solid #711103;
}

ul.categorias-produto li {
	display: inline-block;
	padding: 10px 7px 8px 7px;
	background: #e9e9e9;
	font-size: 13px;
	font-weight: bold;
}

ul.categorias-produto li.ativo {
	background: #711103;
}

ul.categorias-produto li a {
	color: #696969;
}
ul.categorias-produto li.ativo a {
	color: #fff;
}

div.lista-produtos {
	width: 620px;
	height: auto;
}


/* Coluna 3. Noticias, redes sociais e newsletter */
div.col3 {
    width: 300px;
    height: auto;
    float: right;
    margin-top: 30px;
}

div.col3 div.noticias_home {
    width: 300px;
    height: auto;
}
div.col3 div.noticias_home ul {
    font-size: 12px;
    line-height: 1.4em;
    color: #333;
}
div.col3 div.noticias_home ul li {
    padding: 8px 0 10px 0;
    color: #666666;
    border-bottom: 1px solid #D8D8D8;
}
div.col3 div.noticias_home ul li a{
    font-weight: bold;
}

/* Recuperacao de senha */
div.recuperar_senha {
    font-size: 13px;
}

div.recuperar_senha p.campo_email {
    margin: 10px 0;
}

div.recuperar_senha p.campo_email input {
    width: 400px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;

}

/* Acesso a area reservada */
div#box_login,
div#box_pre_cadastro
{
    width: 400px;
    height: 190px;
    float: left;
    font-size: 13px;
    padding: 15px;
    margin-top: 20px;
}

.marg {
	margin: 10px 0;
}

div#box_pre_cadastro {
    float: right;
}


div#box_login h3,
div#box_pre_cadastro h3 {
    font-size: 15px;
    color: #696969;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: -1px;
}

div#box_login form p.bl,
div#box_pre_cadastro form p.bl {
    margin:  10px 0;

}

div#box_login form label.field,
div#box_pre_cadastro form label.field {
    display: block;
    width: 50px;
    float: left;
    padding: 8px 0 0 0;
}


div#box_login form input.campo_texto,
div#box_pre_cadastro form input.campo_texto {
    width: 200px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


/* Mensagens de erro dos formuários*/

span.fieldWithErrors {

	height: 50px;
	position: relative;
}

span.fieldErrorMessage {
	color: red;
	font-size: 11px;
	background: #fff4ab;
	padding: 3px;
	bottom:0;
	left: 65px;
}


div.caixa_newsletter span.flash_error {
	display: block;
	padding: 5px;
	margin: 10px 0;
	background: #fffeea;
	border: 1px solid #fac693;
	text-align: center;
	font-size: 13px;	
}

/* Mensagens do sistema */
div.conteudo div#flash_message {
	width: 940px;
	height: 23px;
	margin: 0 0 20px 0;
	padding: 9px 0 0 0;
	background: #fffeea;
	border: 1px solid #fac693;
	text-align: center;
	font-size: 13px;
}


/* Termos de uso */
div.conteudo_termos {
	font-size: 13px;
	line-height: 18px;
	color: #666;
	padding: 30px 0 0 0;
}

div.conteudo_termos h4{
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
}

div.conteudo_termos ul{
	margin: 0 0 30px 20px;
}

div.conteudo_termos ul li{
	list-style-type: decimal;
	list-style-position: outside;
}

/* Cadastro de Usuário */

div.conteudo_cadastro form {
	margin: 20px 0 0 0;
}

div.conteudo_cadastro form p.atencao_cadastro {
	padding: 0 0 10px 20px;
	font-size: 12px;
}

div.conteudo_cadastro form p.atencao_cadastro span {
	font-weight: bold;
	font-size: 15px;
}



div.conteudo_cadastro form div{
    width: 910px;
}

div.conteudo_cadastro form div p.bl1 {
    width: 280px;
    float: left;
}

div.conteudo_cadastro form div p.bl2 {
    width: 320px;
    float: left;
}

div.conteudo_cadastro form div p.bl1 label {
    display: block;
    width: 140px;
    float: left;
}

div.conteudo_cadastro form div p.bl2 label {
    display: block;
    width: 140px;
    float: left;
}

div.conteudo_cadastro form div p.bl1 label.label_senha_2 {
    width: 150px;
}

div.conteudo_cadastro form p input.campo_senha {
    width: 110px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


div.conteudo_cadastro form p,
div#container_contato form p {
    margin: 0 0 15px 0;
}

div.conteudo_cadastro form p label {
    display: block;
    float: left;
    width: 140px;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    padding: 0 5px 0 0;
}


div#container_contato form p label {
    display: block;
    float: left;
    width: 60px;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    padding: 0 5px 0 0;
}

div.conteudo_cadastro form div p label#label_radio {
    width: auto;
    float: none;
    clear: none;
    display: inline;
}

div.conteudo_cadastro form p input.campo,
div#container_contato form p input.campo {
    width: 400px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


div.conteudo_cadastro form div p input.campo_cep {
    width: 100px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}

div.conteudo_cadastro form div p a.texto_cep {
	font-size: 12px;
}




div#container_contato form p textarea {
    width: 400px;
    height: 100px;
    border: 1px solid #9D9D9D;
    color: #666;
}

div.aceito_receber {
	width: 100px;
	margin: 15px 0;
	padding: 0 0 0 123px;
	font-size: 13px;
}

/* navegadores esquerda e direita das abas de categorias */
div.container-abas {
	position: relative;
}

div.container-abas a.prev,
div.container-abas a.next {
	display: block;
	width: 50px;
	height: 14px;
	position: absolute;
	top: -20px;
	padding-top: 2px;
	z-index: 99999999;
	cursor: pointer;
	background: url(../../images/plantao_enem/prev-next-azul.png) 0 center no-repeat;
}
div.container-abas a.prev {
	left: 0;
	background-position: 0 0;
	padding-left: 20px;
}

div.container-abas a.next {
	right:0;
	text-align: right;
	background-position: 54px -16px;
	padding-right: 20px;
}


/* Banners da home */
div.carousel_pagination {
  width: 920px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
}

div.carousel_pagination ul#carousel_navigation {
  padding-top: 15px;
}

div.carousel_pagination ul#carousel_navigation li {
    display: inline-block;
    margin: 0 4px;
}

div.carousel_pagination ul#carousel_navigation li a {
    background: url("../../images/bullets.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    padding: 0;
    text-indent: -999em;
    width: 16px;
}

div.carousel_pagination ul#carousel_navigation li.activeSlide a {
     background-position: -16px 0;
}


