div.exibi_parceiros {
    
}
div.exibi_parceiros ul.lista_parceiros{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.exibi_parceiros ul.lista_parceiros li{
 	border-bottom: 1px solid #D8D8D8;
    color: #666666;
    font-size: 13px;
    height: auto;
    line-height: 17px;
    padding: 15px 0;
    width: 620px;
}

div.exibi_parceiros ul.lista_parceiros li:hover {
	background: #f3f3f3;
	color: #0074D3; 
}

div.exibi_parceiros ul.lista_parceiros li a {
	font-size: 14px;
    font-weight: bold;
    color: #0074D3;
}



div.exibi_parceiros ul.lista_parceiros li p.thumb{
    width: 90px;
    height: 70px;
    float: left;
}

div.exibi_parceiros ul.lista_parceiros li p.desc_parceiro{
    width: 495px;
    height: auto;
    float: left;
    padding: 0 0 0 10px;
}

div.exibi_parceiros div.conteudo_parceiro {
    font-size: 12px;
}
div.exibi_parceiros div.conteudo_parceiro h4 {
    font-size: 15px;
    margin: 20px 0 0 0;
    color: #092c66;
}

div.exibi_parceiros div.conteudo_parceiro p {
	color: #666666;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 10px 20px 0;
}

div.exibi_parceiros div.conteudo_parceiro p img {
    float: left;
    margin: 0 10px 5px 0;
}

