.topo, .navegacao, .rodape {
    display: none;
}

.print-hidden {
    display: none;
}


ul.meus-ingressos{
	
}

ul.meus-ingressos li{
	border: 1px dashed #ccc;
	padding: 5px;
	display: inline-block;
	width: 250px;
	margin: 0 10px 10px 0;
	text-align: center;
	font-family: sans-serif;
}

ul.meus-ingressos li p.descricao{
	line-height: 25px;
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
}


ul.meus-ingressos li p.codigo{
	padding: 10px 0 0 0;
	color: #6b6b6b;
	font-size: 14px;
}

ul.meus-ingressos li p.codigo span{
	color: red;
	font-size: 30px;
	font-weight: bold;
}
