@charset "utf-8";
/* Padrões */
body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#a2a2a2;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-position:top;
	background-repeat:repeat-x;
	background-color:#FFF;
}
form {
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	color:#a2a2a2;
}
a:hover {
	color:#0074d3;
}
#plantao {
	width:100%;
}
#plantao .areatopo {
	height:221px;
	width:100%;
}
#plantao .areatopo .area_carrinho {
	height:40px;
	width:100%;
	background:#000;
}
#plantao .areatopo .area_carrinho .areacar940px {
	width:940px;
	height:40px;
	margin-left:auto;
	margin-right:auto;
}
#plantao .areatopo .area_carrinho .areacar940px .icon_car {
	height:40px;
	width:35px;
	background:url(/images/plantao_enem/icon_carrinho.png) no-repeat left center;
	float:left;
}
#plantao .areatopo .area_carrinho .areacar940px .textarea_car {
	height:40px;
	width:400px;
	line-height:40px;
	float:left;
}
#plantao .areatopo .area_carrinho .areacar940px .areabusca {
	height:40px;
	width:400px;
	line-height:40px;
	float:right;
	margin-top:8px;
}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa {
	float:left;
	width:280px;

}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa .pesquisa_campo {
	width:220px;
	float:left;
}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa .pesquisa_botao {
	width:40px;
	float:right;
}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social {
	float:right;
	width:79px;
	height:23px;
}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .social_facebook {
	float:left;
	width:23px;
	height:23px;
	background:url(/images/plantao_enem/icon_facebook.png) no-repeat;
	margin-right:5px;
}

#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .soclial_twitter {
	float:left;
	width:23px;
	height:23px;
	background:url(/images/plantao_enem/icon_twitter.png) no-repeat;
}

#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .soclial_rss {
	float:right;
	width:23px;
	height:23px;
	background:url(/images/plantao_enem/icon_rss.png) no-repeat;
}

#plantao .areatopo .area_logo {
	height:140px;
	width:100%;
	background:#0075d5;
	border-bottom:1px solid #006fca;
}
#plantao .areatopo .area_logo .arealogo940px {
	height:140px;
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
#plantao .areatopo .area_logo .arealogo940px .logoprinc {
	width:200px;
	height:140px;
	float:left;
	background:url(/images/plantao_enem/logo_plantaodoenem.png) center left no-repeat;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno {
	width:400px;
	height:110px;
	float:right;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo {
	border:#3893de 1px solid;
	background:#2b87d2;
	height:auto;
	padding: 0 0 10px 0;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha01 {
	height:40px;
	line-height:40px;
	margin-left:15px;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02 {
	height:30px;
	margin-left:15px;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_1 {
	height:30px;
	width:155px;
	float:left;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_2 {
	height:30px;
	width:155px;
	float:left;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_3 {
	height:30px;
	width:70px;
	float:right;

}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha {
	margin-top:10px;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbotarea {
	width:110px;
	height:25px;
	float:left;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-right:10px;
	text-align:center;
}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbot {
	background:#0063b5;
	width:110px;
	height:25px;
	line-height:25px;
	float:left;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	/* BACKGROUND GRADIENTS */
	background: #006ec9;
	background: -moz-linear-gradient(top, #0065b7, #006ec9);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0065b7), to(#006ec9));
	border-radius: 2px;
	border: 1px solid #0f7bd5;
	color:#fffe8f;

}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbot:hover {
	background:#0063b5;
	width:110px;
	height:25px;
	line-height:25px;
	float:left;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	/* BACKGROUND GRADIENTS */
	background: #1589e8;
	background: -moz-linear-gradient(top, #1589e8, #1589e8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1589e8), to(#1589e8));
	border-radius: 2px;
	border:#0073d1 solid 1px;
	color:#FFF;

}
#plantao .areatopo .area_menu {
	height:40px;
	width:100%;
	background:#e1e1e1 url(/images/plantao_enem/bg_menu.png);
}
#plantao .areatopo .area_menu .am_940 {
	height:40px;
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
#plantao .areatopo .area_menu .am_940 .am_bot1 {
	height:40px;
	width:auto;
	padding: 0 15px;
	background-color:#f1f1f2;
	border-right:#ccd3da 1px solid;
	border-left:#ccd3da 1px solid;
	float:left;
	text-align:center;
	line-height:40px;
	font-weight:bolder;
	color:#0075d5;
	/* BACKGROUND GRADIENTS */
	background: #f1f1f2;
	background: -moz-linear-gradient(top, #e3e7ea 10%, #f1f1f2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.10, #e3e7ea), to(#f1f1f2));
	text-shadow:#f1f1f2 1px 1px;
}
#plantao .areatopo .area_menu .am_940 .am_bot2 {
	height:40px;
	width:auto;
	padding: 0 15px;
	float:left;
	text-align:center;
	line-height:40px;
	color:#004883;
	text-shadow:#f1f1f2 1px 1px;
}
#plantao .areatopo .area_menu .am_940 .am_bot2:hover {
	height:40px;
	width:auto;
	float:left;
	text-align:center;
	line-height:40px;
	color:#e1e5e9;
	/* BACKGROUND GRADIENTS */
	background: #007ee6;
	background: -moz-linear-gradient(top, #0081eb 10%, #006dc6);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.10, #0081eb), to(#006dc6));
	text-shadow:#006ac0 1px 1px;
}
#plantao .areabanners {
	height:380px;
	border-bottom:1px solid #e7e7e8;
	background:#f1f1f2;
	margin-bottom: 10px;
}
#plantao .areabanners_h {
	height:115px;
}
#plantao .areabanners .area_disciplinas {
	width:940px;
	height:73px;
	border:1px solid #ededee;
	background:#f6f6f6;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}
#plantao .areabanners .area_banner {
	width:940px;
	height:224px;
	border:1px solid #ededee;
	background:#f6f6f6;
	margin-left:auto;
	margin-right:auto;

	clear:both;
}
#plantao .buttons_slide {
	width:940px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	text-align:center;
	margin-top:10px;
}
#plantao .buttonbanner {
	width:940px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	text-align:center;
}
#plantao .buttonbanner .areabutton1 {
	width:186px;
	height:66px;
	float:left;
}
#plantao .buttonbanner .areabutton2 {
	width:186px;
	height:66px;
	float:left;
}
#plantao .buttonbanner .areabutton3 {
	width:186px;
	height:66px;
	float:left;
}
#plantao .buttonbanner .areabutton4 {
	width:186px;
	height:66px;
	float:left;
}
#plantao .buttonbanner .areabutton5 {
	width:186px;
	height:67px;
	float:left;
}
#plantao .buttonbanner .areabutton5 .areabutton5-1 {
	width:186px;
	height:27px;
	float:left;
}
#plantao .buttonbanner .areabutton5 .areabutton5-1 .areabutton5-1-1 {
	width:93px;
	height:20px;
	float:left;
	padding:0px;
	margin:0px;
	line-height:0px;
}
#plantao .buttonbanner .areabutton5 .areabutton5-1 .areabutton5-1-2 {
	width:93px;
	height:20px;
	float:left;
	padding:0px;
	margin:0px;
	line-height:0px;
}
#plantao .buttonbanner .areabutton5 .areabutton5-2 {
	width:186px;
	height:20px;
	clear:both;
	float:left;
	padding:0px;
	margin:0px;
	line-height:0px;
}
#plantao .conteudo {
	width:940px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:80px;
}
#plantao .conteudo .tits1{
	width:100%;
	height:30px;
	border-bottom: 2px solid #ebebeb;
	margin-bottom:20px;
}

#plantao .conteudo .coluna01 {
	width:620px;
	float:left;
}

#plantao .conteudo .c1_abas {
	border-bottom:1px solid #0075d5;
	margin-bottom:20px;
	height:31px;
}
#plantao .conteudo .c1_abas .c1a_a {
	height:30px;
	line-height:30px;
	text-align:center;
	background:#f3f3f3;
	margin:0 2px 0 0;
	float:left;
	border-top:#E8E8E8 solid 1px;
	color:#666;
		padding: 0 10px;
}
#plantao .conteudo .c1_abas .c1a_b {

	height:30px;
	line-height:30px;
	text-align:center;
	background:#0075d5;
	margin:0 2px 0 0;
	border-top:#0058a0 solid 1px;
	float:left;
	color:#FFF;
	text-shadow:#06C 1px 1px
}

#plantao .conteudo .abas_scrollable {
  position: relative;
  overflow: hidden;
}

#plantao .conteudo .abas_scrollable_items {
  width: 20000em;
  position: absolute;
}

#plantao .conteudo .abas_scrollable_item {
  float: left;
}

#plantao .conteudo .coluna100 {
	width:100%;
	float:left;
}

/* Listagem dos cursos na página inicial */

#plantao .conteudo .coluna01 .c1cursos_corp{
	width:620px;
	height:100px;
	border-bottom:#f5f5f5 solid 1px;
	padding-top:10px;
}
#plantao .conteudo .coluna01 .c1cursos_corp100{
	width:100%;
	height:auto;
}
#plantao .conteudo .coluna01 .c1cursos_corp:hover{
	width:620px;
	height:100px;
	border-bottom:#ebebeb solid 1px;
	background:#f5f5f5;
	/* BACKGROUND GRADIENTS */
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5, #fafafa);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#fafafa));

}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_img{
	width:105px;
	float:left;

}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_txt_tit{
	width:515px;
	height:25px;
	float:right;

}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_txt{
	width:515px;
	float:right;

}








#plantao .conteudo .coluna02 {
	width:300px;
	float:right;

}
#plantao .conteudo .coluna02 .coluna02_cont {
	margin-bottom:20px;

}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp{
	width:100%;
	height:60px;
	border-bottom:#f5f5f5 solid 1px;
	padding-top:10px;

}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp:hover{
	width:100%;
	height:60px;
	border-bottom:#ebebeb solid 1px;
	background:#f5f5f5;
	/* BACKGROUND GRADIENTS */
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5, #fafafa);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#fafafa));
	color:#666;

}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp .c2cursos_txt{
	width:100%;
	float:right;

}
#plantao .rodape {
	width:100%;
	height:190px;
	border-top:1px solid #e7e7e8;
	background:#f1f1f2;
	clear:both;
}
#plantao .rodape .rp_tits {
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom: 2px solid #ebebeb;
	margin-bottom:10px;
	margin-top:20px;
}
#plantao .rodape .arearod940px {
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
#plantao .rodape .arearod940px .rod_logo {
	height:190px;
	width:145px;
	background:url(/images/plantao_enem/logo_plantaodoenem_cinza.png) no-repeat center;
	float:left;
}
#plantao .rodape .arearod940px .rod_social {
	height:190px;
	width:200px;
	margin-left:50px;
	margin-right:50px;
	float:left;
}
#plantao .rodape .arearod940px .rod_social .rod_social_facebook {
	width:100%;
	height:23px;
	line-height:23px;
	background:url(/images/plantao_enem/icon_facebook.png) no-repeat;
	padding-left:30px;
	margin-bottom:5px;
}

#plantao .rodape .arearod940px .rod_social .rod_soclial_twitter {
	width:100%;
	height:23px;
	line-height:23px;
	background:url(/images/plantao_enem/icon_twitter.png) no-repeat;
	padding-left:30px;
	margin-bottom:5px;
}

#plantao .rodape .arearod940px .rod_social .rod_soclial_rss {
	width:100%;
	height:23px;
	line-height:23px;
	background:url(/images/plantao_enem/icon_rss.png) no-repeat;
	padding-left:30px;
	margin-bottom:5px;
}
#plantao .rodape .arearod940px .termo {
	width:190px;
	height:190px;
	background:#f1f1f2;
	float:left;
	margin-right:50px;

}
#plantao .rodape .arearod940px .pays {
	width:255px;
	height:190px;
	float:left;

}
#plantao .rodape .arearod940px .pays .pagseguro {
	width:255px;
	height:100px;
	background:#f1f1f2;
	float:left;
	background:url(/images/plantao_enem/img_pays.png) no-repeat;

}
.zero {
	height:20px;
	clear:both;
	width:940px;
	margin-left:auto;
	margin-right:auto;
}


.fonte_cor_branco {
	color:#FFF;
}
.fonte_cor_azul1 {
	color:#47adff;
}
.fonte_cor_azul2 {
	color:#0074d3;
}
.fonte_cor_azul3 {
	color:#3893de;
}
.fonte_cor_cinza1 {
	color:#585858;
}
.fonte_cor_amarelo1 {
	color:#FC0;
}
.fonte_fam_ptsans {
	font-family: 'PT Sans Narrow', sans-serif;
}
.fonte_fam_roboto {
font-family: 'Roboto Condensed', sans-serif;
}
.fonte_size_17 {
	font-size:17px;
}
.fonte_size_20 {
	font-size:20px;
}
.fonte_negrito {
	font-weight:bolder;
}
.link01 {
	color:#004883;
text-shadow:#f1f1f2 1px 1px;
	text-decoration:none;
}
.link01:hover {
	color:#e1e5e9;
text-shadow:#006ac0 1px 1px;
}
.link01:active {
	color:#004883;
text-shadow:#f1f1f2 1px 1px;
}
.link02 {
	text-decoration:none;
}
.link02:hover {
	color:#03C;
	text-decoration:underline;
}
.link02:active {
	text-decoration:none;
}
.link03 {
	text-decoration:none;
	color:#fffe8f;
}
.link03:hover {
	color:#036;
	text-decoration:none;
}
.link03:active {
	text-decoration:none;
	color:#fffe8f;
}

.inputtext1 {
	background:#404040;
	border:0px;
	color:#888888;
	padding-left:10px;
}
.inputtext2 {
	background:#ffffff;
	border:0px;
	color:#8b8b8b;
	padding-left:10px;
}
.inputbutton1 {
	background:#4a4a4a;
	border:0px;
	color:#CCC;
	padding-left:10px;
	background:url(/images/plantao_enem/icon_busca.png) #303030 no-repeat center;
}
.inputbutton2 {
	background:#aed4ff;
	border:0px;
	color:#3784c2;
}
/* INÍCIO - Botões das Áreas de Conhecimento */
/* CUSTOM FONT */

	.button {
	width: 176px;
	color:#039200;
	text-decoration: none;
	font-size: 12px;
	font-family: helvetica, arial;
	font-weight: bold;
	display: block;
	text-align: center;
	position: relative;
	padding-top:10px;
	padding-bottom:10px;
	/* BACKGROUND GRADIENTS */
	background: #e4e4e4;
	background: -moz-linear-gradient(top, #f3f3f3, #e4e4e4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), to(#e4e4e4));
	/* BORDER RADIUS */
	margin-top:8px;
	margin-left:10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #999;
	border-bottom: 3px solid #F90;
	/* TEXT SHADOW */
	 text-shadow: 1px 1px 1px #f7f7f7;
	/* BOX SHADOW
	 -moz-box-shadow: 1px 1px 1px #c8c8c8;
	-webkit-box-shadow: 1px 1px 1px #5a5a5a;
	box-shadow: 1px 1px 1px #c8c8c8;*/
}
.button_verde {
	border-bottom:#648d56 3px solid;
	color:#648d56;
}
.button_azul {
	border-bottom:#62a6d2 3px solid;
	color:#62a6d2;
}
.button_laranja {
	border-bottom:#d68850 3px solid;
	color:#d68850;
}
.button_roxo {
	border-bottom:#4a485f 3px solid;
	color:#4a485f;
}
.button_marron {
	border-bottom:#b1865c 3px solid;
	color:#b1865c;
}
.button_rasa {
	border-bottom:#a15f7f 3px solid;
	color:#a15f7f;
}
.button_roxo {
	border-bottom:#4a485f 3px solid;
	color:#4a485f;
}
.button_cinza {
	border-bottom:#939597 3px solid;
	color:#939597;
}
.button_vermelho {
	border-bottom:#ce3b25 3px solid;
	color:#ce3b25;
}
/* WHILE HOVERED */
	.button:hover {
	background: #648d56;
	background: -moz-linear-gradient(top, #587d4b, #648d56);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #587d4b), to(#648d56));
	color:#e4ffe4;
	text-shadow: 1px 1px 1px #587d4b;
	border: 0px solid #7bd17b;
	border-bottom:#587d4b 3px solid;
}
/* CUSTOM FONT */

/* WHILE HOVERED */
	.button_azul:hover {
	background: #62a6d2;
	background: -moz-linear-gradient(top, #5898c2, #62a6d2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5898c2), to(#62a6d2));
	text-shadow: 1px 1px 1px #5898c2;
	border-radius: 2px;
	border-bottom:#4f8db5 3px solid;
	color:#f6fbff;
	/*
	-moz-box-shadow: 1px 1px 1px #c8c8c8;
	-webkit-box-shadow: 1px 1px 1px #5a5a5a;
	box-shadow: 1px 1px 1px #c8c8c8;*/
}
	.button_laranja:hover {
	background: #d68850;
	background: -moz-linear-gradient(top, #c27843, #d68850);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c27843), to(#d68850));
	text-shadow: 1px 1px 1px #c27843;
	border-radius: 2px;
	border-bottom:#c27843 3px solid;
	color:#fffbf8;
}
	.button_roxo:hover {
	background: #4a485f;
	background: -moz-linear-gradient(top, #373359, #4a485f);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #373359), to(#4a485f));
	text-shadow: 1px 1px 1px #373359;
	border-radius: 2px;
	border-bottom:#373359 3px solid;
	color:#e6e3ff;
}
	.button_marron:hover {
	background: #b1865c;
	background: -moz-linear-gradient(top, #9c7651, #b1865c);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9c7651), to(#b1865c));
	text-shadow: 1px 1px 1px #9c7651;
	border-radius: 2px;
	border-bottom:#9c7651 3px solid;
	color:#fffcf9;
}
	.button_cinza:hover {
	background: #939597;
	background: -moz-linear-gradient(top, #838587, #939597);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #838587), to(#939597));
	text-shadow: 1px 1px 1px #838587;
	border-radius: 2px;
	border-bottom:#838587 3px solid;
	color:#f2f9ff;
}
	.button_vermelho:hover {
	background: #ce3b25;
	background: -moz-linear-gradient(top, #b2230e, #ce3b25);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2230e), to(#ce3b25));
	text-shadow: 1px 1px 1px #b2230e;
	border-radius: 2px;
	border-bottom:#b2230e 3px solid;
	color:#ffe7e3;
}
/* WHILE BEING CLICKED */
	.button:active {
	/*-moz-box-shadow: 0 1px 3px black;
	-webkit-box-shadow: 0 1px 3px black;*/
	color:#FFF;
	border-bottom:#003 3px solid;
}
/* FIM - Botões das Áreas de Conhecimento */

/* Alert */

#alert {
    position: relative;
}
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    content: 'Fechar';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}
#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: #f6c319;
    background-size: 20px 20px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:20px;
	line-height:40px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #735800;
    display: block;
    font: 16px/40px;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
/* Alert */



div#categorias_tabs {
	margin-top: 25px;
}


/* Formulário busca do lado titulo */
form.form_busca_home {
	width: 230px;
	float: left;
	margin: 0 0px 0 30px;
}

form.form_busca_home .campo_busca_home {
	padding: 4px 0;
	font-size: 12px;
	width: 150px;
}

form.form_busca_home .btn-busca-home {
	width: 70px;
	padding: 5px 0;
}
p.material-apoio {
	font-size: 16px;
	margin: 10px 0 0 0;
}

p.material-apoio + p {
	font-size: 14px;
	color: blue !important;
	margin: 10px 0;
}

.parceiros_home li {
  list-style-type: none;
}


.isloading-wrapper.isloading-right {
  margin-left: 10px;
}

.isloading-overlay {
  position: relative;
  text-align: center;
}

.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000;
}