<div>
  <span>
    <span class="titulo"><%= link_to cupom.codigo, edit_admin_cupom_path(cupom) %></span><br />
    <span class="data">Válido até: <%= cupom.validade.to_s(:padrao_data) %></span><br />
    <% if cupom.quantidade_disponivel.blank? -%>
	<span class="data">Nº de cupons: Ilimitado</span>
    <% else %>
    <span class="data">Nº de cupons: <%= cupom.quantidade_disponivel -%></span>
    <% end %>
    <span class="data"> - Usados: <%= cupom.total_usado -%></span>
    <br />
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, cupom], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>