<div id="filtros">
  <% form_tag admin_cupoms_path, :method => :get do %>
      <p>
        <%= label_tag "filters[code]", "Código" %>
        <%= text_field_tag "filters[code]", (params[:filters] && !params[:filters][:code].blank?) ? params[:filters][:code] : "" %>
      </p>

      <p>
        <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
      </p>
  <% end %>
</div>
