<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.couponForm.setup();
    });
  </script>
<% end %>

<% disable_field = !@cupom.new_record? %>

<% form_for( [:admin, @cupom] ) do |f| %>
  <div id='div_codigo'>
    <%= f.label :codigo, 'Código' %>
    <%= f.text_field :codigo, :disabled => disable_field, :class => 'coupon-code-field' %>
    <%= link_to 'Gerar', { :action => "generate_code" }, :class => 'coupon-generate-code' if !disable_field %>
  </div>

  <div>
    <%= f.label :validade_string, 'Válido Até' %>
    <%= Admin::FormPresenter.datepicker f, :validade_string %>
  </div>

  <div>
  	<%= f.check_box :apply_for_all_products, :class => 'coupon-checkbox-all' %>
  	<%= f.label :apply_for_all_products, "Aplicar em Tudo" %>
  	<br/>
  </div>

  <div>
    <%= f.check_box :apply_for_all_assinaturas, :class => 'coupon-checkbox-item' %>
  	<%= f.label :apply_for_all_assinaturas, "Aplicar em Todas as Assinaturas" %>
  	<br/><br/>
  </div>

  <div>
  	<%= f.label :apply_for_all_cursos_online, "Aplicar em Todos os Cursos On-line" %>
    <%= f.check_box :apply_for_all_cursos_online, :class => 'coupon-checkbox-item'  %>
  	<br/><br/>
  </div>

  <div>
  	<%= f.label :apply_for_all_cursos_em_pdf, "Aplicar em Todos os Cursos em PDF" %>
    <%= f.check_box :apply_for_all_cursos_em_pdf, :class => 'coupon-checkbox-item'  %>
  	<br/><br/>
  </div>

  <div>
    <%= f.check_box :apply_for_all_pacotes, :class => 'coupon-checkbox-item'  %>
  	<%= f.label :apply_for_all_pacotes, "Aplicar em Todos os Pacotes" %>
  	<br/><br/>
  </div>

  <div>
    <%= f.check_box :apply_for_all_tickets, :class => 'coupon-checkbox-item'  %>
  	<%= f.label :apply_for_all_tickets, "Aplicar em Todas as Aulas ao Vivo" %>
  	<br/><br/>
  </div>

  <div>
    <%= f.label :produto_id, 'Produto' %>
    <%= Admin::FormPresenter.select_field f,
                                   :produto_id,
                                   :field => :nome,
                                   :collection => @produtos %>
  </div>

  <div>
    <%= f.label :desconto %>
    <%= f.text_field :desconto, :class => "curso_preco_field", :maxlength => 3 %> %
  </div>

  <div>
    <%= f.label :quantidade_disponivel, 'Quantidade disponível' %>
    <%= f.text_field :quantidade_disponivel, :class => "curso_preco_field", :placeholder => 'ILIMITADA' %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>
<% end %>