<% title "Cupons" %>

<%= render :partial => 'filters' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'cupom', :label => 'novo cupom'} %>

<div class="registros">
  <%= render :partial => @cupoms %><br />
</div>
<br class="clear" />

<%= will_paginate @cupoms %>