<div>
  <span>
    <span class="titulo"><%= link_to assinatura.nome, edit_admin_assinatura_path(assinatura) %></span><br />
    <span class="data"><%= assinatura.periodicidade_legible %> - 
    Criado em <%= assinatura.created_at.to_s(:padrao_data_hora) %></span><br />
    <span class="adicional"><%= assinatura.investimento.real_formatado %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, assinatura], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>