<div id="filtros">
  <% form_tag admin_assinaturas_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[nome]", "Nome" %>
      <%= text_field_tag "filtro[nome]", (params[:filtro] && !params[:filtro][:nome].blank?) ? params[:filtro][:nome] : "" %>
    </p>
    <p>
      <%= label_tag "filtro[periodicidade]", "Periodicidade" %>
      <%= select "filtro", "periodicidade", Assinatura.periodicidades.map {|a| [ Assinatura.periodicidade_label(a), a ] }, {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:periodicidade].blank?) ? params[:filtro][:periodicidade].to_sym : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[ativo]", "Situação" %>
      <%= select "filtro", "ativo", [['Ativo',true.to_s],['Inativo',false.to_s]], {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:ativo].blank?) ? params[:filtro][:ativo].to_s : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[disponivel_venda]", "Disponível para Venda" %>
      <%= select "filtro", "disponivel_venda", [['Disponível',true.to_s],['Indisponível',false.to_s]], {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:disponivel_venda].blank?) ? params[:filtro][:disponivel_venda].to_s : ""} %>
    </p>
    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
    </p>
  <% end %>
</div>
