<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.forms.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, assinatura], :html => { :multipart => true } ) do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :investimento, "Investimento" %>
    R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
  </div>

  <div>
    <%= f.label :periodicidade %>
    <%= f.select :periodicidade, Assinatura.periodicidades.map {|a| [ Assinatura.periodicidade_label(a), a ] } %>
  </div>

  <div>
    <%= f.label :ativo, "Ativo" %>
    <%= f.check_box :ativo  %>
  </div>
  <div>

    <%= f.label :disponivel_venda, "Disponível para Venda" %>
    <%= f.check_box :disponivel_venda  %>
  </div>
  <div>
    <%= f.label :descricao, "Descrição" %>
    <br/>
    <%= f.text_area :descricao, :class => "tinymce" %>
  </div>

  <div class="nested-form">
    <h3>Incluir os Seguintes Cursos da Assinatura</h3>
    <div class="nested-form-rows">
      <%= render :partial => 'item', :collection => assinatura.items %>
    </div>
    <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'item') %>">Adicionar curso</a>
  </div>

  <br class="clear" />

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>
