<% item ||= AssinaturaItem.new %>
<div class="nested-form-row">
  <% fields_for "assinatura[items_attributes][]", item, :index => nil do |t| %>
    <div class="multimodel-fields">
      <%= Admin::FormPresenter.select_field t, :produto_id, :remote => true,
                                        :url => ajax_search_watchable_admin_products_path,
                                        :field => :nome,
                                        :item => item.produto  %>
      <div class="multimodel-remove">
        <a class="nested-form-delete-row" href="#">
          <%= image_tag("backend/icons/remove.gif") %>
        </a>
        <span>remover</span>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>