<h3>Resumo</h3>
<p>Total de assinaturas: <%= @total -%></p>
<p>Total de comprados ativos: <%= @total_nao_expirados -%></p>
<h4>Comprados ativos por assinatura:</h4>
<ul>
  <% @assinaturas_com_quantidade_nao_expirada.each do |assinatura| -%>
    <li><span><%= assinatura.quantidade_nao_expirada %></span> - <%= assinatura.nome -%></li>
  <% end -%>	
</ul>

