<% title "Assinaturas"  %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'assinatura', :label => 'nova assinatura'} %>

<div class="registros">
  <%= render :partial => @assinaturas %><br />
</div>
<br class="clear" />

<%= will_paginate @assinaturas %>
