<div class="areabanners">
  <div class="zero"></div>
  <div class="buttonbanner">
    <div class="area_disciplinas">
      <div class="areabutton1"><a href="<%= video_aulas_path(:anchor => 'ciencias_da_natureza_e_suas_tecnologias') %>" class="button button_verde" > Ciências da Natureza e <br />
          suas Tecnologias </a></div>
      <div class="areabutton2"><a href="<%= video_aulas_path(:anchor => 'matematica_e_suas_tecnologias') %>" class="button button_azul"> Matemática e suas <br />
          Tecnologias </a></div>
      <div class="areabutton3"><a href="<%= video_aulas_path(:anchor => 'ciencias_humanas_e_suas_tecnologias') %>" class="button button_laranja" > Ciências Humanas e suas <br />
          Tecnologias </a></div>
      <div class="areabutton4"><a href="<%= video_aulas_path(:anchor => 'linguagens_e_codigos_e_suas_tecnologias') %>" class="button button_roxo" > Linguagens, Códigos e suas <br />
          Tecnologias </a></div>
      <div class="areabutton5">
        <div class="areabutton5-1">
          <div class="areabutton5-1-1" > <a href="<%= video_aulas_path(:anchor => 'redacao') %>" class="button button_marron" style="width:84px;"> Redação </a> </div>
          <div class="areabutton5-1-2" > <a href="<%= video_aulas_path(:anchor => 'exercicios') %>" class="button button_cinza" style="width:84px;" >Exercícios</a> </div>
        </div>
        <div class="areabutton5-2"> <a href="<%= video_aulas_path(:anchor => 'outros_vestibulares') %>" class="button button_vermelho" style=" line-height:3px;"> Outros Vestibulares </a> </div>
      </div>
    </div>
  </div>
  <div class="zero"></div>
  <div id="carousel" class="area_banner">
    <% tickers.each do |ticker| %>
      <ul>
        <% if ticker.link.blank? -%>
          <li><%= image_tag ticker.imagem.url(:original), :alt => ticker.descricao, :title => ticker.descricao, :size => carousel_image_size %></li>
        <% else -%>
          <li><%= link_to image_tag(ticker.imagem.url(:original), :alt => ticker.descricao, :title => ticker.descricao, :size => carousel_image_size), ticker.link %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="carousel_pagination">
    <ul id="carousel_navigation">
      <% @tickers.each_index do |i| -%>
        <% if (@tickers.length == 1) %>
          <li class="activeSlide"><a href='#'></a></li>
        <% else %>
          <li><a href='#'></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>