<div class="tits1 fonte_fam_roboto fonte_size_20 fonte_cor_cinza1"><%= link_to "PARCEIROS", parceiros_path %></div>
<div class="parceiros_home">
  <%= render :partial => "parceiro", :collection => @partners %>
</div>