<div class="tits1 fonte_fam_roboto fonte_size_20 fonte_cor_cinza1"><%= link_to "NOTÍCIAS", noticias_path %></div>
<div class="coluna02_cont">
  <%= render :partial => "noticia", :collection => @news -%>
</div>