<div class="coluna01">
  <div class="tits1" style="margin: 10px 0 10px 0; padding: 0 0 10px 0;">

  <h2 style="float: left; padding: 8px 0 0 0; font-weight: normal;" class="fonte_fam_roboto fonte_size_20 fonte_cor_cinza1">CURSOS</h2>

  <% form_tag video_aulas_path, :method => :get, :class => "form_busca_home", :id => "form_busca" do %>
		<%= text_field "filtros", "nome", :placeholder => "busque seu curso", :class => "campo_busca campo_busca_home" %>
		<%= submit_tag "Buscar", :class => 'btn_logar button1 gray btn-busca-home' %>
<% end -%>

  </div>

<br class="clear" />

  <div id="categorias_tabs">
    <%= render_cell "produtos_destaque", :show_plantao_enem, :paginate_controller => "home", :paginate_action => "paginate_plantao_enem" %>
  </div>
</div>