<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "file_product_attachment.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.fileProductAttachment.setup();
    });
  </script>
<% end %>

<% title @arquivo ? @arquivo.nome : "Ebook" %>

<div class="conteudo_geral">
  <h2>Acesso ao Ebook</h2>

  <% form_tag url_for(:controller => "arquivos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
    <div class="principal">
      <div class="exibi_cursos">
        <span class="btn_voltar"><%= link_to "Voltar para Meus Ebooks", meus_arquivos_path %></span>
        <h2><%= @arquivo.nome %></h2>
        <p class="validade_curso">Você tem acesso a este curso em PDF até: <span><%= @arquivo.expira_at -%></span>.</p>
        <div class="resumo">
          <div id="view_video" class="video_assistir">
            <% if @arquivo.material_demonstracao.nil? %>
							<% if @arquivo.imagem.file? %>
          			<%= image_tag @arquivo.imagem.url(:player), :alt => @arquivo.nome, :title => @arquivo.nome %>
							<% end %>
						<% else %>
  					  <% if @arquivo.imagem.file? %>
  						  <span>Clique na imagem e baixe a aula demonstrativa</span>
  							<%= link_to image_tag(@arquivo.imagem.url(:player), :alt => @arquivo.nome, :title => @arquivo.nome), download_demonstracao_arquivo_path(@arquivo), :target => "_blank" %>
  						<% else %>
  							<span>Clique no link abaixo e baixe a aula demonstrativa</span>
  							<%= link_to @arquivo.material_demonstracao.legenda, download_demonstracao_arquivo_path(@arquivo), :target => "_blank" %>
  						<% end %>
            <% end%>
          </div>

          <br class="clear" />
        </div>

        <% unless @arquivo.descricao.blank? %>
        <div class="descricao_curso">
          <h4><span>Conteúdo</span></h4>
          <p><%=raw @arquivo.descricao.nl2br %></p>
        </div>
  			<% end -%>

        <% unless @arquivo.professors.blank? -%>
        <div class="descricao_curso">
          <h4><span><%= @arquivo.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
          <% @arquivo.professors.each do |professor| -%>
            <p>
      				<% if professor.professor.imagem.file? -%>
      				  <%= image_tag professor.professor.imagem.url(:thumbnail) %>
      				<% end -%>
              <%= link_to professor.professor.nome, professor_path(professor.professor) %>
    				</p>
          <% end -%>
        </div>
  			<% end -%>

  			<% unless @arquivo.publico_alvo.blank? -%>
        <div class="descricao_curso">
          <h4><span>Curso em PDF indicado para</span></h4>
          <p><%= @arquivo.publico_alvo %></p>
        </div>
  			<% end -%>

  			<% unless @arquivo.carga_horaria.blank? -%>
        <div class="descricao_curso">
          <h4><span>Carga Horária</span></h4>
          <p><%= @arquivo.carga_horaria %></p>
        </div>
        <% end -%>

  			<% unless @arquivo.numero_videos.blank? -%>
        <div class="descricao_curso">
          <h4><span>Número de Arquivos</span></h4>
          <p><%= @arquivo.numero_videos %></p>
        </div>
        <% end -%>

        <div class="descricao_curso">
          <h4><span>Investimento</span></h4>
          <p><%= @arquivo.investimento_com_desconto_ativo.reais_formatado %></p>
        </div>
        <div class="clear"></div>
      </div>
      <br class="clear" />
    </div>
  <% end -%>
  <!-- fim do conteudo principal -->

  <% unless @arquivo.produto_anexos.blank? -%>
    <div class="col3_interna">
    	<h2>Arquivos</h2>
    	<div class="lista_aulas_curso">
    		<ol>
    		<%= render :partial => 'produto_anexo', :collection => @arquivo.produto_anexos %>
    		</ol>
    	</div>
    	<br class="clear" />
    </div>
  <% end -%>
</div>