<ul>
  <% curso.videos.each do |video| -%>
    <li id="li-video-<%= video.video_upload.id %>">
      <p>
        <%= link_to_remote image_tag(curso.imagem.file? ? curso.imagem.url(:thumbnail, :size => "80x60") : "thumb_curso_online.gif") + video.video_upload.nome + "<br />", :url => {:controller => "video_aulas", :action => "view", :video_id => video.video_upload.id, :curso_id => pacote_id} %>
        <span>Tempo:</span> <%= video.video_upload.duracao_label %>.
        <br class="clear" />
      </p>
    </li>
  <% end -%>
</ul>