<% title @curso ? @curso.nome : "Cursos On-line" %>
<% content_for :custom_javascript_includes do %>
    <%= javascript_include_tag "products_watch" %>
<% end %>

<div class="conteudo_geral">
  <h2>Assistir às aulas</h2>

  <% form_tag url_for(:controller => "video_aulas", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
      <div class="principal">

        <% unless @curso.blank? -%>
            <div class="exibi_cursos">
              <span class="btn_voltar"><%= link_to "Voltar para Meus Cursos", meus_cursos_path %></span>

              <h2><%= @curso.nome %></h2>

              <p class="validade_curso">Você tem acesso a este curso até: <span><%= @curso.expira_at -%></span>.</p>

              <div class="resumo">
                <div id="view_video" class="video_assistir">
                  <%= render :partial => "view", :locals => {:video => @curso.videos.first.video_upload, :curso_id => @curso.id} %>
                </div>

                <br class="clear"/>
              </div>

              <% unless @curso.descricao.blank? %>
                  <div class="descricao_curso">
                    <h4><span>Conteúdo</span></h4>

                    <p><%=raw @curso.descricao.nl2br %></p>
                  </div>
              <% end -%>
              <% unless @curso.professors.blank? -%>
                  <div class="descricao_curso">
                    <h4><span><%= @curso.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
                    <% @curso.professors.each do |professor| -%>
                        <p>
                          <% if professor.professor.imagem.file? -%>
                              <%= image_tag professor.professor.imagem.url(:thumbnail) %>
                          <% end -%>
                          <%= link_to professor.professor.nome, professor_path(professor.professor) %>
                        </p>
                    <% end -%>
                  </div>
              <% end -%>
              <% unless @curso.publico_alvo.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Curso indicado para</span></h4>

                    <p><%= @curso.publico_alvo %></p>
                  </div>
              <% end -%>
              <% unless @curso.carga_horaria.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Carga Horária</span></h4>

                    <p><%= @curso.carga_horaria %></p>
                  </div>
              <% end -%>

              <div class="descricao_curso">
                <h4>
                  <span>Tempo de Acesso ao Curso</span>
                </h4>

                <p>Você pode acessar este curso por <%= pluralize(@curso.tempo_expiracao, 'dia', 'dias') %> após a
                  compra</p>
              </div>

              <% unless @curso.numero_videos.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Número de Vídeos</span></h4>

                    <p><%= @curso.numero_videos %></p>
                  </div>
              <% end -%>
              <div class="descricao_curso">
                <h4><span>Investimento</span></h4>

                <p><%= @curso.investimento_com_desconto_ativo.reais_formatado %></p>
              </div>
              <% unless @curso.produto_anexos.blank? -%>
                  <div class="descricao_curso">
                    <h4><span>Material de Apoio</span></h4>
                    <%= render :partial => 'produto_anexo', :collection => @curso.produto_anexos %>
                  </div>
              <% end -%>
              <div class="clear"></div>
            </div>
        <% end -%>
        <div class="clear"></div>

      </div>
  <% end -%>
  <!-- fim do conteudo principal -->

  <div class="col3_interna">
    <h2>Aulas</h2>

    <div class="lista_aulas_curso">
      <ul>
        <% @curso.videos.each do |video| -%>
            <li id="li-video-<%= video.video_upload.id %>">
              <p>
                <%= link_to_remote image_tag(@curso.imagem.file? ? @curso.imagem.url(:thumbnail, :size => "80x60") : "thumb_curso_online.gif") + video.video_upload.nome + "<br />", :url => {:controller => "video_aulas", :action => "view", :video_id => video.video_upload.id, :curso_id => @curso.id} %>
                <span>Tempo:</span> <%= video.video_upload.duracao_label %>.
                <br class="clear"/>
              </p>
            </li>
        <% end -%>
      </ul>
    </div>
    <br class="clear"/>
  </div>

</div>