<% title "Cursos On-line" %>
<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "jquery.easytabs.min" %>
  <%= javascript_include_tag "plantao_enem/video_aulas" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.videoAulas.init("<%= sort_plantao_enem_video_aulas_path %>");
    });
  </script>
<% end %>

<div class="conteudo_geral conteudo">
  <h2>Cursos</h2>
  <% form_tag video_aulas_path, :method => :get, :class => "form_busca", :id => "form_busca" do %>
    <div class="principal">
      <div class="busca">
        <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :show_tipo => true, :titulo => 'Busca de Cursos On-line'} %>
      </div>
      <% if not @cursos.blank? %>
        <div class="exibi_cursos">

          <div class="coluna01">
            <h2>Resultados de sua busca</h2>
              <% @cursos.each do |curso| -%>
                <div class="c1cursos_corp">
                  <div class="c1cursos_img"><%= image_tag(curso.imagem.file? ? curso.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></div>
                  <a href="<%= polymorphic_path(curso) %>">
                    <div class="c1cursos_txt">
                      <div class="c1cursos_txt_tit fonte_negrito fonte_size_17 fonte_cor_azul2 "><%= curso.nome %></div>
                      <%=raw truncate_html(curso.descricao, :length => 120) %>
                    </div>
                  </a>
                </div>
              <% end -%>
			        <div class="paginacao">
			          <%= will_paginate @cursos %>
			        </div>
          </div>
        </div>
      <% end %>
		</div>
  <% end -%>
  <div class="exibi_cursos">
    <div class="coluna01">
      <h2>Lançamentos</h2>
      <%= render_cell "produtos_destaque", :show_plantao_enem, :only_assistiveis => true, :show_sorting => true, :sort_action => "sort_plantao_enem", :paginate_action => "paginate_plantao_enem" %>
    </div>
  </div>


  <!-- fim do conteudo principal -->

  <div class="col3_interna">
    <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
    <%= render :partial => "cursos/banners" %>
  </div>

</div>
