<% title "Meus Cursos" %>


<div class="conteudo_geral">

<h2>Meus Cursos</h2>
<% form_tag url_for(:controller => "video_aulas", :action => "meus_cursos"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    
    
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Meus Cursos'} %>
    </div>

     
        <div class="exibi_cursos">
          
          
          <div class="ordenacao">
          	
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$(this).closest('#form_busca').submit();" %>
			
          <% if !@visualizacoes.blank? -%>
            <label for="exibir_por">Visualizar por:</label>
            <%= select_tag 'visualizacao', options_for_select(@visualizacoes, params[:visualizacao].to_i), :onchange => "$('[name=page]').val('');$(this).closest('#form_busca').submit();" %>            
          <% end -%>
		</div>

          <ul class="lista_cursos">
            <% @cursos.each do |curso| -%>
                <li>
                <% link_to assistir_video_aula_path(curso) do %>
                <p class="thumb"><%= image_tag(curso.imagem.file? ? curso.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
                <p class="desc_curso"><%= curso.nome %><br /><span><%=raw truncate_html(curso.descricao, :length => 150) %></span><br/ ><span class="expiracao">Acesso até: <%= curso.expira_at(current_user) %></span></p>
                <% end -%>
				<br class="clear" />
              </li>
            <% end -%>
            
          </ul>

          <!-- Paginacao -->
          <% unless @cursos.blank? -%>
            <div class="paginacao">
              <%= will_paginate @cursos %>
            </div>
          <% end -%>
        </div>
    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">
	<div class="resumo_usuario">
   
	    <h2>Informações</h2><br />
	    
	    <% if @total_video_aulas > 0 -%>
	    	<h3>Cursos:</h3>
	    	<p>Voc&ecirc; tem <span><%= @total_video_aulas %> curso(s)</span>  dispon&iacute;vel(eis).</p>
	      <br />
	    <% else -%>
	      <h3>Cursos:</h3>
	      <p><span>0 curso(s)</span> dispon&iacute;vel(eis) at&eacute; o momento</p><br />
	    <% end -%>      
	    
	    
		<% if @total_pacotes > 0 -%>
			<h3>Pacotes de cursos:</h3>
			<p>Voc&ecirc; tem <span><%= @total_pacotes %> pacote(s)</span> de cursos dispon&iacute;vel(eis).</p><br />
	    <% else -%>
	    	<h3>Pacotes de cursos:</h3>
	    	<p><span>0 pacote(s)</span> dispon&iacute;vel(eis) at&eacute; o momento</p><br />
	    <% end -%>        
	    
	    
	    <% if @total_assinaturas > 0 -%>
	    	<h3>Assinaturas:</h3>
	    	<p>Voc&ecirc; tem <span><%= @total_assinaturas %> assinatura(s)</span> dispon&iacute;vel(eis).</p><br />
	    <% else -%>
	      <h3>Assinaturas:</h3>
	      <p><span>0 assinatura(s)</span> dispon&iacute;vel(eis) at&eacute; o momento</p><br />
	    <% end -%>  
	    
	    <br class="clear" />
	</div>
</div>
</div>