<div class="principal-simulado">

	<div class="resumo-simulado2">
		<h3 style="margin:0; font-size: 25px;">Resultado</h3>
		<br />
		<div class="resumo-simulado-box">
			Total de Questões<br />
			<span><%= user_simulated_test.user_simulated_test_answers.size %></span>
		</div>
		<div class="resumo-simulado-box">
			Respondidas<br />
			<span><%= user_simulated_test.user_simulated_test_answers.select{|a| !a.answer.nil? }.size %></span>
		</div>
		<div class="resumo-simulado-box">
			Questões Certas<br />
			<span><%= user_simulated_test.correct_questions_count %></span>
		</div>
		<div class="resumo-simulado-box">
			Aproveitamento<br />
			<span><%= number_with_precision(user_simulated_test.correct_questions_utilization, :precision => 2) %>%</span>
		</div>
		<br class="clear"/>

		<%= button_to "Refazer Simulado", restart_simulated_test_path(:id => simulated_test.id), :class => "btn_sair button gray", :style => "margin-top: 20px;" %>

	</div>



	<div class="disciplina">
		<%= render :partial => "answer_item", :collection => user_simulated_test.user_simulated_test_answers, :as => :user_simulated_test_answer, :locals => {:simulated_test => simulated_test}  %>
		<% content_for :custom_javascript_includes do %>
			<script type="text/javascript">
				jQuery(document).ready(function() {
					jQuery.player.multiplayerSetup();
				});
			</script>
		<% end %>
	</div>
	<div class="resumo-simulado2">
		<h3 style="margin:0; font-size: 25px;">Resultado</h3>
		<br />
		<div class="resumo-simulado-box">
			Total de Questões<br />
			<span><%= user_simulated_test.user_simulated_test_answers.size %></span>
		</div>
		<div class="resumo-simulado-box">
			Respondidas<br />
			<span><%= user_simulated_test.user_simulated_test_answers.select{|a| !a.answer.nil? }.size %></span>
		</div>
		<div class="resumo-simulado-box">
			Questões Certas<br />
			<span><%= user_simulated_test.correct_questions_count %></span>
		</div>
		<div class="resumo-simulado-box">
			Aproveitamento<br />
			<span><%= number_with_precision(user_simulated_test.correct_questions_utilization, :precision => 2) %>%</span>
		</div>
		<br class="clear"/>

		<%= button_to "Refazer Simulado", restart_simulated_test_path(:id => simulated_test.id), :class => "btn_sair button gray", :style => "margin-top: 20px;" %>

	</div>

</div>
