<% question_number = user_simulated_test_answer_counter %>
<%
	answer_class = "resposta"
	if user_simulated_test_answer.is_answer_correct?
		answer_class += " correct"
	else
		answer_class += " incorrect"
	end
%>
<div class="questao">
	<%=raw user_simulated_test_answer.simulated_test_question.question %>
	<div class="<%=answer_class%>">
		<p>Sua resposta</p>

		<% options = [] %>
		<% if user_simulated_test_answer.simulated_test_question.multiple_choice? %>
			<% options = SimulatedTest.answer_options %>
		<% else %>
			<% options = SimulatedTest.multiple_choice_options %>
		<% end %>
		<% options.each do |option| %>
			<%= radio_button_tag :"answer_#{question_number}_#{option}", option, user_simulated_test_answer.is_answer?(option) , :disabled => true %>
			<%= label_tag :"answer_#{question_number}_#{option}", option.upcase %>
		<% end %>
	</div>
	<% if user_simulated_test_answer.simulated_test_question.video_upload %>
	<div>
		<%= show_multiplayer(
			:video => download_video_upload_path(user_simulated_test_answer.simulated_test_question.video_upload),
			:style => "display:block;width:600px;height:400px",
			:splash => image_path("comentario.jpg")) %>
		<br/>
	</div>
	<% end %>

	<div class="comentario">
	<%=raw user_simulated_test_answer.simulated_test_question.comments %>
	</div>
</div>
<br class="clear"/>
