<% question_number = user_simulated_test_answer_counter %>
<% simulated_test_question = simulated_test.questions.find(user_simulated_test_answer.simulated_test_question_id) %>
<div class="questao">
	<%=raw simulated_test_question.question %>
	<div class="resposta">
		<p>
			Sua resposta
			<% if simulated_test_question.mandatory? %>
				<b>(Obrigatória)</b>
			<% end %>
		</p>
		<% fields_for "user_simulated_test[user_simulated_test_answers_attributes][]", user_simulated_test_answer, :index => question_number do |t| %>
			<%= t.hidden_field :simulated_test_question_id %>
			<% options = [] %>
			<% if simulated_test_question.multiple_choice? %>
				<% options = SimulatedTest.answer_options %>
			<% else %>
				<% options = SimulatedTest.multiple_choice_options %>
			<% end %>
			<% options.each do |option| %>
				<%= t.radio_button :answer, option, :id => "answer_option_#{option}_#{question_number}" %>
				<%= label_tag "answer_option_#{option}_#{question_number}", option.upcase %>
			<% end %>
		<% end %>
	</div>
</div>
<br class="clear" />
