<div class="principal-simulado">
	<% form_for user_simulated_test, :url => answer_simulated_test_path(:id => simulated_test.id)  do |f| %>
		<div class="disciplina">
			<%= render :partial => "form_item", :collection => user_simulated_test.user_simulated_test_answers, :as => :user_simulated_test_answer, :locals => {:f => f, :simulated_test => simulated_test}  %>
		</div>

		<%= f.submit 'Enviar suas respostas', :class =>"btn_sair button gray" %>
	<% end %>
	<br class="clear" />
</div>
