<% title @simulated_test ? @simulated_test.nome : "Simulado" %>

<span class="btn_voltar"><%= link_to "Voltar para Meus Simulados", my_simulated_tests_path %></span>

<div class="introducao">
	<h2><%=raw @simulated_test.nome %></h2>
    <%=raw @simulated_test.instrucoes %>
</div>

<% if @user_simulated_test.new_record? %>
    <%= render :partial => "form", :locals => {:simulated_test => @simulated_test, :user_simulated_test => @user_simulated_test} %>
<% else %>
    <%= render :partial => "answers", :locals => {:simulated_test => @simulated_test, :user_simulated_test => @user_simulated_test} %>
<% end %>
