<% title "Simulados" %>

<h2>Simulados</h2>
<% form_tag url_for(:controller => "simulated_tests", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  <div class="principal">
    <div class="busca">
      <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Simulados'} %>
    </div>

    <div class="exibi_cursos">
      <h2>Lançamentos</h2>
      <div class="ordenacao">
        <%= hidden_field_tag "page", (params[:page])  %>
        <label for="exibir_por">Ordenar por:</label>
        <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
      </div>

      <ul class="lista_cursos">
        <% @simulated_tests.each do |simulated_test| -%>
          <li>
            <% link_to simulated_test_path(simulated_test) do %>
		          <p class="thumb"><%= image_tag(simulated_test.imagem.file? ? simulated_test.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
		          <p class="desc_curso"><%= simulated_test.nome %><br /><span><%=raw truncate_html(simulated_test.descricao, :length => 150) %></span></p>
            <% end -%>
          <br class="clear"/>
          </li>
        <% end -%>
      </ul>

      <!-- Paginacao -->
      <% unless @simulated_tests.blank? -%>
        <div class="paginacao">
          <%= will_paginate @simulated_tests %>
        </div>
      <% end -%>

      <br class="clear"/>
        </div>
  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
