<% title "Meus Simulados" %>

<h2>Meus Simulados</h2>
<% form_tag url_for(:controller => "simulated_tests", :action => "my_simulated_tests"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  
  <div class="principal">
    <!--
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Meus Simulados'} %>
    </div>
        <div class="exibi_cursos">
          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page])  %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>-->

          <% if @simulated_tests.present? %>
          <div class="simulados-disponiveis">
              <ul class="lista-simulados">
                  <% @simulated_tests.each do |simulated_test| -%>
                  <li>
                      <p class="tit-simulado">
                          <%= link_to simulated_test.nome, acessar_simulated_test_path(simulated_test) %>
                      </p>

                      <% if @user_simulated_tests[simulated_test.id].present? %>
                          <p class="chances">Total de questões: <%= simulated_test.questions.size %> - Acertos: <%= @user_simulated_tests[simulated_test.id].correct_questions_count %> - Aproveitamento: <%= number_with_precision(@user_simulated_tests[simulated_test.id].correct_questions_utilization, :precision => 2) %>%</p>
                      <% else %>
                          <p class="chances">Total de questões: <%= simulated_test.questions.size %></p>
                      <% end %>
                  </li>
                  <% end -%>
              </ul>
          </div>
          <div class="paginacao">
              <%= will_paginate @simulated_tests %>
          </div>
          <% end %>
    <br class="clear" />
  </div>
<% end -%>
<!-- fim do conteudo principal -->
<!--
<div class="col3_interna">
  <div class="resumo_usuario">
  <% if @simulated_tests.count > 0 -%>
    <h2 style="margin-bottom: 10px;">Informações</h2>
    <h3 style="font-size: 18px;">Resumo</h3>
    <p>Voc&ecirc; tem <span><%= @simulated_tests.count %> simulados</span> dispon&iacute;veis.</p>

    <h3 style="margin: 20px 0 0 0; font-size: 18px;">Histórico</h3>
    <ul class="simulados-resumo">
      <li>
        <p class="tit-simulados-resumo">Simulado para a Polícia Civil do Ceará - Cargo Escrivão</p>
        <p class="dados">- Questões: 50<br />- Acertos: 30<br />- Aproveitamento: 60%</p>
      </li>
      <li>
        <p class="tit-simulados-resumo">Simulado para a Polícia Civil do Ceará - Cargo Escrivão</p>
        <p class="dados">- Questões: 50<br />- Acertos: 30<br />- Aproveitamento: 60%</p>
      </li>
      <li>
        <p class="tit-simulados-resumo">Simulado para a Polícia Civil do Ceará - Cargo Escrivão</p>
        <p class="dados">- Questões: 50<br />- Acertos: 30<br />- Aproveitamento: 60%</p>
      </li>

    </ul>
    <br />
  <% else -%>

  <h3>Simulados:</h3>
  <p><span>Nenhum simulado</span> dispon&iacute;vel at&eacute; o momento.</p><br />
  <% end -%>
  <br class="clear" />
  </div>
</div>
-->