<% title @simulated_test ? @simulated_test.nome : "Simulados" %>

<h2>Simulados</h2>
<% form_tag url_for(:controller => "simulated_tests", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :show_tipo => true} %>
    </div>
        <% unless @simulated_test.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Simulados", simulated_tests_path %></span>
            <h2><%= @simulated_test.nome %></h2>

            <div class="resumo">
              <div class="video">
                  <%= image_tag @simulated_test.imagem.url(:player), :alt => @simulated_test.nome, :title => @simulated_test.nome %>
              </div>
              <div class="detalhes">
                <div class="detalhes_info">
                  <h4>Informações</h4>
                  <%= html_preco_simulated_test(@simulated_test) %>
                  <% link_to add_to_cart_simulated_test_path(@simulated_test), :class => "btn_comprar button gray" do -%>Comprar<% end -%>
				<span class="btn_redes_sociais">
					<span class="btn_tweet"><%= twitter_button :text => "Simulado #{@simulated_test.nome}" -%></span>
					<span class="btn_facebook"><%= facebook_button -%></span>
				</span>

                </div>
              </div>
              <br class="clear" />
            </div>

            <% unless @simulated_test.descricao.blank? %>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>
              <p><%=raw @simulated_test.descricao.nl2br %></p>
            </div>
			<% end -%>
      <!--
			<% unless @simulated_test.professors.blank? -%>
            <div class="descricao_curso">
              <h4><span><%= @simulated_test.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
              <% @simulated_test.professors.each do |professor| -%>
                <p>
				<% if professor.professor.imagem.file? -%>
				<%= image_tag professor.professor.imagem.url(:thumbnail) %>
				<% end -%>
                <%= link_to professor.professor.nome, professor_path(professor.professor) %>
				</p>
              <% end -%>
            </div>
			<% end -%>
    -->
			<% unless @simulated_test.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Indicado para</span></h4>
              <p><%= @simulated_test.publico_alvo %></p>
            </div>
			<% end -%>
			<% unless @simulated_test.carga_horaria.blank? -%>
        <!--<div class="descricao_curso">
          <h4><span>Carga Horária</span></h4>
          <p><%= @simulated_test.carga_horaria %></p>
        </div>-->
      <% end -%>
      <!--
      <div class="descricao_curso">
        <h4>
          <span>Tempo de Acesso ao Simulado</span>
        </h4>
        <p>Você pode acessar este simulado por <%= pluralize(@simulated_test.tempo_expiracao,'dia','dias') %> após a compra</p>
      </div>
      
            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @simulated_test.investimento_com_desconto_ativo.reais_formatado %></p>
            </div>-->
            <div class="clear"></div>
          </div>
        <% end -%>

    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
