<%= text_field_tag 'cart_product_quantity', quantity, :disabled => true %>
<%= link_to '+', update_quantity_cart_path(product.id, :params => {:increment => "plus"} ), :method => :post, :class=> "mais-item", :title=>"Adiconar" %>
<%= link_to '-', update_quantity_cart_path(product.id, :params => {:increment => "minus"} ), :method => :post, :class=> "menos-item", :title=>"Diminuir"%>