<% title "Carrinho" %>

<h2>Carrinho de Compras</h2>

<div class="conteudo_carrinho">

  <% if @basket && @basket[:items] && @basket[:items].count > 0 %>
  <table>
    <tr>
      <td class="item_cabecalho_primeiro">Curso</td>
      <% if @basket[:show_quantity] %>
      <td class="item_cabecalho">Quantidade</td>
      <% end %>
      <td class="item_cabecalho">Ação</td>
      <td class="item_cabecalho">Preço (R$)</td>
    </tr>

    <% @basket[:items].each do |item_id, info| %>
    <tr>
      <td valign="middle"><%= link_to info[:item].nome, polymorphic_path(info[:item]) %></td>
      <% if @basket[:show_quantity] %>
          <% if info[:item].can_buy_multiple? %>
              <td class="quantidade"><%= render :partial => "product_quantity_selector", :locals => {:product => info[:item], :quantity => info[:qty]} %></td>
          <% else %>
              <td class="quantidade">1</td>
          <% end %>
      <% end %>
      <td class="acao"><%= link_to image_tag('backend/btn_delete.gif'), {:controller => "carrinho", :action => "delete", :id => item_id}, :confirm => 'Tem certeza que deseja remover o item?', :class => 'remover' %></td>
      <td class="preco"><%= info[:item].total(info[:qty]).real_contabil %></td>
    </tr>
    <% end %>
    <% if @basket[:subtotal] != @basket[:total] -%>
    <tr>
      <td></td>
      <% if @basket[:show_quantity] %>
      <td></td>
      <% end %>
      <td class='total_texto'>Subtotal:</td>
      <td class='total_valor'><%= @basket[:subtotal].reais_contabeis %></td>
    </tr>
    <% end -%>
    <% if @basket[:total_discount] > 0 -%>
    <tr>
      <td></td>
      <% if @basket[:show_quantity] %>
      <td></td>
      <% end %>
      <td class='total_texto'>Desconto:</td>
      <td class='total_desconto'>- <%= @basket[:total_discount].reais_contabeis %></td>
    </tr>
    <% end -%>
    <tr>
      <td></td>
      <% if @basket[:show_quantity] %>
      <td></td>
      <% end %>
      <td class="total_texto">Total:</td>
      <td class="total_valor"><%= @basket[:total].reais_contabeis %></td>
    </tr>
  </table>

  <%= render :partial => 'cupom', :locals => {:cupom_atual => @basket[:current_discount]} %>

  <div class="controles">
    <% link_to url_for(:controller => 'pedido', :action => 'show'), :class => "btn_comprar button gray" do %>Fazer Pagamento <% end -%>
    <% link_to video_aulas_path, :class => "voltar_comprar" do %><span class="btn_voltar">Voltar e comprar mais</span><% end -%>
    <br class="clear" />
  </div>

  <% else %>
  <p>Seu carrinho de compras está vazio.</p>
  <div class="controles">
    <% link_to video_aulas_path, :class => "voltar_comprar", :style =>"margin-top:20px;" do %><span class="btn_voltar">Comprar cursos</span><% end -%>
    <br class="clear" />
  </div>
  <% end %>

</div>