<div>
  <span>
    <span class="titulo"><%= link_to curso.nome, edit_admin_curso_path(curso) %></span><br />
    <span class="data">Categoria: <%= curso.categoria.nome %></span><br />
    <%= truncate(curso.descricao, :length => 120) %>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, curso], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>