<% content_for :custom_javascript_includes do %>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.backend.forms.setup();
        });
    </script>
<% end %>

<% form_for([:admin, curso], :html => {:multipart => true}) do |f| %>

    <div>
      <%= f.label :nome %>
      <%= f.text_field :nome, :maxlength => 60 %>
    </div>

    <div>
      <%= f.label :publico_alvo, "Público-alvo" %>
      <%= f.text_field :publico_alvo, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :inicio, "Início" %>
      <%= f.text_field :inicio, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :horario, "Horário" %>
      <%= f.text_field :horario, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :carga_horaria, "Carga Horária" %>
      <%= f.text_field :carga_horaria, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :numero_encontros, "Número de Encontros" %>
      <%= f.text_field :numero_encontros, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :vacancies, "Vagas" %>
      <%= f.text_field :vacancies %>
    </div>

    <div>
      <%= f.label :weekdays, "Dias da Semana" %>
      <%= f.text_field :weekdays %>
    </div>

    <div>
      <%= f.label :ativo, "Ativo" %>
      <%= f.check_box :ativo %>
    </div>

    <div>
      <%= f.label :categoria %>
      <%= Admin::FormPresenter.select_field f,
                                            :categoria_curso_id,
                                            :field => :nome_for_selects,
                                            :collection => @categorias %>
    </div>

    <div>
      <%= f.label :investimento, 'Investimento' %>
      R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
    </div>

    <div>
      <%= f.label :demonstration_video_upload_id, "Vídeo Demonstração" %>
      <%= Admin::FormPresenter.select_field f,
                                            :demonstration_video_upload_id,
                                            :field => :nome,
                                            :collection => @demonstration_video_uploads %>
    </div>

    <div>
      <%= f.label :price_condition, 'Condição de Preço' %>
      <br/>
      <%= f.text_area :price_condition, :rows => 5, :class => "tinymce" %>
    </div>

    <div>
      <%= f.label :descricao, "Conteúdo" %>
      <br/>
      <%= f.text_area :descricao, :class => "tinymce" %>
    </div>

    <div>
      <%= f.label :imagem %>
      <%= f.file_field :imagem %>
      Formatos: .jpg, .gif ou .png<br/>
      <% if curso.imagem.file? -%>
          <%= f.label '', '&nbsp;' %>
          <%= image_tag curso.imagem.url(:thumbnail) %>
      <% end -%>
    </div>

    <div class="nested-form">
      <h3>Professores</h3>

      <div class="nested-form-rows">
        <%= render :partial => 'professor', :collection => curso.professors %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'professor') %>">Adicionar
        professor</a>
    </div>

    <%= Admin::FormPresenter.new_attachment f, :curso_anexos, self,
                                            :title => "Arquivos Anexos",
                                            :attachment_class => CursoAnexo %>

    <%= Admin::FormPresenter.existing_attachment f, :curso_anexos, self,
                                                 :download_url => :download_attachment_admin_cursos_path,
                                                 :edit_url => :update_attachment_admin_cursos_path,
                                                 :title => "Anexos Existentes" %>
    <br class="clear"/>

    <div class="controles">
      <%= f.label '', '&nbsp;' %>
      <%= f.submit 'salvar', :name => 'save' %>
      <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
      <%= f.submit 'limpar', :type => 'reset' %>
    </div>
<% end %>
