<div class="horario">
  <% @horario = horario %>
  <% fields_for "curso[horario_attributes][]", horario, :index => nil do |t| %>
    <div class="multimodel-fields">
      Início: <%= t.datetime_select("inicio", :minute_step => 10) %>
      <%= check_box_tag "fim_enabled", 1, !(horario.fim && !horario.fim.blank?), :title => 'Desabilitar horário de término', :class => 'checkbox_fim_horario' %>
      Fim: <%= t.datetime_select "fim", :minute_step => 10, :prompt => "", :disabled => !(horario.fim && !horario.fim.blank?) %>

      <div class="multimodel-remove">
        <%= link_to_function image_tag("backend/icons/remove.gif"), "$(this).parents('.horario').remove()" %>
        <span>remover</span>
        <% unless horario.new_record? %>
          <%= t.hidden_field :id, :index => nil %>
        <% end %>
      </div>
    </div>

    <br class="clear" />
  <% end %>
</div>