<% title "Cursos Presenciais" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'curso', :label => 'novo curso presencial'} %>

<div class="registros">
  <%= render :partial => @cursos %><br />
</div>
<br class="clear" />

<%= will_paginate @cursos %>