<% title "Notícias" %>

<h2>Notícias</h2>

<% form_tag url_for(:controller => "noticias", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
  
<div class="principal">

	<div class="busca">
	  <%= render :partial => "busca" %>
	</div>

    <div class="exibir_noticias">
      
      <div class="ordenacao">
        <%= hidden_field_tag "page", (params[:page])  %>
        <label for="exibir_por">Ordenar por:</label>
        <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
      </div>

      <% unless params[:tag].blank? -%>
        <p class="tags">Exibindo apenas notícias com a tag <b><%= params[:tag] %></b></p>
      <% end -%>

      <ul class="lista_noticias">
        <% @noticias.each do |noticia| -%>
          <li>
			<p class="thumb"><%= image_tag noticia.imagem.file? ? noticia.imagem.url(:thumbnail) : "thumb_curso_online.gif" %></p>
            <p class="desc_noticia">
              <%= link_to noticia.nome, noticia_path(noticia)%><br /><span>Publicada em <%= noticia.created_at.to_s(:padrao_data) %></span><br />
              <%=raw truncate_html(noticia.descricao, :length => 300) %>
            </p>
			<br class="clear">
          </li>
        <% end -%>
        <br class="clear" />
      </ul>
      
      

      <!-- Paginacao -->
      <% unless @noticias.blank? -%>
        <div class="paginacao">
          <%= will_paginate @noticias %>
        </div>
      <% end -%>

      <br class="clear"/>
    </div>
    
</div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
  -->

  <%= render :partial => "cursos/banners" %>

</div>