<% title @noticia ? @noticia.nome : "Notícias" %>

<h2>Notícias</h2>
<% form_tag url_for(:controller => "noticias", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
  
    <div class="busca">
          <%= render :partial => "busca" %>
    </div> 
      
        <% unless @noticia.blank? -%>
          <div class="noticia">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Notícias", noticias_path %></span>

            <h3><%= @noticia.nome %></h3><p>em <%= @noticia.created_at.to_s(:padrao_data) %></p>
            <div class="tags_noticias"><span>Assuntos Relacionados:</span> <%= @noticia.tags.map{ |a| link_to(a.name, noticias_path("tag" => a.name)) } %></div>
            <p><%=raw @noticia.corpo %></p>

            <br class="clear" />
          </div>
        <% end -%>

    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
 -->

  <%= render :partial => "cursos/banners" %>

</div>