<% author_image = testimonial.imagem.file? ? testimonial.imagem.url(:real) : "marta_garcia/dummies/testimonial-author1.png" %>
<% splash_url = !missing?(testimonial.video_splash) ? testimonial.video_splash.url(:real) : "" %>
<% player_id = "testimonial-#{testimonial.id}" %>
<li style="width: 570px; border: 0; margin-right: 30px">
	<div class="span6" style="margin-left:0;">
		<div class="wrapper">
			<div class="testimonial">
  			<% unless missing?(testimonial.video) %>
          <div style="width:528px; height:297px">
            <a id="<%= player_id %>"></a>
            <script type="text/javascript">
              function playerOptions(videoOptions, splash) {
                if (splash === "") {
                  return videoOptions;
                }
                return {
                  playlist: [{
                    url: splash,
                    scaling: 'orig'}, videoOptions["clip"]],
                  key: videoOptions["key"]
                }
              }
              var options = playerOptions(<%= options_for_player(testimonial.video.url,
                                                :public_video => true,
                                                :auto_play => false).to_json %>, "<%= splash_url %>");
              flowplayer("<%= player_id %>",
                         "/swf/flowplayer.commercial-3.2.16.swf",
                         options);
            </script>
          </div>
        <% end %>
				<p class="text"><i class="icon-quote-left icon-48"></i> <%=raw testimonial.descricao %></p>
				<div class="author"><%= image_tag author_image, :class => "img-circle bordered", :alt => "" %>
					<p class="name"><%= testimonial.nome %></p>
					<span class="info">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
</li>