<% unless @video_testimonials.blank? %>
  <% @video_testimonials.in_groups_of(2, false) do |group| %>
    <div class="row">
      <% group.each do |testimonial| %>
        <%= render :partial => "testimonial_about", :locals => { :testimonial => testimonial } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% unless @text_testimonials.blank? %>
  <% @text_testimonials.in_groups_of(2, false) do |group| %>
    <div class="row">
      <% group.each do |testimonial| %>
        <%= render :partial => "testimonial_about", :locals => { :testimonial => testimonial } %>
      <% end %>
    </div>
  <% end %>
<% end %>