<% unless @testimonials.blank? %>
  <div class="row">
  	<div class="span12">
  		<h4 class="heading">Depoimentos dos <strong>Nossos Alunos</strong><span></span></h4>
  		<ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients" style="width: 940px;">
        <%= render :partial => "testimonial_home", :collection => @testimonials, :as => :testimonial %>
  		</ul>
  	</div>
  	<div class="span12"><%= link_to "Ver mais depoimentos", sobre_path(:anchor => "depoimentos") %></div>
  </div>
<% end %>