div.exibir_artigos{

}

div.exibir_artigos div.ordenacao {margin:  0px 0 30px 0;}
div.exibir_artigos div.ordenacao label {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

div.exibir_artigos ul.lista_artigos{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.exibir_artigos ul.lista_artigos li{
	border-bottom: 1px solid #D8D8D8;
    color: #666666;
    font-size: 13px;
    height: auto;
    line-height: 17px;
    padding: 15px 0;
    width: 620px;
}

div.exibir_artigos ul.lista_artigos li a{
    font-size: 14px;
    font-weight: bold;
}

div.exibir_artigos ul.lista_artigos li span{
	font-size: 11px;
	font-style: italic;
	color: #000;
	font-weight: bold;
}

div.exibir_artigos ul.lista_artigos li p.thumb{
    width: 90px;
    height: 70px;
    float: left;
}

div.exibir_artigos ul.lista_artigos li p.desc_artigo{
    width: 495px;
    height: auto;
    float: left;
    padding: 0 0 0 10px;
}

div.exibir_artigos ul.lista_artigos li p.desc_artigo span.prof {
    font-weight: bold;
    font-size: 11px;
}

div.exibir_artigos ul.lista_artigos li p.desc_artigo span.prof a {
    font-weight: normal;
    background: #d7d7d7;
    color: #2768B7;
    padding: 0 2px;
    text-decoration: none;
}

div.exibir_artigos ul.lista_artigos li p.desc_artigo span.prof a:hover {
    background: #e7e7e7;
    color: #639ee6;
}

div.artigo h3{
    font-size: 20px;
    margin: 30px 0 10px 0;
}

div.artigo div.prof_artigo {
    margin: 10px 0 10px 0;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

div.artigo div.prof_artigo a {
    background: #d7d7d7;
    padding: 2px 4px;
}

div.artigo div.prof_artigo a:hover {
    background: #e7e7e7;
    color: #639ee6;
}

div.artigo p{
    margin: 30px 10px 20px 0;
    color: #666;
    font-size: 13px;
    line-height: 18px;
}

div.artigo div.arquivos {

}

div.artigo div.arquivos h4 {
    font-size: 15px;
    color: #999;
    padding: 0 0 2px 0;
    border-bottom: 1px solid #ccc;
}

div.artigo div.arquivos ul li {
    font-size: 12px;
    padding: 10px 0 0px 0;
}














