div.assinatura_bloco {
	width: 200px;
	height: auto;
	float: left;
	margin: 20px 10px 0 0;
	background: none repeat scroll 0 0 #ECECEC;
	border: 1px solid #D8D8D8;
	padding: 10px;
}


div.assinatura_bloco div.box_assinatura {
	min-height: 300px;
	position: relative;

}


div.assinatura_bloco div.box_assinatura h2 {
	font-size: 28px;
	text-align: center;
	padding: 5px 0 10px 0;
	margin-bottom: 10px; 
	border-bottom: 1px solid #ccc; 
	letter-spacing: -1px;
	/*text-shadow: 0px 1px 1px #a2a2a2;*/
}

/* cores dos titulos bronze, prata, ouro e platina */
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_bronze {color: #c06b19;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_prata {color: #a7a7a7;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_ouro {color: #d1bb00;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_platina {color: #d9d9d9;}



div.assinatura_bloco div.box_assinatura p.preco {
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	color: #E2413A;
	background: #fff;
	padding: 8px 0;
	letter-spacing: -1px;
}

div.assinatura_bloco div.box_assinatura div.ressalva {
	font-size: 11px;
	margin-bottom: 10px;
	color: #666;
	padding: 0 5px;
}

div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora {
	padding: 5px 0 10px 0;
	margin: 0;
}

div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora li {
	padding: 3px 0;
	list-style-type: circle;
	margin: 0;
}

div.assinatura_bloco div.box_assinatura div.ressalva span {
	font-weight: bold;
}

div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura {
	font-size: 12px;
	margin: 15px 0 15px 7px;
	width: 190px;
}

div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura li {
	border-bottom: 1px solid #ccc;
	padding: 7px 0 7px 20px;
	background: url(../images/check.png) 0 center no-repeat;
	line-height: 16px;
}

div.assinatura_bloco div.box_assinatura p.acao {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 45px;
	
}

div.assinatura_bloco div.box_assinatura p.acao a {
	width: 70px;
	font-size: 13px;
	font-weight: bold;
}


/* Lista de cursos na janela modal */
ul.lista_cursos_assinatura {
	margin: 20px 0 0 0;
}

ul.lista_cursos_assinatura li {
	margin: 0 0 10px 0;
	font-size: 13px;
	list-style-type: decimal;
	list-style-position: inside;
}



