
/* ------------------------------------------------- */
/* --------------------- layout -------------------- */
/* ------------------------------------------------- */

html, body {
    margin:0;
    padding:0;
    height:100%;
}

body.impressao {
  background: none;
}

a {
    color:#CC9900;
    text-decoration:none;
    outline: none;
}

a:hover {
    color:#ebb000;
    text-decoration:underline;
}

/* remove dotted outline on Mozilla */
:focus { -moz-outline-style: none; }

#container {
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
    height: 100%;
    min-height: 100%;
}

body > #container {height:auto; min-height:100%;}

#geral {padding-bottom:140px;}


/* div com conteudo principal das páginas */

div.content_body1 {
	width: 960px
}

div.content_body2 {
	width: 660px;
	float: left
}

#topo {
    position: relative;
    padding-top: 5px;
    margin-bottom: 25px;
}

.info {
    width: 350px;
    height: 40px;
    float: left;
    margin-top: 10px;
    margin-left: 130px;
    color: #999;
    font-size: 11px;
}

.info a {color: #fff; text-decoration: underline; background: #999; padding: 2px}
.info a:hover {color: #fff; background: #666;}

.info span {
    font-weight: bold;
    color:#000;
}

.logotipo {
    margin: 0;
    padding-left: 0px;
    width: 300px;
    height: 70px;
    float: left;
}

#flash_message{
    height:20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

#conteudo {
    margin: 10px 0 0 0;
    padding-bottom: 75px;
}

#rodape {
    clear: both;
    height:70px;
    background: #d7d7d7;
    margin-top: -75px;
    border-top: 5px solid #9f9f9f;
    position: relative;
}

.conteudo_rodape {
    width: 960px;
    left: 50%;
    margin-left: -480px;
    position: absolute;
    height: 70px;
    background: url(../images/backend/bg_rodape.png) no-repeat 0 0;
}

.painel_controle {
    background:url(../images/backend/painel_controle.gif) #D6C383 no-repeat 0 0;
    margin: 0;
    overflow:hidden;
    padding: 0;
    text-indent: -99999px;
    width: 100px;
    height: 16px;
    margin-left: 170px;
    position: absolute;
    bottom: -12px;
}


.etiqueta {
    display: block;
    width: 115px;
    height: 29px;
    background: url(../images/backend/logo_promine.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 0;
}


a.btn_sair {
    display: block;
    width: 61px;
    height: 17px;
    background: url(/images/backend/btn_sair.gif) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

a.btn_sair:hover {
    background: url(/images/backend/btn_sair.gif) no-repeat 0 -21px;
}




/* ------------------------------------------------- */
/* ------------------- dashboard ------------------- */
/* ------------------------------------------------- */
#dados_dashboard{
    float:left;
    width:350px;
}

#acesso_rapido_dashboard{
    display: inline;
    float: left;
}

#acesso_rapido_dashboard h1, #estatisticas_dashboard h1{
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
}

#acesso_rapido_dashboard a{
    padding-left:20px;
    margin-bottom:5px;
    display:block;
    margin-left:5px;
}

a#link_analytics{
    background:url(/images/backend/icons/icon_analytics.gif) no-repeat left top;
}

a#link_awstats{
    background:url(/images/backend/icons/icon_relatorio_visitas.gif) no-repeat left top;
}

a#link_home{
    background:url(/images/backend/icons/icon_voltar_site.gif) no-repeat left top;
}

#estatisticas_dashboard{
    display: inline;
    float: left;
}

#estatisticas_dashboard table tr{
    border:#DAAE6D solid;
    border-width:0 0 1px 0;
}

#estatisticas_dashboard table tr > td, #estatisticas_dashboard table tr > th{
    text-align:right;
    width:80px;
}

#estatisticas_dashboard table tr > td{
    color:#9F7700;
}

#estatisticas_dashboard table tr > *.secao{
    color:#000;
    text-align:left;
    width:150px;

}

#estatisticas_dashboard table th, #estatisticas_dashboard table td{
    padding:3px;
}

#estatisticas_dashboard table th{
    background:#F9FFEB;
}

/* ------------------------------------------------- */
/* ------------- formulario de suporte ------------- */
/* ------------------------------------------------- */

#form_contato{
    width:500px;
    padding:14px;
    font-size:11px;
    float: right;
    margin-right: 20px;
}

#form_contato h1, #form_contato p{
    margin: 0;
    padding: 0;
}


#form_contato{
    border:solid 2px #daae6d;
    background:#f9ffeb;
}

#form_contato h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}

#form_contato form > div {
    text-align: left;
}

#form_contato label{
    text-align: right;
    width: 90px;
}

#form_contato input, #form_contato textarea {
    width: 290px;
    font-size: 11px;
}

#form_contato textarea {
    height: 110px;
}

#form_contato p{
    font-size:11px;
    color:#666666;
    margin-bottom:10px;
    border-bottom:solid 1px #daae6d;
    padding-bottom:10px;
}

#form_contato .submit{
    clear:both;
    width:162px;
    height:37px;
    overflow: hidden;
    background:url(/images/backend/btn-form-contato.png) no-repeat;
    text-align:center;
    border: none;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

/* fix para exibir erro no form de contato */
#form_contato .fieldErrorMessage{
    width: 80px;
    z-index: 100;
}

#form_contato .fieldErrorMessage span.hint{
    right:91px;
}

#form_contato div#bloco_contato {
    margin:15px auto 20px auto;
    text-align:center;
    color:#d19032;
}

/* estilos da listagem dos cruds sem ajax */
.registros > div{
    float:left;
    border:solid #ddd;
    border-width:0 0 1px 0;
    padding:10px;
    width:98%;
    min-height:27px;
}

.registros > div > span img {
    float: left;
    margin-right: 10px;
}

.registros > div > div.imagem-registro {
    float:left;
    margin-right: 10px;
}

.registros a{
    font-weight:bold;
    font-size:14px;
}

.registros > div > span{
    float:left;
}

.registros > div > span > span.data{
    font-size:11px;
    color:#666;
}

.registros > div > span > span.adicional{
    font-style:italic;
}

.registros > div:hover{
    float:left;
}

.registros > div a:hover{
    text-decoration:underline;
}

.registros > div a.remover{
    display:none;
}

.registros > div:hover a.remover{
    float:right;
    display:inline-block;
}

/* barra de controle no topo */
.barra_controle{
    background:#F4F4F4;
    padding:10px;
    margin-bottom:10px;
}

.visualizacao div {
    float:left;
}

.visualizacao div.ordenar {

}

.visualizacao img{
    border:solid #FFF;
    border-width:5px;
    margin-right:5px;
}

/* botao de adicionar registro */
.adicionar_registro{
    float:right;
}

.adicionar_registro div.link, .adicionar_registro div.canto_esquerdo, .adicionar_registro div.canto_direito{
    height:26px;
    display:inline-block;
    margin:0px;
    padding:0px;
}

.adicionar_registro div.link{
    background:url(/images/backend/btn_new_middle.gif) top left repeat-x;
}

.adicionar_registro:hover div.link{
    background:url(/images/backend/btn_new_middle.gif) bottom left repeat-x;
}

.adicionar_registro div.link a{
    text-decoration:none;
    margin-top:4px;
    float:left;
    color:#000;
}

.adicionar_registro div.canto_esquerdo{
    background:url(/images/backend/btn_new_left.gif) top left no-repeat;
    width:27px;
}

.adicionar_registro:hover div.canto_esquerdo{
    background:url(/images/backend/btn_new_left.gif) bottom left no-repeat;
}

.adicionar_registro div.canto_direito{
    background:url(/images/backend/btn_new_right.gif) top left no-repeat;
    width:8px;
}

.adicionar_registro:hover div.canto_direito{
    background:url(/images/backend/btn_new_right.gif) bottom left no-repeat;
}

.pagination {
    font-size:12px;
    text-align:right;
    margin-top:10px;
}

.label_radio {
    width: auto;
    float: none;
    clear: none;
    display: inline;
}

/* artigos */
#thumbnails {
    width:710px;
}

#thumbnails .thumbnail{
    float:left;
    text-align:center;
    width:130px;
    height:150px;
    overflow:hidden;
    padding:5px;
    border:solid #ccc;
    border-width:1px;
    background:#eee;
    margin:0 10px 10px 0;
}

#thumbnails .thumbnail label{
    width:auto;
}

#thumbnails .thumbnail img{
    margin-bottom:5px;
}

#thumbnails .thumbnail form{
    margin:0px;
    padding:0px;
}

#record_images h2 {
    margin-top:20px;
}

#record_images span, #thumbnails > span{
    color:#999;
    font-style:italic;
    margin-bottom:5px;
    display:block;
}

#thumbnails .selecionado-remover {
    border-width:1px;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.thumbnail input.editor_field {
    width:110px;
    height:auto;
}

.thumbnail input.editor_ok_button {
    padding:1px;
    margin-top:3px;
    border:1px solid;
    margin-right:5px;
    font-size:11px;
    font-family:Georgia, "Times New Roman", Times, serif;
    height:20px;
}

.thumbnail .editor_cancel {
    margin-top:3px;
    border:1px solid;
    padding:3px;
    font-size:11px;
    font-family:Georgia, "Times New Roman", Times, serif;
    height:20px;
}

.thumbnail{
    position:relative;
}

.remover-image-artigo, .remover-image-noticia, .remover-image-galeria{
    position:absolute;
    bottom:5px;
    left:5px;
    text-align:center;
}

.remover-image-artigo + span, .remover-image-noticia + span, .remover-image-galeria + span{
    display:none;
    color:#990000;
    position:absolute;
    bottom:5px;
    left:25px;
    font-size:12px;
}

.remover-image-artigo:hover + span, .remover-image-noticia:hover + span, .remover-image-galeria:hover + span{
    display:block;
}

/* Blogs */
.nenhum-usuario-disponivel{
    color:#990000;
    font-style:italic;
}


/* Formatação de títulos */

h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif;}

h1 {font-size: 25px; color:#CC9900; margin: 15px 0 10px 0;}


/* Formularios */

form label {
    display:block;
    float:left;
    width:150px;
    margin-right: 10px;
}

form > div {
    margin:10px 0 10px 0;
    position:relative;
}

div.controles input, input.botao {
    background: #bfc83e;
    color: #fff;
    font-weight: bold;
    border: 0;
    font-size: 13px;
    cursor: pointer;
}

input, textarea {
    height: 20px;
    padding: 5px 3px 0 3px;
    border: 1px solid #ababab;
    background: url(../images/backend/bg_campo.jpg) #fff repeat-x 0 0;
}

textarea{
    height:auto;
}

.checkbox-label {
    float:none;
    display:inline;
    width:auto;
}

/* CONSERTAR ISSO PARA RODAR NO IE */
input[type="text"], textarea{
  width:500px;
}

/* restore original css state for this selector */
.select2-search input {
  width: 100%;
}

/* CONSERTAR ISSO PARA RODAR NO IE */
input[type="button"], input[type="submit"], input[type="reset"]{
  height: auto;
  padding:5px;
  border: 1px solid #ababab;
}

/* Erros */
.fieldWithErrors {
    display:inline;
    padding:0px;
}

.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors select {
    background:#FFEFEF;
    border:solid #CF2626;
    border-width:1px;
}

.fieldWithErrors:hover span.fieldErrorMessage, .fieldWithErrors input:focus + span.fieldErrorMessage{
    display:inline-table;
    position:absolute;
    right:0;
    top:0;
    width:190px;
    background: #FFF8DF;
    border:solid #D6C383;
    border-width:1px;
    padding:4px 4px 4px 6px;
}

span.fieldErrorMessage span.hint{
    background: url(../images/backend/fundo_error_tooltip.gif) no-repeat left top;
    position:absolute;
    right:201px;
    top: 8px;
    width:6px;
    height:11px;
}

span.fieldErrorMessage{
    display:none;
}

/* tiny mce editor */

.divisoria_descricao {
    border:1px 0 0 0;
    background:#999;
}

.divisoria_descricao legend {
    text-align:center;
}

.mceLayout {
    display:inline-table;
}


.inputtext_tinymce {
    width: 612px !important;
}

/* CURSOS */
input.curso_preco_field {
    width: 80px;
}

.horario .multimodel-fields {
    margin:10px 0 10px 0;
    position:relative;
}

.multimodel-fields {
    margin-right: 10px;
}

.multimodel-remove {
    display: inline;
    margin-left: 5px;
}

.multimodel-remove > span {
    display: none;
}

.multimodel-remove > a:hover + span {
    display: inline;
}

#adicionar_horario, #adicionar_professor{
    background: url(../../images/backend/icons/action_add.gif) left no-repeat;
    padding-left: 15px;
}



/* Filtro de usuario */
div#filtros {
	background: #F4F4F4;
	padding: 10px 10px 2px 10px;
	position: relative;
}

div#filtros form p {
	margin: 0 0 10px 0;
}

div#filtros form p label {
	width: 100px;
}

div#filtros form p input.btn_filtrar {
	width: 100px;
	background: #ccc;
	cursor: pointer;
	border: 1px solid #9b9b9b;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
}

div#filtros div.btn_novo_user {
	width: 150px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 10px;
}


/* Numero de cursos vendidos */
.cursos_vendidos {
	width: 940px;
	margin: 30px 0 0 0;
}

.cursos_vendidos td {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.cursos_vendidos td.titulo1 {
	width: 700px;
}

.cursos_vendidos td.titulo2 {
	width: 240px;
}

.cursos_vendidos td.titulo1, .cursos_vendidos td.titulo2  {
	font-weight: bold;
	border-top: 1px solid #ccc;
	font-size: 16px;
	background: #f4f4f4;
}

.cursos_vendidos td.borda {
	border-left: 1px solid #ccc;
	padding-left: 10px;
}

.direita {
	text-align: right;
}

/* coluna contextual de resumo */
div#resumo_tela {
	width: 245px;
	height: auto;
	padding: 0;
	background: #F4F4F4;
	float: right;
	border: 1px solid #ccc;
	padding: 10px;
}

div#resumo_tela h3{
	color: #CC9900;
	font-size: 15px;
}

div#resumo_tela h4{
	color: #CC9900;
	font-size: 13px;
	margin-top: 10px;
}

div#resumo_tela ul{
	margin: 0;
	padding: 0;
}

div#resumo_tela ul li{
	list-style-type: none;
	padding: 5px 0 5px 0;
	margin: 0;
	list-style-position: inside;
	border-bottom: 1px solid #ccc;
	line-height: 14px;

}



/* Ferramentas para usuários */

div.ferramentas_usuarios {
	height: 30px;
	background: #f4f4f4;
	margin: 10px 0;
	padding: 10px;
}

div.ferramentas_usuarios span {
	display: block;
	height: 25px;
	width: 150px;
	background: #fff;
	padding: 5px 0px 0 5px;
	float: left;
	margin: 0 20px 0 0;
	text-align: center;
	border: 1px solid #ccc;
}

div.ferramentas_usuarios span.titulo_f {
	background: #f4f4f4;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 0 0 0;
	width: 130px;
	border: none;
}

div.ferramentas_usuarios span.botao_export {
	background: #ccc;
	border: 1px solid #9B9B9B;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px 0 10px;
	width: 150px;
}

div.ferramentas_usuarios span.botao_export a {
	color: #fff;
	text-decoration: none;
}

div#filtros p span.botao_export {
	background: #ccc;
	border: 1px solid #9B9B9B;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	width: 150px;
  height: 25px;
  text-align: center;
  float: right;
}

div#filtros p span.botao_export a {
	color: #fff;
	text-decoration: none;
}

select#filtro_curso {
  width: 510px;
}

div.report-separator {
  border-bottom: 1px dashed black;
  padding-bottom: 30px;
}

div.report-subtitle {
  padding-top: 30px;
  font-weight: bold;
}

div.report_period_title {
  padding-top: 30px;
  font-weight: bold;
}

label.state_restriction {
    display: block;
    width: 75px;
}

input.state_restriction {
    width: 50px;
    height: 13px;
}

div.state-restriction-inner {
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
