  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
 :focus {outline: 0}
 ins {text-decoration: none}
del {text-decoration: line-through}
 table {border-collapse: collapse; border-spacing: 0}
  body {min-width: 960px}
 .container_12, .container_16 {margin-left: auto; margin-right: auto; width: 960px}
 .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {display: inline; float: left; margin-left: 10px; margin-right: 10px}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15 {position: relative}
.container_12 .grid_3, .container_16 .grid_4 {width: 220px}
.container_12 .grid_6, .container_16 .grid_8 {width: 460px}
.container_12 .grid_9, .container_16 .grid_12 {width: 700px}
.container_12 .grid_12, .container_16 .grid_16 {width: 940px}
 .alpha {margin-left: 0}
.omega {margin-right: 0}
 .container_12 .prefix_3, .container_16 .prefix_4 {padding-left: 240px}
.container_12 .prefix_6, .container_16 .prefix_8 {padding-left: 480px}
.container_12 .prefix_9, .container_16 .prefix_12 {padding-left: 720px}
 .container_12 .suffix_3, .container_16 .suffix_4 {padding-right: 240px}
.container_12 .suffix_6, .container_16 .suffix_8 {padding-right: 480px}
.container_12 .suffix_9, .container_16 .suffix_12 {padding-right: 720px}
  .clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0}
 .clearfix:before, .clearfix:after {content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0}
.clearfix:after {clear: both}
 .clearfix {zoom: 1}