html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
body {background: url(/images/browsers/ie6_bg.jpg) repeat-x 0 -20px; text-align: center; font-family:Georgia, "Times New Roman", Times, serif;}
body div {margin: 0 auto; width: 600px; margin-top: 100px;}
body div h1 {color: #d19032; font-size: 50px; font-style:italic; margin: 20px 0;}
body div p {color: #666; font-size: 14px; line-height: 22px;}
body p.browsers {line-height: 15px; margin: 20px 0;}
body p.browsers span {margin-right: 30px;}
body p.browsers img {margin-right: 10px;}
body p a {color: #90a00a; font-weight: bold;}
body p a:hover {color: #bed122;}