div.conteudo_carrinho {
	margin: 30px 0 0 0;
}


div.conteudo_carrinho table,
div.registros table
 {
	width: 100%;
	font-size: 13px;
	margin: 0 0 0px 0;
}

div.conteudo_carrinho table td,
div.registros table td
{
	border: 1px solid #ccc;
	border-width: 0px 0 1px 0;
	padding: 0 0 0 5px;
}

div.conteudo_carrinho table td.quantidade {
	width: 15%;
	padding: 7px 0 5px 5px;
	border-left: 1px solid #ccc;
}

div.conteudo_carrinho table td.acao {
	width: 15%;
	padding: 7px 0 5px 5px;
	border-left: 1px solid #ccc;
}

div.conteudo_carrinho table td.preco{
	width: 15%;
	padding: 7px 5px 5px 5px;
	border-left: 1px solid #ccc;
	text-align: right;
}

div.conteudo_carrinho table td.resultado{
	width: 15%;
}

div.conteudo_carrinho table td.total_texto{
	text-align: right;
}

div.conteudo_carrinho table td.item_cabecalho,
div.conteudo_carrinho table td.item_cabecalho_primeiro {
	font-weight: bold;
	font-size: 16px;
	background: #f7f7f7;
	padding: 5px 0 5px 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

div.conteudo_carrinho table td.item_cabecalho_primeiro{
	padding: 5px 0 0 5px;
	border-left: 0px;
}

div.conteudo_carrinho table td.total_texto{
	font-weight: bold;
	font-size: 14px;
	padding: 25px 0px 0 0;
}

div.conteudo_carrinho table td.total_valor{
	font-weight: bold;
	font-size: 14px;
	padding: 25px 5px 0 0;
	color: #2c69c2;
	text-align: right;
}

div.conteudo_carrinho table td.total_desconto{
	font-weight: bold;
	font-size: 14px;
	padding: 25px 5px 0 0;
	color: green;
	text-align: right;
}


div.conteudo_carrinho div.controles a.btn_comprar_mais {
	float: left;
}

div.conteudo_carrinho div.controles a.btn_pagar {
	float: right;
	margin-right: 10px;
}


form.pagseguro {
	margin: 30px 0 0 0;
}


/* Formatacao de meus pedidos */
div.registros table td {
	padding: 9px 0 5px 5px;
}

div.registros table td.meio {
	border: 1px solid #ccc;
	border-width: 0 1px 1px 1px;
}

div.registros table td.data_ped,
div.registros table td.status_ped,
div.registros table td.detalhes_ped,
div.registros table td.data_ped2,
div.registros table td.status_ped2,
div.registros table td.detalhes_ped2
{
	font-weight: bold;
	font-size: 16px;
	background: #f7f7f7;
	padding: 5px 0 5px 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 60%;
}

div.registros table td.data_ped {
	width: 60%;
}

div.registros table td.status_ped,
div.registros table td.detalhes_ped
{
	width: 20%;
}

div.registros table td.data_ped2,
div.registros table td.status_ped2 {
	width: 30%;
}

div.registros table td.detalhes_ped2 {
	width: 40%;
}

.btn_pagar_res_pedido {
	width: 200px;
}

div.desconto {
	width: 935px;
	height: 30px;
	padding: 10px 0 0 5px;
	background: #f7f7f7;
	margin: 20px 0;
	border: 1px solid #CCCCCC;
	border-width: 1px 0;
}

div.desconto form label {
	padding: 0px 10px 0 0px;
	font-size: 16px;
	font-weight: bold;
}

div.desconto form input.btn_usar_desconto {
	width: 100px;
	margin: 0 10px 0 10px;
}


/* Fluxo de compras */
ul.passos_compra {
	border: 1px solid #ccc;
	border-width: 1px 0;
	margin: 0 0 20px 0;
}

ul.passos_compra li {
	list-style-type:  none;
	display: inline-table;
	padding: 6px 15px 5px 10px;
	color: #333;
}

ul.passos_compra li.tit_passos {
	color: #2768B7;
	font-weight: bold;
}

ul.passos_compra li#atual {
	color: #fff;
	font-weight: bold;
	background: url(../images/passos_prox.png) #2768B7 right 0 no-repeat;
}

/* Botao voltar e comprar mais */
a.voltar_comprar {
	display: block;
	width: 160px;
}

/* Mensagem para encaminhar ao PagSeguro */



div.feedback {
	padding: 10px;
	background: #feffc5;
	border: 1px solid #f3ce69;
}

div.feedback h2 {
	margin-bottom: 15px;
}

div.feedback p {
	line-height: 18px;
	font-size: 14px;
}

div.feedback p span.pagseguro {
	font-size: 18px;
	color: #449C38;
	font-weight: bold;
}



#cart_product_quantity {
	width: 50px;
}

a.mais-item, a.menos-item {
	color: #fff;
	padding: 3px 5px;
	background-color: #4aa706;
	text-decoration: none;
}

a.mais-item {
	background-color: #4aa706;
}

a.menos-item {
	background-color: #a6a4a4;
	padding: 3px 7px;
}

ul.meus-ingressos{
	
}

ul.meus-ingressos li{
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	width: 250px;
	margin: 0 30px 30px 0;
	text-align: center;  
}

ul.meus-ingressos li p.descricao{
	line-height: 25px;
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}


ul.meus-ingressos li p.codigo{
	padding: 15px 0 0 0;
	color: #6b6b6b;
		font-size: 14px;
}

ul.meus-ingressos li p.codigo span{
	color: red;
	font-size: 30px;
	font-weight: bold;
}

.print-hidden {
	display: block;
	margin: 30px 0;
	background: #6a6a6a;
	color: #fff;
	padding: 10px;
	width: 150px;
	text-align: center;
}

