div.conteudo_contato {
	margin: 20px 0 0 0;
}

div#container_contato {
    width: 475px;
    float: left;
    background: #ececec;
    border: 1px solid #d8d8d8;
    padding: 20px;
}

div.info_extras {
    width: 400px;
    float: right;
}

div.info_extras h3{
    font-size: 15px;
    color: #696969;
    margin: 0 0 10px 0;
    line-height: 20px;
}

div.info_extras p {
    font-size: 22px;
    color: #E13A36;
    width: 300px;
    height: 50px;
    margin: 0 0 0px 0;
    line-height: 20px;

}

div.info_extras p span{
    display: block;
    width: 100px;
    height: auto;
    float: left;
    margin: 0 30px 0 0;
}

form p.botao {
    margin: 30px 0 0 0;
    text-align: center;
    height: 32px;
}

form p.botao input {
    width: 120px;
    height: 32px;
    background: url(../images/botao_enviar_mensagem.png) 0 0;
}

form p.botao input.enviando {
    background: url(../images/botao_enviar_mensagem.png) 0 32px;
}


/* edicao de dados do usuario*/
div.conteudo_cadastro div.alteracao_dados p.nome_login {
    font-size: 13px;
    padding: 8px 0 0 0;
    clear: right;
    font-weight: bold;
}

div.conteudo_cadastro div.alteracao_dados p.endereco_campo input {
    border: 1px solid #9D9D9D;
    color: #666666;
    height: 27px;
    padding: 0 3px;
    width: 400px;
}

/* mudar senha */
div.alterar_senha form p {
    margin: 0 0 15px 0;
}
div.alterar_senha form p label
{
    display: block;
    float: left;
    width: 90px;
    font-size: 13px;
    line-height: 28px;
    text-align: left;
    padding: 0 5px 0 0;
}

div.alterar_senha form p input.campo
{
    width: 400px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


/* Cadastro Sucesso */

div.cadastro_sucesso h2 {
	margin: 0 0 10px 0;
}

div.cadastro_sucesso p {
	line-height: 18px;
	font-size: 13px;
	color: #666;
	margin: 10px 0 0 0;
}

div.cadastro_sucesso p span {
	color: #092C66;
	font-size: 15px;
	font-weight: bold;
}

/* Conteudo Cadastro de Novo Usuário */
/* Recuperar senha */
div.conteudo_cadastro,
div.recuperar_senha,
div.box_acesso_restrito
{
	background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #D8D8D8;
}

div.conteudo_cadastro {
    margin: 30px 0 0 0;
    padding: 0 10px 0px 10px;
}

div.recuperar_senha {
    margin: 30px 0 0 0;
    padding: 15px;
}

.nova-classe





