div.exibi_cursos h2 {
    text-transform: none;
    margin: 0 0 10px 0;
}

div.ordenacao {
	background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #D8D8D8;
    margin: 10px 0 20px 0;
    padding: 10px;
    width: 598px;
    font-size: 12px;
}



div.ordenacao div label {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

div.ordenacao div.ordem {
	width: 290px;
	float: left;
}

div.ordenacao div.visualizacao {
	width: 250px;
	text-align: right;
	padding: 0 15px 0 0;
	float: right;
}



/* top 5 de cursos online e presenciais da home */
ul.lista_cursos {
    height: auto;
    width: 620px;
}

ul.lista_cursos li {
    border-bottom: 1px solid #D8D8D8;
    width: 620px;
}

ul.lista_cursos li a {
    height: 70px;
    width: 610px;
    display: block;
    padding: 5px;
    margin: 5px 0;
    font-size: 0.75em;
    text-decoration: none;
    color: #E13A36;
}

ul.lista_cursos li a:hover {
    background: #ECECEC;

}
ul.lista_cursos li a p.thumb {
    width: 90px;
    height: 70px;
    display: block;
    float: left;
    margin-right: 10px;
}

ul.lista_cursos li a p.desc_curso {
    margin-left: 5px;
    line-height: 1.4em;
    font-weight: bold;
    font-size: 16px;
}


ul.lista_cursos li a p.desc_curso span {
    line-height: 1.4em;
    font-weight: normal;
    font-size: 12px;
	color: #666;
}

ul.lista_cursos li a p.desc_curso span.tit-list-curso {
	font-size: 14px;
}



ul.lista_cursos li a p.desc_curso span.expiracao {
	color: #000;
	font-weight:  bold;
}

ul.lista_cursos li.item_pacote a {
    background: #000;
}

/* Paginacao */
div.paginacao {
    margin: 20px 0 20px 0;
    font-size: 12px;
    color: #848484;
    font-weight: bold;
}

div.paginacao a, div.paginacao span.current, div.paginacao span.prev_page, div.paginacao span.next_page {
    display: inline-block;
    margin: 0 10px 0 0;
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
}

div.paginacao a {text-decoration: none;}
div.paginacao span.current {color: #848484;}
div.paginacao a.next_page, div.paginacao span.next_page {border: none;}


/* Cursos Detalhes */
div.exibi_cursos div.resumo div.video {
    width: 400px;
    height: auto;
    padding: 0px;

    float: left;
}

/* Cursos Detalhes */
div.exibi_cursos div.resumo div.video_assistir {
    width: 600px;
    height: auto;
    padding: 0px;
    float: left;
}

div.exibi_cursos div.resumo div.video span {
    display: block;
    color: #696969;
    font-weight: bold;
    margin: 5px 0;
    text-align: left;
    font-size: 12px;
}

div.exibi_cursos div.resumo div.video_assistir span {
    display: block;
    color: #696969;
    font-weight: bold;
    margin: 15px 0 5px 0;
    text-align: left;
}

div.exibi_cursos div.resumo div.detalhes {
    width: 210px;
    height: auto;
    float: right;
    padding-top: 22px;
}

div.exibi_cursos div.resumo div.img_curso_presencial {
	width: 340px;
	height: auto;
	float: left;
	background: #ccc;
	margin: 0 10px 0 0;
}

div.exibi_cursos div.resumo div.detalhes_presencial {
	width: 250px;
	height: auto;
	float: left;
}

div.exibi_cursos div.resumo div.detalhes div.detalhes_info,
div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info {
	height: auto;
	padding: 10px;
	background: #e6e6e6;
	border: 1px solid #d3d3d3;
}

div.exibi_cursos div.resumo div.detalhes div.detalhes_info h4,
div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info h4 {
	color: #696969;}

div.exibi_cursos div.resumo div.detalhes div.detalhes_info p,
div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p {
	color: #666;
	line-height: 22px;
	font-size: 15px;
	margin:  10px 0;
}

/* preco caso tenha desconto */
div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_de {
	color: #2768b7;
	font-size: 13px;
	color: red;
	text-decoration: line-through;
	font-weight: bold;
}

div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_por {
	color: #696969;
	font-size: 20px;
	font-weight: bold;
}
/* fim de preco com desconto */


div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco {
	color: #E13A36;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 15px 0 15px 0;
}

div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p span.preco{
	color: #696969;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 15px 0 15px 0;
}

div.exibi_cursos div.resumo div.detalhes a.btn_comprar {width: 80px; font-size: 14px;}
div.exibi_cursos div.resumo div.detalhes_presencial a.btn_comprar {width: 210px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 200px;}

div.conteudo_carrinho div.controles a.btn_comprar {
	width: 190px;
	font-size: 18px;
	float: right;
	}

/*
a.btn_comprar
{
	display: block;
	height: 30px;
	padding-top: 10px;
	padding-left: 8px;
	background: url(../images/bg_botao_gde.png) left 0 no-repeat;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	position: relative;
}

a.btn_comprar span
{
	display: block;
	width: 10px;
	height: 40px;
	background: url(../images/bg_botao_gde.png) right 0 no-repeat;
	position: absolute;
	top: 0;
	right: -10px;
}


a.btn_comprar:hover

{
	background: url(../images/bg_botao_gde.png) left -40px no-repeat;
	color: #fff;
}

a.btn_comprar:hover span
{
	background: url(../images/bg_botao_gde.png) right -40px no-repeat;
}

a.btn_comprar:active
{
	background: url(../images/bg_botao_gde.png) left -80px no-repeat;
	color: #fff;
	height: 29px;
	padding-top: 11px;
}

a.btn_comprar:active span
{
	background: url(../images/bg_botao_gde.png) right -80px no-repeat;
}
*/

div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos{
    margin: 5px 0 0 0;
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos img{
    margin: 5px 0 0 0;
}




span.btn_voltar {
    display: block;
    height: 18px;
    background: url(../images/btn_voltar.gif) left 0 no-repeat;
    padding: 0 0 0 25px;
    font-size: 12px;
    margin: 0 0 20px 0;
    line-height: 19px;
    font-weight: bold;
}

span.btn_voltar a {text-decoration: none;}
span.btn_voltar a:hover {text-decoration: underline;}

div.exibi_cursos div.descricao_curso {
	margin: 30px 0 0px 0;
	padding: 10px 0 0 0;
    border-top: 1px solid #d8d8d8;

	}
div.exibi_cursos div.descricao_curso h4 {
    font-size: 16px;
    color: #696969;
}

div.exibi_cursos div.simulado {
	padding:10px 10px 10px 40px;
	border: solid 1px;
	background: 10px no-repeat;
  	background-color: #FFFFED;
  	border-color: #FFD29B;
  	background-position: 10px 10px;
  	background-image: url('/images/icons/sexy_flash/warning.png');
}

div.exibi_cursos div.descricao_curso h4 span{

}

div.exibi_cursos div.descricao_curso p{
    padding: 5px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    color: #6d6d6d;
}


/* Lista de cursos do aluno */
div.meus_cursos {}

div.meus_cursos ul {}
div.meus_cursos ul li {
	padding: 0 0 20px 0;
	color: #666;
	font-size: 13px;
	line-height: 20px;
	}

div.meus_cursos ul li a {
	font-size: 16px;
	font-weight: bold;
	}

div.meus_cursos ul li span {
	font-weight: bold;
	}


/* Lista aulas para o aluno */
div.lista_aulas_curso {
	width: 280px;
	height: auto;
	margin: 30px 0 0 0;
	}


div.lista_aulas_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.lista_aulas_curso ul li, div.lista_aulas_curso ol li {border-bottom: 1px solid #D8D8D8; padding: 10px 0;}
div.lista_aulas_curso ul li p a {font-size: 13px; font-weight: bold;}
div.lista_aulas_curso ul li p a img {float: left; margin: 0 10px 0 0;}
div.lista_aulas_curso ul li p {font-size: 12px; line-height: 18px;}
div.lista_aulas_curso ul li p span {font-weight: bold;}

div.info_curso {margin: 20px 0 0 0; background: #ebebeb; padding: 5px;}
div.info_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.info_curso p {font-size: 13px;}

div.lista_aulas_curso ol li {
	font-size: 13px;
	line-height: 18px;
	list-style-position: outside;
}


/* Video */
div.video {margin: 0px 0 0 0;}




/* Lista de Cursos do Pacote */
ul.lista_cursos_pacote {
    height: auto;
}

ul.lista_cursos_pacote li{
    height: auto;
    width: 590px;
    display: block;
    float: left;
    padding: 5px;
    margin: 10px 0 0 0;
    background: #e8e8e8;
    font-size: 0.75em;
    text-decoration: none;
    color: #2768b7;
}


ul.lista_cursos_pacote li span.thumb {
    width: 90px;
    height: 70px;
    display: block;
    float: left;
	margin: 0 5px 0 0;
}

ul.lista_cursos_pacote li p{
	width: 495px;
	height: auto;
	float: left;
}

ul.lista_cursos_pacote li p span.nome_curso_pct {
	font-weight: bold;
	font-size: 15px;
	color: #E13A36;
}

ul.lista_cursos_pacote li p span.desc_curso_pct {
    line-height: 16px;
}

ul.lista_cursos_pacote li p span.prof_curso_pct {
    font-weight: bold;
}

/* Botoes de Redes Sociais */

span.btn_redes_sociais {
	display: block;
	width: 190px;
	height: 30px;
	margin: 10px 0 0 0;
}

span.btn_redes_sociais span.btn_tweet {
	display: block;
	width: 100px;
	height: 30px;
	float: left;
}

span.btn_redes_sociais span.btn_facebook {
	display: block;
	width: 80px;
	height: 30px;
	float: left;
	margin-left: 10px;
}


/* Resumo qdo o usuario logado */
div.resumo_usuario{
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #D8D8D8;
    padding: 15px 15px 0 15px;
}

div.resumo_usuario p span,
p.validade_curso span{
	font-weight: bold;
	color: #E13A36;
}

p.validade_curso{
	font-family: Arial;
	font-size: 12px;
	margin: 0 0 10px 0;
	color: #6D6D6D;
}

div.acoes-player {
	margin: 10px 0;

}



/* Simulados */

.principal-simulado h3 {
	margin: 0;
}

.principal-simulado h3.bloco-geral {
	margin: 40px 0 20px 0;
	text-transform: uppercase !important;
	background: none;
	border: none;
	color: #E13A36;
	padding: 0;
	font-size: 20px;
}

.introducao {
	margin: 50px 0 30px 0;
	line-height: 1.6em;
}


.introducao h2 {
	margin: 0 0 10px 0;
	border-bottom: 3px solid #666;
	background: #e7e7e7;
	padding: 15px 15px 10px 15px;
}

.introducao ol,
.introducao ul {
	padding: 0;
	list-style-position: inside; 
}

.disciplina {
	margin-bottom: 40px;
}

.disciplina h3 {
	margin: 0 0 0 0;
}

.questao {
	margin: 20px 0 40px 0;
	padding: 10px;
	border: 2px solid #ccc;
}

.questao h4 {
	margin: 40px 0 10px 0;
	font-size: 1.6em;
}

.questao .comentario {
	background-color: #e6e6e6;
	padding: 10px;
	margin-top: 10px;
}

.questao div.resposta {
	margin: 30px 0 0px 0;
	padding: 10px;
	border-top: 1px solid #ccc;
}

.correct {
  background-color: #ccffcc;
  border-width: 0;
}

.incorrect {
  background-color: #e18b89;
  border-width:0;
}

.questao .resposta input {
	margin: 0 6px 0 13px;
	padding: 0 0 0 0px;
}

.questao div.resposta p{
	margin: 0px 10px 10px;
	padding: 0;
	font-style: italic;
}

.questao p {
	margin: 0 0 15px 0;
	line-height: 20px;
	padding: 0px;
}

div.resumo p {
	line-height: 20px;
}

div.simulados-disponiveis {

}

div.simulados-disponiveis ul {

}

div.simulados-disponiveis ul li {
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}

div.simulados-disponiveis ul li p.tit-simulado{
	font-size: 16px;
	padding: 0 0 10px 0;
	font-weight: bold;
}

div.simulados-disponiveis ul li p {
	font-size: 13px;
}

div.simulados-disponiveis ul li p.chances {
	color: #999;
	line-height: 20px;
}
div.simulados-disponiveis ul li p.chances span {
	color: red;
}

ul.simulados-resumo li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #ccc;
}

ul.simulados-resumo li p.tit-simulados-resumo {
	padding: 0 0 5px 0;
	font-weight: bold;
	color: #666;
}

ul.simulados-resumo li p.dados {
	font-style: italic;
	color: #666;
}

div.resumo {
	margin: 0 0 10px 0;
	padding: 0px;
}

div.resumo-simulado2 {
	margin: 0 0 10px 0;
	padding: 20px;
	background: #fffeea none repeat scroll 0 0;
    border: 1px solid #fac693;
}

div.resumo-simulado-box {
	width: 150px;
	padding: 10px;
	background: #FFF;
	float: left;
	text-align: center;
	margin: 0 20px 0 0;
	border-top: 2px solid #ccc;
	font-size: 12px;
	line-height: 20px;  
}

div.resumo-simulado-box span {
	font-size: 30px;
	line-height: 40px;  
}







