body {
	/*background: url(../images/bg_geral.jpg) repeat;*/
	padding: 0 0 0px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

div.conteudo {
    width: 940px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 0 0;
	text-align: center;
}

.caixa_canto_redondo_branca {background: url(../images/roundedcornr_709217_tl.png) no-repeat top left; margin-top: 5px;}
.caixa_topo_branca {background: url(../images/roundedcornr_709217_tr.png) no-repeat top right;}
.caixa_rodape_branca {background: url(../images/roundedcornr_709217_bl.png) no-repeat bottom left;}
.caixa_rodape_branca div {background: url(../images/roundedcornr_709217_br.png) no-repeat bottom right;}
.caixa_conteudo_branca {background: url(../images/roundedcornr_709217_r.png) top right repeat-y;}
.caixa_topo_branca div, .caixa_topo_branca, .caixa_rodape_branca div, .caixa_rodape_branca {width: 100%; height: 10px; font-size: 1px;}
.caixa_conteudo_branca, .caixa_rodape_branca {margin-top: -0px;}
.caixa_conteudo_branca {padding: 0 10px;}

h1 {font-weight:bold; font-size:90px; color:#dedede; font-style: italic; letter-spacing: -3px; margin: 0;}
h2 {font-weight:bold; font-size:30px; color:#999; letter-spacing: -2px; margin: 0;}
p {font-size: 12px; color:#5c5c5c; margin: 10px 0 30px 0;}
a {text-decoration: none; color:#E13A36; font-weight: bold; font-size: 20px;}
a:hover {text-decoration: underline;}
