
a, img {border: 0;}

a {color: #E13A36; text-decoration: none;}
a:hover {text-decoration: underline;}


/* Botões em CSS3 */

/* button
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: .5em 1.5em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	/*-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;*/
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


/* color styles
---------------------------------------------- */


/* gray */
.gray {
	color: #fff;
	border: solid 1px #a0a0a0;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#676767));
	background: -moz-linear-gradient(top,  #bababa,  #676767);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#676767');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#515151));
	background: -moz-linear-gradient(top,  #a6a6a6,  #515151);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#515151');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#bababa));
	background: -moz-linear-gradient(top,  #676767,  #bababa);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#bababa');
}

/* green */
.green {
	color: #fff;
	border: solid 1px #9acd00;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#77ae00), to(#4c7000));
	background: -moz-linear-gradient(top,  #77ae00,  #4c7000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ae00', endColorstr='#4c7000');
}
.green:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#679600), to(#426100));
	background: -moz-linear-gradient(top,  #679600,  #426100);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#679600', endColorstr='#426100');
}
.green:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#4c7000), to(#77ae00));
	background: -moz-linear-gradient(top,  #4c7000,  #77ae00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c7000', endColorstr='#77ae00');
}


/* Fim dos botões */



.clear {clear: both;}

h2, h2 a {
    color: #696969;
    font-size: 25px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    /*background: url(../images/bg_geral.jpg) repeat;*/
    padding: 0 0 0px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* Blocos principais do site */
div.topo {
    height: 120px;
    background: url(../images/bg_topo.jpg) repeat-x;
}

div.conteudo {
    width: 940px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

div.rodape {
    margin: 50px 0 0 0;
    height: 100px;
    padding: 0 0 20px 0;
}


/* Logotipo */
h1.logo {
    float: left;
    margin-top: 15px;
}

h1.logo a {
    display: block;
    width: 223px;
    height: 93px;
    text-indent: -999999px;
    overflow: hidden;
    background: url(../images/logo_gustavo_brigido.png) 0 0 no-repeat;
}


/* Carrinho de compras do topo */

div.carrinho_topo {
    width: 200px;
    height: 70px;
    padding: 10px;
    float: left;
    margin: 15px 0 0 60px;
    background: url(../images/bg_preto_25.png) 0 0 repeat;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    border: 1px solid #323437;
}
div.carrinho_topo h3 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

div.carrinho_topo p {
    width: 130px;
    height: auto;
    margin:  5px 0 0 0;
    float: left;
    line-height: 15px;
    color: #fff;
}

div.carrinho_topo p span{
    color: #6dc3ff;
}


/* Formatacao do formulario de login */
div.login {
    width: 390px;
    height: 90px;
    margin-top: 15px;
    background: url(../images/bg_preto_25.png) 0 0 repeat;
    border: 1px solid #323437;
    float: right;
}

div.login form, div.login > div {
    padding: 5px;
}

div.login h4 {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

div.login label {
    display: none;
}

div.login input.campo_texto {
    width: 134px;
    height: 29px;
    border: none;
    color: #666;
    padding: 0 3px 0 3px;
    background: #FFF;
}

div.login input.btn_logar {
    width: 67px;
    height: 31px;
    padding-left: 11px;
    /*background: url(../images/bg_botao_logar.png) 0 0 no-repeat;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;*/
}

/*div.login input.btn_logar:hover {
    background: url(../images/bg_botao_logar.png) 0 -30px no-repeat;
}*/

div.login p.relembrar_senha {
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    width: 370px;
    height: 15px;
}

div.login p.relembrar_senha a {
    display: block;
    float: left;
    color: #e13a36;
    text-decoration: none;
}

div.login p.relembrar_senha a:hover {
    text-decoration:  underline;
}

div.login p.relembrar_senha a.esq_senha {
    margin:  0 0 0 75px;
}


div.login div.area_aluno {
	position: relative;
}

div.login div.area_aluno a.btn_sair {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 13px;
}

div.login div.area_aluno p {
	color: #fff;
	font-size: 13px;
}

div.login div.area_aluno ul {
	font-size: 13px;
	margin: 20px 0 0 0;
}

div.login div.area_aluno ul li {
	display: inline;
	padding: 0 3px 0 0;
    font-size: 12px;
}

div.login div.area_aluno ul li a {
font-weight: bold;
}


/* menu */
div.navegacao {
    height: 36px;
    background:url(../images/bg_menu.jpg) repeat-x;
}
div.navegacao ul {
    display: inline;
    font: bold 15px Arial, Helvetica, sans-serif;
    position: relative;
}
div.navegacao ul li {display: inline;}
div.navegacao ul li a,
div.navegacao ul li a.ultimo
div.navegacao ul li a.menu_assinaturas {
    text-decoration: none;
    color: #c8c8c8;
    text-shadow: 1px 1px #000;
    height: 26px;
    padding: 9px 5px 0 5px;
    margin: 0 8px 0 0;
    display: block;
    float: left;
}

div.navegacao ul li a.menu_assinaturas {
    text-decoration: none;
    color: #979797;
    background: url(../images/bg_assinaturas_menu.png) no-repeat 0 6px;
    color: #244f94;
    width: 83px;
}

div.navegacao ul li a.ultimo {
    margin: 0;
}

div.navegacao ul li a:hover {color: #fff;}
div.navegacao ul li a#ativo {
    background: url(../images/bg_item_menu.jpg) repeat;
    color: #97120a;
    height: 25px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 1px 0 1px;
    text-shadow: 1px 1px white;
}











/* Formatacao de imagens e sombra */
.imagem {
    padding: 6px;
    background: #fff;
}

.sombra {
    box-shadow: 1px 1px 2px #969696;
    -moz-box-shadow: 1px 1px 2px #969696;
    -webkit-box-shadow: 1px 1px 2px #969696;
}

a.sombra:hover  {
    box-shadow: 1px 1px 3px #aaa;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
}


/* Borda arredondada */
/* cinza */
.caixa_canto_redondo_cinza {background: url(../images/roundedcornr_786473_tl.png) no-repeat top left; margin-top: 5px;}
.caixa_topo_cinza {background: url(../images/roundedcornr_786473_tr.png) no-repeat top right;}
.caixa_rodape_cinza {background: url(../images/roundedcornr_786473_bl.png) no-repeat bottom left;}
.caixa_rodape_cinza div {background: url(../images/roundedcornr_786473_br.png) no-repeat bottom right;}
.caixa_conteudo_cinza {background: url(../images/roundedcornr_786473_r.png) top right repeat-y;}
.caixa_topo_cinza div, .caixa_topo_cinza, .caixa_rodape_cinza div, .caixa_rodape_cinza {width: 100%; height: 10px; font-size: 1px;}
.caixa_conteudo_cinza, .caixa_rodape_cinza {margin-top: -0px;}
.caixa_conteudo_cinza {padding: 0 10px;}

/* Branca */
.caixa_canto_redondo_branca {background: url(../images/roundedcornr_709217_tl.png) no-repeat top left; margin-top: 5px;}
.caixa_topo_branca {background: url(../images/roundedcornr_709217_tr.png) no-repeat top right;}
.caixa_rodape_branca {background: url(../images/roundedcornr_709217_bl.png) no-repeat bottom left;}
.caixa_rodape_branca div {background: url(../images/roundedcornr_709217_br.png) no-repeat bottom right;}
.caixa_conteudo_branca {background: url(../images/roundedcornr_709217_r.png) top right repeat-y;}
.caixa_topo_branca div, .caixa_topo_branca, .caixa_rodape_branca div, .caixa_rodape_branca {width: 100%; height: 10px; font-size: 1px;}
.caixa_conteudo_branca, .caixa_rodape_branca {margin-top: -0px;}
.caixa_conteudo_branca {padding: 0 10px;}

/* Formatacao dos lancamentos da home */
div.lancamentos {width: 940px; height: auto;}
div.lancamentos div.content_lancamentos {
    width: 940px;
    height: 320px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}




div.lancamentos div.content_lancamentos div.ticker_content {margin: 0;}
div.lancamentos div.content_lancamentos div.ticker_content ul {width: 825px;}
div.lancamentos div.content_lancamentos div.ticker_content ul li.ultimo_ticker {margin: 0;}
div.lancamentos div.content_lancamentos ul li {display: inline;}

/* Botoes */

a.seta_voltar, a.seta_avancar {
    display: block;
    width: 29px;
    height: 29px;

    text-indent: 100%;
    white-space: nowrap;

    overflow: hidden;
    position:absolute;
    top: 145px;
    z-index: 99999;
    cursor: pointer;
    color: transparent;
}

a.seta_voltar {background: url(../images/setas_lancamento.png) 0 -90px no-repeat; left: 10px;}
a.seta_avancar {background: url(../images/setas_lancamento.png) 0 0 no-repeat; right: 10px;}

a.seta_voltar:hover {background: url(../images/setas_lancamento.png) 0 -120px no-repeat;}
a.seta_voltar:active {background: url(../images/setas_lancamento.png) 0 -150px no-repeat;}

a.seta_avancar:hover {background: url(../images/setas_lancamento.png) 0 -30px no-repeat;}
a.seta_avancar:active {background: url(../images/setas_lancamento.png) 0 -60px no-repeat;}



/* top 5 de cursos online e presenciais da home */
div.cursos_online_top5 {
    width: 620px;
    height: auto;
    margin-top: 30px;
    float: left;
    position: relative;
}

ul.lista_cursos_home {
	height: auto;
    width: 620px;
}

ul.lista_cursos_home li {
	border-bottom: 1px solid #D8D8D8;
    width: 620px;
    padding: 10px 0;
}

ul.lista_cursos_home li p.thumb {
    width: 90px;
    height: 70px;
    display: block;
    float: left;
    margin-right: 10px;
}

ul.lista_cursos_home li p.desc_curso {
	font-size: 12px;
    margin-left: 5px;
    line-height: 1.4em;
    color: #666666;
}

ul.lista_cursos_home li p.desc_curso a {
    line-height: 1.4em;
    font-weight: bold;
    font-size: 16px;
}



/* Tabs que mostram as categorias */
div.produtos {
    width: 620px;
    height: auto;
    margin-top: 30px;
    float: left;
}

div.produtos h2 {
	margin-bottom: 10px;
}

ul.categorias-produto {
	width: 620px;
	height: auto;
	border-bottom: 2px solid #711103;
}

ul.categorias-produto li {
	display: inline-block;
	padding: 10px 7px 8px 7px;
	background: #e9e9e9;
	font-size: 13px;
	font-weight: bold;
}

ul.categorias-produto li.ativo {
	background: #711103;
}

ul.categorias-produto li a {
	color: #696969;
}
ul.categorias-produto li.ativo a {
	color: #fff;
}

div.lista-produtos {
	width: 620px;
	height: auto;
}

ul.categorias-ticker {
    width: 300px;
    height: auto;
    margin-bottom: -6px;
}

ul.categorias-ticker li {
    display: inline-block;
    padding: 10px 7px 8px 7px;
    background: #e9e9e9;
    font-size: 13px;
    font-weight: bold;
}

ul.categorias-ticker li.ativo {
    background: #711103;
}

ul.categorias-ticker li a {
    color: #696969;
}
ul.categorias-ticker li.ativo a {
    color: #fff;
}


/* Coluna 3. Noticias, redes sociais e newsletter */
div.col3 {
    width: 300px;
    height: auto;
    float: right;
    margin-top: 30px;
}

div.col3 div.noticias_home {
    width: 300px;
    height: auto;
}
div.col3 div.noticias_home ul {
    font-size: 12px;
    line-height: 1.4em;
    color: #333;
}
div.col3 div.noticias_home ul li {
    padding: 8px 0 10px 0;
    color: #666666;
    border-bottom: 1px solid #D8D8D8;
}
div.col3 div.noticias_home ul li a{
    font-weight: bold;
}


/* Newsleter na home */
div.col3  div.newsletter {
    margin: 20px 0 0 0;
}
div.col3  div.newsletter h3,
div.caixa_newsletter  h3
 {
    color: #696969;
    margin: 0 0 10px 0;
}


.btn_news_letter {
	width: 100px;
	padding-left: 11px;
}

div.caixa_newsletter form input.campo {
	width: 160px;
  	border: 1px solid #9D9D9D;
    color: #666666;
    height: 27px;
    padding: 0 3px;
}


/* Rodape */
div.rodape div.rodape_conteudo {
    width: 940px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    /*background: url(../images/separador_noticiais.gif) repeat-x top left;*/
}

div.rodape div.rodape_conteudo a.logo_rodape {
    display: block;
    width: 110px;
    height: 45px;
    float: left;
    margin: 17px 10px 0 0;
}

div.rodape div.rodape_conteudo address {
    width: 180px;
    height: 45px;
    float: left;
    font-size: 11px;
    margin: 0 20px 0 0;
    font-style: normal;
    line-height: 1.4em;
    color: #666666;
}

div.rodape div.rodape_conteudo address span.sede {
    font-size: 16px;
    font-weight: bold;
    color: #2768b7;
}

div.rodape div.rodape_conteudo address span.telefone {
    font-size: 16px;
    font-weight: bold;
}

div.rodape div.rodape_conteudo div.termos {
    width: 170px;
	height: 27px;
	background: #dfdfdf;
	border: 1px solid #c5c5c5;
	float: left;
	padding: 10px;
	margin: 13px 0 0 40px;
	color: #666;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}

div.rodape div.rodape_conteudo div.termos p span{
	color: #5e5e5e;
	font-style: italic;
	font-size: 11px;
}

div.selo-site-seguro {
	width: 70px;
	height: 70px;
	float: left;
	padding-left: 1px;
	margin: 9px 0 0 30px;

}

div.rodape div.rodape_conteudo div.termos p a{
	color: #e2413a;
	font-size: 14px;
	font-weight: bold;
}

div.rodape div.rodape_conteudo div.formas_pagamento {
    float: right;
}


/* páginas internas */

div.principal {
    width: 620px;
    height: auto;
    float: left;
    padding: 30px 0 0 0;
}

div.col3_interna {
    width: 300px;
    height: auto;
    float: right;
    padding: 30px 0 0 0;
}


/* Formatacao das paginas internas */
/* Acampanhe-nos */
div.acompanhe {
    margin: 13px 0 20px 40px;
    width: 90px;
    float: left;
}

div.acompanhe h2 {
    font-size: 18px;
    padding: 0px 0px 5px 0;

}

div.acompanhe ul li {
    margin: 0 0 0px 0;
    display: inline-block;
}

div.acompanhe ul li a {
    display:block;
    width: 26px;
    height: 26px;
    color: transparent;
    background-repeat: no-repeat;
}

div.acompanhe ul li a.fbk {background: url(../images/acompanhe_nos.jpg) 0 0;}
div.acompanhe ul li a.ork {background: url(../images/acompanhe_nos.jpg) -26px 0;}
div.acompanhe ul li a.twt {background: url(../images/acompanhe_nos.jpg) -52px 0;}
div.acompanhe ul li a.rss {background: url(../images/acompanhe_nos.jpg) -78px 0;}

div.acompanhe ul li a.fbk:hover {background: url(../images/acompanhe_nos.jpg) 0 -26px;}
div.acompanhe ul li a.ork:hover {background: url(../images/acompanhe_nos.jpg) -26px -26px;}
div.acompanhe ul li a.twt:hover {background: url(../images/acompanhe_nos.jpg) -52px -52px;}
div.acompanhe ul li a.rss:hover {background: url(../images/acompanhe_nos.jpg) -78px -78px;}


/* Busca */
div.busca {
    margin: 0 0 20px 0;
    width: 588px;
    background: #ececec;
    border: 1px solid #d8d8d8;
    padding: 15px;
}

form.form_busca fieldset legend,
form.form_busca fieldset label.label_busca {
    display: none;
}
form.form_busca fieldset input.campo_busca{
    width: 475px;
    height: 27px;
    border: 1px solid #9d9d9d;
    color: #666;
    padding: 0 3px 0 3px;
}

form.form_busca fieldset p{
    padding: 0 0 10px 0;
}

form.form_busca fieldset label{
    color: #696969;
    font-size: 12px;
    font-weight: bold;
}

/* Depoimentos  */

div.depoimentos {
 	background: none repeat scroll 0 0 #fff;
    border: 1px solid #D8D8D8;
    padding: 10px;
	margin: 0 0 20px 0;

}

div.depoimentos p {
    color: #666666;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    font-style: italic;
    margin: 20px 0 0 0;
}
div.depoimentos p img {
    float: left;
    margin: 0 5px 0 0;
}
div.depoimentos span.autor {
    font-weight: bold;
    color: #E2413A;
}

div.depoimentos span.aspas-abre,
div.depoimentos span.aspas-fecha {
	font: 18px Times, serif; font-weight: bold;
	font-style: italic;
}



div.newsletter_interna {
    margin: 0 0 20px 0;
    background: #ececec;
    border: 1px solid #d8d8d8;
    padding: 10px;
}


/* Cadastro de Usuário */

div.conteudo_cadastro form {
	margin: 20px 0 0 0;
}

div.conteudo_cadastro form p.atencao_cadastro {
	padding: 0 0 10px 20px;
	font-size: 12px;
}

div.conteudo_cadastro form p.atencao_cadastro span {
	font-weight: bold;
	font-size: 15px;
}



div.conteudo_cadastro form div{
    width: 910px;
}

div.conteudo_cadastro form div p.bl1 {
    width: 280px;
    float: left;
}

div.conteudo_cadastro form div p.bl2 {
    width: 320px;
    float: left;
}

div.conteudo_cadastro form div p.bl1 label {
    display: block;
    width: 140px;
    float: left;
}

div.conteudo_cadastro form div p.bl2 label {
    display: block;
    width: 140px;
    float: left;
}

div.conteudo_cadastro form div p.bl1 label.label_senha_2 {
    width: 150px;
}

div.conteudo_cadastro form p input.campo_senha {
    width: 110px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


div.conteudo_cadastro form p,
div#container_contato form p {
    margin: 0 0 15px 0;
}

div.conteudo_cadastro form p label {
    display: block;
    float: left;
    width: 140px;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    padding: 0 5px 0 0;
}


div#container_contato form p label {
    display: block;
    float: left;
    width: 60px;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    padding: 0 5px 0 0;
}

div.conteudo_cadastro form div p label#label_radio {
    width: auto;
    float: none;
    clear: none;
    display: inline;
}

div.conteudo_cadastro form p input.campo,
div#container_contato form p input.campo {
    width: 400px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


div.conteudo_cadastro form div p input.campo_cep {
    width: 100px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}

div.conteudo_cadastro form div p a.texto_cep {
	font-size: 12px;
}




div#container_contato form p textarea {
    width: 400px;
    height: 100px;
    border: 1px solid #9D9D9D;
    color: #666;
}

div.aceito_receber {
	width: 100px;
	margin: 15px 0;
	padding: 0 0 0 123px;
	font-size: 13px;
}

/* Recuperacao de senha */
div.recuperar_senha {
    font-size: 13px;
}

div.recuperar_senha p.campo_email {
    margin: 10px 0;
}

div.recuperar_senha p.campo_email input {
    width: 400px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;

}

/* Acesso a area reservada */
div#box_login,
div#box_pre_cadastro
{
    width: 400px;
    height: 190px;
    float: left;
    font-size: 13px;
    padding: 15px;
    margin-top: 20px;
}

.marg {
	margin: 10px 0;
}

div#box_pre_cadastro {
    float: right;
}


div#box_login h3,
div#box_pre_cadastro h3 {
    font-size: 15px;
    color: #696969;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: -1px;
}

div#box_login form p.bl,
div#box_pre_cadastro form p.bl {
    margin:  10px 0;

}

div#box_login form label.field,
div#box_pre_cadastro form label.field {
    display: block;
    width: 50px;
    float: left;
    padding: 8px 0 0 0;
}


div#box_login form input.campo_texto,
div#box_pre_cadastro form input.campo_texto {
    width: 200px;
    border: 1px solid #9D9D9D;
    color: #666;
    height: 27px;
    padding: 0 3px 0 3px;
}


/* Mensagens de erro dos formuários*/

span.fieldWithErrors {

	height: 50px;
	position: relative;
}

span.fieldErrorMessage {
	color: red;
	font-size: 11px;
	background: #fff4ab;
	padding: 3px;
	bottom:0;
	left: 65px;
}


div.caixa_newsletter span.flash_error {
	display: block;
	padding: 5px;
	margin: 10px 0;
	background: #fffeea;
	border: 1px solid #fac693;
	text-align: center;
	font-size: 13px;
}

/* Mensagens do sistema */
div.conteudo div#flash_message {
	width: 940px;
	height: 23px;
	margin: 0 0 20px 0;
	padding: 9px 0 0 0;
	background: #fffeea;
	border: 1px solid #fac693;
	text-align: center;
	font-size: 13px;
}


/* Termos de uso */
div.conteudo_termos {
	font-size: 13px;
	line-height: 18px;
	color: #666;
	padding: 30px 0 0 0;
}

div.conteudo_termos h4{
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
}

div.conteudo_termos ul{
	margin: 0 0 30px 20px;
}

div.conteudo_termos ul li{
	list-style-type: decimal;
	list-style-position: outside;
}

/* Sobre o Professor Gustavo Brigido */

div.sobre {
	margin-top: 30px;
}

div.sobre ul {
	margin: 5px 0 0 15px;
}
div.sobre ul li {
	list-style-type: disc;
	list-style-position: outside;
}

div.conteudo_estatico {
	font-size: 13px;
	line-height: 18px;
	color: #666;
}

div.conteudo_estatico p{
	margin: 0 0 20px 0;
	color: #666;
}

div.conteudo_estatico p.gustavo{
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}


div.banner_flutuante {
	position: fixed;
	top: 50px;
	left: 490px;
	z-index: 1000;
	border: 5px solid #fff;
}

div.banner_flutuante img.btn_fechar_banner {
	position: fixed;
	top: 40px;
	left: 735px;
	z-index:10001;
}


div.canal_gb {
	width: 300px;
	height: auto;
	margin: 30px 0 0 0;
}

div.canal_gb h2, div.parceiros_home h2, div.facebook_home h2 {
	margin: 10px 0 10px 0;
}

div.facebook_home {
	width: 300px;
	height: auto;
	margin: 30px 0 0 0;
}


/* Formulário busca do lado titulo */
form.form_busca_home {
	width: 400px;
	float: left;
	margin: 0 30px 0 20px;
}

form.form_busca_home .campo_busca_home {
	padding: 4px 0;
	font-size: 12px;
	width: 150px;
}

form.form_busca_home .btn-busca-home {
	width: 70px;
	padding: 5px 0;
}

.isloading-wrapper.isloading-right {
  margin-left: 10px;
}
.isloading-overlay {
  position: relative;
  text-align: center;
}
.isloading-overlay .isloading-wrapper {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  top: 10%;
  z-index: 9000;
}
