.box_login {
    width: 340px;
    margin: 0 auto;
    text-align: center;
}

.box_login h2{
    color: #BDCE2A;
    font-size:18px;
}

.box_login img {
    margin-top:40px;
}

.box_login span {
    font-size:12px;
    display: block;
    text-align:justify;
}

.box_login form {
    width: 300px;
    background: #f7f7f7;
    border: 3px solid #ededed;
    padding: 20px;
    text-align: left;
}

.box_login form label.field {
    display: block;
    width: 80px;
    height: 25px;
    float: left;
    padding-top: 5px;
    font-weight: bold;
    font-size:14px;
}

.box_login form .input_text {
    width: 210px;
    height: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    background: url(/images/backend/bg_campo_login.jpg) #fff repeat-x 0 0;
    border: 1px solid #cecece;
}

.box_login p {
    margin-left: 80px;
    font-size: 11px;
    font-weight:normal;
}

.box_login a.link_voltar {
    color: #669000;
    font-weight: bold;
    font-size: 11px;
    margin-top:10px;
    background:url(/images/backend/arrow_small_left.gif) no-repeat left;
    padding-left:15px;
}

.box_login a.link_voltar:hover {
    color: #bdce2a;
}

.box_login a.link_form {
    color: #669000;
    font-weight: bold;
    font-size: 11px;
    margin-top:10px;
    display: block;
}

.box_login a.link_form:hover {
    color: #bdce2a;
}

.box_login .input_btn {
    margin-top: 20px;
    background: url(/images/backend/btn_entrar_login.png) no-repeat 0 0;
    width: 119px;
    height: 44px;
    border: 0;
    text-indent: -9999999999999px;
    overflow: hidden;
    margin-left: 91px;
    cursor: pointer;
}

.box_login .input_senha {
    margin-top: 20px;
    background: url(/images/backend/btn_enviar_senha.png) no-repeat 0 0;
    width: 154px;
    height: 44px;
    border: 0;
    text-indent: -9999999999999px;
    overflow: hidden;
    margin-left: 77px;
    cursor: pointer;
}

#remember_me {
    display:inline;
}

#flash_message{
    margin-top: 5px;
    height:20px;
    width:346px;
    font-size: 11px;
    text-align: center;
}

/* override values of sexy_flash.css */
#flash_notice, #flash_error, #flash_warning, #flash_info{
  padding:5px 5px 5px 25px;
}








