div.exibir_noticias{

}

div.exibir_noticias p.tags {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -15px;
}

div.exibir_noticias div.ordenacao {margin:  0px 0 30px 0;}
div.exibir_noticias div.ordenacao label {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

div.exibir_noticias ul.lista_noticias{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.exibir_noticias ul.lista_noticias li{
    padding: 15px 0;
    width: 100%;
    height: auto;
    font-size: 13px;
    line-height: 17px;
    color: #666;
   	border-bottom: 1px solid #D8D8D8;
    width: 620px;
}

div.exibir_noticias ul.lista_noticias li a{
    font-size: 14px;
    font-weight: bold;
}

div.exibir_noticias ul.lista_noticias li p.thumb{
    width: 90px;
    height: 70px;
    float: left;
}

div.exibir_noticias ul.lista_noticias li p.desc_noticia{
    height: auto;
    float: left;
    padding: 0 0 0 10px;
    width: 520px;
}
div.exibir_noticias ul.lista_noticias li p.desc_noticia span{
	font-size: 11px;
	font-style: italic;
	color: #000;
	font-weight: bold;
}

/* Paginacao */
ul.paginacao {
    margin: 20px 0 0px 0;
    font-size: 12px;
    color: #848484;
    font-weight: bold;
}

ul.paginacao li {
    display: inline-block;
    margin: 0 10px 0 0;
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
}

ul.paginacao li a {text-decoration: none;}
ul.paginacao li a#ativo {color: #848484;}
ul.paginacao li.ultimo {border: none;}


div.noticia h3{
    font-size: 20px;
    margin: 30px 0 10px 0;
}

div.noticia div.tags_noticias{
    margin: 0px 10px 10px 0;
    color: #666;
    font-size: 13px;
    line-height: 18px;
}

div.noticia div.tags_noticias a {
    margin-right: 5px;
}

div.noticia img{
    margin: 0px 10px 0px 0;
    float: left;
}

div.noticia p{
    margin: 0px 10px 20px 0;
    color: #666;
    font-size: 13px;
    line-height: 18px;
}
















