  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
 :focus {outline: 0}
 ins {text-decoration: none}
del {text-decoration: line-through}
 table {border-collapse: collapse; border-spacing: 0}
.clear {clear: both;}
#facebox {position: absolute; top: 0; left: 0; z-index: 100; text-align: left}
#facebox h2{ color: #585858; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; font-weight: normal; margin-bottom: 15px; padding-bottom: 5px}
#facebox form{ margin-bottom: 15px}
#facebox .popup{ position:relative; border:3px solid rgba(0,0,0,0); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4); -moz-box-shadow:0 0 18px rgba(0,0,0,0.4); box-shadow:0 0 18px rgba(0,0,0,0.4)}
#facebox .content {display:table; width: 450px; padding: 20px; background: #fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px}
#facebox .content > p:first-child{ margin-top:0}
#facebox .content > p:last-child{ margin-bottom:0}
#facebox .close{ position:absolute; top:5px; right:5px; padding:2px; background:#fff}
#facebox .close img{ opacity:0.3}
#facebox .close:hover img{ opacity:1.0}
#facebox .loading {text-align: center}
#facebox .image {text-align: center}
#facebox img {border: 0; margin: 0}
#facebox_overlay {position: fixed; top: 0px; left: 0px; height:100%; width:100%}
.facebox_hide {z-index:-100}
.facebox_overlayBG {background-color: #000; z-index: 99}
@charset "utf-8";  body, td, th {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#a2a2a2}
body {margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-position:top; background-repeat:repeat-x; background-color:#FFF}
form {margin:0px; padding:0px}
a {text-decoration:none; color:#a2a2a2}
a:hover {color:#0074d3}
#plantao {width:100%}
#plantao .areatopo {height:221px; width:100%}
#plantao .areatopo .area_carrinho {height:40px; width:100%; background:#000}
#plantao .areatopo .area_carrinho .areacar940px {width:940px; height:40px; margin-left:auto; margin-right:auto}
#plantao .areatopo .area_carrinho .areacar940px .icon_car {height:40px; width:35px; background:url(/images/plantao_enem/icon_carrinho.png) no-repeat left center; float:left}
#plantao .areatopo .area_carrinho .areacar940px .textarea_car {height:40px; width:400px; line-height:40px; float:left}
#plantao .areatopo .area_carrinho .areacar940px .areabusca {height:40px; width:400px; line-height:40px; float:right; margin-top:8px}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa {float:left; width:280px}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa .pesquisa_campo {width:220px; float:left}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .pesquisa .pesquisa_botao {width:40px; float:right}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social {float:right; width:79px; height:23px}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .social_facebook {float:left; width:23px; height:23px; background:url(/images/plantao_enem/icon_facebook.png) no-repeat; margin-right:5px}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .soclial_twitter {float:left; width:23px; height:23px; background:url(/images/plantao_enem/icon_twitter.png) no-repeat}
#plantao .areatopo .area_carrinho .areacar940px .areabusca .social .soclial_rss {float:right; width:23px; height:23px; background:url(/images/plantao_enem/icon_rss.png) no-repeat}
#plantao .areatopo .area_logo {height:140px; width:100%; background:#0075d5; border-bottom:1px solid #006fca}
#plantao .areatopo .area_logo .arealogo940px {height:140px; width:940px; margin-left:auto; margin-right:auto}
#plantao .areatopo .area_logo .arealogo940px .logoprinc {width:200px; height:140px; float:left; background:url(/images/plantao_enem/logo_plantaodoenem.png) center left no-repeat}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno {width:400px; height:110px; float:right}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo {border:#3893de 1px solid; background:#2b87d2; height:auto; padding: 0 0 10px 0}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha01 {height:40px; line-height:40px; margin-left:15px}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02 {height:30px; margin-left:15px}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_1 {height:30px; width:155px; float:left}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_2 {height:30px; width:155px; float:left}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .alcampo .alclinha02_3 {height:30px; width:70px; float:right}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha {margin-top:10px}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbotarea {width:110px; height:25px; float:left; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin-right:10px; text-align:center}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbot {background:#0063b5; width:110px; height:25px; line-height:25px; float:left; -moz-border-radius: 2px; -webkit-border-radius: 2px;  background: #006ec9; background: -moz-linear-gradient(top, #0065b7, #006ec9); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0065b7), to(#006ec9)); border-radius: 2px; border: 1px solid #0f7bd5; color:#fffe8f}
#plantao .areatopo .area_logo .arealogo940px .areadoaluno .recupsenha .recbot:hover {background:#0063b5; width:110px; height:25px; line-height:25px; float:left; -moz-border-radius: 2px; -webkit-border-radius: 2px;  background: #1589e8; background: -moz-linear-gradient(top, #1589e8, #1589e8); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1589e8), to(#1589e8)); border-radius: 2px; border:#0073d1 solid 1px; color:#FFF}
#plantao .areatopo .area_menu {height:40px; width:100%; background:#e1e1e1 url(/images/plantao_enem/bg_menu.png)}
#plantao .areatopo .area_menu .am_940 {height:40px; width:940px; margin-left:auto; margin-right:auto}
#plantao .areatopo .area_menu .am_940 .am_bot1 {height:40px; width:auto; padding: 0 15px; background-color:#f1f1f2; border-right:#ccd3da 1px solid; border-left:#ccd3da 1px solid; float:left; text-align:center; line-height:40px; font-weight:bolder; color:#0075d5;  background: #f1f1f2; background: -moz-linear-gradient(top, #e3e7ea 10%, #f1f1f2); background: -webkit-gradient(linear, left top, left bottom, color-stop(.10, #e3e7ea), to(#f1f1f2)); text-shadow:#f1f1f2 1px 1px}
#plantao .areatopo .area_menu .am_940 .am_bot2 {height:40px; width:auto; padding: 0 15px; float:left; text-align:center; line-height:40px; color:#004883; text-shadow:#f1f1f2 1px 1px}
#plantao .areatopo .area_menu .am_940 .am_bot2:hover {height:40px; width:auto; float:left; text-align:center; line-height:40px; color:#e1e5e9;  background: #007ee6; background: -moz-linear-gradient(top, #0081eb 10%, #006dc6); background: -webkit-gradient(linear, left top, left bottom, color-stop(.10, #0081eb), to(#006dc6)); text-shadow:#006ac0 1px 1px}
#plantao .areabanners {height:380px; border-bottom:1px solid #e7e7e8; background:#f1f1f2; margin-bottom: 10px}
#plantao .areabanners_h {height:115px}
#plantao .areabanners .area_disciplinas {width:940px; height:73px; border:1px solid #ededee; background:#f6f6f6; margin-left:auto; margin-right:auto; clear:both}
#plantao .areabanners .area_banner {width:940px; height:224px; border:1px solid #ededee; background:#f6f6f6; margin-left:auto; margin-right:auto; clear:both}
#plantao .buttons_slide {width:940px; height:20px; margin-left:auto; margin-right:auto; clear:both; text-align:center; margin-top:10px}
#plantao .buttonbanner {width:940px; height:20px; margin-left:auto; margin-right:auto; clear:both; text-align:center}
#plantao .buttonbanner .areabutton1 {width:186px; height:66px; float:left}
#plantao .buttonbanner .areabutton2 {width:186px; height:66px; float:left}
#plantao .buttonbanner .areabutton3 {width:186px; height:66px; float:left}
#plantao .buttonbanner .areabutton4 {width:186px; height:66px; float:left}
#plantao .buttonbanner .areabutton5 {width:186px; height:67px; float:left}
#plantao .buttonbanner .areabutton5 .areabutton5-1 {width:186px; height:27px; float:left}
#plantao .buttonbanner .areabutton5 .areabutton5-1 .areabutton5-1-1 {width:93px; height:20px; float:left; padding:0px; margin:0px; line-height:0px}
#plantao .buttonbanner .areabutton5 .areabutton5-1 .areabutton5-1-2 {width:93px; height:20px; float:left; padding:0px; margin:0px; line-height:0px}
#plantao .buttonbanner .areabutton5 .areabutton5-2 {width:186px; height:20px; clear:both; float:left; padding:0px; margin:0px; line-height:0px}
#plantao .conteudo {width:940px; margin-left:auto; margin-right:auto; margin-bottom:80px}
#plantao .conteudo .tits1{ width:100%; height:30px; border-bottom: 2px solid #ebebeb; margin-bottom:20px}
#plantao .conteudo .coluna01 {width:620px; float:left}
#plantao .conteudo .c1_abas {border-bottom:1px solid #0075d5; margin-bottom:20px; height:31px}
#plantao .conteudo .c1_abas .c1a_a {height:30px; line-height:30px; text-align:center; background:#f3f3f3; margin:0 2px 0 0; float:left; border-top:#E8E8E8 solid 1px; color:#666; padding: 0 10px}
#plantao .conteudo .c1_abas .c1a_b {height:30px; line-height:30px; text-align:center; background:#0075d5; margin:0 2px 0 0; border-top:#0058a0 solid 1px; float:left; color:#FFF; text-shadow:#06C 1px 1px }
#plantao .conteudo .abas_scrollable {position: relative; overflow: hidden}
#plantao .conteudo .abas_scrollable_items {width: 20000em; position: absolute}
#plantao .conteudo .abas_scrollable_item {float: left}
#plantao .conteudo .coluna100 {width:100%; float:left}
 #plantao .conteudo .coluna01 .c1cursos_corp{ width:620px; height:100px; border-bottom:#f5f5f5 solid 1px; padding-top:10px}
#plantao .conteudo .coluna01 .c1cursos_corp100{ width:100%; height:auto}
#plantao .conteudo .coluna01 .c1cursos_corp:hover{ width:620px; height:100px; border-bottom:#ebebeb solid 1px; background:#f5f5f5;  background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5, #fafafa); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#fafafa))}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_img{ width:105px; float:left}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_txt_tit{ width:515px; height:25px; float:right}
#plantao .conteudo .coluna01 .c1cursos_corp .c1cursos_txt{ width:515px; float:right}
#plantao .conteudo .coluna02 {width:300px; float:right}
#plantao .conteudo .coluna02 .coluna02_cont {margin-bottom:20px}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp{ width:100%; height:60px; border-bottom:#f5f5f5 solid 1px; padding-top:10px}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp:hover{ width:100%; height:60px; border-bottom:#ebebeb solid 1px; background:#f5f5f5;  background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5, #fafafa); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), to(#fafafa)); color:#666}
#plantao .conteudo .coluna02 .coluna02_cont .c2cursos_corp .c2cursos_txt{ width:100%; float:right}
#plantao .rodape {width:100%; height:190px; border-top:1px solid #e7e7e8; background:#f1f1f2; clear:both}
#plantao .rodape .rp_tits {width:100%; height:30px; line-height:30px; border-bottom: 2px solid #ebebeb; margin-bottom:10px; margin-top:20px}
#plantao .rodape .arearod940px {width:940px; margin-left:auto; margin-right:auto}
#plantao .rodape .arearod940px .rod_logo {height:190px; width:145px; background:url(/images/plantao_enem/logo_plantaodoenem_cinza.png) no-repeat center; float:left}
#plantao .rodape .arearod940px .rod_social {height:190px; width:200px; margin-left:50px; margin-right:50px; float:left}
#plantao .rodape .arearod940px .rod_social .rod_social_facebook {width:100%; height:23px; line-height:23px; background:url(/images/plantao_enem/icon_facebook.png) no-repeat; padding-left:30px; margin-bottom:5px}
#plantao .rodape .arearod940px .rod_social .rod_soclial_twitter {width:100%; height:23px; line-height:23px; background:url(/images/plantao_enem/icon_twitter.png) no-repeat; padding-left:30px; margin-bottom:5px}
#plantao .rodape .arearod940px .rod_social .rod_soclial_rss {width:100%; height:23px; line-height:23px; background:url(/images/plantao_enem/icon_rss.png) no-repeat; padding-left:30px; margin-bottom:5px}
#plantao .rodape .arearod940px .termo {width:190px; height:190px; background:#f1f1f2; float:left; margin-right:50px}
#plantao .rodape .arearod940px .pays {width:255px; height:190px; float:left}
#plantao .rodape .arearod940px .pays .pagseguro {width:255px; height:100px; background:#f1f1f2; float:left; background:url(/images/plantao_enem/img_pays.png) no-repeat}
.zero {height:20px; clear:both; width:940px; margin-left:auto; margin-right:auto}
.fonte_cor_branco {color:#FFF}
.fonte_cor_azul1 {color:#47adff}
.fonte_cor_azul2 {color:#0074d3}
.fonte_cor_azul3 {color:#3893de}
.fonte_cor_cinza1 {color:#585858}
.fonte_cor_amarelo1 {color:#FC0}
.fonte_fam_ptsans {font-family: 'PT Sans Narrow', sans-serif}
.fonte_fam_roboto {font-family: 'Roboto Condensed', sans-serif}
.fonte_size_17 {font-size:17px}
.fonte_size_20 {font-size:20px}
.fonte_negrito {font-weight:bolder}
.link01 {color:#004883; text-shadow:#f1f1f2 1px 1px; text-decoration:none}
.link01:hover {color:#e1e5e9; text-shadow:#006ac0 1px 1px}
.link01:active {color:#004883; text-shadow:#f1f1f2 1px 1px}
.link02 {text-decoration:none}
.link02:hover {color:#03C; text-decoration:underline}
.link02:active {text-decoration:none}
.link03 {text-decoration:none; color:#fffe8f}
.link03:hover {color:#036; text-decoration:none}
.link03:active {text-decoration:none; color:#fffe8f}
.inputtext1 {background:#404040; border:0px; color:#888888; padding-left:10px}
.inputtext2 {background:#ffffff; border:0px; color:#8b8b8b; padding-left:10px}
.inputbutton1 {background:#4a4a4a; border:0px; color:#CCC; padding-left:10px; background:url(/images/plantao_enem/icon_busca.png) #303030 no-repeat center}
.inputbutton2 {background:#aed4ff; border:0px; color:#3784c2}
  .button {width: 176px; color:#039200; text-decoration: none; font-size: 12px; font-family: helvetica, arial; font-weight: bold; display: block; text-align: center; position: relative; padding-top:10px; padding-bottom:10px;  background: #e4e4e4; background: -moz-linear-gradient(top, #f3f3f3, #e4e4e4); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), to(#e4e4e4));  margin-top:8px; margin-left:10px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 0px solid #999; border-bottom: 3px solid #F90;  text-shadow: 1px 1px 1px #f7f7f7;  }
.button_verde {border-bottom:#648d56 3px solid; color:#648d56}
.button_azul {border-bottom:#62a6d2 3px solid; color:#62a6d2}
.button_laranja {border-bottom:#d68850 3px solid; color:#d68850}
.button_roxo {border-bottom:#4a485f 3px solid; color:#4a485f}
.button_marron {border-bottom:#b1865c 3px solid; color:#b1865c}
.button_rasa {border-bottom:#a15f7f 3px solid; color:#a15f7f}
.button_roxo {border-bottom:#4a485f 3px solid; color:#4a485f}
.button_cinza {border-bottom:#939597 3px solid; color:#939597}
.button_vermelho {border-bottom:#ce3b25 3px solid; color:#ce3b25}
 .button:hover {background: #648d56; background: -moz-linear-gradient(top, #587d4b, #648d56); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #587d4b), to(#648d56)); color:#e4ffe4; text-shadow: 1px 1px 1px #587d4b; border: 0px solid #7bd17b; border-bottom:#587d4b 3px solid}
  .button_azul:hover {background: #62a6d2; background: -moz-linear-gradient(top, #5898c2, #62a6d2); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5898c2), to(#62a6d2)); text-shadow: 1px 1px 1px #5898c2; border-radius: 2px; border-bottom:#4f8db5 3px solid; color:#f6fbff;  }
.button_laranja:hover {background: #d68850; background: -moz-linear-gradient(top, #c27843, #d68850); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c27843), to(#d68850)); text-shadow: 1px 1px 1px #c27843; border-radius: 2px; border-bottom:#c27843 3px solid; color:#fffbf8}
.button_roxo:hover {background: #4a485f; background: -moz-linear-gradient(top, #373359, #4a485f); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #373359), to(#4a485f)); text-shadow: 1px 1px 1px #373359; border-radius: 2px; border-bottom:#373359 3px solid; color:#e6e3ff}
.button_marron:hover {background: #b1865c; background: -moz-linear-gradient(top, #9c7651, #b1865c); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9c7651), to(#b1865c)); text-shadow: 1px 1px 1px #9c7651; border-radius: 2px; border-bottom:#9c7651 3px solid; color:#fffcf9}
.button_cinza:hover {background: #939597; background: -moz-linear-gradient(top, #838587, #939597); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #838587), to(#939597)); text-shadow: 1px 1px 1px #838587; border-radius: 2px; border-bottom:#838587 3px solid; color:#f2f9ff}
.button_vermelho:hover {background: #ce3b25; background: -moz-linear-gradient(top, #b2230e, #ce3b25); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2230e), to(#ce3b25)); text-shadow: 1px 1px 1px #b2230e; border-radius: 2px; border-bottom:#b2230e 3px solid; color:#ffe7e3}
 .button:active { color:#FFF; border-bottom:#003 3px solid}
  #alert {position: relative}
#alert:hover:after {background: hsla(0,0%,0%,.8); border-radius: 3px; content: 'Fechar'; font: bold 12px/30px sans-serif; height: 30px; left: 50%; margin-left: -60px; position: absolute; text-align: center; top: 50px; width: 120px}
#alert:hover:before {border-bottom: 10px solid hsla(0,0%,0%,.8); border-left: 10px solid transparent; border-right: 10px solid transparent; content: ''; height: 0; left: 50%; margin-left: -10px; position: absolute; top: 40px; width: 0}
#alert:target {display: none}
.alert {background-color: #f6c319; background-size: 20px 20px; font-family: 'PT Sans Narrow', sans-serif; font-size:20px; line-height:40px; box-shadow: 0 5px 0 hsla(0,0%,0%,.1); color: #735800; display: block; font: 16px/40px; height: 40px; position: absolute; text-align: center; text-decoration: none; top: -45px; width: 100%; -webkit-animation: alert 1s ease forwards; -moz-animation: alert 1s ease forwards; -ms-animation: alert 1s ease forwards; -o-animation: alert 1s ease forwards; animation: alert 1s ease forwards}
 @-webkit-keyframes alert {0% {opacity: 0}
50% {opacity: 1}
100% {top: 0}
}
@-moz-keyframes alert {0% {opacity: 0}
50% {opacity: 1}
100% {top: 0}
}
@-ms-keyframes alert {0% {opacity: 0}
50% {opacity: 1}
100% {top: 0}
}
@-o-keyframes alert {0% {opacity: 0}
50% {opacity: 1}
100% {top: 0}
}
@keyframes alert {0% {opacity: 0}
50% {opacity: 1}
100% {top: 0}
}
 div#categorias_tabs {margin-top: 25px}
 form.form_busca_home {width: 230px; float: left; margin: 0 0px 0 30px}
form.form_busca_home .campo_busca_home {padding: 4px 0; font-size: 12px; width: 150px}
form.form_busca_home .btn-busca-home {width: 70px; padding: 5px 0}
p.material-apoio {font-size: 16px; margin: 10px 0 0 0}
p.material-apoio + p {font-size: 14px; color: blue !important; margin: 10px 0}
.parceiros_home li {list-style-type: none}
.isloading-wrapper.isloading-right {margin-left: 10px}
.isloading-overlay {position: relative; text-align: center}
.isloading-overlay .isloading-wrapper {background: #FFFFFF; -webkit-border-radius: 7px; -webkit-background-clip: padding-box; -moz-border-radius: 7px; -moz-background-clip: padding; border-radius: 7px; background-clip: padding-box; display: inline-block; margin: 0 auto; padding: 10px 20px; top: 10%; z-index: 9000}
div.conteudo_geral {width: 940px; margin: 0 auto; padding: 40px 0; height: auto}
div.sobre {margin-top: 30px}
div.principal {width: 620px; height: auto; float: left; padding: 30px 0 0 0}
div.col3_interna {width: 300px; height: auto; float: right; padding: 30px 0 0 0}
 div.conteudo_geral h2 {font-size: 30px; font-weight: normal; margin-bottom: 5px; font-family: 'Roboto Condensed',sans-serif; color: #585858; border-bottom: 2px solid #EBEBEB; padding-bottom: 5px}
 div.busca {background: none repeat scroll 0 0 #ECECEC; border: 1px solid #D8D8D8; margin: 0 0 20px; padding: 15px; width: 588px}
form.form_busca fieldset legend, form.form_busca fieldset label.label_busca {display: none}
form.form_busca fieldset p {padding: 0 0 10px}
form.form_busca fieldset label {color: #696969; font-size: 12px; font-weight: bold}
form.form_busca fieldset input.campo_busca {border: 1px solid #9D9D9D; color: #666666; height: 27px; padding: 0 3px; width: 475px}
input.btn_logar {width: 100px; height: 31px; padding-left: 11px; font-size: 14px;}
  .button2 {display: inline-block; zoom: 1;  *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 12px/100% Arial, Helvetica, sans-serif; text-transform: uppercase; padding: .5em 1.5em .55em; text-shadow: 0 1px 1px rgba(0,0,0,.3); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2)}
.button2:hover {text-decoration: none; color: #fff}
.button2:active {position: relative; top: 1px}
  .gray {color: #fff; border: solid 1px #a0a0a0; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#676767)); background: -moz-linear-gradient(top, #bababa, #676767); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#676767')}
.gray:hover {background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#515151)); background: -moz-linear-gradient(top, #a6a6a6, #515151); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#515151')}
.gray:active {color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#bababa)); background: -moz-linear-gradient(top, #676767, #bababa); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#bababa')}
 .green2 {color: #fff; border: solid 1px #a0a0a0; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#77ae00), to(#4c7000)); background: -moz-linear-gradient(top, #77ae00, #4c7000); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ae00', endColorstr='#4c7000')}
.green2:hover {background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#679600), to(#426100)); background: -moz-linear-gradient(top, #679600, #426100); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#679600', endColorstr='#426100')}
.green2:active {color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#4c7000), to(#77ae00)); background: -moz-linear-gradient(top, #4c7000, #77ae00); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c7000', endColorstr='#77ae00')}
  div.conteudo_contato {margin: 20px 0 0}
div#container_contato {background: none repeat scroll 0 0 #ECECEC; border: 1px solid #D8D8D8; float: left; padding: 20px; width: 475px}
div.conteudo_cadastro form p, div#container_contato form p {margin: 0 0 15px}
div#container_contato form p label {display: block; float: left; font-size: 13px; line-height: 28px; padding: 0 5px 0 0; text-align: right; width: 60px}
div.conteudo_cadastro form p input.campo, div#container_contato form p input.campo {border: 1px solid #9D9D9D; color: #666666; height: 27px; padding: 0 3px; width: 400px}
div#container_contato form p textarea {border: 1px solid #9D9D9D; color: #666666; height: 100px; width: 400px}
div.info_extras h3 {color: #696969; font-size: 15px; line-height: 20px; margin: 0 0 10px}
div.info_extras {float: right; width: 400px}
div.acompanhe {float: left; margin: 13px 0 20px 30px; width: 150px}
div.acompanhe ul li {display: inline-block; margin: 0}
 div.assinatura_bloco {width: 200px; height: auto; float: left; margin: 20px 10px 0 0; background: none repeat scroll 0 0 #f3f3f3; border: 1px solid #D8D8D8; padding: 10px}
div.assinatura_bloco div.box_assinatura {min-height: 300px; position: relative}
div.assinatura_bloco div.box_assinatura h2 {font-size: 28px; text-align: center; padding: 5px 0 10px 0; margin-bottom: 10px; border-bottom: 1px solid #ccc; letter-spacing: -1px;  }
 div.assinatura_bloco div.box_assinatura h2.tit_assinatura_bronze {color: #c06b19;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_prata {color: #a7a7a7;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_ouro {color: #d1bb00;}
div.assinatura_bloco div.box_assinatura h2.tit_assinatura_platina {color: #d9d9d9;}
div.assinatura_bloco div.box_assinatura p.preco {font-size: 20px; margin-bottom: 5px; text-align: center; font-weight: bold; color: #0074D3; background: #fff; padding: 8px 0; letter-spacing: -1px}
div.assinatura_bloco div.box_assinatura div.ressalva {font-size: 11px; margin-bottom: 10px; color: #666; padding: 0 5px}
div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora {padding: 5px 0 10px 0; margin: 0}
div.assinatura_bloco div.box_assinatura div.ressalva ul.cursos_fora li {padding: 3px 0; list-style-type: circle; margin: 0}
div.assinatura_bloco div.box_assinatura div.ressalva span {font-weight: bold}
div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura {font-size: 12px; margin: 15px 0 15px 7px; width: 190px}
div.assinatura_bloco div.box_assinatura ul.vantagens_assinatura li {border-bottom: 1px solid #ccc; padding: 7px 0 7px 20px; background: url(../../images/check.png) 0 center no-repeat; line-height: 16px; color: #585858}
div.assinatura_bloco div.box_assinatura p.acao {text-align: center; position: absolute; bottom: 0; left: 45px}
div.assinatura_bloco div.box_assinatura p.acao a {width: 70px; font-size: 13px; font-weight: bold}
 ul.lista_cursos_assinatura {margin: 20px 0 0 0}
ul.lista_cursos_assinatura li {margin: 0 0 10px 0; font-size: 13px; list-style-type: decimal; list-style-position: inside}
 div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_de {color: #2768b7; font-size: 13px; color: red; text-decoration: line-through; font-weight: bold}
div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_por {color: #696969; font-size: 20px; font-weight: bold}
 div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco {color: #E13A36; font-size: 20px; font-weight: bold; display: block; padding: 15px 0 15px 0}
div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p span.preco{ color: #696969; font-size: 20px; font-weight: bold; display: block; padding: 15px 0 15px 0}
div.exibi_cursos div.resumo div.detalhes a.btn_comprar {width: 80px; font-size: 14px;}
div.exibi_cursos div.resumo div.detalhes_presencial a.btn_comprar {width: 210px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 200px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 190px; font-size: 18px; float: right}
div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos{ margin: 5px 0 0 0; color: #666; font-size: 12px; font-weight: bold}
div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos img{ margin: 5px 0 0 0}
span.btn_voltar {display: block; height: 18px; background: url(../images/btn_voltar.gif) left 0 no-repeat; padding: 0 0 0 25px; font-size: 12px; margin: 0 0 20px 0; line-height: 19px; font-weight: bold}
span.btn_voltar a {text-decoration: none;}
span.btn_voltar a:hover {text-decoration: underline;}
div.exibi_cursos div.descricao_curso {margin: 30px 0 0px 0; padding: 10px 0 0 0; border-top: 1px solid #d8d8d8}
div.exibi_cursos div.descricao_curso h4 {font-size: 16px; color: #696969}
div.exibi_cursos div.descricao_curso h4 span{ }
div.exibi_cursos div.descricao_curso p{ padding: 5px 0 0 0; font-size: 13px; line-height: 18px; color: #6d6d6d}
 div.meus_cursos {}
div.meus_cursos ul {}
div.meus_cursos ul li {padding: 0 0 20px 0; color: #666; font-size: 13px; line-height: 20px}
div.meus_cursos ul li a {font-size: 16px; font-weight: bold}
div.meus_cursos ul li span {font-weight: bold}
 div.lista_aulas_curso {width: 280px; height: auto; margin: 30px 0 0 0}
div.lista_aulas_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.lista_aulas_curso ul li, div.lista_aulas_curso ol li {border-bottom: 1px solid #D8D8D8; padding: 10px 0;}
div.lista_aulas_curso ul li p a {font-size: 13px; font-weight: bold;}
div.lista_aulas_curso ul li p a img {float: left; margin: 0 10px 0 0;}
div.lista_aulas_curso ul li p {font-size: 12px; line-height: 18px;}
div.lista_aulas_curso ul li p span {font-weight: bold;}
div.info_curso {margin: 20px 0 0 0; background: #ebebeb; padding: 5px;}
div.info_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.info_curso p {font-size: 13px;}
div.lista_aulas_curso ol li {font-size: 13px; line-height: 18px; list-style-position: outside}
 div.video {margin: 0px 0 0 0;}
 ul.lista_cursos_pacote {height: auto}
ul.lista_cursos_pacote li{ height: auto; width: 590px; display: block; float: left; padding: 5px; margin: 10px 0 0 0; background: #e8e8e8; font-size: 0.75em; text-decoration: none; color: #2768b7}
ul.lista_cursos_pacote li span.thumb {width: 90px; height: 70px; display: block; float: left; margin: 0 5px 0 0}
ul.lista_cursos_pacote li p{ width: 495px; height: auto; float: left}
ul.lista_cursos_pacote li p span.nome_curso_pct {font-weight: bold; font-size: 15px; color: #E13A36}
ul.lista_cursos_pacote li p span.desc_curso_pct {line-height: 16px}
ul.lista_cursos_pacote li p span.prof_curso_pct {font-weight: bold}
 span.btn_redes_sociais {display: block; width: 190px; height: 30px; margin: 10px 0 0 0}
span.btn_redes_sociais span.btn_tweet {display: block; width: 100px; height: 30px; float: left}
span.btn_redes_sociais span.btn_facebook {display: block; width: 80px; height: 30px; float: left; margin-left: 10px}
 div.produtos {width: 620px; height: auto; margin-top: 30px; float: left}
div.produtos h2 {margin-bottom: 10px}
ul.categorias-produto {width: 620px; height: auto; border-bottom: 2px solid #711103}
ul.categorias-produto li {display: inline-block; padding: 10px 7px 8px 7px; background: #e9e9e9; font-size: 13px; font-weight: bold}
ul.categorias-produto li.ativo {background: #711103}
ul.categorias-produto li a {color: #696969}
ul.categorias-produto li.ativo a {color: #fff}
div.lista-produtos {width: 620px; height: auto}
 div.col3 {width: 300px; height: auto; float: right; margin-top: 30px}
div.col3 div.noticias_home {width: 300px; height: auto}
div.col3 div.noticias_home ul {font-size: 12px; line-height: 1.4em; color: #333}
div.col3 div.noticias_home ul li {padding: 8px 0 10px 0; color: #666666; border-bottom: 1px solid #D8D8D8}
div.col3 div.noticias_home ul li a{ font-weight: bold}
 div.recuperar_senha {font-size: 13px}
div.recuperar_senha p.campo_email {margin: 10px 0}
div.recuperar_senha p.campo_email input {width: 400px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
 div#box_login, div#box_pre_cadastro {width: 400px; height: 190px; float: left; font-size: 13px; padding: 15px; margin-top: 20px}
.marg {margin: 10px 0}
div#box_pre_cadastro {float: right}
div#box_login h3, div#box_pre_cadastro h3 {font-size: 15px; color: #696969; text-transform: uppercase; margin: 0 0 15px 0; letter-spacing: -1px}
div#box_login form p.bl, div#box_pre_cadastro form p.bl {margin: 10px 0}
div#box_login form label.field, div#box_pre_cadastro form label.field {display: block; width: 50px; float: left; padding: 8px 0 0 0}
div#box_login form input.campo_texto, div#box_pre_cadastro form input.campo_texto {width: 200px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
 span.fieldWithErrors {height: 50px; position: relative}
span.fieldErrorMessage {color: red; font-size: 11px; background: #fff4ab; padding: 3px; bottom:0; left: 65px}
div.caixa_newsletter span.flash_error {display: block; padding: 5px; margin: 10px 0; background: #fffeea; border: 1px solid #fac693; text-align: center; font-size: 13px}
 div.conteudo div#flash_message {width: 940px; height: 23px; margin: 0 0 20px 0; padding: 9px 0 0 0; background: #fffeea; border: 1px solid #fac693; text-align: center; font-size: 13px}
 div.conteudo_termos {font-size: 13px; line-height: 18px; color: #666; padding: 30px 0 0 0}
div.conteudo_termos h4{ font-size: 15px; font-weight: bold; margin-top: 0px}
div.conteudo_termos ul{ margin: 0 0 30px 20px}
div.conteudo_termos ul li{ list-style-type: decimal; list-style-position: outside}
 div.conteudo_cadastro form {margin: 20px 0 0 0}
div.conteudo_cadastro form p.atencao_cadastro {padding: 0 0 10px 20px; font-size: 12px}
div.conteudo_cadastro form p.atencao_cadastro span {font-weight: bold; font-size: 15px}
div.conteudo_cadastro form div{ width: 910px}
div.conteudo_cadastro form div p.bl1 {width: 280px; float: left}
div.conteudo_cadastro form div p.bl2 {width: 320px; float: left}
div.conteudo_cadastro form div p.bl1 label {display: block; width: 140px; float: left}
div.conteudo_cadastro form div p.bl2 label {display: block; width: 140px; float: left}
div.conteudo_cadastro form div p.bl1 label.label_senha_2 {width: 150px}
div.conteudo_cadastro form p input.campo_senha {width: 110px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
div.conteudo_cadastro form p, div#container_contato form p {margin: 0 0 15px 0}
div.conteudo_cadastro form p label {display: block; float: left; width: 140px; font-size: 13px; line-height: 28px; text-align: right; padding: 0 5px 0 0}
div#container_contato form p label {display: block; float: left; width: 60px; font-size: 13px; line-height: 28px; text-align: right; padding: 0 5px 0 0}
div.conteudo_cadastro form div p label#label_radio {width: auto; float: none; clear: none; display: inline}
div.conteudo_cadastro form p input.campo, div#container_contato form p input.campo {width: 400px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
div.conteudo_cadastro form div p input.campo_cep {width: 100px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
div.conteudo_cadastro form div p a.texto_cep {font-size: 12px}
div#container_contato form p textarea {width: 400px; height: 100px; border: 1px solid #9D9D9D; color: #666}
div.aceito_receber {width: 100px; margin: 15px 0; padding: 0 0 0 123px; font-size: 13px}
 div.container-abas {position: relative}
div.container-abas a.prev, div.container-abas a.next {display: block; width: 50px; height: 14px; position: absolute; top: -20px; padding-top: 2px; z-index: 99999999; cursor: pointer; background: url(../../images/plantao_enem/prev-next-azul.png) 0 center no-repeat}
div.container-abas a.prev {left: 0; background-position: 0 0; padding-left: 20px}
div.container-abas a.next {right:0; text-align: right; background-position: 54px -16px; padding-right: 20px}
 div.carousel_pagination {width: 920px; height: 35px; text-align: center; margin: 0 auto}
div.carousel_pagination ul#carousel_navigation {padding-top: 15px}
div.carousel_pagination ul#carousel_navigation li {display: inline-block; margin: 0 4px}
div.carousel_pagination ul#carousel_navigation li a {background: url("../../images/bullets.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; overflow: hidden; padding: 0; text-indent: -999em; width: 16px}
div.carousel_pagination ul#carousel_navigation li.activeSlide a {background-position: -16px 0}
div.exibi_cursos h2 {text-transform: none; margin: 0 0 25px 0}
div.ordenacao {background: none repeat scroll 0 0 #ECECEC; border: 1px solid #D8D8D8; margin: 10px 0 20px 0; padding: 10px; width: 598px; font-size: 12px}
div.ordenacao div label {color: #666666; font-size: 12px; font-weight: bold}
div.ordenacao div.ordem {width: 290px; float: left}
div.ordenacao div.visualizacao {width: 250px; text-align: right; padding: 0 15px 0 0; float: right}
 ul.lista_cursos {height: auto; width: 620px}
ul.lista_cursos li {border-bottom: 1px solid #D8D8D8; width: 620px}
ul.lista_cursos li a {height: 70px; width: 610px; display: block; padding: 11px 5px 5px 5px; margin: 0; font-size: 0.75em; text-decoration: none; color: #E13A36}
ul.lista_cursos li:hover {background: #ECECEC}
ul.lista_cursos li a p.thumb {width: 90px; height: 70px; display: block; float: left; margin-right: 10px}
ul.lista_cursos li a p.desc_curso {margin-left: 5px; line-height: 1.4em; font-weight: bold; font-size: 16px; color: #0074D3}
ul.lista_cursos li a p.desc_curso span {line-height: 1.4em; font-weight: normal; font-size: 12px; color: #666}
ul.lista_cursos li a p.desc_curso span.tit-list-curso {font-size: 14px}
ul.lista_cursos li a p.desc_curso span.expiracao {color: #000; font-weight: bold}
ul.lista_cursos li.item_pacote a {background: #000}
 div.paginacao {margin: 20px 0 20px 0; font-size: 12px; color: #848484; font-weight: bold}
div.paginacao a, div.paginacao span.current, div.paginacao span.prev_page, div.paginacao span.next_page {display: inline-block; margin: 0 10px 0 0; border-right: 1px solid #ccc; padding: 0 10px 0 0}
div.paginacao a {text-decoration: none;}
div.paginacao span.current {color: #848484;}
div.paginacao a.next_page, div.paginacao span.next_page {border: none;}
 div.exibi_cursos div.resumo div.video {width: 400px; height: auto; padding: 0px; float: left}
 div.exibi_cursos div.resumo div.video_assistir {width: 600px; height: auto; padding: 0px; float: left}
div.exibi_cursos div.resumo div.video span {display: block; color: #696969; font-weight: bold; margin: 5px 0; text-align: left; font-size: 12px}
div.exibi_cursos div.resumo div.video_assistir span {display: block; color: #696969; font-weight: bold; margin: 10px 0 5px 0; text-align: left}
div.exibi_cursos div.resumo div.detalhes {width: 210px; height: auto; float: right; padding-top: 22px}
div.exibi_cursos div.resumo div.img_curso_presencial {width: 340px; height: auto; float: left; background: #ccc; margin: 0 10px 0 0}
div.exibi_cursos div.resumo div.detalhes_presencial {width: 250px; height: auto; float: left}
div.exibi_cursos div.resumo div.detalhes div.detalhes_info, div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info {height: auto; padding: 10px; background: #e6e6e6; border: 1px solid #d3d3d3}
div.exibi_cursos div.resumo div.detalhes div.detalhes_info h4, div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info h4 {color: #696969;}
div.exibi_cursos div.resumo div.detalhes div.detalhes_info p, div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p {color: #666; line-height: 22px; font-size: 15px; margin: 10px 0}
 div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_de {color: #2768b7; font-size: 13px; color: red; text-decoration: line-through; font-weight: bold}
div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco_por {color: #696969; font-size: 20px; font-weight: bold}
 div.exibi_cursos div.resumo div.detalhes div.detalhes_info p span.preco {color: #0074D3; font-size: 20px; font-weight: bold; display: block; padding: 15px 0 15px 0}
div.exibi_cursos div.resumo div.detalhes_presencial div.detalhes_info p span.preco{ color: #696969; font-size: 20px; font-weight: bold; display: block; padding: 15px 0 15px 0}
div.exibi_cursos div.resumo div.detalhes a.btn_comprar {width: 80px; font-size: 14px;}
div.exibi_cursos div.resumo div.detalhes_presencial a.btn_comprar {width: 210px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 200px;}
div.conteudo_carrinho div.controles a.btn_comprar {width: 190px; font-size: 18px; float: right}
 div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos{ margin: 5px 0 0 0; color: #666; font-size: 12px; font-weight: bold}
div.exibi_cursos div.resumo div.detalhes div.nos_aceitamos img{ margin: 5px 0 0 0}
span.btn_voltar {display: block; height: 18px; background: url(../../images/btn_voltar.gif) left 0 no-repeat; padding: 0 0 0 25px; font-size: 12px; margin: 0 0 20px 0; line-height: 19px; font-weight: bold}
span.btn_voltar a {text-decoration: none;}
span.btn_voltar a:hover {text-decoration: underline;}
div.exibi_cursos div.descricao_curso {margin: 30px 0 0px 0; padding: 10px 0 0 0; border-top: 1px solid #d8d8d8}
div.exibi_cursos div.descricao_curso h4 {font-size: 16px; color: #696969}
div.exibi_cursos div.descricao_curso h4 span{ }
div.exibi_cursos div.descricao_curso p{ padding: 5px 0 0 0; font-size: 13px; line-height: 18px; color: #6d6d6d}
 div.meus_cursos {}
div.meus_cursos ul {}
div.meus_cursos ul li {padding: 0 0 20px 0; color: #666; font-size: 13px; line-height: 20px}
div.meus_cursos ul li a {font-size: 16px; font-weight: bold}
div.meus_cursos ul li span {font-weight: bold}
 div.lista_aulas_curso {width: 280px; height: auto; margin: 30px 0 0 0}
div.lista_aulas_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.lista_aulas_curso ul li, div.lista_aulas_curso ol li {border-bottom: 1px solid #D8D8D8; padding: 10px 0;}
div.lista_aulas_curso ul li p a {font-size: 13px; font-weight: bold;}
div.lista_aulas_curso ul li p a img {float: left; margin: 0 10px 0 0;}
div.lista_aulas_curso ul li p {font-size: 12px; line-height: 18px;}
div.lista_aulas_curso ul li p span {font-weight: bold;}
div.info_curso {margin: 20px 0 0 0; background: #ebebeb; padding: 5px;}
div.info_curso h3 {color: #092C66; margin: 0 0 10px 0;}
div.info_curso p {font-size: 13px;}
div.lista_aulas_curso ol li {font-size: 13px; line-height: 18px; list-style-position: outside}
 div.video {margin: 0px 0 0 0;}
 ul.lista_cursos_pacote {height: auto}
ul.lista_cursos_pacote li{ height: auto; width: 590px; display: block; float: left; padding: 5px; margin: 10px 0 0 0; background: #e8e8e8; font-size: 0.75em; text-decoration: none; color: #2768b7}
ul.lista_cursos_pacote li span.thumb {width: 90px; height: 70px; display: block; float: left; margin: 0 5px 0 0}
ul.lista_cursos_pacote li p{ width: 495px; height: auto; float: left}
ul.lista_cursos_pacote li p span.nome_curso_pct {font-weight: bold; font-size: 15px; color: #E13A36}
ul.lista_cursos_pacote li p span.desc_curso_pct {line-height: 16px}
ul.lista_cursos_pacote li p span.prof_curso_pct {font-weight: bold}
 span.btn_redes_sociais {display: block; width: 190px; height: 30px; margin: 10px 0 0 0}
span.btn_redes_sociais span.btn_tweet {display: block; width: 100px; height: 30px; float: left}
span.btn_redes_sociais span.btn_facebook {display: block; width: 80px; height: 30px; float: left; margin-left: 10px}
 div.resumo_usuario{ font-family: Arial; font-size: 12px; line-height: 18px; background: none repeat scroll 0 0 #ECECEC; border: 1px solid #D8D8D8; padding: 15px 15px 0 15px}
div.resumo_usuario p span, p.validade_curso span{ font-weight: bold; color: #0074D3}
p.validade_curso{ font-family: Arial; font-size: 12px; margin: 0 0 10px 0; color: #6D6D6D}
 div.cursos_online_top5 {width: 620px; height: auto; margin-top: 30px; float: left; position: relative}
ul.lista_cursos_home {height: auto; width: 620px}
ul.lista_cursos_home li {border-bottom: 1px solid #D8D8D8; width: 620px; padding: 10px 0}
ul.lista_cursos_home li:hover {background: #f3f3f3}
ul.lista_cursos_home li p.thumb {width: 90px; height: 70px; display: block; float: left; margin-right: 10px}
ul.lista_cursos_home li p.desc_curso {font-size: 12px; margin-left: 5px; line-height: 1.4em; color: #666666}
ul.lista_cursos_home li p.desc_curso:hover {color: #0074D3}
ul.lista_cursos_home li p.desc_curso a {line-height: 1.4em; font-weight: bold; font-size: 16px; color: #0074D3}
div.acoes-player {margin: 10px 0}
.next-video-button, .previous-video-button {padding: 5px 10px}
div.exibir_professores ul.lista_professores li {width: 100%; height: auto; margin: 0 0 40px 0}
div.exibir_professores ul.lista_professores li:hover {background: #f3f3f3; color: #0074D3}
div.exibir_professores ul.lista_professores li p.foto, div.exibir_professores ul.lista_professor li p.foto {width: 80px; height: 100px; float: left; margin: 0 10px 0 0}
div.exibir_professores ul.lista_professores li p.foto img, div.exibir_professores ul.lista_professor li p.foto img {width: 80px; height: 100px}
div.exibir_professores ul.lista_professores li div.desc_professor, div.exibir_professores ul.lista_professor li div.desc_professor {width: 510px; height: auto; font-size: 12px; line-height: 18px; float: left; color: #666}
div.exibir_professores ul.lista_professores li div.desc_professor p.nome, div.exibir_professores ul.lista_professor li div.desc_professor p.nome {font-size: 18px; font-weight: bold; color: #0074D3}
div.exibir_professores ul.lista_professores li div.desc_professor p span, div.exibir_professores ul.lista_professor li div.desc_professor p span {font-weight: bold}
div.exibir_professores ul.lista_professor li {width: 100%; height: auto; padding: 0 0 20px 0}
div.exibi_parceiros {}
div.exibi_parceiros ul.lista_parceiros{ margin: 0 0 0 0; padding: 0 0 0 0}
div.exibi_parceiros ul.lista_parceiros li{ border-bottom: 1px solid #D8D8D8; color: #666666; font-size: 13px; height: auto; line-height: 17px; padding: 15px 0; width: 620px}
div.exibi_parceiros ul.lista_parceiros li:hover {background: #f3f3f3; color: #0074D3}
div.exibi_parceiros ul.lista_parceiros li a {font-size: 14px; font-weight: bold; color: #0074D3}
div.exibi_parceiros ul.lista_parceiros li p.thumb{ width: 90px; height: 70px; float: left}
div.exibi_parceiros ul.lista_parceiros li p.desc_parceiro{ width: 495px; height: auto; float: left; padding: 0 0 0 10px}
div.exibi_parceiros div.conteudo_parceiro {font-size: 12px}
div.exibi_parceiros div.conteudo_parceiro h4 {font-size: 15px; margin: 20px 0 0 0; color: #092c66}
div.exibi_parceiros div.conteudo_parceiro p {color: #666666; font-size: 13px; line-height: 18px; margin: 0px 10px 20px 0}
div.exibi_parceiros div.conteudo_parceiro p img {float: left; margin: 0 10px 5px 0}
div.exibir_noticias{ }
div.exibir_noticias p.tags {font-size: 12px; margin-bottom: 20px; margin-top: -15px}
div.exibir_noticias div.ordenacao {margin: 0px 0 30px 0;}
div.exibir_noticias div.ordenacao label {color: #666666; font-size: 12px; font-weight: bold}
div.exibir_noticias ul.lista_noticias{ margin: 0 0 0 0; padding: 0 0 0 0}
div.exibir_noticias ul.lista_noticias li{ padding: 15px 0; width: 100%; height: auto; font-size: 13px; line-height: 17px; color: #666; border-bottom: 1px solid #D8D8D8; width: 620px}
div.exibir_noticias ul.lista_noticias li:hover{ background: #f3f3f3; color: #0074D3}
div.exibir_noticias ul.lista_noticias li a{ font-size: 14px; font-weight: bold}
div.exibir_noticias ul.lista_noticias li a:hover{ color: #0074D3}
div.exibir_noticias ul.lista_noticias li p.thumb{ width: 90px; height: 70px; float: left}
div.exibir_noticias ul.lista_noticias li p.desc_noticia{ height: auto; float: left; padding: 0 0 0 10px; width: 520px}
div.exibir_noticias ul.lista_noticias li p.desc_noticia a{ color: #0074D3}
div.exibir_noticias ul.lista_noticias li p:hover{ color: #0074D3}
div.exibir_noticias ul.lista_noticias li p.desc_noticia span{ font-size: 11px; font-style: italic; color: #000; font-weight: bold}
 ul.paginacao {margin: 20px 0 0px 0; font-size: 12px; color: #848484; font-weight: bold}
ul.paginacao li {display: inline-block; margin: 0 10px 0 0; border-right: 1px solid #ccc; padding: 0 10px 0 0}
ul.paginacao li a {text-decoration: none;}
ul.paginacao li a#ativo {color: #848484;}
ul.paginacao li.ultimo {border: none;}
div.noticia h3{ font-size: 20px; margin: 30px 0 10px 0; color: #0074D3}
div.noticia div.tags_noticias{ margin: 0px 10px 10px 0; color: #666; font-size: 13px; line-height: 18px}
div.noticia div.tags_noticias a {margin-right: 5px}
div.noticia img{ margin: 0px 10px 0px 0; float: left}
div.noticia p{ margin: 0px 10px 20px 0; color: #666; font-size: 13px; line-height: 18px}
div.conteudo_contato {margin: 20px 0 0 0}
div#container_contato {width: 475px; float: left; background: #ececec; border: 1px solid #d8d8d8; padding: 20px}
div.info_extras {width: 400px; float: right}
div.info_extras h3{ font-size: 15px; color: #696969; margin: 0 0 10px 0; line-height: 20px}
div.info_extras p {font-size: 22px; color: #0074D3; width: 300px; height: 50px; margin: 0 0 0px 0; line-height: 20px}
div.info_extras p span{ display: block; width: 100px; height: auto; float: left; margin: 0 30px 0 0}
form p.botao {margin: 30px 0 0 0; text-align: center; height: 32px}
form p.botao input {width: 120px; height: 32px; background: url(../../images/botao_enviar_mensagem.png) 0 0}
form p.botao input.enviando {background: url(../../images/botao_enviar_mensagem.png) 0 32px}
 div.conteudo_cadastro div.alteracao_dados p.nome_login {font-size: 13px; padding: 8px 0 0 0; clear: right; font-weight: bold}
div.conteudo_cadastro div.alteracao_dados p.endereco_campo input {border: 1px solid #9D9D9D; color: #666666; height: 27px; padding: 0 3px; width: 400px}
 div.alterar_senha form p {margin: 0 0 15px 0}
div.alterar_senha form p label {display: block; float: left; width: 90px; font-size: 13px; line-height: 28px; text-align: left; padding: 0 5px 0 0}
div.alterar_senha form p input.campo {width: 400px; border: 1px solid #9D9D9D; color: #666; height: 27px; padding: 0 3px 0 3px}
 div.cadastro_sucesso h2 {margin: 0 0 10px 0}
div.cadastro_sucesso p {line-height: 18px; font-size: 13px; color: #666; margin: 10px 0 0 0}
div.cadastro_sucesso p span {color: #092C66; font-size: 15px; font-weight: bold}
  div.conteudo_cadastro, div.recuperar_senha, div.box_acesso_restrito {background: none repeat scroll 0 0 #f3f3f3; border: 1px solid #D8D8D8; color: #696969}
div.conteudo_cadastro {margin: 30px 0 40px 0; padding: 0 10px 0px 10px}
div.recuperar_senha {margin: 30px 0 0 0; padding: 15px}
div.conteudo_carrinho {margin: 30px 0 0 0}
div.conteudo_carrinho table, div.registros table {width: 100%; font-size: 13px; margin: 0 0 0px 0}
div.conteudo_carrinho table td, div.registros table td {border: 1px solid #ccc; border-width: 0px 0 1px; padding: 0 0 0 5px}
div.conteudo_carrinho table td.acao, div.conteudo_carrinho table td.quantidade {width: 15%; padding: 7px 0 5px 5px; border-left: 1px solid #ccc}
div.conteudo_carrinho table td.preco{ width: 15%; padding: 7px 5px 5px 5px; border-left: 1px solid #ccc; text-align: right}
div.conteudo_carrinho table td.resultado{ width: 15%}
div.conteudo_carrinho table td.total_texto{ text-align: right}
div.conteudo_carrinho table td.item_cabecalho, div.conteudo_carrinho table td.item_cabecalho_primeiro {font-weight: bold; font-size: 16px; background: #f7f7f7; padding: 5px 0 5px 5px; border-left: 1px solid #ccc; border-top: 1px solid #ccc}
div.conteudo_carrinho table td.item_cabecalho_primeiro{ padding: 5px 0 0 5px; border-left: 0px}
div.conteudo_carrinho table td.total_texto{ font-weight: bold; font-size: 14px; padding: 25px 0px 0 0}
div.conteudo_carrinho table td.total_valor{ font-weight: bold; font-size: 14px; padding: 25px 5px 0 0; color: #2c69c2; text-align: right}
div.conteudo_carrinho table td.total_desconto{ font-weight: bold; font-size: 14px; padding: 25px 5px 0 0; color: green; text-align: right}
div.conteudo_carrinho div.controles a.btn_comprar_mais {float: left}
div.conteudo_carrinho div.controles a.btn_pagar {float: right; margin-right: 10px}
form.pagseguro {margin: 30px 0 0 0}
 div.registros table td {padding: 9px 0 5px 5px}
div.registros table td.meio {border: 1px solid #ccc; border-width: 0 1px 1px 1px}
div.registros table td.data_ped, div.registros table td.status_ped, div.registros table td.detalhes_ped, div.registros table td.data_ped2, div.registros table td.status_ped2, div.registros table td.detalhes_ped2 {font-weight: bold; font-size: 16px; background: #f7f7f7; padding: 5px 0 5px 5px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; width: 60%}
div.registros table td.data_ped {width: 60%}
div.registros table td.status_ped, div.registros table td.detalhes_ped {width: 20%}
div.registros table td.data_ped2, div.registros table td.status_ped2 {width: 30%}
div.registros table td.detalhes_ped2 {width: 40%}
.btn_pagar_res_pedido {width: 120px; float: right; margin: 20px 0 0 0}
div.desconto {width: 935px; height: 30px; padding: 10px 0 0 5px; background: #f7f7f7; margin: 20px 0; border: 1px solid #CCCCCC; border-width: 1px 0}
div.desconto form label {padding: 0px 10px 0 0px; font-size: 16px; font-weight: bold}
div.desconto form input.btn_usar_desconto {width: 100px; margin: 0 10px 0 10px}
 ul.passos_compra {border: 1px solid #ccc; border-width: 1px 0; margin: 0 0 20px 0}
ul.passos_compra li {list-style-type: none; display: inline-table; padding: 8px 15px 7px 10px; color: #333}
ul.passos_compra li.tit_passos {color: #2768B7; font-weight: bold}
ul.passos_compra li#atual {color: #fff; font-weight: bold; background: url(../../images/passos_prox.png) #2768B7 right 0 no-repeat}
 a.voltar_comprar {display: block; width: 160px}
 div.feedback {padding: 10px; background: #f3f3f3; border: 1px solid #ccc; color: #585858}
div.feedback h2 {margin-bottom: 15px}
div.feedback p {line-height: 18px; font-size: 14px}
div.feedback p span.pagseguro {font-size: 18px; color: #449C38; font-weight: bold}
 #cart_product_quantity {width: 50px}
a.mais-item, a.menos-item {color: #fff; padding: 3px 5px; background-color: #4aa706; text-decoration: none}
a.mais-item {background-color: #4aa706}
a.menos-item {background-color: #a6a4a4; padding: 3px 7px}
ul.meus-ingressos{ }
ul.meus-ingressos li{ border: 1px dashed #ccc; padding: 10px; display: inline-block; width: 250px; margin: 0 30px 30px 0; text-align: center; color: #000}
ul.meus-ingressos li p.descricao{ line-height: 25px; font-size: 14px; border-bottom: 1px dashed #ccc; padding-bottom: 10px}
ul.meus-ingressos li p.codigo{ padding: 15px 0 0 0; color: #6b6b6b; font-size: 14px}
ul.meus-ingressos li p.codigo span{ color: #0075D5; font-size: 30px; font-weight: bold}
.print-hidden {display: block; margin: 30px 0; background: #6a6a6a; color: #fff; padding: 10px; width: 150px; text-align: center}
.print-hidden:hover {color: #fff}