div.exibir_professores ul.lista_professores li {
    width: 100%;
    height: auto;
    margin: 0 0 40px 0;
}


div.exibir_professores ul.lista_professores li p.foto,
div.exibir_professores ul.lista_professor li p.foto {
    width: 80px;
    height: 100px;
    float: left;
    margin: 0 10px 0 0;
}

div.exibir_professores ul.lista_professores li p.foto img,
div.exibir_professores ul.lista_professor li p.foto img {
    width: 80px;
    height: 100px;
}

div.exibir_professores ul.lista_professores li div.desc_professor,
div.exibir_professores ul.lista_professor li div.desc_professor {
    width: 510px;
    height: auto;
    font-size: 12px;
    line-height: 18px;
    float: left;
    color: #666;
}

div.exibir_professores ul.lista_professores li div.desc_professor p.nome,
div.exibir_professores ul.lista_professor li div.desc_professor p.nome {
    font-size: 18px;
    font-weight: bold;
}

div.exibir_professores ul.lista_professores li div.desc_professor p span,
div.exibir_professores ul.lista_professor li div.desc_professor p span {
    font-weight: bold;
}


div.exibir_professores ul.lista_professor li {
    width: 100%;
    height: auto;
    padding: 0 0 20px 0;
}







