/*
 * flash styles, sexy_flash plugin
 * Iconset: Knobs => http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960
 */

#flash_notice, #flash_error, #flash_warning, #flash_info{
  padding:5px 10px 5px 50px;
  border: solid 1px;
  width: 90%;
  background: 10px no-repeat;
  text-align:center;
}

#flash_error {
  background-color: #FBEFEF;
  border-color: #EFADAE;
  background-image: url('/images/icons/sexy_flash/error.png');
}

#flash_warning{
  background-color: #FFFFED;
  border-color: #FFD29B;
  background-image: url('/images/icons/sexy_flash/warning.png');
}

#flash_notice, #flash_info{
  background-color: #EEF5FD;
  border-color: #ABD4F4;
  background-image: url('/images/icons/sexy_flash/info.png');
}
