<div id="filtros">
  <% form_for search, :url => admin_manage_views_path, :html => {:method => :get} do |f| %>
    <p>
      <%= f.label :user_filter, "Aluno" %>
      <%= f.text_field :user_filter, :placeholder => "nome, email, cpf ou login" %>
    </p>
    <p>
      <%= f.label :product_id_filter, "Curso" %>
      <%= f.collection_select(:product_id_filter, presenter.products_filter, :id, :nome, {:include_blank => true}, :class => "select2") %>
    </p>
    <p>
      <%= f.submit "Filtrar", :class => "btn_filtrar" %>
    </p>
  <% end %>
</div>
