<div>
  <span>
    <span class="titulo"><%= link_to truncate(user.name, :length => 70), edit_admin_manage_view_path(user) %></span><br/>
    <span class="data"><%= "#{user.email}/#{user.cpf}" %></span><br />
  </span>
</div>
