<% presenter = Admin::ManageViewsCountPresenter.new view_count %>
<% fields_for "manage_views[]", view_count, :index => nil do |f| %>
  <tr>
  	<td class="esq">
      <%= f.hidden_field :id %>
      <%= "#{presenter.description}" %>
    </td>
  	<td><%= "#{presenter.last_view_at}" %></td>
  	<td><%= "#{presenter.views}" %></td>
    <td>
      <%= f.text_field :additional_views,
                       :maxlength => 4,
                       :size => 4 %>
    </td>
  </tr>
<% end %>