<% title "Gerenciar Visualizações de #{@user.name}" %>

<br class="clear" />
<% if @view_counts.present? %>
  <% form_for :manage_views, :url => view_counts_admin_manage_views_path ,:html => {:method => :put} do |f| %>
    <%= hidden_field_tag :id, @user.id %>

    <table width="100%" class="contagem-de-views">
    	<thead>
    		<tr>
    			<th class="cell-titulo-video">Vídeo</th>
    			<th class="cell-titulo-lastview">Última visualização</th>
    			<th class="cell-titulo-noview">No. de visualizações</th>
    			<th class="cell-titulo-addviwe">Adicionar visualizações</th>
    		</tr>
    	</thead>
    	<tbody>
        <%= render :partial => 'view_count', :collection => @view_counts %>
    	</tbody>
    </table>
    <div class="controles">
      <%= label_tag nil, nil, :style => "display:none" %>
      <%= f.submit 'salvar', :name => 'save' %>
    </div>
  <% end %>
<% else %>
<p>Usuário não visualizou nenhum vídeo</p>
<% end%>