<% title "Gerenciar Visualizações" %>
<%= render :partial => 'filters', :locals => {:search => @search, :presenter => @presenter} %>

<% if @search.valid? %>
  <div class="registros">
    <%= render :partial => 'user', :collection => @search.search_users %><br />
  </div>
  <br class="clear" />
  <%= will_paginate @search.search_users %>
<% end %>