<% title "Cursos em Destaque" %>
<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    $.adminSite = {}
    $.adminSite.homeProdutos = {
      saveUrl: "<%= save_admin_home_produtos_url %>"
    }
  </script>
  <%= javascript_include_tag "admin/homeProdutos.js" %>
  <style>
    #produtos_not_in_home, #produtos_in_home { background-color: black; width: 323px; list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
    #produtos_not_in_home li, #produtos_in_home li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 300px; height: 20px; }
    .ui-state-highlight { margin: 0 5px 5px 5px; padding: 5px; width: 300px; line-height: 1.2em; height: 20px; }
   </style>
<% end %>
<ul id="produtos_not_in_home" class="connectedSortable">
  <%= render :partial => "produto_in_home", :collection => @produtos_in_home %>
</ul>

<ul id="produtos_in_home" class="connectedSortable">
  <%= render :partial => "produto_not_in_home", :collection => @produtos_not_in_home %>
</ul>
