

<% title "Alteração de dados" %>

<h2>Meus Dados</h2>

  
    <div class="conteudo_cadastro">
      <div class="alteracao_dados">

        <% form_for @user do |f| -%>

          <p>
            <%= f.label :first_name, 'Nome' %>
            <%= f.text_field :first_name, :maxlength => 100, :class => 'campo' %><br />
          </p>

          <p>
            <%= f.label :last_name, 'Sobrenome' %>
            <%= f.text_field :last_name, :maxlength => 100, :class => "campo" %><br />
          </p>
          
          <p>
            <%= f.label :nascimento, 'Data de Nascimento' %>
            <%= f.text_field :nascimento, :maxlength => 10, :class => "campo" %><br />
          </p>

          <p>
            <%= f.label :login, 'Login' %>
          <p class="nome_login"><%= @user.login %></p>
          </p>

          <div>
            <p>
              <%= f.label :email, 'E-mail' %>
              <%= f.text_field :email, :maxlength => 100, :class => "campo" %>
            </p>
          </div>

          <p>
            <%= f.label :password, 'Senha' %>
          <p class="nome_login">Para alterar sua a senha, clique <%= link_to "aqui", alterar_senha_path %></p>
          </p>

          <p>
            <%= f.label :cpf, "CPF" %>
          <p class="nome_login"><%= @user.cpf %></p>
          </p>
          <br class="clear" />

          <p>
            <%= f.label :endereco, "Endereço" %>
            <%= f.text_field :endereco, :maxlength => 100, :class => "campo" %>
          </p>

          <p>
            <%= f.label :complemento, "Complemento" %>
            <%= f.text_field :complemento, :maxlength => 100, :class => "campo" %>
          </p>

          <p>
            <%= f.label :bairro, "Bairro" %>
            <%= f.text_field :bairro, :maxlength => 100, :class => "campo" %>
          </p>

          <p>
          <%= f.label :estado_id, "Estado" %>
          <%= f.collection_select :estado_id, Estado.ordered.all, :id, :nome, :include_blank => true %>
	 	  <%= observe_field(:user_estado_id, :url => :update_cidade_users,
		                  :update => :cidade_container,
		                  :with => :estado_id
		            ) %>
        </p>

        <p id="cidade_container">
	      <% if !@user.estado.blank? %>
		  <%= f.label :cidade_id, "Cidade" %>
          <%= f.collection_select :cidade_id, @user.estado.cidades.ordered.all, :id, :nome, :include_blank => true %>
		  <% end %>
        </p>
		<div>
          <p>
              <%= f.label :cep, "CEP" %>
              <%= f.text_field :cep, :maxlength => 10, :class => "campo_cep" %>
<%= link_to 'Não sei o CEP', 'http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro', :target => '_blank', :class => "texto_cep" -%>
          </p>
          </div>
          <p>
            <%= f.label :telefone_fixo, "Telefone Fixo" %>
            <%= f.text_field :telefone_fixo, :maxlength => 13, :class => "campo" %>
          </p>

          <p>
            <%= f.label :telefone_celular, "Telefone Celular" %>
            <%= f.text_field :telefone_celular, :maxlength => 13, :class => "campo" %>
          </p>

          <div class="aceito_receber">
            <%= f.label 'Termos de Serviço', '&nbsp;' %>            
            <label><%= f.check_box :aceite_termos_de_servico %> Aceito os <%= link_to 'termos de serviço', termos_path, :target => '_blank' %>.</label>
          </div>

          <div class="aceito_receber">
            <%= f.label '', '&nbsp;' %>
            <label><%= check_box_tag :newsletter, "on", @user.receives_newsletter? %> Desejo receber promoções e comunicados do <%= Settings.site %>.</label>
          </div>

          <p>
            <%= f.label '', '&nbsp;' %>
            <%= submit_tag 'Continuar', :class => "btn_logar button gray" %>
          </p>
        <% end -%>
      </div>
    </div>
</div>
<% content_for :custom_javascript_includes do %>
<script type="text/javascript">
	$(document).ready(function(){
                $("#user_cep").mask("99.999-999");
                $("#user_nascimento").mask("99/99/9999");
                $("#user_telefone_fixo").mask("(99)9999-9999");
                $("#user_telefone_celular").mask("(99)9999-9999");
	});
</script>
<% end %>
