<% title "Cadastrado com sucesso!" %>

<div class="caixa_canto_redondo_branca">
  <div class="caixa_topo_branca"><div></div></div>
  <div class="caixa_conteudo_branca">
    <div class="conteudo_cadastro">
		<div class="cadastro_sucesso">
		<h2><%= @user.name %></h2>
		<p>
    Obrigado por ter se cadastrado no <%= Settings.site %>!<br/>
		  A partir de agora, basta se logar no sistema para ter acesso a todo o conteúdo exclusivo e para poder adquirir e assistir aos Cursos on-line.</p>
		<p>
		  Utilize o login <span><%= @user.login %></span> e a senha cadastrada para acessar o sistema.
		</p>
		</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="caixa_rodape_branca"><div></div></div>
</div>
