<% pacote_id ||= nil %>
<% curso_id ||= nil %>
<p style="margin: 0;">
  <%= link_to "#{produto_anexo_counter.succ} - #{produto_anexo.legenda}", download_material_apoio_video_aula_path(produto_anexo, :pacote_id => pacote_id, :curso_id => curso_id), :target => "_blank" %>
</p>
