<h5 class="widgetheading">Aulas</h5>
<ul class="lista-video-aulas">
  <% curso.videos.each do |video| -%>
    <li>
      <span class="titulo-video-aula">
        <%= link_to_remote video.video_upload.nome, :url => {:controller => "video_aulas", :action => "view", :video_id => video.video_upload.id, :curso_id => pacote_id, :pacote_video_aula_id => curso.id } %>
      </span>
      <br/>
      <span><i class="font-icon-eye"></i> <%= VideoViewCountPresenter.remaining_user_views(current_user, video.video_upload, curso, pacote_id) %></span>
    </li>
  <% end -%>
</ul>