<% splash ||= '' %>
<% pacote_video_aula_id ||= nil %>
<%= show_player :video => download_video_upload_path(:id => video.id,
                                                     :curso_id => curso_id,
                                                     :pacote_video_aula_id => pacote_video_aula_id),
                :style => "display:block;width:770px;height:433px",
                :splash => splash %>
<span><strong>Voc&ecirc; est&aacute; vendo:</strong> <%= video.nome %></span>
<% if Products::EnableVideoDownloadPresenter.enable?(video, current_user, curso_id) %>
  <br/><span><strong>Baixar: <%= link_to video.nome, download_file_video_upload_path(:id => video.id, :curso_id => curso_id) %></strong></span>
<% end %>