<% title @curso ? "Inglês para Mestrado | #{@curso.nome}" : "Inglês para Mestrado | Cursos Online" %>

<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "pacotes_assistir.js" %>
<% end %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="inner-heading"><h2><%= @curso.nome %></h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="span8">

				<% unless @curso.blank? -%>
					<i class='icon-circle-arrow-left'></i><%= link_to "Voltar para Meus Cursos", meus_cursos_path %>
					<p class="validade_curso">Você tem acesso a este curso até: <span><%= @curso.expira_at -%></span>.</p>

					<div id="view_video" class="video_assistir">
						<%= render :partial => "view", :locals => {:video => @curso.video_aulas.first.videos.first.video_upload,
                                                       :curso_id => @curso.id,
                                                       :pacote_video_aula_id => @curso.video_aulas.first.id,
                                                       :splash => (@curso.imagem.file? ? @curso.imagem.url(:player) : "")} %>
					</div>


					<h5 style="margin: 30px 0 10px 0;"><span id="label_lista_material_apoio">Material Disponível para este Curso</span></h5>
					<div id="lista_material_apoio" style="margin-bottom: 40px;">
						<%= '<p>Nenhum material disponível para este curso.</p>' if @curso.video_aulas.first.produto_anexos.empty?  %>
						<ul>
						<%= render :partial => 'produto_anexo', :collection => @curso.video_aulas.first.produto_anexos, :locals => {:pacote_id => @curso.id, :curso_id => @curso.video_aulas.first.id } %>
						</ul>
					</div>


          <%# unless @curso.descricao.blank? -%>
          <!--
            <h5 class="espaco-personalizado">Conteúdo</h5>
            <p><%#=raw @curso.descricao.nl2br %></p>
			<%# end -%>

			<h5 class="espaco-personalizado">Cursos deste Pacote</h5>
			<ul class="lista_cursos_pacote">
				<%# @curso.pacote_items.each do |item| -%>
					<li><%#= item.video_aula.nome %></li>
				<%# end -%>
			</ul>-->
				<% end -%>
			</div>

			<div class="span4">
				<aside class="right-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Cursos dispon&iacute;veis</h5>
						<label style="color:#6D6D6D; font-size: 13px;">Escolha um curso:</label>
						<%= select_tag "cursos_do_pacote", options_from_collection_for_select(@curso.video_aulas, "id", "nome"), :onchange => remote_function(:url => {:controller => 'video_aulas', :action => 'view_cursos_lateral' }, :with => "'pacote_id=#{@curso.id}&'+'curso_id='+ +this.options[this.selectedIndex].value"), :style=>"margin-top: 5px;" %>

						<div id="lista_cursos" class="lista_aulas_curso" style="margin-top: 10px;">
							<%= render :partial => "view_curso_lateral", :locals => {:curso => @curso.video_aulas.first, :pacote_id => @curso.id } %>
						</div>
					</div>
				</aside>
			</div>

		</div>
	</div>
</section>
