<% title @curso ? "Inglês para Mestrado | #{@curso.nome}" : "Inglês para Mestrado | Cursos Online" %>

<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "products_watch" %>
<% end %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="inner-heading"><h2><%= @curso.nome %></h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="span8">

				<% unless @curso.blank? -%>
					<i class='icon-circle-arrow-left'></i><%= link_to "Voltar para Meus Cursos", meus_cursos_path %>
					<p class="validade_curso">Você tem acesso a este curso até: <span><%= @curso.expira_at -%></span>.</p>
					<div id="view_video" class="video_assistir">
						<%= render :partial => "view", :locals => {:video => @curso.videos.first.video_upload,
                                                       :curso_id => @curso.id,
                                                       :splash => (@curso.imagem.file? ? @curso.imagem.url(:player) : "")} %>
					</div>

					<% unless @curso.produto_anexos.blank? -%>
              <h5 style="margin: 30px 0 10px 0;">Material de Apoio para este Curso</h5>
              <div style="margin-bottom: 40px;">
                <%= render :partial => 'produto_anexo', :collection => @curso.produto_anexos %>
              </div>
              	<% end -%>
              		<!--
					<%# unless @curso.descricao.blank? %>
						<h5 class="espaco-personalizado">Conteúdo</h5>
						<p><%#=raw @curso.descricao.nl2br %></p>
					<%# end -%>

					<%# unless @curso.professors.blank? -%>
						<h5 class="espaco-personalizado"><%#= @curso.professors.count.eql?(1) ? "Professor" : "Professores" %></h5>
						<%# @curso.professors.each do |professor| -%>
  						<p>
    						<%# if professor.professor.imagem.file? -%>
    						<%#= image_tag professor.professor.imagem.url(:thumbnail), :class => "img-circle bordered" %>
    						<%# end -%>
    						<%#= link_to professor.professor.nome, professor_path(professor.professor) %>
  						</p>
  					<%# end -%>
  				<%# end -%>
  				-->
        <% end -%>
			</div>
<!-- fim do conteudo principal -->

			<div class="span4">
				<aside class="right-sidebar">
					<div class="widget">
						<div class="alert alert-info">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Atenção!<br /></strong>Caso você necessite de mais visualizações, envie e-mail para contato@inglesinstrumentalonline.com.br
						</div>
						<h5 class="widgetheading">Aulas</h5>
						  <ul class="lista-video-aulas">
						    <% @curso.videos.each do |video| -%>
						      <li>
						      <span class="titulo-video-aula">
                    <%= link_to_remote video.video_upload.nome, :url => {:controller => "video_aulas", :action => "view", :video_id => video.video_upload.id, :curso_id => @curso.id} %>
                  </span>
                  <br/>
                  <span><i class="font-icon-eye"></i> <%= VideoViewCountPresenter.remaining_user_views(current_user, video.video_upload, @curso) %></span>
						      </li>
						    <% end -%>
						  </ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>