<% title "Inglês Online" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Cursos On-line</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span9">
				<%= render_cell :"courses/listings", :show %>
			</div>
			<div class="span3">
				<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
				<%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>