<% title "Inglês Online | Meus Cursos" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2>Meus Cursos</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span9">
        <div class="row">
          <section id="projects">
            <ul id="thumbs" class="portfolio">
              <% @cursos.each do |course| -%>
                <%- presenter = Courses::CoursePresenter.new(course) -%>
                <li class="item-thumbs span3 design">
                  <% link_to assistir_video_aula_path(course), :title => course.nome do %>
                    <%= image_tag(presenter.thumbnail) %>
                  <% end %>
                	<p class="desc-curso-titulo"><%= presenter.name %></p>
                	<p><%=raw truncate_html(course.descricao, :length => 150) %><br/ ><span class="expiracao">Acesso até: <%= course.expira_at(current_user) %></span></p>
                </li>
              <% end -%>
        		</ul>
        	</section>
        </div>
      </div>
      
			<div class="span3">
				<aside class="right-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Informações</h5>
						<ul class="folio-detail">
							<% if @total_video_aulas > 0 -%>
							<li><label>Cursos:</label> Voc&ecirc; tem <span><%= @total_video_aulas %> curso(s)</span>  dispon&iacute;vel(eis).</li>
							<% else -%>
							<li><label>Cursos:</label> 0 curso(s)</span> dispon&iacute;vel(eis) at&eacute; o momento.</li>
							<% end -%>

							<% if @total_pacotes > 0 -%>
							<li><label>Pacotes de cursos:</label> Voc&ecirc; tem <span><%= @total_pacotes %> pacote(s)</span> de cursos dispon&iacute;vel(eis).</li>
							<% else -%>
							<li><label>Pacotes de cursos:</label> <span>0 pacote(s)</span> dispon&iacute;vel(eis) at&eacute; o momento.</li>
							<% end -%>

							<% if @total_assinaturas > 0 -%>
							<li><label>Assinaturas:</label> Voc&ecirc; tem <span><%= @total_assinaturas %> assinatura(s)</span> dispon&iacute;vel(eis).</li>
							<% else -%>
							<li><label>Assinaturas:</label> <span>0 assinatura(s)</span> dispon&iacute;vel(eis) at&eacute; o momento.</li>
							<% end -%>
						</ul>
					</div>
				</aside>
			</div>
  		
    </div>
  </div>
</section>