<% title @curso ? "Inglês para Mestrado | #{@curso.nome}" : "Inglês para Mestrado | Cursos Online" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Curso On-line</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span8">
				<i class='icon-circle-arrow-left'></i><%= link_to "Voltar para lista de Cursos", video_aulas_path %>
				<article>
					<div class="top-wrapper">
						<div class="post-heading">
							<h3 class="titulo-curso"><%= @curso.nome %></h3>
						</div>
						<div class="flexslider" style="background: #ccc;">
  						<%= show_player :video => download_video_upload_path(@curso.video_upload_demonstracao),
                              :splash => (@curso.imagem.file? ? @curso.imagem.url(:player) : ""),
                              :style=> "display:block;width:770px;height:433px" %>
						</div>
						<div class="compartilhar-produto">
							<span class="btn_facebook"><%= facebook_button -%></span>
						</div>
					</div>
  				<% unless @curso.descricao.blank? %>
  					<h4>Demais <strong>Informações Importantes</strong></h4>
  					<p><%=raw @curso.descricao.nl2br %></p>
  				<% end -%>
				</article>
			</div>

			<div class="span4">
				<aside class="right-sidebar">
						<div class="widget">
							<h5 class="widgetheading">Informações</h5>
							<ul class="folio-detail">
								<% unless @curso.publico_alvo.blank? -%>
									<li><label>Curso indicado para:</label> <%= @curso.publico_alvo %></li>
								<% end -%>

								<% unless @curso.carga_horaria.blank? -%>
									<li><label>Carga Horária:</label> <%= @curso.carga_horaria %> Horas/Aula</li>
								<% end -%>

								<% unless @curso.numero_videos.blank? -%>
									<li><label>Número de Vídeos:</label> <%= @curso.numero_videos %></li>
								<% end -%>

								<!-- <li><label>Tempo de acesso:</label> <%#= pluralize(@curso.tempo_expiracao,'dia','dias') %></li>-->

								<li><label>Investimento:</label> <%= html_marta_preco_video_aula(@curso) %></li>

								<% unless @curso.price_condition.blank? -%>
									<li><%=raw @curso.price_condition %></li>
								<% end -%>

								<li><% link_to add_to_cart_video_aula_path(@curso), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do -%><i class="icon-thumbs-up"></i> Comece Agora <% end -%></li>
							</ul>
						</div>

						<div class="widget">
							<h5 class="widgetheading">Formas de Pagamento</h5>
							<p>Fique tranquilo! O <strong>Curso Marta Garcia</strong> usa o sistema PagSeguro do UOL para você comprar despreocupado.</p>
							<%= image_tag "marta_garcia/pagamentos-aceitos.gif" %>
						</div>

						<div class="widget">
							<h5 class="widgetheading">Termos de Uso</h5>
							<p>Por favor, veja aqui os <%= link_to 'termos de uso', termos_path %> antes de efetuar sua compra.</p>

						</div>

						<% unless @curso.professors.blank? -%>
  						<div class="widget">
  							<h5 class="widgetheading"><%= @curso.professors.count.eql?(1) ? "Professor" : "Professores" %></h5>
  							<% @curso.professors.each do |professor| -%>
  							<div class="author lista-prof-curso" style="margin: 0 0 20px 0;">
  								<% if professor.professor.imagem.file? -%>
  									<%= image_tag professor.professor.imagem.url(:thumbnail), :class=> "img-circle bordered", :style => "float: left;" %>
  								<% end -%>
  								<p class="nome-professor"><%= link_to professor.professor.nome, professor_path(professor.professor) %></p>
  								<br class="clear" />
  							</div>
  							<% end -%>
  						</div>
				     <% end -%>
				</aside>
			</div>

		</div>
		<%= render_cell :"testimonials/testimonials", :show_home %>
	</div>
</section>
