<% title @curso ? "Inglês para Mestrado | #{@curso.nome}" : "Inglês para Mestrado | Cursos Online" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span10">
        <div class="inner-heading"><h2><%= @curso.nome %></h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    	<%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">

			<div class="span12" >
				<div class="post-heading">
					<h4 class="titulo-curso">Curso de Inglês Instrumental para Mestrados e Doutorados <span style="color:#000;">– Conheça a empresa, equipe e a dinâmica de funcionamento do curso.</span> Clique e Assista</h4>
				</div>
				<div class="flexslider">
					<iframe width="853" height="480" src="//www.youtube.com/embed/zMT8qqfo_xQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="span12" style="margin-top: 60px">
				<div class="post-heading">
					<h4 class="titulo-curso">Aula experimental <span style="color:#000;">– Conheça a metodologia e a didática da Professora Marta Garcia.</span> Clique e Assista <!--<%= @curso.nome %>--></h4>
				</div>
				<div class="flexslider">
                      <iframe width="853" height="480" src="//www.youtube.com/embed/LOMyRpzB5wQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="span12" style="margin-top: 60px">
				<div class="post-heading">
					<h4 class="titulo-curso">Assista aos depoimentos e resultados de alunos que já fizeram o curso:</h4>
				</div>
			</div>

			<div class="span6" style="width: 522px; margin-bottom: 20px;">
				<div class="wrapper">
					<div class="testimonial">
						<iframe width="480" height="360" src="//www.youtube.com/embed/IwDYEpDmSuE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="span6" style="width: 522px; margin-bottom: 20px;">
				<div class="wrapper">
					<div class="testimonial">
						<iframe width="480" height="360" src="//www.youtube.com/embed/IpHD2JxO94c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="span6" style="width: 522px; margin-bottom: 20px;">
				<div class="wrapper">
					<div class="testimonial">
						<iframe width="480" height="360" src="//www.youtube.com/embed/5B6xzXU9ZgE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="span6" style="width: 522px; margin-bottom: 20px;">
				<div class="wrapper">
					<div class="testimonial">
						<iframe width="480" height="360" src="//www.youtube.com/embed/KxsCyx5011w?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<!--
			<div class="span12"> 
				<% link_to add_to_cart_video_aula_path(@curso), :class => "btn btn-large btn-info btn-green btn-comprar-curso btn-camprar-grande" do -%>Comprar Agora <% end -%>
			</div>-->



			<!--
			<div class="span12" style="margin-top: 60px">
				<div class="post-heading">
					<h4 class="titulo-curso">Infográfico: Entenda a dinâmica de funcionamento das Vídeo-Aulas e Exercícios</h4>
					<p style="text-align:center"><%= image_tag "marta_garcia/infografico-ingles-instrumental.jpg" %></p>
				</div>
			</div>
			-->

    		<div class="span12" style="margin-top: 60px">
				<div class="post-heading">
					<h4 class="titulo-curso">Curso de Inglês Instrumental Online para Prova de Mestrados e Doutorados</h4>
				</div>
    			<% unless @curso.descricao.blank? %>
  					<%=raw @curso.descricao.nl2br %>
  				<% end -%>
    		</div>

    		<div class="span12">
    			<div class="post-heading">
					<h4 class="titulo-curso" style="margin: 60px 0 20px 0;">Investimento</h4>
				</div>
				<div style="font-size: 3.0em; margin: 40px 0 30px 0; letter-spacing: -3px;">
					<%= html_marta_preco_video_aula(@curso) %>
				</div>
				<div>
					<% unless @curso.price_condition.blank? -%>
						<%=raw @curso.price_condition %>
					<% end -%>
				</div>

				<% link_to add_to_cart_video_aula_path(@curso), :class => "btn btn-large btn-info btn-green btn-comprar-curso btn-camprar-grande" do -%>Comece Agora <% end -%>

    			<div class="post-heading">
					<p>Fique tranquilo! O <strong>Curso Marta Garcia</strong> usa o sistema PagSeguro do UOL para você comprar com toda a segurança.</p>
				</div>

				<%= image_tag "marta_garcia/pagamentos-aceitos.gif" %>


    			<div class="post-heading" style="margin: 30px 0 0 0;">
					<!--<h4 class="titulo-curso" style="margin: 60px 0 0 0;">Termos de Uso:</h4>-->
					<p>Veja aqui os <strong><%= link_to 'termos de uso', termos_path %></strong>.</p>
				</div>

    		</div>

		</div>	
	</div>
</section>
