<div id="filtros">
  <% form_tag admin_tickers_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[category]", "Categoria" %>
      <%= select "filtro", "category", Ticker.categorias, {:include_blank => "Todos", :selected => (params[:filtro] && !params[:filtro][:category].blank?) ? params[:filtro][:category].to_s : ""}, :onchange => "$(this).closest('form').submit();" %>
    </p>
  <% end %>

  <div class="adicionar_registro" style="margin-top: -35px;">
    <div class="canto_esquerdo"></div><div class="link">
      <%= link_to "Novo Destaque", url_for(:action => 'new', :controller => 'admin/tickers') %>
    </div><div class="canto_direito"></div>
  </div>
</div>
