<% form_for( [:admin, ticker], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div>
    <%= f.label :descricao, "Descrição" %>
    <%= f.text_field :descricao, :maxlength => 80 %>
  </div>

  <div>
    <%= f.label :category, 'Categoria' %>
    <%= f.select :category, Ticker.categorias %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    Dimensões: <%= ticker_imagem_tip %><br />
    <% unless missing?(ticker.imagem) -%>
      <%= f.label '', '&nbsp;' %>
      <%= image_tag ticker.imagem.url(:thumbnail)  %>
    <% end -%>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>
