<div>
  <span>
    <%= link_to image_tag(ticker.imagem.url(:thumbnail)), edit_admin_ticker_path(ticker) %>
    <span class="titulo"><%= link_to "[#{ticker.category.upcase}] #{ticker.descricao}", edit_admin_ticker_path(ticker) %></span>
    <span class="data"><%= ticker.created_at.to_s(:padrao_data_hora) %></span><br />
    <span class="titulo"><%= ticker.link %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, ticker], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>
