<% title "Esqueceu a senha?" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Esqueceu a senha?</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <%= render_cell "flash/messages", :show, :flash => flash %>
      <%= link_to "Voltar", login_path %>
      <% form_for :user, :url => forgot_password_path do |f| -%>
        <p>Digite seu e-mail no campo abaixo para receber uma nova senha. O e-mail a ser digitado deve ser o mesmo utilizado no cadastro.</p>
  		  <div class="field">
          <%= f.label 'email', 'E-mail' %>
          <%= f.text_field :email, :class => "campo", :maxlength => 50 %>
  		  </div>
        <div class="field">
          <%= submit_tag 'Enviar nova senha', :class => "btn btn-theme margintop10 pull-left" %>
        </div>
      <% end -%>
    </div>
  </div>
<section>