<% title "Parceiros" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Parceiros</h2></div>
      </div>
    </div>
  </div>
</section>


<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span12">
				<h4>Parceiros do curso <strong>Marta Garcia</strong></h4>
			</div>
			<div class="span8">
				<% unless @parceiros.blank? -%>
		  		<ul class="lista_parceiros">
		      		<% @parceiros.each do |parceiro| -%>
		      		<li>
		          		<p class="thumb"><%= image_tag parceiro.imagem.url(:thumbnail), :size => "90x70" %></p>
		          		<p class="desc_parceiro">
		              	<%= link_to parceiro.nome, parceiro.url %><br /></p>
		            </li>
		            <% end -%>
		    	</ul>
		    	<% end -%>
			</div>

			<div class="span4">
				<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
				<%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>
