<% content_tag :div, {:style => options[:style], :"data-player" => options[:player].to_json, :class => "multiplayer-player"} do %>
  <% unless options[:splash].blank? %>
    <%= image_tag(options[:splash], :style => "cursor: pointer;") %>
  <% end %>
<% end %>
