<% content_tag :div, {:id => "player-container", :style => options[:style], :"data-player" => options[:player].to_json } do %>
  <% unless options[:splash].blank? %>
    <%= image_tag(options[:splash], :style => "cursor: pointer;") %>
  <% end %>
<% end %>
<% if request.xhr? %>
  <script type="text/javascript">
    jQuery.player.setup();
  </script>
<% else %>
  <% content_for :custom_javascript_includes do %>
    <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery.player.setup();
    });
    </script>
  <% end %>
<% end %>

