<% player_id = "player-#{SecureRandom.hex(30)}" %>
<a id="<%= player_id %>"></a>
<script type="text/javascript">
  flowplayer("<%= player_id %>", "/swf/flowplayer.commercial-3.2.16.swf", <%= options_for_player(url).to_json %>);
</script>
