<% show_tipo ||= false -%>
<% titulo ||= 'Busca de Cursos Presenciais' %>
<fieldset>
  <legend><%= titulo -%></legend>
  <p>
    <label class="label_busca" for="campo_busca">Buscar</label>
    <%= text_field "filtros", "nome", :value => (params[:filtros] && params[:filtros][:nome]) ? params[:filtros][:nome] : "", :class => "campo_busca" %>
    <%= submit_tag "Buscar", :class => 'btn_logar button gray' %>
  </p>

  <% unless @categorias.blank? -%>
    <label for="area_curso">&Aacute;rea:</label>
    <%= select("filtros", "categoria", categorias.collect {|p| [ p.nome, p.id ] }, { :include_blank => true, :selected => (params[:filtros] && params[:filtros][:categoria]) ? params[:filtros][:categoria].to_i : 0 }) %>
  <% end -%>

  <% if show_tipo -%>
    <label for="area_curso">Tipo:</label>
    <%= select("filtros", "tipo", {"Pacote" => Pacote.name, "Vídeo Aula" => VideoAula.name}, { :include_blank => true, :selected => (params[:filtros] && params[:filtros][:tipo]) ? params[:filtros][:tipo] : "" }) %>
  <% end -%>

</fieldset>
<div class="clear"></div>