<% title @curso ? @curso.nome : "Cursos Presenciais" %>

<h2>Cursos Presenciais</h2>
<% form_tag url_for(:controller => "cursos", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "busca", :locals => {:categorias => @categorias} %>
    </div>



        <% unless @curso.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Cursos", cursos_path %></span>

            <h2><%= @curso.nome %></h2>
            <div class="resumo">
              <% if @curso.imagem.file? -%>
                <div class="img_curso_presencial">
                  <%= image_tag @curso.imagem.url(:medium), :size => "340x200" %>
                </div>
              <% end -%>
              <div class="detalhes_presencial">
                <div class="detalhes_info">
                  <h4>Informações</h4>
                  <p><span class="preco_por"><%= @curso.investimento.reais_formatado %></span></p>
                  <% link_to contacts_path("contact[subject]" => "Gostaria de fazer o curso #{@curso.nome}"), :class => "btn_comprar" do %>
                    Estou interessado<span></span>
                  <% end %>
					<span class="btn_redes_sociais">
						<span class="btn_tweet">
                  <%= twitter_button :text => "Curso #{@curso.nome}" %></span>
						<span class="btn_facebook">
                  <%= facebook_button %></span></span>
                </div>
              </div>
              <br class="clear" />
            </div>



			<% unless @curso.descricao.blank? %>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>
              <p><%=raw @curso.descricao.nl2br %></p>
            </div>
			<% end %>
			<% unless @curso.professors.blank? -%>
              <div class="descricao_curso">
                <h4><span><%= pluralize(@curso.professors.count, "Professor", "Professores") %></span></h4>
                <% @curso.professors.each do |professor| -%>
                  <p>
                    <% if professor.professor.imagem.file? -%>
                      <%= image_tag professor.professor.imagem.url(:thumbnail) %>
                    <% end -%>
                    <%= link_to professor.professor.nome, professor_path(professor.professor) %>
                  </p>
                <% end -%>
              </div>
            <% end -%>
			<% unless @curso.inicio.blank? -%>
              <div class="descricao_curso">
                <h4><span>Início</span></h4>
                <p><%= @curso.inicio %></p>
              </div>
            <% end -%>
            <% unless @curso.horario.blank? -%>
              <div class="descricao_curso">
                <h4><span>Horário</span></h4>
                <p><%= @curso.horario %></p>
              </div>
            <% end -%>
			<% unless @curso.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>
              <p><%= @curso.publico_alvo %></p>
            </div>
			<% end -%>
			<% unless @curso.carga_horaria.blank? -%>
              <div class="descricao_curso">
                <h4><span>Carga Horária</span></h4>
                <p><%= @curso.carga_horaria %></p>
              </div>
            <% end -%>
			<% unless @curso.numero_encontros.blank? -%>
              <div class="descricao_curso">
                <h4><span>Número de Encontros</span></h4>
                <p><%= @curso.numero_encontros %></p>
              </div>
            <% end -%>
            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @curso.investimento.reais_formatado %></p>
            </div>
            <% unless @curso.curso_anexos.blank? -%>
              <div class="descricao_curso">
                <h4><span><%= pluralize(@curso.curso_anexos.count, "Anexo", "Anexos") %></span></h4>
                <div>
                  <%= render :partial => 'curso_anexo', :collection => @curso.curso_anexos %>
                </div>
              </div>
            <% end -%>
            <div class="clear"></div>
          </div>
        <% end -%>

    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>

  <%= render :partial => "cursos/banners" %>

</div>