<div class="desconto">
  <% form_tag url_for(:action => :atualizar_cupom), :method => :post do -%>
    <%= label_tag 'cupom_codigo', 'Digite aqui o seu cupom:'%>
    <%= text_field_tag 'cupom_codigo', nil, :placeholder => cupom_atual %>
	<%= submit_tag "Usar cupom", :class=> "btn_usar_desconto" %>
	<% if !cupom_atual.blank? -%>
	<%= submit_tag "Remover cupom" %>
	<% end -%>
  <% end -%>		  
</div>