<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.forms.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, simulated_test], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 60 %>
  </div>

  <div>
    <%= f.label :publico_alvo, "Público-alvo" %>
    <%= f.text_field :publico_alvo, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :categoria %>
    <%= Admin::FormPresenter.select_field f,
                                   :categoria_curso_id,
                                   :field => :nome_for_selects,
                                   :collection => @categorias %>
  </div>

  <div>
    <%= f.label :investimento, 'Investimento' %>
    R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
  </div>
  <div>
    <%= f.label :descricao, "Descrição" %>
    <br/>
    <%= f.text_area :descricao, :class => "tinymce editor-customizado" %>
  </div>
  <div>
    <%= f.label :instrucoes, "Instruções aos Alunos" %>
    <br/>
    <%= f.text_area :instrucoes, :class => "tinymce editor-customizado" %>
  </div>

  <div>
    <%= f.label :carga_horaria, "Carga Horária" %>
    <%= f.text_field :carga_horaria, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :ativo, "Ativo" %>
    <%= f.check_box :ativo  %>
  </div>

  <div>
    <%= f.label :disponivel_venda, "Disponível para Venda" %>
    <%= f.check_box :disponivel_venda  %>
  </div>

  <div>
    <%= f.label :tempo_expiracao, "Validade (Dias)" %>
    <%= f.text_field :tempo_expiracao, :class => "curso_preco_field", :maxlength => 3 %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    Formatos: .jpg, .gif ou .png<br />
    <% if simulated_test.imagem.file? -%>
      <%= f.label '', '&nbsp;' %>
      <%= image_tag simulated_test.imagem.url(:thumbnail)  %>
    <% end -%>
  </div>

  <div class="nested-form">
      <h3>Professores</h3>
      <div class="nested-form-rows">
          <%= render :partial => 'professor', :collection => simulated_test.professors %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'professor') %>">Adicionar professor</a>
  </div>

  <div class="nested-form">
      <%= Admin::FormPresenter.title_with_validation(f, "Habilitar o simulado para os seguintes cursos", :simulated_test_products, self) %>
      <div class="nested-form-rows">
          <%= render :partial => 'simulated_test_product', :collection => simulated_test.simulated_test_products %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'simulated_test_product') %>">Adicionar curso</a>
  </div>

  <div class="nested-form">
      <%= Admin::FormPresenter.title_with_validation(f, "Questões", :questions, self) %>
      <div class="nested-form-rows">
          <%= render :partial => 'simulated_test_question', :collection => simulated_test.questions %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'simulated_test_question') %>">Adicionar questão</a>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>
<% end %>
