<h3>Resumo</h3>
<p>Total de simulados: <%= @total -%></p>
<p>Total de comprados ativos: <%= @total_nao_expirados -%></p>
<h4>Comprados ativos por pacote</h4>
<ul>
  <% @simulated_test_com_quantidade_nao_expirada.each do |simulated_test| -%>
    <li><span><%= simulated_test.quantidade_nao_expirada %></span> - <%= simulated_test.nome -%></li>
  <% end -%>	
</ul>

