<% simulated_test_question ||= SimulatedTestQuestion.new %>
<% simulated_test_question.mandatory = false %>
<div class="nested-form-row">
  <% fields_for "simulated_test[questions_attributes][]", simulated_test_question, :index => nil do |t| %>
    <%= t.hidden_field :id unless simulated_test_question.id.blank? %>
    <%= t.hidden_field :mandatory %>
    <div class="multimodel-fields">
      <div class="questao">
      <% if Settings.product.allow_nested_items_sort %>
          <%= image_tag "backend/drag-drop-table-row.png", :class => "drag-drop-table-icon" %>
      <% end %>

      <p>Questão</p>
      <div class="multimodel-remove">
          <a class="nested-form-delete-row" href="#">
              <%= image_tag("backend/icons/remove.gif") %>
          </a>
          <span>Remover questão</span>
      </div>
        <div class="conteudo-questao">
          <div>
            <p class="tit-questao"><%= t.label :question_type, "Tipo de Questão" %><br /></p>
            <%= t.select :question_type, [["Múltipla Escolha", SimulatedTestQuestion::MULTIPLA_ESCOLHA], ["Certo/Errado", SimulatedTestQuestion::CERTO_ERRADO]], {}, {:class => "st_question_type"} %>
          </div>
          <div>
              <p class="tit-questao"><%= t.label :question, "Enunciado" %><br/></p>
              <%= t.text_area :question, :class => "texto-questao tinymce", :id => SecureRandom.hex(30) %>
          </div>
          <div class="respostas">
            <p class="tit-questao"><%= t.label :answer_option, "Resposta Correta" %><br /></p>
            <%= t.select :answer_option, simulated_test_question.question_type == SimulatedTestQuestion::CERTO_ERRADO ? SimulatedTest.multiple_choice_options : SimulatedTest.answer_options, { :include_blank => true }, {:class => "st_answer_option"} %>
          </div>
          <div>
            <p class="tit-questao"><%= t.label :video_upload_id, "Vídeo" %><br /></p>
            <%= Admin::FormPresenter.select_field t, :video_upload_id, :remote => true,
                                                  :url => ajax_search_simulados_admin_video_uploads_path,
                                                  :field => :nome,
                                                  :allow_clear => true,
                                                  :item => simulated_test_question.video_upload %>
          </div>

          <div>
              <p class="tit-resposta"><%= t.label :comments, "Comentários" %><br/></p>
              <%= t.text_area :comments, :class => "texto-questao tinymce", :id => SecureRandom.hex(30) %>
          </div>
        </div>
        <br class="clear" />
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>
