<div>
  <span>
    <span class="titulo"><%= link_to simulated_test.nome, edit_admin_simulated_test_path(simulated_test) %></span><br />
    <span class="data"><%= simulated_test.categoria.nome %> -
    Criado em <%= simulated_test.created_at.to_s(:padrao_data_hora) -%> -
    </span><br/>
    <span class="additional"><%= simulated_test.investimento.real_formatado -%></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, simulated_test], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover', :style =>"margin-left: 5px;" %>
  
  <%= link_to image_tag('backend/btn_relatorio2.gif'), activity_report_admin_simulated_test_path(simulated_test), :class => 'remover' %>
</div>