<% simulated_test_product ||= SimulatedTestProduct.new %>
<div class="nested-form-row">
  <% fields_for "simulated_test[simulated_test_products_attributes][]", simulated_test_product, :index => nil do |t| %>
    <div class="multimodel-fields">
      <%= Admin::FormPresenter.select_field t, :product_id, :remote => true,
                                        :url => ajax_search_watchable_admin_products_path,
                                        :field => :nome,
                                        :item => simulated_test_product.product  %>
      <div class="multimodel-remove">
        <a class="nested-form-delete-row" href="#">
          <%= image_tag("backend/icons/remove.gif") %>
        </a>
        <span>remover</span>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>