<% title "Relatório do Simulado - #{@simulated_test.nome}" %>

<table style="padding: 10px; border: 1px solid #ccc; width: 80%; margin-top: 50px;">
	<tr style="border: 1px solid #ccc;">
		<td style="font-weight: bold; border-right: 1px solid #ccc; padding:20px; width: 30%">
			<h4>Total Vendidos</h4><span style="font-size: 50px; font-weight: lighter; color: #ccc; letter-spacing: -3px;"><%= number_of_sold_simulated_test(@simulated_test) %></span></td>
		<td style="font-weight: bold; border-right: 1px solid #ccc; padding:20px; width: 30%">
			<h4>Total Respondidos</h4><span style="font-size: 50px; font-weight: lighter; color: #ccc; letter-spacing: -3px;"><%= number_of_users_who_finalized_simulated_test(@simulated_test) %></span></td>
	</tr>
</table>


<table style="padding: 10px; border: 1px solid #ccc; width: 80%; margin: 50px 0;">
	<tr style="border: 1px solid #ccc;">
		<td style="border-right: 1px solid #ccc; padding: 20px; width: 40%">
			<h4 style="color: #0fd10f">Ranking de Acertos</h4>
			<ol>
				<% @simulated_test.questions.each_with_index do |simulated_test_question, index| %>
					<li>Questão <%= index + 1 %> - <%= pluralize(show_right_answers_count(simulated_test_question), 'acerto', 'acertos') %></li>
				<% end %>
			</ol>
		</td>
		<td style="border-right: 1px solid #ccc; padding: 20px; width: 40%">
			<h4 style="color: #ff0000">Ranking de Erros</h4>
			<ol>
				<% @simulated_test.questions.each_with_index do |simulated_test_question, index| %>
					<li>Questão <%= index + 1 %> - <%= pluralize(show_wrong_answers_count(simulated_test_question), 'erro', 'erros') %></li>
				<% end %>
			</ol>
		</td>
	</tr>
</table>

<!--
<div style="border: 1px solid #ccc; padding: 20px; width: 76%">
	<h4 style="color: #0f73d1">Ranking de Alunos</h4>
	<ol>
		<li>Raimundo Nonato - 55 acertos - 96% de aproveitamento</li>
		<li>Raimundo Nonato - 55 acertos - 96% de aproveitamento</li>
		<li>Raimundo Nonato - 55 acertos - 96% de aproveitamento</li>
		<li>Raimundo Nonato - 55 acertos - 96% de aproveitamento</li>
	</ol>
</div>
-->

