<% title "Simulados" %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'simulated_test', :label => 'novo simulado'} %>

<div class="registros">
  <%= render :partial => @simulated_tests %><br />
  <br class="clear" />
</div>
<br class="clear" />

<%= will_paginate @simulated_tests %>