<% if has_banner_to_show(Banner::FLOATER) -%>
<% content_for :custom_javascript_includes do -%>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.btn_fechar_banner').click(function(){
			clearTimeout(jQuery('.banner_flutuante').stop().data('tempo_banner_flutuante'));
			jQuery('.banner_flutuante').fadeOut('slow', function() {
				jQuery('.banner_flutuante').remove();
			});
			
		});
		jQuery.data(this, 'tempo_banner_flutuante', setTimeout(function() { 
			jQuery('.banner_flutuante').fadeOut('slow', function() {
				jQuery('.banner_flutuante').remove();	
			});			
		}, 6000));
	});
</script>
<% end -%>
<div class='banner_flutuante'>	
	<%= image_tag 'btn_fechar_banner.png', :class => 'btn_fechar_banner' %>	
	<%= show_banner_by_position(Banner::FLOATER) %>		
</div>
<% end -%>