<li>
  <p class="thumb"><%= link_to image_tag(curso.imagem.file? ? curso.imagem.url(:thumbnail) : "thumb_curso_presenciais.gif"), curso_path(curso) %></p>
  <p class="desc_curso"><%= link_to curso.nome, curso_path(curso) %><br /><%=raw truncate_html(curso.descricao, :length => 60) %></p>
<br class="clear">
</li>