<!-- WIDGET FACEBOOK -->
<script src="https://connect.facebook.net/pt_BR/all.js#xfbml=1"></script>
<fb:like-box href="<%= facebook_url %>" width="300" height="260" show_faces="true" border_color="#eaeaea" stream="false" header="false" footer="false"></fb:like-box>
<!-- WIDGET FACEBOOK -->
