<% if !current_live_channel.nil? && !current_live_channel.embedded_content.blank? %>
  <div class="canal_gb">
    <h2>Canal GB</h2>
    <div>
      <%= current_live_channel.embedded_content %>
    </div>
    <% unless current_live_channel.supporting_materials.blank? %>
      <div>
        <p>Material de Apoio</p>
        <%= render :partial => 'supporting_material', :collection => current_live_channel.supporting_materials %>
      </div>
    <% end %>
  </div>
<% end %>
