<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= include_meta_tags %>
    <title>Navegador incompat&iacute;vel - <%= Settings.site %></title>
    <%= stylesheet_link_merged :browsers %>
  </head>

  <body>
    <div class="aviso">
      <%= image_tag "/images/browsers/ie6_logo.gif" %><br />
      <h1>Ops!</h1>
      <p>Seu navegador está desatualizado. O site não será exibido corretamente. <br />
        Aconselhamos fortemente que você o atualize, escolhendo um dos browsers abaixo:</p>
      <p class="browsers">
        <span>
          <%= image_tag "/images/browsers/ie6_ie8_icon.gif" %>
          <a href="http://www.microsoft.com/brasil/windows/internet-explorer/worldwide-sites.aspx" title="Internet Explorer 8">Internet Explorer 8</a>
        </span>
        <span>
          <%= image_tag "/images/browsers/ie6_chrome_icon.gif" %>
          <a href="http://www.google.com.br/chrome" title="Google Chrome">Chrome</a>
        </span>        
        <span>
          <%= image_tag "/images/browsers/ie6_safari_icon.gif" %>
          <a href="http://www.apple.com/safari/download/" title="Safari">Safari</a>
        </span>
      </p>
      <p>
        Se mesmo assim você quiser acessar, o site ser&aacute; exibido com diferen&ccedil;as e poss&iacute;veis erros. <br />
        <%= link_to "Entrar no site", home_url %>
      </p>
    </div>
  </body>
</html>
