<% title "Página Inicial" %>
<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "jquery.easytabs.min" %>
  <%= javascript_include_tag "home" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.home.init();
    });
  </script>
<% end %>


<%= render :partial => "banner_flutuante" %>
<%= render_cell "home", :show_tickers %>

<%= render_cell "home", :show_products %>

<div class="col3">
  <%= render_cell "home", :show_news %>

  <div class="facebook_home">
    <h2>Redes Sociais</h2>
    <ul>
      <%= render :partial => "facebook_widget" %>
    </ul>
  </div>

  <!-- Canal ao Vivo -->
  <%= render :partial => "live_channel" %>

  <%= render_cell "home", :show_partners %>

  <!-- Banners -->
  <%= render :partial => "cursos/banners" %>
</div>