<div>
  <span>
    <span class="titulo"><%= link_to arquivo.nome, edit_admin_arquivo_path(arquivo) %></span><br />
    <span class="data"><%= arquivo.categoria.nome %> -
    Criado em <%= arquivo.created_at.to_s(:padrao_data_hora) %></span><br/>
    <span class="additional"><%= arquivo.investimento.real_formatado -%></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, arquivo], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>

</div>