<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.forms.setup();
    });
  </script>
<% end %>

<% form_for [:admin, arquivo], :html => { :multipart => true } do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :publico_alvo, "Público-alvo" %>
    <%= f.text_field :publico_alvo, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :investimento, "Investimento" %>
    R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
  </div>

  <div>
    <%= f.label :price_condition, 'Condição de Preço' %>
    <br/>
    <%= f.text_area :price_condition, :rows => 5, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :ativo, "Ativo" %>
    <%= f.check_box :ativo  %>
  </div>

  <div>
    <%= f.label :disponivel_venda, "Disponível para Venda" %>
    <%= f.check_box :disponivel_venda  %>
  </div>

  <div>
    <%= f.label :tempo_expiracao, "Validade (Dias)" %>
    <%= f.text_field :tempo_expiracao, :class => "curso_preco_field", :maxlength => 3 %>
  </div>

  <div>
    <%= f.label :categoria %>
    <%= Admin::FormPresenter.select_field f,
                                   :categoria_curso_id,
                                   :field => :nome_for_selects,
                                   :collection => @categorias %>

  </div>

  <div>
    <%= f.label :descricao, "Conteúdo" %>
    <br/>
    <%= f.text_area :descricao, :class => "tinymce"%>
  </div>

  <%= Admin::FormPresenter.new_attachment f, :material_demonstracao, self,
                      :label => "Arquivo de Demonstração",
                      :add_more => false %>

  <%= Admin::FormPresenter.existing_attachment f, :material_demonstracao, self,
                      :download_url => :download_attachment_admin_products_path,
                      :edit_url => :update_attachment_admin_products_path,
                      :readonly => true %>
  <br class="clear" />

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    Formatos: .jpg, .gif ou .png<br />
    <% if arquivo.imagem.file? -%>
      <%= f.label '', '&nbsp;' %>
      <%= image_tag arquivo.imagem.url(:thumbnail)  %>
    <% end -%>
  </div>

  <div class="nested-form">
    <h3>Professores</h3>
    <div class="nested-form-rows">
      <%= render :partial => 'professor', :collection => arquivo.professors %>
    </div>
    <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'professor') %>">Adicionar professor</a>
  </div>

  <%= Admin::FormPresenter.new_attachment f, :produto_anexos, self,
                      :title => "Enviar arquivos" %>

  <%= Admin::FormPresenter.existing_attachment f, :produto_anexos, self,
                      :download_url => :download_attachment_admin_products_path,
                      :edit_url => :update_attachment_admin_products_path,
                      :title => "Arquivos Existentes",
                      :layout => "grid" %>

  <br class="clear" />

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>
