<h3>Resumo</h3>
<p>Total de ebooks: <%= @total -%></p>
<p>Total de comprados ativos: <%= @total_nao_expirados -%></p>
<h4>Comprados ativos por ebook:</h4>
<ul>
  <% @arquivos_com_quantidade_nao_expirada.each do |arquivo| -%>
    <li><span><%= arquivo.quantidade_nao_expirada %></span> - <%= arquivo.nome -%></li>
  <% end -%>
</ul>

