<% title "Ebooks" %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'arquivo', :label => 'novo ebook'} %>

<div class="registros">
  <%= render :partial => @arquivos %><br />
</div>

<br class="clear" />

<%= will_paginate @arquivos %>
