<%= check_box_tag "desconto[desconto_assinatura_items_attributes][][produto_id]", assinatura.id, selected_assinaturas.include?(assinatura.id), :id => "checkbox_assinatura_#{assinatura_counter}" %>
<%= label_tag "checkbox_assinatura_#{assinatura_counter}", assinatura.nome, :class => "checkbox-label" %>
<br class="clear" />
