<div>
  <span>
      <span class="titulo"><%= link_to "#{desconto.desconto}% de desconto", edit_admin_desconto_path(desconto) %></span> - <span class="data"> válido de <%= desconto.inicia_at.to_s(:padrao_data) -%> até <%= desconto.termina_at.to_s(:padrao_data) -%></span><br />
    <span class="adicional"><%= desconto_cursos_inclusos(desconto) -%>,</span>
    <span class="adicional"><%= desconto_assinaturas_inclusas(desconto) -%></span>
    <br />
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, desconto], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>
