<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.discountForm.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, desconto] ) do |f| %>
  <div>
    <%= f.label :inicia_at_string, "Data de Início" %>
    <%= Admin::FormPresenter.datepicker f, :inicia_at_string %>
  </div>

  <div>
    <%= f.label :termina_at_string, "Data de Término" %>
    <%= Admin::FormPresenter.datepicker f, :termina_at_string %>
  </div>

  <div>
    <%= f.label :desconto, "Desconto" %>
    <%= f.text_field :desconto, :class => "curso_preco_field", :maxlength => 3 %> %
  </div>

  <div class="nested-form">
    <h3>Incluir Produtos</h3>
    <div>
      <%= f.check_box :aplicar_todos_items, :class => "discount-checkbox-all-items"%>
      <%= f.label :aplicar_todos_items, "Aplicar em todos os cursos", :class => "checkbox-label" %>
    </div>
    <br class="clear"/>
    <div class="nested-form-rows discount-items">
      <%= render :partial => 'desconto_item', :collection => desconto.desconto_items %>
    </div>
    <a class="nested-form-add-row discount-add-item" href="#" data-template="<%= html_escape render(:partial => 'desconto_item') %>">Adicionar curso</a>
  </div>

  <div>
    <h3>Incluir Assinaturas</h3>
    <div>
      <%= f.check_box :aplicar_todas_assinaturas, :class => "discount-checkbox-all-signatures" %>
      <%= f.label :aplicar_todas_assinaturas, "Aplicar em todas as assinaturas", :class => "checkbox-label" %>
    </div>
    <br class="clear"/>
    <div class='discount-signatures'>
      <%= render :partial => 'assinatura', :locals => {:selected_assinaturas => Admin::DiscountPresenter.selected_signatures_ids(desconto) }, :collection => @assinaturas %>
    </div>
  </div>

  <br class="clear" />

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>
