<% title "Descontos" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'desconto'} %>

<div class="registros">
  <%= render :partial => @descontos %><br />
</div>
<br class="clear" />

<%= will_paginate @descontos %>