<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Canal GB</title>
</head>

<body style="background: #353535;">
<div style="margin: 0 auto; width: 500px; height: 500px; font: 16px bold Arial, Helvetica, sans-serif; text-align: center; color: #fff;">
  <%= image_tag "logo_gustavo_brigido.png", :style => "margin: 50px 0 20px 0" %>
  <% if false && !user_liked_page(request) %>
      <p>Para assistir ao Canal GB você deve primeiro curtir a nossa fanpage.</p>
  <% elsif !@live_channel.facebook_embedded_content.blank? %>
      <p><%= @live_channel.facebook_embedded_content %></p>
      <% unless @live_channel.supporting_materials.blank? %>
          <div>
            <h4><span>Material de Apoio</span></h4>
            <%= render :partial => 'supporting_material', :collection => @live_channel.supporting_materials %>
          </div>
      <% end %>
  <% else %>
      <p>No momento, o canal não está disponível. Desculpe-nos pelo transtorno.</p>
  <% end %>
</div>
</body>
</html>