<% if @simulated_tests.present? %>
<div class="descricao_curso simulado" style="width: 550px; margin: 20px 0 0 0;">
    <h4 style="margin-bottom: 10px;"><span>Simulado(s) para este curso</span></h4>
    <% @simulated_tests.each do |simulated_test| %>
        <p><%= link_to simulated_test.nome, acessar_simulated_test_path(simulated_test) %></p>
    <% end %>
</div>
<% end %>