<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.forms.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, pacote], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 60 %>
  </div>

  <div>
    <%= f.label :publico_alvo, "Público-alvo" %>
    <%= f.text_field :publico_alvo, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :categoria %>
    <%= Admin::FormPresenter.select_field f,
                                   :categoria_curso_id,
                                   :field => :nome_for_selects,
                                   :collection => @categorias %>
  </div>

  <div>
    <%= f.label :video_upload_demonstracao_id, "Vídeo Demonstração" %>
    <%= Admin::FormPresenter.select_field f,
                                   :video_upload_demonstracao_id,
                                   :field => :nome,
                                   :collection => @video_upload_demonstracaos %>
  </div>

  <div>
    <%= f.label :descricao, "Conteúdo" %>
    <br/>
    <%= f.text_area :descricao, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :investimento, 'Investimento' %>
    R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
  </div>

  <div>
    <%= f.label :price_condition, 'Condição de Preço' %>
    <br/>
    <%= f.text_area :price_condition, :rows => 5, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :carga_horaria, "Carga Horária" %>
    <%= f.text_field :carga_horaria, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :numero_videos, "Número de Vídeos" %>
    <%= f.text_field :numero_videos, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :ativo, "Ativo" %>
    <%= f.check_box :ativo  %>
  </div>

  <div>
    <%= f.label :enable_download, "Permitir Download" %>
    <%= f.check_box :enable_download  %>
  </div>

  <div>
    <%= f.label :disponivel_venda, "Disponível para Venda" %>
    <%= f.check_box :disponivel_venda  %>
  </div>

  <div>
    <%= f.label :tempo_expiracao, "Validade (Dias)" %>
    <%= f.text_field :tempo_expiracao, :class => "curso_preco_field", :maxlength => 3 %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    Formatos: .jpg, .gif ou .png<br />
    <% if pacote.imagem.file? -%>
      <%= f.label '', '&nbsp;' %>
      <%= image_tag pacote.imagem.url(:thumbnail)  %>
    <% end -%>
  </div>

  <div class="nested-form">
    <%= Admin::FormPresenter.title_with_validation(f, "Cursos On-line", :pacote_items, self) %>
    <div class="nested-form-rows">
      <%= render :partial => 'pacote_item', :collection => pacote.pacote_items %>
    </div>
    <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'pacote_item') %>">Adicionar item</a>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>
<% end %>
