<% pacote_item ||= PacoteItem.new %>
<div class="nested-form-row">
  <% fields_for "pacote[pacote_items_attributes][]", pacote_item, :index => nil do |t| %>
    <div class="multimodel-fields">
      <% if Settings.product.allow_nested_items_sort %>
        <%= image_tag "backend/drag-drop-table-row.png", :class => "drag-drop-table-icon" %>
      <% end %>
      <%= Admin::FormPresenter.select_field t, :video_aula_id, :remote => true,
                                        :url => ajax_search_admin_video_aulas_path,
                                        :field => :nome,
                                        :item => pacote_item.video_aula  %>
      <div class="multimodel-remove">
        <a class="nested-form-delete-row" href="#">
          <%= image_tag("backend/icons/remove.gif") %>
        </a>
        <span>remover</span>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>