<div>
  <span>
    <span class="titulo"><%= link_to pacote.nome, edit_admin_pacote_path(pacote) %></span><br />
    <span class="data"><%= pacote.categoria.nome %> -
    Criado em <%= pacote.created_at.to_s(:padrao_data_hora) -%> -
    <%= pluralize(pacote.pacote_items.count, "curso") -%>
    </span><br/>
    <span class="additional"><%= pacote.investimento.real_formatado -%></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, pacote], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>