<h3>Resumo</h3>
<p>Total de pacotes: <%= @total -%></p>
<p>Total de comprados ativos: <%= @total_nao_expirados -%></p>
<h4>Comprados ativos por pacote</h4>
<ul>
  <% @pacotes_com_quantidade_nao_expirada.each do |pacote| -%>
    <li><span><%= pacote.quantidade_nao_expirada %></span> - <%= pacote.nome -%></li>
  <% end -%>	
</ul>

