<% title "Pacotes" %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'pacote'} %>

<div class="registros">
  <%= render :partial => @pacotes %><br />
  <br class="clear" />
</div>
<br class="clear" />

<%= will_paginate @pacotes %>