<span>
  <%= pluralize(fatura_item.quantity, "Unidade") %>
  -
  <%= fatura_item.produto.class.human_name.capitalize %>
  -
  <%= fatura_item.produto.nome %>
  -
  <%= fatura_item.price_com_desconto.real_formatado %>
  <% if !fatura_item.cupom_codigo.blank? -%>
  - <%= "Cupom #{fatura_item.cupom_codigo} - #{fatura_item.cupom_desconto}%"%>   
  <% end -%>
</span>
<br/>