<div>
  <span>
    <%= image_tag "backend/status/#{fatura.status_legible.split(" ")[0].downcase}.png", :alt => fatura.status_legible, :title => fatura.status_legible %>
    <span class="titulo"><%= link_to fatura.user.name, edit_admin_fatura_path(fatura) %></span>
    <span class="data">de <%= fatura.created_at.to_s(:padrao_data_hora) %></span><br />
    <span class="adicional"><%= pluralize(invoice_items_count(fatura), "produto") %> - <%= truncate(fatura.fatura_items.map{ |i| i.produto.nome}.join(", "), 80) %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, fatura], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>