<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.invoiceSummary.setup();
    });
  </script>
<% end %>
<div id="filtros">
  <% form_tag resumo_admin_faturas_path, :method => :get do %>
    <p>
      <%= label_tag "filtro_tipo", "Tipo" %>
      <%= select("filtro", "tipo", @tipos_produtos, { :include_blank => true, :selected => (params[:filtro] && params[:filtro][:tipo]) ? params[:filtro][:tipo] : "" }, :class => "filter-product-type") %>
    </p>
    <p class="products-filter-container">
      <%= label_tag "filtro_curso", "Produto" %>
      <%= collection_select "filtro", "curso", cursos, :id, :nome, {:include_blank => true, :selected => (params[:filtro] && params[:filtro][:curso]) ? params[:filtro][:curso].to_i : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[periodo_inicial]", "Período Inicial" %>
      <%= Admin::FormPresenter.datepicker_tag 'filtro[periodo_inicial]', ((params[:filtro] && params[:filtro][:periodo_inicial]) ? params[:filtro][:periodo_inicial] : nil) %>
    </p>
    <p>
      <%= label_tag "filtro[periodo_final]", "Período Final" %>
      <%= Admin::FormPresenter.datepicker_tag 'filtro[periodo_final]', ((params[:filtro] && params[:filtro][:periodo_final]) ? params[:filtro][:periodo_final] : nil) %>
    </p>
    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
    </p>
  <% end %>
</div>