<div id="filtros">
  <% form_tag admin_faturas_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[aluno]", "Aluno" %>
      <%= text_field_tag "filtro[aluno]", (params[:filtro] && !params[:filtro][:aluno].blank?) ? params[:filtro][:aluno] : "" %>
    </p>
    <p>
      <%= label_tag "filtro[curso]", "Produto" %>
      <%= collection_select "filtro", "curso", cursos, :id, :nome, {:include_blank => true, :selected => (params[:filtro] && params[:filtro][:curso]) ? params[:filtro][:curso].to_i : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[status]", "Situação" %>
      <%= select "filtro", "status", Fatura::STATI.map {|a| [ Fatura.status_label(a), a ] }, {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:status].blank?) ? params[:filtro][:status].to_sym : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[expira]", "Vence em" %>
      <%= select "filtro", "expira", (1..36).each{|i| [[i.to_s, i.to_s]]}, {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:expira].blank?) ? params[:filtro][:expira].to_i : ""} %>
      <span>(número de meses para vencer. Ex. Se utilizar 2, serão filtradas as faturas que irão vencer em 2 meses ou menos)</span>
    </p>
    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
      <span class="botao_export"><%= link_to 'Exportar emails', exportar_emails_admin_faturas_path %></span>
    </p>
  <% end %>
</div>