<% form_for( [:admin, fatura] ) do |f| %>

  <div>
    <%= label_tag 'processada', "Processada em" %>
    <%= fatura.created_at.to_s(:padrao_data_hora) %>
  </div>
  
  <% if !fatura.processado_at.blank? %>
  <div>
    <%= label_tag 'processada_pagseguro', "Processada pelo PagSeguro em" %>
    <%= fatura.processado_at.to_s(:padrao_data_hora) %>
  </div>
  <% end -%>
  <div class="clear"></div>
  <div>
    <%= label_tag 'cliente', "Cliente" %>
    <%= fatura.user.name %>
  </div>

  <div>
    <%= f.label :status, "Situação" %>
    <%= f.select :status, Fatura.statuses.map {|a| [ Fatura.status_label(a), a ] } %>
  </div>
  
  <div>
    <%= f.label :total_price, "Total" %>
    <%= fatura.total_price.real_formatado %>
  </div>

  <h2>Ítens da Fatura</h2>
  <div>
    <%= render :partial => 'admin/faturas/fatura_item', :collection => fatura.fatura_items %><br />
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
  </div>

<% end %>