<h3>Resumo</h3>
<p>Total de faturas: <%= @total -%></p>
<p>Total de aprovadas: <%= @total_aprovadas -%></p>
<p>Total de pendentes: <%= @total_pendentes -%></p>
<p>Total de canceladas: <%= @total_canceladas -%></p>
<p>Total de reembolsadas: <%= @total_reembolsadas -%></p>
<p>Total em verificação: <%= @total_verificando -%></p>
