<% title "Faturas"  %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros', :locals => {:cursos => @cursos} %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :adicionar => false, :entidade => 'fatura'} %>
<div class="registros">
  <%= render :partial => @faturas %><br />
</div>
<br class="clear" />

<%= will_paginate @faturas %>
