<% title "Produtos Mais Vendidos"  %>

<%= render :partial => 'filtros_resumo', :locals => {:cursos => @cursos} %>

<div class="registros">
<table class="cursos_vendidos">
	<tr>
		<td class="titulo1">Produto</td>
		<td class="titulo2 borda">Vendas</td>
	</tr>
	<% @resumo.each do |curso, quantidade| -%>
	<tr>
		<td><%= curso.nome %></td>
		<td class="borda"><%= pluralize(quantidade,'unidade') %></td>
	</tr>
	<% end -%>
	<tr>					
        <td><b>Total</b></td>
        <td class="borda"><b><%= pluralize(@total,'unidade') %></b></td>
    </tr>
</table>
	
</div>