<span>Voc&ecirc; est&aacute; vendo: <%= video.nome %></span>
<%= show_player :video => download_video_upload_path(:id => video.id, :curso_id => curso_id), :style=> "display:block;width:600px;height:400px" %>

<div class="acoes-player">
<% if Products::EnableVideoDownloadPresenter.enable?(video, current_user, curso_id) %>
  <span style="color: #fff; padding: 7px 20px 8px 20px; float: left; margin:0; font-weight: normal;" class="button green"><%= link_to "Baixar este Vídeo", download_file_video_upload_path(:id => video.id, :curso_id => curso_id), :style=> "color: #fff;"%></span>
<% end %>

<button class="next-video-button button gray" style="float: right; display:none; margin: 0 0 0 7px;" type="button" data-video-id="<%= video.id %>">Próxima Aula</button>

<button class="previous-video-button button gray" style="float: right; display:none " type="button" data-video-id="<%= video.id %>">Aula Anterior</button>
<br class="clear" />

</div>