<% title @curso ? @curso.nome : "Pacote de Cursos On-line" %>
<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "pacotes_assistir.js" %>
<% end %>

<h2>Assistir às aulas</h2>

<% form_tag url_for(:controller => "video_aulas", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
        <% unless @curso.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para Meus Cursos", meus_cursos_path %></span>
            <h2><%= @curso.nome %></h2>
            <p class="validade_curso">Você tem acesso a este curso até: <span><%= @curso.expira_at -%></span>.</p>

            <div class="resumo">
              <div id="view_video" class="video_assistir">
                <%= render :partial => "view", :locals => {:video => @curso.video_aulas.first.videos.first.video_upload, :curso_id => @curso.id } %>
              </div>
              <br class="clear" />
            </div>

            <div id="simulated_area">
              <%= render_cell "available_product_simulated_tests_for_user", :show, :product => @curso %>
            </div>

            <!--
            <% unless @curso.descricao.blank? -%>
              <div class="descricao_curso">
                <h4><span>Conteúdo</span></h4>
                <p><%=raw @curso.descricao.nl2br %></p>
              </div>
            <% end -%>

            <div class="descricao_curso">
              <h4><span>Cursos do Pacote</span></h4>
              <ul class="lista_cursos_pacote">
                <% @curso.pacote_items.each do |item| -%>
                  <li>
                    <span class="thumb"><%= image_tag(item.video_aula.imagem.file? ? item.video_aula.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></span>
                    <p>
                    <span class="nome_curso_pct"><%= item.video_aula.nome %></span><br />

                  <% unless item.video_aula.descricao.blank? %>
                    <span class="desc_curso_pct"><%= item.video_aula.descricao %></span><br />
                  <% end %>

                  <% unless item.video_aula.professors.blank? %>
	                    <span class="prof_curso_pct"><%= "Professor" + ((item.video_aula.professors.count > 1) ? "es" : "") %>: <%= item.video_aula.professors.map{|a| a.professor.nome}.join(", ") %></span>
                  <% end %>
					</p>
                  </li>
                <% end -%>
              </ul>
            </div>

			<div class="clear"></div>

			<% unless @curso.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>
              <p><%= @curso.publico_alvo %></p>
            </div>
			<% end -%>

			<% unless @curso.carga_horaria.blank? -%>
              <div class="descricao_curso">
                <h4><span>Carga Horária</span></h4>
                <p><%= @curso.carga_horaria %></p>
              </div>
            <% end -%>
      <div class="descricao_curso">
        <h4>
          <span>Tempo de Acesso ao Curso</span>
        </h4>
        <p>Você pode acessar este curso por <%= pluralize(@curso.tempo_expiracao,'dia','dias') %> após a compra</p>
      </div>

			     <% unless @curso.numero_videos.blank? -%>
              <div class="descricao_curso">
                <h4><span>Número de Vídeos</span></h4>
                <p><%= @curso.numero_videos %></p>
              </div>
            <% end -%>

            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @curso.investimento_com_desconto_ativo.reais_formatado %></p>
            </div>-->

            <div class="descricao_curso">
              <h4><span id="label_lista_material_apoio"><%= pluralize(@curso.video_aulas.first.produto_anexos.count, "Material de Apoio", "Materiais de Apoio") %> - <%= @curso.video_aulas.first.nome -%></span>
              </h4>
              <div id="lista_material_apoio">
				        <%= '<p>Nenhum material disponível para este curso.</p>' if @curso.video_aulas.first.produto_anexos.empty?  %>
                <%= render :partial => 'produto_anexo', :collection => @curso.video_aulas.first.produto_anexos, :locals => {:pacote_id => @curso.id, :curso_id => @curso.video_aulas.first.id } %>
              </div>
            </div>

            <div class="clear"></div>
          </div>
        <% end -%>
    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

	<div class="banner_vertical">
		<h2 style="margin-bottom: 10px;">Cursos dispon&iacute;veis</h2>
		<label style="color:#6D6D6D; font-size: 13px;">Escolha um curso:</label>
		<%= select_tag "cursos_do_pacote", options_from_collection_for_select(@curso.video_aulas, "id", "nome"), :onchange => remote_function(:url => {:controller => 'video_aulas', :action => 'view_cursos_lateral' }, :with => "'pacote_id=#{@curso.id}&'+'curso_id='+ +this.options[this.selectedIndex].value"), :style=>"margin-top: 5px;" %>

		<div id="lista_cursos" class="lista_aulas_curso" style="margin-top: 10px;">
			<h4>Aulas</h4>
		<%= render :partial => "view_curso_lateral", :locals => {:curso => @curso.video_aulas.first, :pacote_id => @curso.id } %>
		</div>
		<br class="clear" />
  </div>
</div>
