<% title "Cursos On-line" %>
<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "jquery.easytabs.min" %>
  <%= javascript_include_tag "video_aulas" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.videoAulas.init("<%= sort_video_aulas_path %>");
    });
  </script>
<% end %>

<h2>Cursos</h2>
<div class="principal">
  <% form_tag video_aulas_path, :method => :get, :class => "form_busca", :id => "form_busca" do %>
      <div class="busca">
        <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :show_tipo => true, :titulo => 'Busca de Cursos On-line'} %>
      </div>
      <% if not @cursos.blank? %>
        <div class="exibi_cursos">
          <h2>Resultados de sua busca</h2>
          <ul class="lista_cursos">
            <% @cursos.each do |curso| -%>
              <li>
                <% link_to polymorphic_path(curso) do %>
                  <p class="thumb"><%= image_tag(curso.imagem.file? ? curso.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>
                  <p class="desc_curso"><%= curso.nome %><br /><span><%=raw truncate_html(curso.descricao, :length => 150) %></span></p>
                <% end -%>
                <br class="clear"/>
              </li>
            <% end -%>
          </ul>
          <div class="paginacao">
            <%= will_paginate @cursos %>
          </div>

        </div>
      <% end %>
  <% end %>
  <br class="clear"/>
  <div class="exibi_cursos">
    <h2>Lançamentos</h2>
    <%= render_cell "produtos_destaque", :show, :only_assistiveis => true, :show_sorting => true %>
    <br class="clear"/>
  </div>
</div>

<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>
</div>
