<% title @curso ? @curso.nome : "Cursos On-line" %>

<h2>Cursos</h2>
<% form_tag url_for(:controller => "video_aulas", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :show_tipo => true} %>
    </div>


        <% unless @curso.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Cursos", video_aulas_path %></span>
            <h2><%= @curso.nome %></h2>

            <div class="resumo">
              <div class="video">
              <span>Assista à aula Demonstrativa</span>
                <% if @curso.video_upload_demonstracao.nil? %>
                  <%= image_tag "video.png", :alt => @curso.nome, :title => @curso.nome %>
                <% else %>
                  <%= show_player :video => download_video_upload_path(@curso.video_upload_demonstracao),
                    :style=> "display:block;width:400px;height:267px",
		    :splash => (@curso.imagem.file? ? @curso.imagem.url(:player) : "") %>
                <% end %>
              </div>
              <div class="detalhes">
                <div class="detalhes_info">
                  <h4>Informações</h4>


                  <p>
                    Este pacote é composto por <%= pluralize(@curso.pacote_items.count, "curso", "cursos") %>.<br />
                    Categoria: <%= @curso.categoria.nome %><br />

                   <%= html_preco_pacote(@curso) %>
                  </p>
                  <% link_to add_to_cart_video_aula_path(@curso), :class => "btn_comprar button gray" do -%>Comprar<span></span><% end -%>
          				<span class="btn_redes_sociais">
          					<span class="btn_tweet"><%= twitter_button :text => "Curso #{@curso.nome}" -%></span>
            				<span class="btn_facebook"><%= facebook_button -%></span>
          				</span>
                </div>

              </div>
              <br class="clear" />
            </div>
			<% unless @curso.descricao.blank? -%>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>
              <p><%=raw @curso.descricao.nl2br %></p>
            </div>
			<% end -%>
            <div class="descricao_curso">
              <h4><span>Cursos do Pacote</span></h4>
              <ul class="lista_cursos_pacote">
                <% @curso.pacote_items.each do |item| -%>
                  <li>
                    <span class="thumb"><%= image_tag(item.video_aula.imagem.file? ? item.video_aula.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></span>
					<p>
                    <span class="nome_curso_pct"><%= item.video_aula.nome %></span><br />
					<% unless item.video_aula.descricao.blank? %>
                    <span class="desc_curso_pct"><%= item.video_aula.descricao %></span><br />
					<% end %>
					<% unless item.video_aula.professors.blank? %>
	               <span class="prof_curso_pct"><%= "Professor" + ((item.video_aula.professors.count > 1) ? "es" : "") %>: <%= item.video_aula.professors.map{|a| a.professor.nome}.join(", ") %></span>
					<% end %>

					</p>
                  </li>
                <% end -%>
              </ul>
              <br class="clear" />
            </div>
			<div class="clear"></div>
			<% unless @curso.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>
              <p><%= @curso.publico_alvo %></p>
            </div>
			<% end -%>
			<% unless @curso.carga_horaria.blank? -%>
              <div class="descricao_curso">
                <h4><span>Carga Horária</span></h4>
                <p><%= @curso.carga_horaria %></p>
              </div>
            <% end -%>
      <div class="descricao_curso">
        <h4>
          <span>Tempo de Acesso ao Curso</span>
        </h4>
        <p>Você pode acessar este curso por <%= pluralize(@curso.tempo_expiracao,'dia','dias') %> após a compra</p>
      </div>

			<% unless @curso.numero_videos.blank? -%>
              <div class="descricao_curso">
                <h4><span>Número de Vídeos</span></h4>
                <p><%= @curso.numero_videos %></p>
              </div>
            <% end -%>
            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @curso.investimento_com_desconto_ativo.reais_formatado %></p>
            </div>
            <div class="clear"></div>
          </div>
        <% end -%>

    <br class="clear" />

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
