<% title "Parceiros" -%>

<div class="conteudo_geral">

<h2>Parceiros</h2>

<div class="principal">
      <div class="exibi_parceiros">	
	
        <% unless @parceiros.blank? -%>
          <ul class="lista_parceiros">
            <% @parceiros.each do |parceiro| -%>
              <li>
				<p class="thumb"><%= image_tag parceiro.imagem.url(:thumbnail), :size => "90x70" %></p>
				<p class="desc_parceiro">
					<%= link_to parceiro.nome, parceiro.url %><br />
				</p>
				<br class="clear" />
              </li>
            <% end -%>
            <br class="clear" />
          </ul>
        <% end -%>

        <br class="clear" />
      </div>
  <br class="clear" />
</div>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>

</div>
