<% presenter = Courses::CoursePresenter.new(course) %>

<li class="item-thumbs span3 design">
  <% link_to presenter.url, :title => presenter.name do %>
    <%= image_tag(presenter.thumbnail) %>
  <% end %>
	<p class="desc-curso-titulo"><%= presenter.name %></p>
	<p class="preco-normal"><%= presenter.price %></p>
</li>