<% unless @courses.blank? %>
  <div class="row">
  	<div class="span12">
  		<h4 class="heading">Veja <strong>Nossos Cursos</strong></h4>
  		<div class="row">
  			<section id="projects">
    			<ul id="thumbs" class="portfolio">
            <%= render :partial => "course", :collection => @courses %>
    			</ul>
  			</section>
  		</div>
  	</div>
  </div>
<% end %>