<% title @ticket ? @ticket.nome : "Ao Vivo" %>
<h2>Ao Vivo</h2>
<% form_tag url_for(:controller => "tickets", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
  <div class="principal">
    <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias} %>
    </div>
        <% unless @ticket.blank? -%>
          <div class="exibi_cursos">
            <span class="btn_voltar"><%= link_to "Voltar para lista de Aulas ao Vivo", tickets_path %></span>
            <h2><%= @ticket.nome %></h2>

            <div class="resumo">
              <div class="video">
                <%= image_tag @ticket.imagem.url(:player), :alt => @ticket.nome, :title => @ticket.nome %>
              </div>
              <div class="detalhes">
                <div class="detalhes_info">
                  <h4>Informações</h4>
                  <%= html_preco_ticket(@ticket) %>
                  <% link_to add_to_cart_ticket_path(@ticket), :class => "btn_comprar button gray" do -%>Comprar<% end -%>
				<span class="btn_redes_sociais">
					<span class="btn_tweet"><%= twitter_button :text => "Aula ao Vivo #{@ticket.nome}" -%></span>
					<span class="btn_facebook"><%= facebook_button -%></span>
				</span>

                </div>
              </div>
              <br class="clear" />
            </div>
            <% unless @ticket.descricao.blank? %>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>
              <p><%=raw @ticket.descricao.nl2br %></p>
            </div>
			<% end -%>
			<% unless @ticket.professors.blank? -%>
            <div class="descricao_curso">
              <h4><span><%= @ticket.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
              <% @ticket.professors.each do |professor| -%>
                <p>
				<% if professor.professor.imagem.file? -%>
				<%= image_tag professor.professor.imagem.url(:thumbnail) %>
				<% end -%>
                <%= link_to professor.professor.nome, professor_path(professor.professor) %>
				</p>
              <% end -%>
            </div>
			<% end -%>
			<% unless @ticket.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>
              <p><%= @ticket.publico_alvo %></p>
            </div>
			<% end -%>
			<% unless @ticket.carga_horaria.blank? -%>
              <div class="descricao_curso">
                <h4><span>Carga Horária</span></h4>
                <p><%= @ticket.carga_horaria %></p>
              </div>
            <% end -%>
            <div class="descricao_curso">
              <h4><span>Investimento</span></h4>
              <p><%= @ticket.investimento_com_desconto_ativo.reais_formatado %></p>
            </div>
            <div class="clear"></div>
          </div>
        <% end -%>

    <div class="clear"></div>

  </div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>

<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
