<% title "Contato" -%>

<h2>Contato</h2>

<div class="conteudo_contato">
    <div id="container_contato">
      <%= render :partial => 'form',
        :locals => {:contact => @contact} %>
    </div>
    <div class="info_extras">
      <h3>Se preferir, use as redes sociais. Será um prazer atendê-lo!</h3>
      <div class="acompanhe" style="margin: 0;">
        <ul>
          <li><%= link_to "Facebook", "https://www.facebook.com/gustavobrigido", :class => "fbk" %></li>
          <li><%= link_to "Twitter", "https://twitter.com/ProfGBrigido", :class => "twt" %></li>
          <li><%= link_to "RSS", rss_video_aulas_path, :class => "rss" %></li>
        </ul>
      </div>
    </div>
    <br class="clear"/>
</div>
