<% disable_link ||= false %>
<% presenter = Themes::MartaGarcia::Presenters::ProfessorPresenter.new professor %>

<li class="span3 design">
  <%= disable_link ?
      image_tag(presenter.thumbnail, :title => presenter.thumbnail_name) :
      link_to(image_tag(presenter.thumbnail), presenter.url, :title => presenter.thumbnail_name)
  %>
	<p class="desc-curso-titulo"><%= presenter.nome %></p>
  <% if presenter.email.present? %>
    <p><%= link_to presenter.email, "mailto:#{professor.email}" %></p>
  <% end %>
</li>