<% title "Professores - #{Settings.site}" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Professores</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="span9">
				<i class='icon-circle-arrow-left'></i><%= link_to "Voltar para lista de Professores", professors_path %>
        <ul id="thumbs" class="portfolio">
  				<%= render :partial => "professor", :locals => {:professor => @professor, :disable_link => true} %>
        </ul>
			</div>

			<div class="span3">
				<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
				<%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>



















