<% title "Marta Garcia" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="inner-heading"><h2>Perguntas Mais Frequentes</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

    <div class="row">
      <div class="span12">
        <%=raw @sobre.content_3 %>
      </div>
    </div>
</section>
