<% title "Inglês Instrumental - Profa. Marta Garcia" %>
<% about = SitePageContent.find_or_create_by_name(SitePageContent::NAME_SOBRE.to_s) %>
<%= render :partial => "banner_flutuante" %>
<%= render_cell "home/featured", :show %>

<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="big-cta">
          <div class="cta-text">
            <% if about.content_2.blank? %>
              <h3>Nós já treinamos <span class="highlight"><strong>3500 pessoas</strong></span> em 13 anos de história!</h3>
            <% else %>
              <%=raw about.content_2 %>
            <% end %>
          </div>
          <div class="cta floatright">
            <%= link_to 'Entre em Contato!', contacts_path, :class => "btn btn-large btn-theme btn-rounded" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
    <%#= render_cell :"home/courses", :show %>
    <%= render_cell :"testimonials/testimonials", :show_home %>
  </div>
</section>