<% title "Inglês Marta Garcia" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Marta Garcia</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

    <div class="row">
      <div class="span8">
        <%=raw @sobre.content %>
      </div>
      <div class="span4">
      	<img src="images/marta_garcia/pessoas/marta-garcia.jpg" />
      </div>
    </div>

    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->

    <div class="row">
      <div class="span8">
      	<h4>Empresa</h4>
      	<p>Há 12 anos, o Curso Marta Garcia foi fundado em Fortaleza/CE com o objetivo de satisfazer as necessidades específicas do público adulto com metodologias diferenciadas e atendimento personalizado para cada objetivo.</p>
      	<p>Nosso curso fica localizado na Av. Senador Virgilio Távora, 1701, Sala 1205 na Aldeota em Fortaleza/CE. Entre as Avenidas Padre Antônio Tomás e Santos Dumont.</p>
      	<p>O Curso Marta Garcia oferece aos seus alunos salas:</p>
      	<ul>
	      	<li>Climatizadas;</li>
	      	<li>Ampla iluminação;</li>
	      	<li>Mesas e cadeiras confortáveis.</li>
      	</ul>
      </div>
      <div class="span4">
	      <div class="flexslider">
		  	<ul class="slides">
      			<li><img src="images/marta_garcia/estrutura/sala-1.jpg" /></li>
      			<li><img src="images/marta_garcia/estrutura/sala-2.jpg" /></li>
        	</ul>
	      </div>
      </div>

    </div>

    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->

    <a name="depoimentos"></a>
<h4><strong>Depoimentos</strong> dos nossos alunos</h4>
    <%= render_cell :"testimonials/testimonials", :show_about %>    

    <%#= link_to "FAQ", faq_path %>
</section>
