<% title "Termos de Uso" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Termos de Uso</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%=raw @termos.content %>
  </div>
</section>