<% title "Professores - #{Settings.site}" -%>

<h2>Professores</h2>

	<div class="principal">


	<div class="caixa_canto_redondo_branca">
		
		<div class="caixa_topo_branca"><div></div></div>
		
		<div class="caixa_conteudo_branca">
		
			<span class="btn_voltar"><%= link_to "Voltar para lista de Professores", professors_path %></span>
			<div class="exibir_professores">
				<ul class="lista_professor">
					<%= render :partial => "professor", :locals => {:professor => @professor} %>	
				<ul>
				<br class="clear" />
			</div>
			
	    </div>
	    
	  </div>
	  <div class="caixa_rodape_branca"><div></div></div>
	</div>
	
	
	<div class="col3_interna">
		<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
<!--
		<div id="form_newsletter" class="newsletter newsletter_interna">
			<%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
		</div> -->
		<%= render :partial => "cursos/banners" %>
	</div>
	
	<br class="clear" />
	
</div>	
	
	

















