<% if !flash.blank? && (!flash[:error].blank? || !flash[:notice].blank? || !flash[:message].blank?) %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= flash[:error] || flash[:notice] || flash[:message] %>
</div>
<% end %>
