<div class="navigation">
	<nav>
  	<ul class="nav topnav bold">
      <% content_tag :li, :class => ((params[:action] == 'home') ? 'active' : '') do %>
        <%= link_to 'Início', home_path, :title => 'Página Inicial' %>
      <% end %>
      <% content_tag :li, :class => ((params[:action] == 'sobre') ? 'active' : '') do %>
        <%= link_to 'Marta Garcia', sobre_path, :title => 'Conheça o Curso Marta Garcia' %>
      <% end %>

      <% content_tag :li, :class => ((params[:controller] == 'video_aulas' || params[:controller] == 'cursos') ? 'dropdown active' : 'dropdown') do %>
        <%= link_to 'Inglês Instrumental', "#", :title => 'Inglês Instrumental' %>
        <ul class="dropdown-menu bold" style="display: none;">
          <li><%= link_to 'Online', "http://www.inglesinstrumentalonline.com.br/cursos-on-line/5-ingles-instrumental-online", :title => 'Online' %></li>
          <li><%= link_to 'Presencial em Fortaleza/CE', "http://www.inglesinstrumentalonline.com.br/cursos-presenciais/9-curso-ingles-fortaleza---instrumental---novas-turmas", :title => 'Presencial em Fortaleza/CE' %></li>
        </ul>
      <% end %>

      <!--
      <% content_tag :li, :class => ((params[:controller] == 'video_aulas') ? 'active' : '') do %>
        <%= link_to 'Cursos On-line', video_aulas_path, :title => 'Cursos On-line' %>
      <% end %>
      <% content_tag :li, :class => ((params[:action] == 'cursos') ? 'active' : '') do %>
        <%= link_to 'Cursos Presenciais', cursos_path, :title => 'Cursos Presenciais' %>
      <% end %>
    -->
      <% content_tag :li do %>
        <%= link_to 'Depoimentos', sobre_path(:anchor => "depoimentos"), :title => 'Depoimentos' %>
      <% end %>
      <% content_tag :li, :class => ((params[:action] == 'blog') ? 'active' : '') do %>
        <%= link_to 'Blog', "http://blog.inglesinstrumentalonline.com.br/blog/",  :title => 'Blog' %>
      <% end %>







      <%# content_tag :li, :class => ((params[:action] == 'tickets') ? 'active' : '') do %>
        <%#= link_to 'Ao vivo', tickets_path %>
      <%# end %>
      <%# content_tag :li, :class => ((params[:action] == 'professors') ? 'active' : '') do %>
        <%#= link_to 'Professores', professors_path %>
      <%# end %>
      <%# content_tag :li, :class => ((params[:controller] == 'parceiros') ? 'active' : '') do %>
        <%#= link_to 'Parceiros', parceiros_path %>
      <%# end %>
      <%# content_tag :li, :class => ((params[:controller] == 'noticias') ? 'active' : '') do %>
        <%#= link_to 'Notícias', noticias_path %>
      <%# end %>
      <% content_tag :li, :class => ((params[:controller] == 'contacts') ? 'active' : '') do %>
        <%= link_to 'Contato', contacts_path %>
      <% end %>
  	</ul>
	</nav>
</div>
