<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) ? yield(:title) : Settings.site %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= include_meta_tags(@description) %>
    <%= stylesheet_link_merged :marta_garcia_frontend %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= javascript_include_merged :frontend_marta_garcia %>
    <%= yield :custom_javascript_includes %>
    <%= render_cell "analytics", :show %>
  </head>

  <body>
    <div id="wrapper" class="boxed">
    	<!-- start header -->
    	<header>
      	<div class="container">
      		<%= render_cell "session/login", :show, :user => current_user %>

      		<div class="row">
      			<div class="span2">
      				<div class="logo">
	      				<% link_to root_path do %>
	      				<%= image_tag "marta_garcia/logo.png" %>
	      				<% end %>
      				</div>
      			</div>

      			<div class="span10">
      				<div class="navbar navbar-static-top">
                <%= render :partial => "layouts/menu_frontend" %>
      				</div>
      			</div>
            <!--
       			<div class="span2 carrinho">
	      			<%= render :partial => "layouts/carrinho_topo", :locals => { :quantity => @total }%>
      			</div>
          -->

      		</div>
      	</div>
    	</header>

      <%= yield %>

    	<footer>
      	<div class="container">
          <% link_to 'Clique aqui.', termos_path  %>
      		<div class="row">
      			<div class="span3">
      				<div class="widget">
      					<h5 class="widgetheading">Institucional</h5>
      					<ul class="link-list">
      						<li><%= link_to 'Sobre o Curso Marta Garcia', sobre_path %></li>
      						<li><%= link_to "Depoimentos dos Nossos Alunos", sobre_path(:anchor => "depoimentos") %></li>
      						<li><%= link_to 'Cursos On-line', video_aulas_path %></li>
      						<li><%= link_to 'Cursos Presenciais', cursos_path %></li>
      						<li><%= link_to 'Entre em Contato', contacts_path %></li>
      					</ul>
      				</div>
      			</div>
      			<div class="span3">
      				<div class="widget">
      					<h5 class="widgetheading">Pontos importantes</h5>
      					<ul class="link-list">
      						<li><%= link_to 'Termos de Uso', termos_path %></li>
      						<li><%= link_to "Perguntas Mais Frequentes (FAQ)", faq_path %></li>
      					</ul>
      				</div>
      			</div>

      			<div class="span4">
      				<div class="widget">
      					<h5 class="widgetheading">Nossos Contatos</h5>
      					<address>
      					<strong>Curso Marta Garcia</strong><br>
      					 Av. Senador Virgilío Távora, 1701 - Sala 1205<br>
      					 Aldeota - Fortaleza/CE </address>
      					<p>
      						<i class="icon-phone"></i> (85) 3224.0907<br />
      						<i class="icon-phone"></i> (85) 8897.8800 - Principal<br />
      						<i class="icon-envelope-alt"></i> contato@inglesinstrumentalonline.com.br
      					</p>
      				</div>
      			</div>

  				<div class="span2">
  					<h6>Siga-nos</h6>
  					<ul class="social-network">
              <li>
                <% link_to Settings.social.youtube do %>
                  <i class="font-icon-social-youtube icon-rounded"></i>
                <% end %>
              <li>
                <% link_to Settings.social.instagram do %>
                  <i class="font-icon-social-photobucket icon-rounded"></i>
                <% end %>
              </li>
              <li>
                <% link_to Settings.social.google_plus do %>
                  <i class="font-icon-social-google-plus icon-rounded"></i>
                <% end %>
              </li>
              <li>
                <% link_to facebook_url do %>
                  <i class="icon-facebook icon-rounded"></i>
                <% end %>
              </li>
  					</ul>
  				</div>


      		</div>
      	</div>
      	<div id="sub-footer">
      		<div class="container">
      			<div class="row">



      				<div class="span12">
      					<div class="copyright">
      						<p>
                    <%= link_to image_tag("logo_siteblindado.png", :style => "width: 162px; height: 50px;"), "http://www.siteblindado.com/" %><br />
      							<span>&copy; Marta Garcia - Todos os direitos reservados.</span>
      						</p>
      					</div>
      				</div>


      			</div>
      		</div>
      	</div>
    	</footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

    <script type="text/javascript">
		/* <![CDATA[ */
			var google_conversion_id = 977212950;
			var google_custom_params = window.google_tag_params;
			var google_remarketing_only = true;
		/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/977212950/?value=0&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>

  </body>
</html>
