<% remote_form_for [:admin, contact], :name => "contact" do |f| -%>

  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, :value => current_user.name, :disabled => true %>
  </div>

  <div>
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field  :email, :value => current_user.email, :disabled => true %>
  </div>

  <div>
    <%= f.label :subject, 'Assunto' %>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :message, 'Mensagem' %>
    <%= f.text_area :message %>
  </div>

  <%= submit_tag ' ', :class => 'submit', :id => 'submit_suporte' %>

<% end %>