<% form_for( [:admin, termos], :url => admin_termos_path, :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :content, 'Conteúdo' %>
    <br/>
    <%= f.text_area :content, :class => "tinymce" %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>