<% title "Meus Ingressos" %>

<h2>Meus Ingressos Ativos</h2>

<%= link_to_function("Imprimir Ingressos", "javascript:print()", :class => "print-hidden") %>

<% if @classroom_tickets.present? %>
    <div class="conteudo_carrinho">
      <div class="registros">
      	<ul class="meus-ingressos">
      	<% @classroom_tickets.each do |classroom_ticket| %>
	      	<li>
	      		<p class="descricao" style="font-weight:bold; text-transform: uppercase; font-size: 18px; letter-spacing: -1px;"><%= classroom_ticket.classroom_event.nome %></p>
            <p class="descricao" style="padding-top:10px; color: #6b6b6b; font-style: italic;"><%= classroom_ticket.classroom_event.start_datetime.to_s(:padrao_data_hora) %></p>
            <p class="descricao" style="padding-top:10px"><span style="font-weight:bold; font-size: 16px;"><%= classroom_ticket.user.name %></span></p>
	      		<p class="codigo">Código do Ingresso <br /><span><%= classroom_ticket.code %></span></p>
	      	</li>
	      	<% end %>
      	</ul>

      </div>
    </div>
<% else %>
    <p>Você não nenhum ingresso ativo.</p>
<% end %>