<% content_for :custom_javascript_includes do %>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $.classroom_event.setup();
        });
    </script>
<% end %>
<% title @classroom_event ? @classroom_event.nome : "Eventos" %>
<h2>Eventos</h2>
<div class="principal">
  <% form_tag url_for(:controller => "classroom_events", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
      <div class="busca">
        <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias} %>
      </div>
  <% end -%>
  <% unless @classroom_event.blank? -%>
      <div class="exibi_cursos">
        <span class="btn_voltar"><%= link_to "Voltar para lista de Eventos", classroom_events_path %></span>

        <h2><%= @classroom_event.nome %></h2>

        <div class="resumo">
          <div class="video">

            <span>&nbsp</span>
            <% if @classroom_event.video_upload_demonstracao.nil? %>
                <%= image_tag "video.png", :alt => @classroom_event.nome, :title => @classroom_event.nome %>
            <% else %>
                <%= show_player :video => download_video_upload_path(@classroom_event.video_upload_demonstracao), :style => "display:block;width:400px;height:267px", :splash => (@classroom_event.imagem.file? ? @classroom_event.imagem.url(:player) : "") %>
            <% end %>

          </div>
          <div class="detalhes">
            <div class="detalhes_info">
              <h4>Informações</h4>
              <%= html_preco_classroom_event(@classroom_event) %>

              <%= link_to "Comprar", "#buy-dialog", :class => "btn_comprar button gray", :rel => "facebox" %>
              <div id='buy-dialog' style="display:none;">
                <h2>Quantidade de ingressos</h2>
                <% form_tag add_to_cart_classroom_event_path(@classroom_event), :method => :get do %>
                    <%= text_field_tag "tickets_quantity", '1', :maxlength => 2, :type => 'number', :min => '1', :max => '99', :class => 'tickets-quantity' %>
                    <%= submit_tag "Comprar", :class => "btn_comprar button gray btn-buy" %>
                <% end %>
                <p>(Caso deseje mais, digite a quantidade desejada.)</p>
              </div>
            <span class="btn_redes_sociais">
                <span class="btn_tweet"><%= twitter_button :text => "Evento #{@classroom_event.nome}" -%></span>
                <span class="btn_facebook"><%= facebook_button -%></span>
            </span>
            </div>
          </div>
          <br class="clear"/>
        </div>

        <div class="descricao_curso">
          <h4><span>Data do Evento</span></h4>

          <p><%= @classroom_event.start_datetime.to_s(:padrao_data_hora) %></p>
        </div>

        <% unless @classroom_event.descricao.blank? %>
            <div class="descricao_curso">
              <h4><span>Conteúdo</span></h4>

              <p><%=raw @classroom_event.descricao.nl2br %></p>
            </div>
        <% end -%>
        <% unless @classroom_event.professors.blank? -%>
            <div class="descricao_curso">
              <h4><span><%= @classroom_event.professors.count == 1 ? "Professor" : "Professores" %></span></h4>
              <% @classroom_event.professors.each do |professor| -%>
                  <p>
                    <% if professor.professor.imagem.file? -%>
                        <%= image_tag professor.professor.imagem.url(:thumbnail) %>
                    <% end -%>
                    <%= link_to professor.professor.nome, professor_path(professor.professor) %>
                  </p>
              <% end -%>
            </div>
        <% end -%>
        <% unless @classroom_event.publico_alvo.blank? -%>
            <div class="descricao_curso">
              <h4><span>Curso indicado para</span></h4>

              <p><%= @classroom_event.publico_alvo %></p>
            </div>
        <% end -%>
        <div class="descricao_curso">
          <h4><span>Investimento</span></h4>

          <p><%= @classroom_event.investimento_com_desconto_ativo.reais_formatado %></p>
        </div>
        <div class="clear"></div>
      </div>
  <% end -%>

  <div class="clear"></div>

</div>

<!-- fim do conteudo principal -->

<div class="col3_interna">
  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
  <%= render :partial => "cursos/banners" %>
</div>