<h3>Resumo</h3>
<p>Total de cursos on-line: <%= @total -%></p>
<p>Total de comprados ativos: <%= @total_nao_expirados -%></p>
<h4>Comprados ativos por curso on-line:</h4>
<ul>
  <% @video_aulas_com_quantidade_nao_expirada.each do |video_aula| -%>
    <li><span><%= video_aula.quantidade_nao_expirada %></span> - <%= video_aula.nome -%></li>
  <% end -%>	
</ul>

