<div>
  <span>
    <span class="titulo"><%= link_to video_aula.nome, edit_admin_video_aula_path(video_aula) %></span><br/>
    <span class="data"><%= video_aula.categoria.nome %> - Criado em <%= video_aula.created_at.to_s(:padrao_data_hora) %> - <%= video_aula.investimento.real_formatado -%></span>

    <% if video_aula.packages.present? %>
        <br/>
        <span style="font-style: italic; color: #666666;">Incluso no(s) pacote(s):</span>
        <br/>
        <% video_aula.packages.each do |package| %>
            <span style="padding-left: 20px; font-style: italic; color: #666;"> - <%= link_to package.nome, edit_admin_pacote_path(package) %></span>
            <br/>
        <% end %>
    <% end %>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, video_aula], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>