<% title "Cursos On-line" %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'video_aula', :label => 'novo curso on-line'} %>

<div class="registros">
  <%= render :partial => @video_aulas %><br />
</div>
<br class="clear" />

<%= will_paginate @video_aulas %>                
