<% content_for :custom_javascript_includes do %>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.backend.forms.setup();
        });
    </script>
<% end %>

<% form_for([:admin, ticket], :html => {:multipart => true}) do |f| %>

    <div>
      <%= f.label :nome %>
      <%= f.text_field :nome, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :codigo_embed, "Código Embed" %>
      <%= f.text_area :codigo_embed, :rows => 7 %>
    </div>

    <div>
      <%= f.label :publico_alvo, "Público-alvo" %>
      <%= f.text_field :publico_alvo, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :investimento, "Investimento" %>
      R$ <%= f.text_field :investimento, :class => "curso_preco_field" %>
    </div>

    <div>
      <%= f.label :price_condition, 'Condição de Preço' %>
      <br/>
      <%= f.text_area :price_condition, :class => "tinymce"%>
    </div>

    <div>
      <%= f.label :carga_horaria, "Carga Horária" %>
      <%= f.text_field :carga_horaria, :maxlength => 100 %>
    </div>

    <div>
      <%= f.label :available_from_string, "Período de Início" %>
      <%= Admin::FormPresenter.datepicker f, :available_from_string %>
    </div>

    <div>
      <%= f.label :available_to_string, "Período de Término" %>
      <%= Admin::FormPresenter.datepicker f, :available_to_string %>
    </div>

    <div>
      <%= f.label :ativo, "Ativo" %>
      <%= f.check_box :ativo %>
    </div>

    <div>
      <%= f.label :enable_download, "Permitir Download" %>
      <%= f.check_box :enable_download %>
    </div>

    <div>
      <%= f.label :disponivel_venda, "Disponível para Venda" %>
      <%= f.check_box :disponivel_venda %>
    </div>

    <div>
      <%= f.label :categoria %>
      <%= Admin::FormPresenter.select_field f,
                                            :categoria_curso_id,
                                            :field => :nome_for_selects,
                                            :collection => @categorias %>
    </div>

    <div>
      <%= f.label :descricao, "Conteúdo" %>
      <br/>
      <%= f.text_area :descricao, :class => "tinymce" %>
    </div>

    <div>
      <%= f.label :imagem %>
      <%= f.file_field :imagem %>
      Formatos: .jpg, .gif ou .png<br/>
      <% if ticket.imagem.file? -%>
          <%= f.label '', '&nbsp;' %>
          <%= image_tag ticket.imagem.url(:thumbnail) %>
      <% end -%>
    </div>

    <div class="nested-form">
      <%= Admin::FormPresenter.title_with_validation(f, "Vídeos", :videos, self) %>
      <div class="nested-form-rows">
        <%= render :partial => 'video', :collection => ticket.videos %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'video') %>">Adicionar
        vídeo</a>
    </div>

    <div class="nested-form">
      <h3>Professores</h3>

      <div class="nested-form-rows">
        <%= render :partial => 'professor', :collection => ticket.professors %>
      </div>
      <a class="nested-form-add-row" href="#" data-template="<%= html_escape render(:partial => 'professor') %>">Adicionar
        professor</a>
    </div>

    <%= Admin::FormPresenter.new_attachment f, :produto_anexos, self,
                                            :title => "Materiais de Apoio" %>

    <%= Admin::FormPresenter.existing_attachment f, :produto_anexos, self,
                                                 :download_url => :download_attachment_admin_products_path,
                                                 :edit_url => :update_attachment_admin_products_path,
                                                 :title => "Materiais de Apoio Existentes" %>

    <br class="clear"/>

    <div class="controles">
      <%= f.label '', '&nbsp;' %>
      <%= f.submit 'salvar', :name => 'save' %>
      <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
      <%= f.submit 'limpar', :type => 'reset' %>
    </div>

<% end %>
