<h3>Resumo</h3>
<p>Total de aulas ao vivo: <%= @total -%></p>
<p>Total de aulas ao vivo compradas: <%= @total_comprados -%></p>
	<% unless @total_por_ticket.blank? %>
	<h4>Total comprados por aula ao vivo:</h4>
	<ul>
	  <% @total_por_ticket.each do |ticket| -%>
	    <li><span><%= ticket.total_comprado %></span> - <%= ticket.nome -%></li>
	  <% end -%>
	</ul>
<% end %>

