<div>
  <span>
    <span class="titulo"><%= link_to ticket.nome, edit_admin_ticket_path(ticket) %></span><br />
    <span class="data"><%= ticket.categoria.nome %> -
    Criado em <%= ticket.created_at.to_s(:padrao_data_hora) %></span><br/>
    <span class="additional"><%= ticket.investimento.real_formatado -%></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, ticket], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>