<% video ||= ProductsVideoUpload.new %>
<div class="nested-form-row">
  <% fields_for "ticket[videos_attributes][]", video, :index => nil do |t| %>
    <div class="multimodel-fields">
      <% if Settings.product.allow_nested_items_sort %>
        <%= image_tag "backend/drag-drop-table-row.png", :class => "drag-drop-table-icon" %>
      <% end %>
      <%= Admin::FormPresenter.select_field t, :video_upload_id, :remote => true,
                                        :url => ajax_search_admin_video_uploads_path,
                                        :field => :nome,
                                        :item => video.video_upload  %>

      <% if Settings.user.manage_views %>
        <%= t.text_field :view_limit,
                         :class => "video-aula-view-limit",
                         :maxlength => 4,
                         :size => 4,
                         :placeholder => "limite visualizações" %>
      <% end %>
      <div class="multimodel-remove">
        <a class="nested-form-delete-row" href="#">
          <%= image_tag("backend/icons/remove.gif") %>
        </a>
        <span>remover</span>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>