<% title "Aulas Ao Vivo" %>
<%  content_for :resumo do %>
 <%= render :partial => "resumo" %>
<% end %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'ticket', :label => "nova aula ao vivo" } %>

<div class="registros">
  <%= render :partial => @tickets %><br />
</div>
<br class="clear" />

<%= will_paginate @tickets %>