<div class="desconto">
	<h5>Tem <strong>Cupom de Desconto?</strong></h5>
  <% form_tag url_for(:action => :atualizar_cupom), :method => :post do -%>
    <%= label_tag 'cupom_codigo', 'Digite o código aqui:'%>
    <%= text_field_tag 'cupom_codigo', nil, :placeholder => cupom_atual %>
    <br />
  	<%= submit_tag "Usar cupom", :class=> "btn btn-theme margintop10 pull-left" %>
  	<% if !cupom_atual.blank? -%>
  	<%= submit_tag "Remover cupom", :class => "btn btn-gray margintop10 pull-left", :style => "margin-left: 10px;" %>
  	<% end -%>
  <% end -%>
</div>