<% title "Carrinho" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Compras</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>

		<div class="row">
			<div class="span8">

				<h4>Confira seu <strong>Carinho de Compras</strong></h4>

        <!--<i class='icon-circle-arrow-left'></i><% link_to video_aulas_path do %><span class="btn_voltar">Voltar e comprar mais</span><% end -%>-->

				<% if @basket && @basket[:items] && @basket[:items].count > 0 %>
  				<table class="table table-striped">
    				<thead>
      				<tr>
      					<th>#</th>
      					<th>Produto</th>
      					<th>Valor (R$)</th>
      					<th>Ação</th>
      				</tr>
    				</thead>

    				<tbody>
              <% @basket[:items].each do |item_id, info| %>
      				<tr>
      					<td>1</td>
      					<td><%= link_to info[:item].nome, polymorphic_path(info[:item]) %></td>
      					<td><%= info[:item].investimento_com_desconto_ativo.real_contabil %></td>
      					<td><%= link_to image_tag('backend/btn_delete.gif'), {:controller => "carrinho", :action => "delete", :id => item_id}, :confirm => 'Tem certeza que deseja remover o item?', :class => 'remover' %></td>
      				</tr>
      				<% end %>

      				<% if @basket[:subtotal] != @basket[:total] -%>
      				<tr>
      					<td></td>
      					<td>Subtotal:</td>
      					<td><%= @basket[:subtotal].reais_contabeis %></td>
      					<td></td>
      				</tr>
      				<% end -%>

      				<% if @basket[:total_discount] > 0 -%>
      				<tr>
      					<td></td>
      					<td>Desconto:</td>
      					<td>- <%= @basket[:total_discount].reais_contabeis %></td>
      					<td></td>
      				</tr>
      				<% end -%>

      				<tr>
      					<td></td>
      					<td>Total:</td>
      					<td><%= @basket[:total].reais_contabeis %></td>
      					<td></td>
      				</tr>

    				</tbody>
  				</table>
  			</div>
  			<div class="span4 testimonial" style="background: #f3f3f3; width: 310px;">
  				<%= render :partial => 'cupom', :locals => {:cupom_atual => @basket[:current_discount]} %>
  			</div>

  			<div class="span12">
  				<% link_to url_for(:controller => 'pedido', :action => 'show'), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do %><i class="icon-shopping-cart"></i>Continuar <% end -%>
  			</div>
			<% else %>
  			<p>Seu carrinho de compras está vazio.</p>
  		  <% link_to video_aulas_path do %><span class="btn btn-theme margintop10 pull-left">Comprar cursos</span><% end -%>
			<% end %>
  	</div>
	</div>
</section>