<% form_for( [:admin, noticia], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 500 %>
  </div>

  <div>
    <%= f.label :descricao, "Descrição" %>
    <br/>
    <%= f.text_area :descricao, :maxlength => 800, :rows => 5, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :corpo %>
    <br/>
    <%= f.text_area :corpo, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :tag_list, 'Lista de Tags' %>
    <%= f.text_field :tag_list, :class => "inputtext_tinymce" %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    <%= image_tag noticia.imagem.url(:thumbnail) unless missing?(noticia.imagem) %> (.jpg, .gif ou .png)
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>