<div>
  <span>
    <span class="titulo"><%= link_to noticia.nome, edit_admin_noticia_path(noticia) %></span>
    <span class="data"><%= noticia.created_at.to_s(:padrao_data_hora) %></span><br />
    <%= truncate(noticia.descricao, :length => 120) %>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, noticia], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>