<% title "Notícias" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:label => 'nova notícia', :ordenacao => @ordenacao, :entidade => 'noticia', :genero => 'a'} %>

<div class="registros">
  <%= render :partial => @noticias %><br />
</div>
<br class="clear" />

<%= will_paginate @noticias %>