<div class="span4">
	<div class="pricing-box-alt">
		<div class="pricing-heading">
			<h3><%= assinatura.nome %></h3>
		</div>
		<div class="pricing-terms">
			<h6><%= assinatura.investimento_com_desconto_ativo.reais_formatado -%> / Mês</h6>
		</div>
		<div class="pricing-content">
			<ul>
				<%= render :partial => "descricao", :collection => assinatura.descricao.split("\n") %>
			</ul>
		</div>
		<div class="pricing-action">
			<% link_to add_to_cart_assinatura_path(assinatura), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do -%><i class="icon-bolt"></i>Assinar<% end -%></a>
		</div>
	</div>
</div>


<!--
<div class="assinatura_bloco">

      <div class="box_assinatura">
        <h2 class='<%= "tit_assinatura_#{assinatura.nome.downcase}" %>'><%= assinatura.nome %></h2>
          <p class="preco"><span><%= assinatura.investimento_com_desconto_ativo.reais_formatado -%></span></p>
          <ul class="vantagens_assinatura">
              <%= render :partial => "descricao", :collection => assinatura.descricao.split("\n") %>
          </ul>

          <div class="ressalva">
            <%= link_to "Veja os cursos desta assinatura", "#dialogo_#{assinatura.id}", :rel => "facebox" %>
          </div>

          <div id='<%= "dialogo_#{assinatura.id}"%>' style="display:none;">
            <h2>Assinatura <%= assinatura.nome %></h2>
            <h2>Cursos inclusos</h2>
            <ul class="lista_cursos_assinatura">
              <%= render :partial => "curso_disponivel", :collection => cursos_disponiveis(assinatura) %>
            </ul>
            <h2>Cursos não inclusos</h2>
            <ul class="lista_cursos_assinatura">
              <%= render :partial => "curso_disponivel", :collection => cursos_nao_disponiveis(nomes_cursos, assinatura) %>
            </ul>
          </div>
          <p class="acao"><% link_to add_to_cart_assinatura_path(assinatura), :class => "button2 gray btn_assinar" do -%>Assinar<% end -%></a></p>

          <br class="clear" />
      </div>
  <br class="clear" />
</div>-->


