<% title "Assinaturas" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Assinaturas</h2></div>
      </div>
    </div>
  </div>
</section>


<section id="content">
	<div class="container">
		<div class="row">
		<div class="span12">
			<h4>Assine e comece a desfrutar de <strong>Todo o Conteúdo</strong> do site!</h4>
		</div>
		<%= render :partial => @assinaturas, :locals => { :nomes_cursos => @nomes_cursos } %>
		</div>
	</div>
</section>