<div id="filtros">
  <% form_tag admin_video_uploads_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[nome]", "Nome" %>
      <%= text_field_tag "filtro[nome]", (params[:filtro] && !params[:filtro][:nome].blank?) ? params[:filtro][:nome] : "" %>
    </p>
    <p>
    <%= label_tag "filtro[categoria_curso_id]", "Categoria" %>
      <%= select "filtro", "categoria_curso_id", categorias.collect {|p| [ p.nome_for_selects, p.id ] } , {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:categoria_curso_id].blank?) ? params[:filtro][:categoria_curso_id].to_i : 0} %>
    </p>
    <p>
      <%= label_tag "filtro[video_upload_tipo_id]", "Tipo" %>
      <%= select "filtro", "video_upload_tipo_id", tipos.collect {|p| [ p.nome, p.id ] } , {:include_blank => true, :selected => (params[:filtro] && !params[:filtro][:video_upload_tipo_id].blank?) ? params[:filtro][:video_upload_tipo_id].to_i : 0} %>
    </p>

    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
    </p>
  <% end %>
</div>
