<% form_for( [:admin, video_upload]) do |f| %>
<div>
  <%= show_player :video => download_admin_video_upload_path(video_upload) %>
</div>
<div>
  <%= f.label :nome %>
  <%= f.text_field :nome  %>
</div>
<div>
  <%= f.label :categoria %>
  <%= f.collection_select :categoria_curso_id, @categorias, :id, :nome_for_selects %>
</div>
<div>
  <%= f.label :tipo %>
  <%= video_upload.tipo.nome %>
</div>
<div>
  <%= f.label :streaming_content_type, 'Tipo' %>
  <%= video_upload.streaming_content_type %>
</div>
<div>
  <%= f.label :streaming_file_size, 'Tamanho' %>
  <%= video_upload.streaming_file_size_megabytes %>
</div>

<div class="controles">
  <%= f.label '', '&nbsp;' %>
  <%= f.submit 'Salvar', :name => 'save' %>
</div>
<% end %>
