<div>
  <span>
      <span class="titulo"><%= link_to video_upload.nome, edit_admin_video_upload_path(video_upload) %></span>
    <span class="data">Criado em <%= video_upload.created_at.to_s(:padrao_data_hora)  %></span><br />
    <span class="adicional">
      <%= video_upload.categoria.nome %> -
      <%= video_upload.streaming_file_size_megabytes %>
    </span><br />
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, video_upload], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>
