<% title "Vídeos" %>

<%= render :partial => 'filtros', :locals => {:categorias => @categorias, :tipos => @tipos} %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'video_upload', :label => 'adicionar vídeos'} %>

<div class="registros">
  <%= render :partial => @video_uploads %><br />
</div>

<br class="clear" />

<%= will_paginate @video_uploads, :id => true %>
