<% title "Enviar Vídeos"  %>
<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    $.adminSite = {};
    $.adminSite.videoUploads = {
      uploadUrl: "<%= admin_video_uploads_url(:format => :json) %>",
      swfPostParams: {
        "<%= session_key %>": "<%= cookies[session_key] %>",
        "authenticity_token": "<%= form_authenticity_token %>",
      }
    }
  </script>
  <%= javascript_include_tag "swfupload/swfupload.js" %>
  <%= javascript_include_tag "swfupload/swfupload.queue.js" %>
  <%= javascript_include_tag "admin/video_uploads.js" %>
<% end %>

<div class="acoes-upload-videos">
    <input id="toggle_queue_items" type="checkbox" disabled="disabled"/>
	<%= select_tag nil, options_with_blank(@categorias, "id", "nome_for_selects"), :id => "categorias", :disabled => "disabled" %>
	<%= select_tag nil, options_with_blank(@tipos, "id", "nome"), :include_blank => true , :id => "tipos", :disabled => "disabled" %>
    <input id="update_queue_items" class="btn btn_filtrar" type="button" value="atualizar" disabled="disabled"/>
	<span id="swf_placeholder"></span>
	<input id="add_videos" class="btn btn_adicionar_videos" type="button" value="adicionar vídeos"/>
    <br class="clear" />
</div>

<div class="queue_item_template queue_item">
  <input class="queue_item_checkbox" type="checkbox" />
  <input class="queue_item_name" type="text" />
  <%= select_tag nil, options_from_collection_for_select(@categorias, "id", "nome_for_selects"), :class => "queue_item_categorias" %>
  <%= select_tag nil, options_from_collection_for_select(@tipos, "id", "nome"), :class => "queue_item_tipos" %>
  <input type="button" class="btn queue_item_delete" value="X"/>
  <div class="progresso">
	  <div class="queue_item_percentage"></div>
	  <p class="queue_item_progress_value"></p>
  </div>
  <br class="clear" />
</div>

<div id="queue" class="fila-de_videos" style="display: none;">
</div>

<div class="acoes-upload-videos">
	<input id="enviar_videos" class="btn btn_enviar_videos" type="button" value="enviar vídeos" disabled="disabled"/>
	<br class="clear" />
</div>
