<% title "Eventos" %>

<div class="conteudo_geral">

  <h2>Eventos</h2>
  <% form_tag url_for(:controller => "classroom_events", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
      <div class="principal">
        <div class="busca">
          <%= render :partial => "cursos/busca", :locals => {:categorias => @categorias, :titulo => 'Busca de Eventos'} %>
        </div>

        <div class="exibi_cursos">
          <h2>Lançamentos</h2>

          <div class="ordenacao">
            <%= hidden_field_tag "page", (params[:page]) %>
            <label for="exibir_por">Ordenar por:</label>
            <%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
          </div>

          <ul class="lista_cursos">
            <% @classroom_events.each do |classroom_event| -%>
                <li>
                  <% link_to classroom_event_path(classroom_event) do %>
                      <p class="thumb"><%= image_tag(classroom_event.imagem.file? ? classroom_event.imagem.url(:thumbnail) : "thumb_curso_online.gif") %></p>

                      <p class="desc_curso"><%= classroom_event.nome %><br/>
                        <span><%=raw truncate_html(classroom_event.descricao, :length => 150) %></span></p>
                  <% end -%>
                  <br class="clear"/>
                </li>
            <% end -%>

          </ul>

          <!-- Paginacao -->
          <% unless @classroom_events.blank? -%>
              <div class="paginacao">
                <%= will_paginate @classroom_events %>
              </div>
          <% end -%>

          <br class="clear"/>
        </div>
      </div>
  <% end -%>
  <!-- fim do conteudo principal -->

  <div class="col3_interna">
    <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
    <%= render :partial => "cursos/banners" %>
  </div>

</div>