<% title "Meus Ingressos" %>

<div class="conteudo_geral">
  <h2>Meus Ingressos Ativos</h2>

  <%= link_to_function("Imprimir Ingressos", "javascript:print()", :class => "print-hidden") %>

  <% if @classroom_tickets.present? %>
      <div class="conteudo_carrinho">
        <div class="registros">
          <ul class="meus-ingressos">
            <% @classroom_tickets.each do |classroom_ticket| %>
                <li>
                  <p class="descricao">Aluno: <%= classroom_ticket.user.name %></p>
                  <p class="descricao">Evento: <%= classroom_ticket.classroom_event.nome %>
                    <br/><%= classroom_ticket.classroom_event.start_datetime.to_s(:padrao_data_hora) %></p>

                  <p class="codigo">Código do Ingresso <br/><span><%= classroom_ticket.code %></span></p>
                </li>
            <% end %>
          </ul>

        </div>
      </div>
  <% else %>
      <p>Você não tem ingresso(s) ativo(s).</p>
  <% end %>
</div>