<div class="row">
	<div class="span12">
		<h4>Entre em <strong>contato conosco!</strong></h4>
    <% remote_form_for_with_loading contact, :html => { :id => "contactform", :class => "validateform" }, :after => "jQuery.contact.afterRequest();" do |f| -%>
  		<div id="sendmessage"></div>

  		<div class="row">
  			<div class="span4 field">
	  			<%= f.text_field :name, :placeholder => "* Escreva seu nome" %>
  			</div>
  			<div class="span4 field">
	  			<%= f.text_field :email, :placeholder => "* Escreva seu e-mail" %>
  			</div>
  			<div class="span4 field">
	  			<%= f.text_field :subject, :placeholder => "* Escreva o assunto" %>
  			</div>
  			<div class="span12 margintop10 field">
	  			<%= f.text_area :message, :class => "input-block-level", :rows=> "12", :placeholder => "* Escreva sua messagem..." %>
  				<p>
  					<button class="btn btn-theme margintop10 pull-left" type="submit">Enviar Mensagem</button>
  					<span class="pull-right margintop20">* Por favor, preencha todos os campos necessários. Obrigado!</span>
  				</p>
  			</div>
  		</div>
    <% end -%>
	</div>
</div>