<% title "Inglês Contato" -%>

<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "marta_garcia/contact" %>
<% end %>
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Contato</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="map">
  	<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Av.+Sen.+Virg%C3%ADlio+T%C3%A1vora,+1701,+Fortaleza+-+Cear%C3%A1,+Rep%C3%BAblica+Federativa+do+Brasil&amp;aq=0&amp;oq=Av.+Senador+Virgil%C3%ADo+T%C3%A1vora,+1701&amp;sll=37.09024,-95.712891&amp;sspn=57.815136,97.558594&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Sen.+Virg%C3%ADlio+T%C3%A1vora,+1701+-+Aldeota,+Fortaleza+-+Cear%C3%A1,+60170-251,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed">
  	</iframe>
  </div>
  <a name="contato"></a>
  <div class="container">
    <%= render :partial => 'form', :locals => {:contact => @contact} %>
  </div>
</section>