<fieldset>
  <legend>Busca de Notícias</legend>
  <p>
    <label class="label_busca" for="campo_busca">Buscar</label>
    <%= text_field "filtros", "nome", :value => (params[:filtros] && params[:filtros][:nome]) ? params[:filtros][:nome] : "", :class => "campo_busca" %>
    <%= submit_tag "Buscar", :class => "btn_logar button1 gray" %>
  </p>
</fieldset>
<div class="clear"></div>


