<div class="caixa_newsletter">
    <h3>Receba por e-mail tudo sobre concursos!</h3>
	<%= content_tag(:span, flash[:error], :class => "flash_error") if flash[:error] %>
	<%= content_tag(:span, flash[:notice], :class => "flash_notice") if flash[:notice] %>

    <% remote_form_for subscribe do |f| -%>
      <%= f.text_field :email, :size => nil, :class=> "campo" %>
      <%= f.submit "cadastrar", :class => 'btn_news_letter button gray' %>
    <% end -%>
<br class="clear"/>
</div>
