<div>
  <span>
    <span class="titulo"><%= link_to depoimento.nome, edit_admin_depoimento_path(depoimento) %></span>
    <span class="data"><%= depoimento.created_at.to_s(:padrao_data_hora) %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, depoimento], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>