<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery.backend.testimonialForm.setup();
    });
  </script>
<% end %>

<% form_for( [:admin, depoimento], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 80 %>
  </div>

  <% if Settings.testimonial.enable_video_type %>
  <div>
    <%= f.label :testimonial_type, 'Tipo' %>

    <%= f.radio_button :testimonial_type, Depoimento::TESTIMONIAL_TYPE_TEXT, :class => "testimonial-type" %>
    <%= f.label "testimonial_type_text", "Texto", :class => "label_radio" %>

    <%= f.radio_button :testimonial_type, Depoimento::TESTIMONIAL_TYPE_VIDEO, :class => "testimonial-type" %>
    <%= f.label "testimonial_type_video", "Vídeo", :class => "label_radio " %>
  </div>

  <div class="video-attachment" style="display:none">
    <div>
      <%= f.label :video %>
      <%= f.file_field :video %>
      <% if !missing?(depoimento.video) -%>
        <%= depoimento.video_file_name  %>
      <% end -%>
    </div>

    <div>
      <%= f.label :video_splash, "Imagem do Vídeo" %>
      <%= f.file_field :video_splash %>
      Dimensões: 528x297 - Formatos: .jpg, .gif ou .png<br />
      <% if !missing?(depoimento.video_splash) -%>
        <%= f.label '', '&nbsp;' %>
        <%= image_tag depoimento.video_splash.url(:real)  %>
      <% end -%>
    </div>
  </div>
  <% end %>

  <div>
    <%= f.label :descricao, "Descrição" %>
    <br/>
    <%= f.text_area :descricao, :class => "tinymce"%>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    Dimensões: 90x100 - Formatos: .jpg, .gif ou .png<br />
    <% if !missing?(depoimento.imagem) -%>
      <%= f.label '', '&nbsp;' %>
      <%= image_tag depoimento.imagem.url(:real)  %>
    <% end -%>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>
<% end %>