<% title "Depoimentos" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'depoimento'} %>

<div class="registros">
  <%= render :partial => @depoimentos %><br />
</div>
<br class="clear" />

<%= will_paginate @depoimentos %>