<% content_for :custom_javascript_includes do %>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.backend.forms.setup();
        });
    </script>
<% end %>
<div id="filtros">
  <% form_tag financial_admin_reports_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[professor]", "Professor" %>
      <%= collection_select "filtro", "professor", professors, :id, :nome, {:include_blank => true, :selected => (params[:filtro] && params[:filtro][:professor]) ? params[:filtro][:professor].to_i : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[curso]", "Produto" %>
      <%= collection_select "filtro", "curso", cursos, :id, :nome, {:include_blank => true, :selected => (params[:filtro] && params[:filtro][:curso]) ? params[:filtro][:curso].to_i : ""} %>
    </p>
    <p>
      <%= label_tag "filtro[periodo_inicial]", "Período Inicial" %>
      <%= Admin::FormPresenter.datepicker_tag 'filtro[periodo_inicial]', ((params[:filtro] && params[:filtro][:periodo_inicial]) ? params[:filtro][:periodo_inicial] : nil) %>
    </p>
    <p>
      <%= label_tag "filtro[periodo_final]", "Período Final" %>
      <%= Admin::FormPresenter.datepicker_tag 'filtro[periodo_final]', ((params[:filtro] && params[:filtro][:periodo_final]) ? params[:filtro][:periodo_final] : nil) %>
    </p>
    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
      <span class="botao_export"><%= link_to 'Exportar', {:controller => "reports", :action => "financial", :export => true, :filtro => params[:filtro]}, :target => "_blank" %></span>
      <span class="botao_export"><%= link_to 'Imprimir', {:controller => "reports", :action => "financial", :print => true, :filtro => params[:filtro]}, :target => "_blank" %></span>
    </p>
  <% end %>
</div>
