<div class="registros">
  <table class="cursos_vendidos">
    <tr>
      <td class="titulo1">Produto</td>
      <td class="titulo2 borda">Desconto</td>
      <td class="titulo2 borda">Qtde</td>
      <td class="titulo2 borda">Preço</td>
      <td class="titulo2 borda">Total</td>
    </tr>
    <% sequencial = 1 %>
    <% somatorio = 0 %>
    <% qtd_somatorio = 0 %>
    <% fatura_items.each do |fatura_item| -%>
      <tr>
        <td><%= sequencial.to_s + ". " + fatura_item.nome %></td>
        <td class="borda direita"><%= exibir_desconto(fatura_item.quantidade, fatura_item.investimento,fatura_item.total) %></td>
        <td class="borda direita"><%= fatura_item.quantidade %></td>
        <td class="borda direita"><%= number_to_currency(fatura_item.investimento, :precision => 2) %></td>
        <td class="borda direita"><%= number_to_currency(fatura_item.total.to_f, :precision => 2) %></td>
      </tr>
      <% somatorio += fatura_item.total.to_f %>
      <% qtd_somatorio += fatura_item.quantidade.to_i %>
      <% sequencial += 1 %>
    <% end -%>
      <tr style="text-align: right; font-weight: bold; border: none; padding-top: 5px;">
        <td style="width: 40%; border: none;"></td>
        <td style="width: 10%; border: none;"></td>
        <td style="width: 20%; border: none;"><%= qtd_somatorio %></td>
        <td style="width: 10%; border: none;"></td>
        <td style="width: 20%; border: none;"><%= number_to_currency(somatorio.to_f, :precision => 2) %></td>
      </tr>
  </table>
</div>