<% title "Relatório Financeiro"  %>

<% if !@print %>
  <%= render :partial => 'filters_financial', :locals => {:cursos => @cursos, :professors => @professors} %>
  <div style="padding-top: 30px;"><b>Período:</b> <%=@period_title%></div>
<% else %>
  <div style="padding-top: 30px;"><b>Professor:</b> <%=@nome_professor%></div>
  <div><b>Produto:</b> <%=@nome_produto%></div>
  <div><b>Período:</b> <%=@period_title%></div>
<% end %>

<div class="report-separator"></div>

<div class="report-subtitle">Vídeo Aulas</div>
<%= render :partial => 'table_financial', :locals => {:fatura_items => @fatura_items_video_aulas} %>
<div class="report-separator"></div>

<div class="report-subtitle">Pacotes</div>
<%= render :partial => 'table_financial', :locals => {:fatura_items => @fatura_items_pacotes} %>
<div class="report-separator"></div>

<div class="report-subtitle">Assinaturas</div>
<%= render :partial => 'table_financial', :locals => {:fatura_items => @fatura_items_assinaturas} %>

<div class="report-subtitle">Simulados</div>
<%= render :partial => 'table_financial', :locals => {:fatura_items => @fatura_items_simulados} %>

<br class="clear" />

<div class="registros">
  <table class="cursos_vendidos">
    <tr style="text-align: right; font-weight: bold; border: none; padding-top: 25px;">
      <td style="width: 40%; border: none;"></td>
      <td style="width: 10%; border: none;"></td>
      <td style="width: 20%; border: none;">TOTAL: <%= @qtd_total %></td>
      <td style="width: 10%; border: none;"></td>
      <td style="width: 20%; border: none;">TOTAL GERAL: <%= number_to_currency(@total.to_f, :precision => 2) %></td>
    </tr>
  </table>
</div>

