<% title "Cadastro de Usuário" -%>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2>Cadastro de Usuário</h2></div>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
  	<div class="row">
  		<div class="span12">
	  		<%= render_cell "flash/messages", :show, :flash => flash %>
	  		<% form_for :user, :url => users_path do |f| -%>
	  			<p class="atencao_cadastro"><span>Atenção!</span> Por gentileza, preencha todos os campos.</p>

	  			<fieldset class="conjunto-campos">
	  				<legend>Informações de acesso</legend>

		  			<div class="span12 field">
					<%= f.label :login, 'Login' %>
					<%= f.text_field :login, :maxlength => 40, :placeholder => "* Escreva seu nome. Não deixe espaços e nem use acentos", :class => "campo-texto-cadastro" %>
					<span style="color: #CB1103;">(Ex. use "joaogarcia" e não "joão garcia")</span>
					</div>

		  			<br class="clear" />

		  			<div class="span5 field">
					  <%= f.label :email, 'E-mail' %>
					  <%= f.text_field :email, :maxlength => 100, :placeholder => "* Escreva seu e-mail", :class => "campo-texto-cadastro" %>
					</div>
					<div class="span5 field">
					  <%= f.label :email_confirmation, 'Confirmação de e-mail'%>
					  <%= f.text_field :email_confirmation, :maxlength => 100, :placeholder => "* Repita seu e-mail", :class => "campo-texto-cadastro" %>
					</div>

					<div class="span5 field">
					  <%= f.label :password, 'Senha' %>
					  <%= f.password_field :password, :placeholder => "* Escreva sua senha", :class => "campo-texto-cadastro" %>
					</div>

					<div class="span5 field">
					  <%= f.label :password_confirmation, 'Confirmação de Senha' %>
					  <%= f.password_field :password_confirmation, :placeholder => "* Repita sua senha", :class => "campo-texto-cadastro" %>
					</div>
	  			</fieldset>

	  			<fieldset class="conjunto-campos">
	  				<legend>Informações Pessoais</legend>

		  			<div class="span5 field">
		  				<%= f.label :name, 'Nome' %>
		  				<%= f.text_field :name, :maxlength => 100, :placeholder => "* Escreva seu nome", :class => "campo-texto-cadastro" %>
		  			</div>

					<div class="span2 field">
					<%= f.label :nascimento, 'Data de Nascimento' %>
					<%= f.text_field :nascimento, :maxlength => 10, :class => "campo-texto-nasc-cpf" %>
					</div>

					<div class="span2 field">
					<%= f.label :cpf, "CPF" %>
					<%= f.text_field :cpf, :maxlength => 14, :class => "campo-texto-nasc-cpf" %>
					</div>

					<div class="span9 field">
					<%= f.label :profissao, "Profissão" %>
					<%= f.text_field :profissao, :maxlength => 200, :class => "campo-texto-cadastro-maior" %>
					</div>
	  			</fieldset>

	  			<fieldset>
	  				<legend>Dados para comunicação</legend>


					<div class="span5 field">
					<%= f.label :endereco, "Endereço" %>
					<%= f.text_field :endereco, :placeholder => "Rua, Av...", :maxlength => 100, :class => "campo-texto-cadastro" %>
					</div>

					<div class="span5 field">
					<%= f.label :complemento, "Complemento" %>
					<%= f.text_field :complemento, :placeholder => "Bloco, Apto...", :maxlength => 100, :class => "campo-texto-cadastro" %>
					</div>

					<div class="span5 field">
					<%= f.label :bairro, "Bairro" %>
					<%= f.text_field :bairro, :maxlength => 100, :class => "campo-texto-cadastro" %>
					</div>


				<div class="span5">
				<%= f.label :estado_id, "Estado" %>
				<%= f.collection_select :estado_id, Estado.ordered.all, :id, :nome, :include_blank => true %>
				</div>

				<div class="span4" id="cidade_container">
				<% if !@user.estado.blank? %>
				<%= f.label :cidade_id, "Cidade" %>
				<%= f.collection_select :cidade_id, @user.estado.cidades.ordered.all, :id, :nome, :include_blank => true %>
				<% end %>
				</div>

				<div class="span12">
				  <%= f.label :cep, "CEP" %>
				  <%= f.text_field :cep, :maxlength => 10, :class => "campo-texto-nasc-cpf" %>
				  <%= link_to 'Não sei o CEP', 'http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro', :target => '_blank', :class => "texto_cep" -%>
				</div>

				<div class="span5 field">
				<%= f.label :telefone_fixo, "Telefone Fixo" %>
				<%= f.text_field :telefone_fixo, :maxlength => 14, :class => "campo-texto-nasc-cpf" %>
				</div>

				<div class="span5 field">
				<%= f.label :telefone_celular, "Telefone Celular" %>
				<%= f.text_field :telefone_celular, :maxlength => 14, :class => "campo-texto-nasc-cpf" %>
				</div>
				</fieldset>

				<div class="span12">
				<%= f.label 'Termos de Serviço', '&nbsp;' %>
				<label><%= f.check_box :aceite_termos_de_servico %> Aceito os <%= link_to 'termos de serviço', termos_path, :target => '_blank' %>.</label>
				</div>

				<div class="span12">
				<%= f.label '', '&nbsp;' %>
				<label><%= check_box_tag :newsletter, "on", true %> Desejo receber promoções e comunicados do <%= Settings.site %>.</label>
				</div>

				<div class="span12">
				<%= f.label '', '&nbsp;' %>
				<%= submit_tag 'Cadastrar', :class => "btn btn-theme margintop10 pull-left"  %>
				</div>
				<% end -%>
			</div>
  		</div>
	</div>
</section>

<% content_for :custom_javascript_includes do %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#user_cpf").mask("999.999.999-99");
		$("#user_cep").mask("99.999-999");
		$("#user_nascimento").mask("99/99/9999");
		jQuery('#user_telefone_fixo, #user_telefone_celular').mask("(99) 9999-9999?9").ready(function(event) {
			var target, phone, element;
			target = (event.currentTarget) ? event.currentTarget : event.srcElement;
			phone = target.value.replace(/\D/g, '');
			element = $(target);
			element.unmask();
			if(phone.length > 10) {
				element.mask("(99) 99999-999?9");
			} else {
				element.mask("(99) 9999-9999?9");
			}
		});
		$("#user_estado_id").on("change", function() {
		  if($(this).val() === "") {
			$("#cidade_container").empty();
			return;
		  }
		  var data = { estado_id: $(this).val() };
		  $.ajax({
			data: data,
			type: 'post',
			url: '<%= update_cidade_users_path %>',
			success: function(request) {
			  $('#cidade_container').html(request);
			}
		  });
		});
	});
</script>
<% end %>
