<% title "Cadastrado com sucesso!" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="inner-heading"><h2><%= @user.name %></h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Obrigado por ter se cadastrado no Curso Marta Garcia.</p><br/>

        <p>Guarde bem seu LOGIN e SENHA pois precisará dele para concluir sua compra e acessar as aulas.</p>

        <p><span style="color:red; font-weight: bold;">Agora clique no botão verde: CONTINUAR A COMPRA</span> para ser direcionado a página do PagSeguro e finalizar seu
          pedido.</p>

        <p>
          <% link_to add_to_cart_video_aula_path(5), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do -%>
              <i class="icon-thumbs-up"></i> Continuar a Compra
          <% end -%></p>
      </div>
    </div>
  </div>
</section>
