/* BANNERS */
#gerenciamento_banners input {
    width: 80px;
}

#gerenciamento_banners > label {
    margin-bottom: 60px;
}

/* overwrite the .registros from backend.css */
.banners_list > div a.relatorio, .newsletters_list > div a.relatorio{
    display:none;
    margin-right: 5px;
}

.banners_list > div:hover a.relatorio, .newsletters_list > div:hover a.relatorio{
    float:right;
    display:inline-block;
}

/* filtros de banners */
#filtro_report {
    margin: 10px 0 5px 0;
}

#filtro_report input {
    background: #FFF;
    padding: 2px;
    font-size: 13px;
}

#filtro_report .bloco-filtro {
    margin-left: 20px;
}

#filtro_report form label {
    display:inline;
    float:none;
    width:auto;
    margin-right: auto;
}