<div class="row">
	<div class="span7 field alinha-botao">
	<%= text_field "filtros", "nome", :placeholder => "busque aqui uma notícia", :value => (params[:filtros] && params[:filtros][:nome]) ? params[:filtros][:nome] : "" %>
	<%= submit_tag "Buscar", :class => "btn btn-theme margintop10 pull-left btn-busca" %>
	</div>
	
</div>