<% title "Notícias" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Notícias</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">


			<div class="span8">
				<!-- busca
				<h4>Busca de Notícias</h4>
				<% form_tag url_for(:controller => "noticias", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
				<%= render :partial => "busca" %>-->

				<div class="exibir_noticias">

					<% unless params[:tag].blank? -%>
					<p class="tags">Exibindo apenas notícias com a tag <b><%= params[:tag] %></b></p>
					<% end -%>

					<ul class="lista_noticias">
						<% @noticias.each do |noticia| -%>
						<li>
							<!--<p class="thumb"><%= image_tag noticia.imagem.file? ? noticia.imagem.url(:thumbnail) : "thumb_curso_online.gif" %></p>-->
							<%= link_to noticia.nome, noticia_path(noticia)%><br /><span class="data-noticia"><%= noticia.created_at.to_s(:padrao_data) %></span><br />
							<%=raw truncate_html(noticia.descricao, :length => 300) %>
						</li>
					<% end -%>
					</ul>

			      <!-- Paginacao -->
			      <% unless @noticias.blank? -%>
			        <div class="paginacao">
			          <%= will_paginate @noticias %>
			        </div>
			      <% end -%>

			      <br class="clear"/>
			    </div>
			</div>
			<% end -%>

			<div class="span4">
			  <%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
			  <%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>