<% title @noticia ? @noticia.nome : "Notícias" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Notícias</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="span8">
			<% form_tag url_for(:controller => "noticias", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do |f| %>
			      
			<% unless @noticia.blank? -%>
			    <span class="btn_voltar"><%= link_to "Voltar para lista de Notícias", noticias_path %></span>
			
			    <h3><%= @noticia.nome %></h3><p>em <%= @noticia.created_at.to_s(:padrao_data) %></p>
			    <div class="tags_noticias"><span>Assuntos Relacionados:</span> <%= @noticia.tags.map{ |a| link_to(a.name, noticias_path("tag" => a.name)) } %></div>
			    <p><%=raw @noticia.corpo %></p>
			
			<% end -%>
			
			<% end -%>
			</div>
		<!-- fim do conteudo principal -->
		
			<div class="span4">
				<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
				<%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>





