<% remote_form_for_with_loading contact, :name => "contato" do |f| -%>
  <p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, :class => "campo" %><br class="clear" />
  </p>
  <p>
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email, :class => "campo" %><br class="clear" />
  </p>
  <p>
    <%= f.label :subject, "Assunto" %>
    <%= f.text_field :subject, :class => "campo" %><br class="clear" />
  </p>
  <p>
    <%= f.label :message, "Mensagem" %>
    <%= f.text_area :message, :class => "mensagem" %>
  </p>
  <br />
  <br />

  <p class="botao">
    <%= image_submit_tag "blank.gif", :value => "" %>
  </p>
<% end %>