<% title "Contato" -%>

<div class="conteudo_geral">

  <h2>Contato</h2>

  <div class="conteudo_contato">

      <div id="container_contato">
        <%= render :partial => 'form',
          :locals => {:contact => @contact} %>
      </div>

      <div class="info_extras">
        
        <h3>Se preferir, você pode entrar em contato pelo seu programa de e-mail. Será um prazer atendê-lo!</h3>
     
        <p>contato@plantaodoenem.com.br</p>
        
        
      </div>

      <br class="clear"/>
  </div>
</div>