<% title "Esqueceu a senha?" %>

<div class="conteudo_geral">

<h2><%= yield(:title) %></h2>

  <div class="recuperar_senha">
	<span class="btn_voltar"><%= link_to "Voltar", login_path %></span>
	  
	  
	    <% form_for :user, :url => forgot_password_path do |f| -%>
	      <%= f.error_messages %>

	      <p class="texto_email">Digite seu e-mail no campo abaixo para receber uma nova senha. O e-mail a ser digitado deve ser o mesmo utilizado no cadastro.</p>

	      <p class="campo_email">
	        <%= f.label 'email', 'E-mail' %>
	        <%= f.text_field :email, :class => "campo", :maxlength => 50 %><br />
	      <p/>
	      <%= submit_tag 'Enviar nova senha', :class => "btn_comprar button2 gray"%>
	    <% end -%>
	  </div>
</div>