<% title "Alterar senha"  %>

<div class="conteudo_geral">

<h2>Alterar senha</h2>

<div class="conteudo_cadastro conteudo">
<% form_tag :url => alterar_senha_path do |f| -%>
  <p>
    <%= label_tag 'old_password', "Senha atual", :class => 'primeira-coluna' %>
    <%= password_field_tag 'old_password', "", :class => 'campo' %><br/>
  </p>
  <p>
    <%= label :user, 'password', 'Senha nova', :class => 'primeira-coluna' %>
    <%= password_field :user, 'password', :class => 'campo' %><br/>
  </p>
  <p>
    <%= label :user, 'password_confirmation', 'Confirmação', :class => 'primeira-coluna' %>
    <%= password_field :user, 'password_confirmation', :class => 'campo' %><br/>
  </p>
  <p>
    <%= label_tag '', "" %>
    <%= submit_tag 'Continuar', :class => "btn_logar button gray" %>
  </p>
<% end -%>
</div>

</div>