<% message = quantity == 0 ? "Você não tem itens no carrinho." : "Você tem #{pluralize(quantity, 'item','itens')} no carrinho." %>
<div class="icon_car"></div>
<div class="textarea_car">
  <% link_to({:controller => "carrinho", :action => "index"}) do %>
    <span class="fonte_cor_azul1">Carrinho de Compras</span>
  <% end %>
  <%= message %>
</div>
