<% if !flash.blank? && (!flash[:error].blank? || !flash[:notice].blank? || !flash[:message].blank?) %>
  <!-- alerta -->
  <div id="alert">
    <a class="alert" href="#alert"><%= flash[:error] || flash[:notice] || flash[:message] %></a>
  </div>
  <!-- alerta -->
<% end %>
