<% if current_user.blank? -%>
  <div class="alcampo">
    <div class="alclinha01 fonte_fam_roboto fonte_size_17 fonte_cor_branco">ÁREA DO ALUNO</div>
    <div class="alclinha02">
      <% form_tag session_path do -%>
        <div class="alclinha02_1">
          <%= text_field_tag 'login', @login, :id => "query", :style => "width:140px; height:23px;", :maxlength => 50, :placeholder => "insira seu login ou e-mail", :class => "inputtext2" %>
        </div>
        <div class="alclinha02_2">
          <%= password_field_tag 'password', nil, :id => "query", :style => "width:140px; height:23px;", :class => "inputtext2", :placeholder => "insira sua senha" %>
        </div>
        <div class="alclinha02_3">
          <%= submit_tag 'Entrar', :id => "busca", :style => "width:55px; height:25px;", :class => "inputbutton2" %>
        </div>
      <% end -%>
    </div>
  </div>
  <div class="recupsenha">
    <div class="recbotarea">
      <%= link_to "Cadastre-se", new_user_path, :class => "recbot" %>
    </div>
    <div class="recbotarea">
      <%= link_to 'Recuperar Senha', forgot_password_path, :class => "recbot" %>
    </div>
  </div>
<% else -%>
  <!-- Area do Aluno -->
  <div class="areadoaluno">
    <div class="alcampo">
      <div class="alclinha01 fonte_fam_roboto fonte_size_17 fonte_cor_branco">
        <table width="98%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="fonte_fam_roboto fonte_size_17 fonte_cor_branco">ÁREA DO ALUNO </td>
            <td align="right">
              <%= button_to "Sair", logout_path, :class =>"inputbutton2", :style => "width:55px; height:25px;" %>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <div class="fonte_cor_branco" style="line-height:18px; margin: 0 0 0 0;">Seja bem-vindo(a) <%= current_user.name %></div>
              <div style="line-height:18px; margin: 0 0 0 0;" class="fonte_cor_azul2">
                <%= link_to "Meus dados", edit_user_path(current_user), :class => "link03" %> |
                <%= link_to "Pedidos", {:controller => 'pedido', :action => 'index'}, :class => "link03" %> |
                <%= link_to "Cursos", meus_cursos_path, :class => "link03" %> |
                <%= link_to "Ebooks", meus_arquivos_path, :class => "link03" %> |
                <%= link_to "Ao Vivo", meus_tickets_path, :class => "link03" %> |
                <%= link_to "Ingressos", my_classroom_tickets_path, :class => "link03" %>
              </div>
            </td>
            <td align="right">&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="alclinha02"></div>
      <br class="clear" />
    </div>
  </div>
  <!-- Area do Aluno -->
<% end -%>

