<!-- Menu -->
<div><%= link_to 'Início', home_path, :title => 'Página Inicial', :class => ((params[:action] == 'home') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Plantão do ENEM', sobre_path, :title => 'Plantão do ENEM', :class => ((params[:action] == 'sobre') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Cursos', video_aulas_path, :title => 'Cursos', :class => ((params[:controller] == 'video_aulas') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Ebooks', arquivos_path, :title => 'Ebooks', :class => ((params[:controller] == 'arquivos') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Assinaturas', assinaturas_path, :title => 'Assinaturas', :class => ((params[:controller] == 'assinaturas') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Ao Vivo', tickets_path, :title => 'Ao Vivo', :class => ((params[:controller] == 'tickets') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Eventos', classroom_events_path, :title => 'Eventos', :class=> ((params[:controller] == 'classroom_events') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Professores', professors_path, :title => 'Professores', :class => ((params[:controller] == 'professors') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Parceiros', parceiros_path, :title => 'Parceiros', :class => ((params[:controller] == 'parceiros') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Notícias', noticias_path, :title => 'Notícias', :class => ((params[:controller] == 'noticias') ? 'am_bot1' : 'am_bot2') %></div>
<div><%= link_to 'Contato', contacts_path, :title => 'Contato', :class => ((params[:controller] == 'contacts') ? 'am_bot1' : 'am_bot2') %></div>
<!-- Menu -->

