<div class="pesquisa">
  <% form_tag url_for(:controller => "video_aulas", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
    <div class="pesquisa_campo">
      <%= text_field "filtros", "nome", :style => "width:221px; height:23px;", :class => "inputtext1", :placeholder => "Pesquisar" %>
    </div>
    <div class="pesquisa_botao">
      <%= submit_tag "&nbsp;", :style => "width:40px; height:25px;", :class =>"inputbutton1" %>
    </div>
  <% end %>
</div>
