<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= include_meta_tags(@description) %>
    <title><%= (yield(:title) ? yield(:title) + " - " + Settings.site : nil) || Settings.site %></title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= javascript_include_tag "jquery-1.8.3.min", "jquery-ui-1.9.2.custom.min" %>
    <%= javascript_include_tag "jrails", "jquery.maskedinput-1.3.min" %>
    <%= javascript_include_tag "jquery.tools.min", "jquery.cycle.min", "flowplayer-3.2.12.min" %>
    <%= javascript_include_tag "jquery.livequery.min" %>
    <%= javascript_include_merged :frontend_plantao_enem %>

    <%= yield :custom_javascript_includes %>
    <%= render_cell "analytics", :show %>
    <%= stylesheet_link_merged :plantao_enem_frontend %>
    <%= stylesheet_link_merged :"plantao_enem/print", :media => :print %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div id="plantao">
        <%= render :partial => 'layouts/flash_frontend', :locals => { :flash => flash } %>
        <div class="areatopo">
          <div class="area_carrinho">
            <div class="areacar940px">

              <%= render :partial => "layouts/carrinho_topo", :locals => { :quantity => @total }%>
              <div class="areabusca">
                <!-- Pesquisa -->
                <%= render :partial => "layouts/search" %>
                <!-- Pesquisa -->
                <!-- Redes Sociais-->
                <div class="social">
                  <%= link_to "", facebook_url, :class => "social_facebook" %>
                  <%= link_to "", twitter_url, :class => "soclial_twitter" %>
                  <%= link_to "", rss_video_aulas_url, :class => "soclial_rss" %>
                </div>
                <!-- Redes Sociais-->
              </div>
            </div>
          </div>
          <div class="area_logo">
            <div class="arealogo940px">
              <!-- Logo -->
              <% link_to root_path do %>
                <div class="logoprinc"></div>
              <% end %>
              <!-- Logo -->
              <!-- Area do Aluno -->
              <div class="areadoaluno">
                <%= render :partial => "layouts/login_topo" %>
              </div>
              <!-- Area do Aluno -->
            </div>
          </div>
          <div class="area_menu">
            <div class="am_940">
              <%= render :partial => "layouts/menu_frontend" %>
            </div>
          </div>
          <%= yield %>
          <div class="zero"></div>
          <div class="rodape">
            <div class="arearod940px">
              <div class="rod_logo"></div>
              <div class="rod_social">
                <div class="rp_tits fonte_fam_roboto fonte_size_17"> Redes Sociais</div>
                <div class="rod_social_facebook"><%= link_to clean_url(facebook_url), facebook_url %></div>
                <div class="rod_soclial_twitter"><%= link_to clean_url(twitter_url), twitter_url %></div>
                <div class="rod_soclial_rss"><%= link_to clean_url(rss_video_aulas_url), rss_video_aulas_url %></div>
              </div>
              <div class="termo">
                <div class="rp_tits fonte_fam_roboto fonte_size_17"> Termo de Uso</div>
                <div class="rod_social_facebook">Leia antes de comprar um curso. <%= link_to 'Clique aqui.', termos_path  %></div>
              </div>
              <div class="pays">
                <div class="rp_tits fonte_fam_roboto fonte_size_17"> Formas de Pagamento</div>
                <div class="pagseguro">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
