<% path_rss ||= rss_video_aulas_path -%>

<div class="acompanhe">
	<h2>Siga-nos!</h2>
	<ul>
		<li><%= link_to "Facebook", facebook_url, :class => "fbk" %></li>
		<li><%= link_to "Twitter", twitter_url, :class => "twt" %></li>
		<li><%= link_to "RSS", path_rss, :class => "rss" %></li>
	</ul>
	<br class="clear"/>
</div>
