<h5>Depoimentos</h5>
<div class="wrapper">
	<div class="testimonial">
		<p class="text">
			<i class="icon-quote-left icon-48"></i>
			<%=raw depoimento.descricao %>
		</p>
		<div class="author">
			<%= image_tag depoimento.imagem.url(:real), :class => "img-circle bordered" unless missing?(depoimento.imagem) %>
			<p class="name"><%= depoimento.nome %></p>
			<span class="info"> </span>
		</div>
		<div style="padding: 10px 0 0 0;"><%= link_to "Ver mais depoimentos", sobre_path(:anchor => "depoimentos") %></div>
	</div>
	
</div>