<% title "Inglês em Fortaleza" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Cursos Presenciais</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
		<div class="row">
			<div class="span9">
				<div class="row">
					<section id="projects">
			            <ul id="thumbs" class="portfolio">
			              <% @cursos.each do |curso| -%>
			                <%- presenter = Courses::CoursePresenter.new(curso) -%>
			                <li class="item-thumbs span3 design">
			                  <% link_to curso_path(curso), :title => presenter.name do %>
			                    <%= image_tag(presenter.thumbnail) %>
			                  <% end %>
			                	<p class="desc-curso-titulo"><%= presenter.name %></p>
			                	<!--<p class="preco-normal"><%#= presenter.price %></p>-->
			                </li>
			              <% end -%>
			        	</ul>
			        </section>
			   </div>
			</div>
			
			<div class="span3">
				<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>
				<%= render :partial => "cursos/banners" %>
			</div>
		</div>
	</div>
</section>