<% title @curso ? "Inglês Presencial | #{@curso.nome}" : "Inglês Presencial | Curso Presencial" %>

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading"><h2>Curso Presencial</h2></div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <%= render_cell "flash/messages", :show, :flash => flash %>
    <div class="row">
      <div class="span8">

        <%= link_to "<i class='icon-circle-arrow-left'></i> Voltar para lista de Cursos", cursos_path %>
        <article>
          <% unless @curso.blank? -%>
              <div class="top-wrapper">
                <div class="post-heading">
                  <h3 class="titulo-curso"><%= @curso.nome %></h3>
                </div>
                <div class="flexslider" style="background: #ccc;">
                  <% if @curso.demonstration_video_upload.nil? %>
                      <% if @curso.imagem.file? -%>
                          <%= image_tag @curso.imagem.url(:player) %>
                      <% end -%>
                  <% else %>
                      <%= show_player :video => download_video_upload_path(@curso.demonstration_video_upload),
                                      :splash => @curso.imagem.url(:player),
                                      :style => "display:block;width:770px;height:433px" %>
                  <% end %>
                </div>
                <div class="compartilhar-produto">
                  <span class="btn_facebook"><%= facebook_button -%></span>
                </div>
                <% unless @curso.descricao.blank? %>
                    <h4>Demais <strong>Informações Importantes</strong></h4>

                    <p><%= raw @curso.descricao.nl2br %></p>
                <% end %>

              </div>
              <!-- top-wrapper -->
          <% end -%>


      </div>
      </article>


      <div class="span4">

        <aside class="right-sidebar">
          <div class="widget">
            <h5 class="widgetheading">Informações</h5>
            <ul class="folio-detail">
              <% unless @curso.publico_alvo.blank? -%>
                  <li><label>Curso indicado para:</label> <%= @curso.publico_alvo %></li>
              <% end -%>

              <% unless @curso.carga_horaria.blank? -%>
                  <li><label>Carga Horária:</label> <%= @curso.carga_horaria %> Horas/Aula</li>
              <% end -%>

              <% unless @curso.inicio.blank? -%>
                  <li><label>Início:</label> <%= @curso.inicio %></li>
              <% end -%>

              <% unless @curso.horario.blank? -%>
                  <li><label>Horário:</label> <%= @curso.horario %></li>
              <% end -%>

              <% unless @curso.numero_encontros.blank? -%>
                  <li><label>Número de Encontros:</label> <%= @curso.numero_encontros %></li>
              <% end -%>

              <% unless @curso.vacancies.blank? -%>
                  <li><label>Número de Vagas:</label> <%= @curso.vacancies %></li>
              <% end -%>

              <% unless @curso.weekdays.blank? -%>
                  <li><label>Dias da Semana:</label> <%= @curso.weekdays %></li>
              <% end -%>

              <li><label>Investimento:</label> <%= @curso.investimento.reais_formatado %> </li>

              <% unless @curso.price_condition.blank? -%>
                  <li><%= raw @curso.price_condition %></li>
              <% end -%>

              <li>
                <% link_to contacts_path("contact[subject]" => "Gostaria de fazer o curso #{@curso.nome}", :anchor => "contato"), :class => "btn btn-large btn-info btn-green btn-comprar-curso" do -%>
                    <i class="icon-thumbs-up"></i> Ligue Agora!
                <% end -%></li>


            </ul>
          </div>


          <% unless @curso.professors.blank? -%>
              <div class="widget">
                <h5 class="widgetheading"><%= @curso.professors.count.eql?(1) ? "Professor" : "Professores" %></h5>
                <% @curso.professors.each do |professor| -%>
                    <div class="author lista-prof-curso">
                      <% if professor.professor.imagem.file? -%>
                          <%= image_tag professor.professor.imagem.url(:thumbnail), :class => "img-circle bordered", :style => "float: left;" %>
                      <% end -%>
                      <p class="nome-professor"><%= link_to professor.professor.nome, professor_path(professor.professor) %></p>
                      <br class="clear"/>
                    </div>
                <% end -%>
              </div>
          <% end -%>

        </aside>
      </div>

    </div>
    <!-- row -->
    <%= render_cell :"testimonials/testimonials", :show_home %>
  </div>
  <!-- container -->
</section>

