<% title "Dashboard"  %>
<br class="clear" />

<% if current_user.is_admin? -%>

  <div id="dados_dashboard">
    <div id="acesso_rapido_dashboard">
      <h1>Acesso r&aacute;pido</h1>
      <%= link_to "Google Analytics", "https://www.google.com/analytics/reporting/?reset=1&id=46403630", :id => "link_analytics", :target => "_blank" %>
      <%= link_to "Ir para o Home", root_url, :id => "link_home", :target => "_blank" %>
    </div><br class="clear" />

    <div id="estatisticas_dashboard">
      <h1>Estat&iacute;sticas</h1>
      <table>
        <tr>
          <th class="secao">Se&ccedil;&atilde;o</th>
          <th>Total</th>
          <th>Semana</th>
        </tr>
        <tr>
          <td class="secao">Compras</td>
          <td><%= @faturas[:total] %></td>
          <td><%= @faturas[:semana] %></td>
        </tr>
        <tr>
          <td class="secao">Usuários</td>
          <td><%= @users[:total] %></td>
          <td><%= @users[:semana] %></td>
        </tr>
        <tr>
          <td class="secao">Cursos On-line</td>
          <td><%= @video_aulas[:total] %></td>
          <td><%= @video_aulas[:semana] %></td>
        </tr>
		<tr>
          <td class="secao">Pacotes de Cursos</td>
          <td><%= @pacotes[:total] %></td>
          <td><%= @pacotes[:semana] %></td>
        </tr>
		<tr>
          <td class="secao">Assinaturas</td>
          <td><%= @assinaturas[:total] %></td>
          <td><%= @assinaturas[:semana] %></td>
        </tr>
		<tr>
          <td class="secao">Cursos em PDF</td>
          <td><%= @arquivos[:total] %></td>
          <td><%= @arquivos[:semana] %></td>
        </tr>
        <tr>
          <td class="secao">Cursos Presenciais</td>
          <td><%= @cursos[:total] %></td>
          <td><%= @cursos[:semana] %></td>
        </tr>
		<tr>
          <td class="secao">Professores</td>
          <td><%= @professores[:total] %></td>
          <td><%= @professores[:semana] %></td>
        </tr>
        <tr>
          <td class="secao">Notícias</td>
          <td><%= @noticias[:total] %></td>
          <td><%= @noticias[:semana] %></td>
        </tr>
        <tr>
          <td class="secao">Artigos</td>
          <td><%= @artigos[:total] %></td>
          <td><%= @artigos[:semana] %></td>
        </tr>
      </table>
    </div>
  </div>

<% end -%>

<div class="grid_9" id="form_contato">
  <h1 class="">Suporte Promine</h1>
  <p>Preencha o formulário abaixo para relatar algum erro encontrado no sistema, solicitar uma alteração no sistema, enviar sugestões ou solicitar suporte. Essa &eacute; a forma mais rápida de obter ajudar sobre o sistema com a Promine.</p>
  <div id="bloco_contato">
    <%= render :partial => "admin/contacts/form", :locals => {:contact => @support} %>
  </div>
</div>