<div>
  <span>
    <span class="titulo" style="font-weight: bold; font-size: 22px"><%= classroom_ticket.code %></span><br />
    <% if classroom_ticket.status_inactive? %>
    <span class="data" style="font-size: 14px; color: red; font-style: italic;">(Já dado baixa!)</span><br />
    <% end %>
    <span class="data" style="font-size: 14px; font-style: italic;">Cliente: <%= classroom_ticket.user.name %> - CPF: <%= classroom_ticket.user.cpf -%></span>
  </span>
  <%= link_to image_tag('backend/btn_dar_baixa.gif'), write_off_admin_classroom_event_path(classroom_ticket), :confirm => 'Tem certeza que deseja dar baixa no ingresso?', :method => :post, :class => 'remover' if classroom_ticket.status_active? %>
</div>