<div>
  <span>
    <span class="titulo"><%= link_to classroom_event.nome, edit_admin_classroom_event_path(classroom_event) %></span><br />
    <span class="data"><%= classroom_event.categoria.nome %> -
    Criado em <%= classroom_event.created_at.to_s(:padrao_data_hora) %></span><br/>
    <span class="additional"><%= classroom_event.investimento.real_formatado -%></span>
  </span>
  <%= link_to image_tag('backend/btn_dar_baixa.gif'), tickets_admin_classroom_event_path(classroom_event), :class => 'remover', :style => "margin-left: 10px;", :title => "Dar baixa em ingressos deste evento" %>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, classroom_event], :confirm => 'Tem certeza que deseja remover o evento?', :method => :delete, :class => 'remover', :title => "Excluir este evento" %>
</div>