<% professor ||= ProdutosProfessor.new %>
<div class="nested-form-row">
  <% fields_for "classroom_event[professors_attributes][]", professor, :index => nil do |t| %>
    <div class="multimodel-fields">
      <%= Admin::FormPresenter.select_field t, :professor_id, :remote => true,
                                        :url => ajax_search_admin_professors_path,
                                        :field => :nome,
                                        :item => professor.professor  %>
      <div class="multimodel-remove">
        <a class="nested-form-delete-row" href="#">
          <%= image_tag("backend/icons/remove.gif") %>
        </a>
        <span>remover</span>
      </div>
    </div>
    <br class="clear" />
  <% end %>
</div>