<!-- Lista eventos no backend -->
<% title "Eventos" %>

<%= render :partial => 'filtros' %>
<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'classroom_event', :label => "novo evento" } %>

<div class="registros">
  <%= render :partial => @classroom_events %><br />
</div>
<br class="clear" />

<%= will_paginate @classroom_events %>