<!-- Tela para dar baixa em ingressos -->
<% title "Eventos - dar baixa em ingressos" %>

<div id="filtros" style="margin: 0 0 40px 0;">
  <% form_tag tickets_admin_classroom_event_path, :class => "form-dar-baixa", :method => :get do %>
      <p>
        <%= label_tag "filter[ticket]", "Código do ingresso" %>
        <%= text_field_tag "filter[ticket]", (params[:filter] && !params[:filter][:ticket].blank?) ? params[:filter][:ticket] : "" %>
        <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
      </p>
  <% end %>
</div>

<div class="registros">
  <%= render :partial => "classroom_ticket", :collection => @classroom_tickets %><br />
  <br class="clear" />
</div>


<%= will_paginate @classroom_tickets %>