<div id="filtros">
  <% form_tag admin_users_path, :method => :get do %>
    <p>
      <%= label_tag "filtro[name]", "Nome" %>
      <%= text_field_tag "filtro[name]", (params[:filtro] && params[:filtro][:name]) ? params[:filtro][:name] : "" %>
    </p>
    <p>
      <%= label_tag "filtro[cpf]", "CPF" %>
      <%= text_field_tag "filtro[cpf]", (params[:filtro] && params[:filtro][:cpf]) ? params[:filtro][:cpf] : "" %>
    </p>
    <p>
      <%= label_tag "filtro[email]", "E-mail" %>
      <%= text_field_tag "filtro[email]", (params[:filtro] && params[:filtro][:email]) ? params[:filtro][:email] : "" %>
    </p>
    <p>
      <%= label_tag "filtro[role]", "Perfil" %>
      <%= select "filtro", "role", Role.all.collect {|a| [ a.name.humanize, a.id ] }.concat([""]), :selected => (params[:filtro] && params[:filtro][:role]) ? params[:filtro][:role] : "" %>
    </p>
    <p>
      <%= label_tag "ordenar", "Ordenar por " %>
      <%= select_tag 'ordenar', options_for_select(@ordenacao.sort, params[:ordenar]) %>
    </p>
    <p>
      <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
    </p>

    <div class="btn_novo_user">
      <div class="adicionar_registro">
        <div class="canto_esquerdo"></div><div class="link">
          <%= link_to "novo usuário", new_admin_user_path, :class=> "btn_novo_usuario" %>
        </div><div class="canto_direito"></div>
      </div>
    </div>

  <% end %>
</div>

<div class="ferramentas_usuarios">
	<span class="titulo_f">Resumo:</span>
	<span><%= pluralize(total_administradores, 'administrador', 'administradores') %></span>
	<span><%= pluralize(total_clientes, 'cliente') %></span>
        <span><%= pluralize(total_ativos, 'ativo')   -%></span>
	<span class="botao_export"><%= link_to 'Exportar emails', exportar_emails_admin_users_path %></span>
</div>