<div>
  <span>
    <span class="titulo"><%= link_to truncate(user.login + " - " + user.email, :length => 70), edit_admin_user_path(user) %></span>
    <span class="data">Criado em <%= user.created_at.to_s(:padrao_data_hora)  %></span><br />
    <span class="descricao">Permissões: <%= user.roles.map { |a| a.name.humanize }.join(", ") %></span><br />
  </span>
  <% if current_user.id != user.id -%>
    <%= link_to image_tag('backend/btn_delete.gif'), admin_user_path(user), :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
  <% end -%>
</div>
