<% title "Dados pessoais"  %>

<% form_tag :url => change_password_path do |f| -%>

  <div>
    <%= label_tag 'old_password', "Senha atual", :class => 'primeira-coluna' %>
    <%= password_field_tag 'old_password' %><br/>
  </div>

  <div>
    <%= label :user, 'password', 'Senha nova', :class => 'primeira-coluna' %>
    <%= password_field :user, 'password' %><br/>
  </div>

  <div>
    <%= label :user, 'password_confirmation', 'Confirmação', :class => 'primeira-coluna' %>
    <%= password_field :user, 'password_confirmation' %><br/>
  </div>

  <%= label_tag '', "", :class => 'primeira-coluna' %>
  <%= submit_tag 'salvar' %>

<% end -%>
