<% title "Usuários"  %>

<%= render :partial => 'filtros', :locals => { :total_administradores => @total_administradores, :total_clientes => @total_clientes, :total_ativos => @total_ativos} %>

<div class="registros">
  <%= render :partial => @users %><br />
</div>
<br class="clear" />

<%= will_paginate @users %>
