<% title "Novo Usuário" %>
<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => admin_users_path do |f| -%>

  <div>
    <% if @user.errors['roles'] -%>
      <span class="fieldWithErrors">
      <% end -%>

      <%= label_tag :roles, 'Permissões' %>
      <% for role in Role.ordered %>
        <%= check_box_tag "user[roles][#{role.id}]", role.id, @user.has_role?(role.name) %>
        <%= label_tag "user[roles][#{role.id}]", role.name, :class => "checkbox-label" %>
      <% end %>

      <% if @user.errors['roles'] -%>
        <span class="fieldErrorMessage">
          <span class="hint"></span>
          Selecione ao menos uma permissão
        </span>
      </span>
    <% end -%>
    <br />
  </div>

  <div>
    <%= f.label :first_name, 'Nome' %>
    <%= f.text_field :first_name, :maxlength => 100 %><br />
  </div>

  <div>
    <%= f.label :last_name, 'Sobrenome' %>
    <%= f.text_field :last_name, :maxlength => 100, :class => "campo" %><br />
  </div>

  <div>
    <%= f.label :nascimento, 'Data de Nascimento' %>
    <%= f.text_field :nascimento, :maxlength => 10, :class => "campo" %><br />
  </div>

  <div>
    <%= f.label :login, "Login" %>
    <%= f.text_field :login, :maxlength => 40 %>
  </div>

  <div>
    <p>
      <%= f.label :email, 'E-mail' %>
      <%= f.text_field :email, :maxlength => 100, :class => "campo" %>
    </p>


  </div>
  <div>
	<p>
      <%= f.label :email_confirmation, 'Confirmação de e-mail' %>
      <%= f.text_field :email_confirmation, :maxlength => 100, :class => "campo" %>
    </p>
  </div>

  <div>
    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirmação de Senha' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :cpf, "CPF" %>
    <%= f.text_field :cpf, :maxlength => 14 %>
  </div>

	<div class="span6 field">
		<%= f.label :profissao, "Profissão" %>
		<%= f.text_field :profissao, :maxlength => 200, :class => "campo-texto-nasc-cpf" %>
	</div>

  <div>
    <%= f.label :endereco, "Endereço" %>
    <%= f.text_field :endereco, :maxlength => 100, :class => "campo" %>
  </div>

  <div>
    <%= f.label :complemento, "Complemento" %>
    <%= f.text_field :complemento, :maxlength => 100, :class => "campo" %>
  </div>

  <div>
    <%= f.label :bairro, "Bairro" %>
    <%= f.text_field :bairro, :maxlength => 100, :class => "campo" %>
  </div>

  	<div>
    <%= f.label :estado_id, "Estado" %>
    <%= f.collection_select :estado_id, Estado.ordered.all, :id, :nome, :include_blank => true %>
	  <%= observe_field(:user_estado_id, :url => :update_cidade_admin_users,
	                  :update => :cidade_container,
	                  :with => :estado_id
	            ) %>
  </div>

  <div id="cidade_container">
    <% if !@user.estado.blank? %>
	  <%= f.label :cidade_id, "Cidade" %>
    <%= f.collection_select :cidade_id, @user.estado.cidades.ordered.all, :id, :nome, :include_blank => true %>
	  <% end %>
  </div>

  <div>
    <p>
      <%= f.label :cep, "CEP" %>
      <%= f.text_field :cep, :maxlength => 10, :class => "campo" %>
    </p>
    <p><%= link_to 'Não sei o CEP', 'http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro', :target => '_blank' -%></p>
  </div>

  <div>
    <%= f.label :telefone_fixo, "Telefone Fixo" %>
    <%= f.text_field :telefone_fixo, :maxlength => 14, :class => "campo" %>
  </div>

  <div>
    <%= f.label :telefone_celular, "Telefone Celular" %>
    <%= f.text_field :telefone_celular, :maxlength => 14, :class => "campo" %>
  </div>


<div>
    <%= f.label 'Termos de Serviço', '&nbsp;' %>
    <%= f.check_box :aceite_termos_de_servico %> Aceito os termos de serviço.
  </div>

  <div>
    <%= f.label '', '&nbsp;' %>
    <label class="label_radio"><%= check_box_tag :newsletter, "on", @user.receives_newsletter? %> Desejo receber promoções e comunicados do <%= Settings.site %>.</label>
  </div>

  <div>
    <%= f.label '', '&nbsp;' %>
    <%= submit_tag 'Salvar' %>
  </div>
<% end -%>
<% content_for :custom_javascript_includes do %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#user_cpf").mask("999.999.999-99");
		$("#user_cep").mask("99.999-999");
		$("#user_nascimento").mask("99/99/9999");
		jQuery('#user_telefone_fixo, #user_telefone_celular').mask("(99) 9999-9999?9").ready(function(event) {
			var target, phone, element;
			target = (event.currentTarget) ? event.currentTarget : event.srcElement;
			phone = target.value.replace(/\D/g, '');
			element = $(target);
			element.unmask();
			if(phone.length > 10) {
				element.mask("(99) 99999-999?9");
			} else {
				element.mask("(99) 9999-9999?9");
			}
		});
	});
</script>
<% end %>
