<% title "Reset your password"  %>

<% form_for :user, :url => reset_password_path(:reset_password_token => @reset_password_token) do |f| -%>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password, :value => "" %></p>

  <p><%= label_tag 'password_confirmation' %><br/>
  <%= f.password_field :password_confirmation, :value => "" %></p>

  <p><%= submit_tag 'Save Password' %></p>
<% end -%>
