<% form_for( [:admin, sobre], :url => admin_sobre_path, :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :content, 'Conteúdo' %>
    <br/>
    <%= f.text_area :content, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :content_2, 'Conteúdo 2' %>
    <br/>
    <%= f.text_area :content_2, :class => "tinymce" %>
  </div>

  <div>
    <%= f.label :content_3, 'Conteúdo 3' %>
    <br/>
    <%= f.text_area :content_3, :class => "tinymce" %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>