<% content_for :custom_javascript_includes do %>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery.backend.forms.setup();
        });
    </script>
<% end %>

<% form_for([:admin, live_channel], :url => admin_live_channel_path, :html => {:multipart => true}) do |f| %>
    <div>
      <%= f.label :embedded_content, 'Código Embed Site' %>
      <%= f.text_area :embedded_content, :rows => 7 %>
    </div>

    <div>
      <%= f.label :facebook_embedded_content, 'Código Embed Facebook' %>
      <%= f.text_area :facebook_embedded_content, :rows => 7 %>
    </div>

    <%= Admin::FormPresenter.new_attachment f, :supporting_materials, self,
                                            :title => "Materiais de Apoio",
                                            :attachment_class => LiveChannelSupportingMaterial,
                                            :attachment_name => :attachment %>

    <%= Admin::FormPresenter.existing_attachment f, :supporting_materials, self,
                                                 :download_url => :download_attachment_admin_live_channel_path,
                                                 :edit_url => :update_attachment_admin_live_channel_path,
                                                 :title => "Materiais de Apoio Existentes",
                                                 :attachment_name => :attachment,
                                                 :label_method => :label %>
    <br class="clear"/>

    <div class="controles">
      <%= f.label '', '&nbsp;' %>
      <%= f.submit 'salvar' %>
      <%= f.submit 'limpar', :type => 'reset' %>
    </div>
<% end %>