<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Ocorreu um erro no servidor (500)</title>
        <link href="/stylesheets/error_pages.css" media="screen" rel="stylesheet" type="text/css" />
    </head>

    <body>
			<div class="conteudo">
      	<h1>Estamos em manutenção</h1>
			  <h2>Voltaremos em alguns instantes.</h2>
				<br class="clear" />
			</div>
		</body>
</html>
