<div class="questao">
	<%=raw simulated_test.send(:"question_#{question_number}") %>
	<div class="resposta">
		<p>Sua resposta</p>
		<% answer_options.each do |option| %>
			<%= radio_button_tag :"answer_#{question_number}", option, user_answer?(user_simulated_test, question_number, option), :disabled => true %>
			<%= label_tag :"answer_#{question_number}_#{option}", option.upcase %>
		<% end %>
	</div>
	<div class="comentario">
		<%=raw simulated_test.send(:"answer_#{question_number}") %>
	</div>
</div>
