<div class="principal-simulado">
	<% form_for user_simulated_test do |f| %>
		<h3 class="bloco-geral">CONHECIMENTOS GERAIS</h3>

		<!-- portugues -->
		<div class="disciplina">
			<h3>Português</h3>

			<% 1.upto(10) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<!-- informatica -->
		<div class="disciplina">
			<h3>Informática</h3>

			<% 11.upto(18) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<h3 class="bloco-geral">CONHECIMENTOS ESPECÍFICOS</h3>

		<!-- NOÇÕES DE DIREITO CONSTITUCIONAL -->
		<div class="disciplina">
			<h3>Noções de Direito Constitucional</h3>

			<% 19.upto(30) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<!-- NOÇÕES DE DIREITO ADMINISTRATIVO -->
		<div class="disciplina">
			<h3>Noções de Direito Administrativo</h3>

			<% 31.upto(42) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<!-- NOÇÕES DE DIREITO PENAL -->
		<div class="disciplina">
			<h3>Noções de Direito Penal</h3>

			<% 43.upto(56) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<!-- NOÇÕES DE DIREITO PROCESSUAL PENAL -->
		<div class="disciplina">
			<h3>Noções de Direito Processual Penal</h3>

			<% 57.upto(68) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>

		<!-- LEGISLAÇÃO PENAL EXTRAVAGANTE -->
		<div class="disciplina">
			<h3>Legislação Penal Extravagante</h3>

			<% 69.upto(80) do |number| %>
				<%= render :partial => "form_item", :locals => {:question_number => number, :f => f, :simulated_test => simulated_test} %>
				<br class="clear" />
			<% end %>
		</div>
		<%= f.submit 'Enviar suas respostas', :class =>"btn_sair button gray" %>
	<% end %>
	<br class="clear" />
</div>
