<div class="questao">
	<%=raw simulated_test.send(:"question_#{question_number}") %>
	<div class="resposta">
		<p>Sua resposta</p>
		<% answer_options.each do |option| %>
			<%= f.radio_button :"answer_#{question_number}", option %>
			<%= f.label :"answer_#{question_number}_#{option}", option.upcase %>
		<% end %>
	</div>
</div>
