<% if permit_simulated_test? %>
<div class="resumo_usuario" style="margin-bottom: 20px; background: #8c866d">
	<h3 style="margin-bottom: 10px; font-size: 20px; color: #FFF;">Novo Simulado!</h3>

	<p style="margin-bottom: 20px; font-size: 15px; color: #ffd200; font-style: italic;"><%= link_to "Clique aqui para fazer o Simulado para Polícia Civil do Ceará", user_simulated_tests_path, :style => "margin-bottom: 20px; font-size: 15px; color: #ffd200; font-style: italic;" %></p>
	<br class="clear"/>
</div>
<% end %>
