<span class="btn_voltar"><%= link_to "Voltar para lista de Cursos", video_aulas_path %></span>

<div class="introducao">
	<%=raw @simulated_test.description %>
</div>

<% if @user_simulated_test.new_record? %>
	<%= render :partial => "form", :locals => {:simulated_test => @simulated_test, :user_simulated_test => @user_simulated_test} %>
<% else %>
	<%= render :partial => "answers", :locals => {:simulated_test => @simulated_test, :user_simulated_test => @user_simulated_test} %>
<% end %>
