<div>
  <%=raw "<h3>#{presenter.title}</h3>" unless presenter.title.blank? %>
	<div id="thumbnails">
    <% unless presenter.readonly? %>
      <span>Marque a checkbox caso queira remover o arquivo. <br />Os arquivos só serão removidos depois de clicar em salvar.</span>
    <% end %>

    <% presenter.form.fields_for presenter.record_name do |record_form| %>
      <%= presenter.render_item record_form %>
    <% end %>
	</div>
</div>