<div class="thumbnail">
  <%= presenter_item.link_to_download %>
  <% div_for presenter_item.record,
             :class => "inplace-label-editor",
             :"data-in-place-edit-url" => presenter_item.edit_url do %><%= presenter_item.label %><% end %>
  <% if !presenter_item.readonly? %>
    <%= presenter_item.checkbox_to_destroy %>
    <span>marque p/ remover</span>
  <% end %>
</div>