<tr>
    <td align="left" valign="middle"><%= index %></td>
    <% if !presenter_item.readonly? %>
    <td class="borda-esq" align="center" valign="middle"><%= presenter_item.checkbox_to_destroy %></td>
    <% end %>
    <td class="borda-esq" align="center" valign="middle"><%= presenter_item.link_to_download %></td>
    <td class="borda-esq" align="left" valign="middle"><% div_for presenter_item.record,
             :class => "inplace-label-editor",
             :"data-in-place-edit-url" => presenter_item.edit_url do %><%= presenter_item.label %><% end %></td>
</tr>