<div>
  <%=raw "<h3>#{presenter.title}</h3>" unless presenter.title.blank? %>
	<div id="thumbnails">
    <% unless presenter.readonly? %>
      <span>Marque a checkbox caso queira remover o arquivo. <br />Os arquivos só serão removidos depois de clicar em salvar.</span>
    <% end %>

    <table class="tabela-pdf" width="940" border="0" cellspacing="0" cellpadding="0">
      <tr>
      	<td width="5%" class="topo">Ordem</td>
        <% unless presenter.readonly? %>
        <td width="5%" class="borda-esq topo">Marcar</td>
        <% end %>
        <td width="15%" class="borda-esq topo">Tipo de Arquivo</td>
        <td class="borda-esq topo">Nome do arquivo</td>
      </tr>
      <% presenter.form.fields_for presenter.record_name do |record_form| %>
        <%= presenter.render_item record_form %>
      <% end %>
    </table>
	</div>
</div>