<div id="form-new-attachment">
  <% if presenter.has_title? %>
    <h3><%= presenter.title %></h3><span>Selecione os arquivo(s) anexos (jpg, gif, png, pdf, doc, ppt ou zip)</span>
  <% end %>
  <div class="form-new-attachment-items">
    <%= render :partial => presenter.partial_item, :locals => {:presenter => presenter } %>
  </div>
  <% if presenter.add_more? %>
  <a class="form-new-attachment-add-row" href="#" data-template="<%= html_escape render(:partial => presenter.partial_item, :locals => {:presenter => presenter, :js_deferred_index => true }) %>">Mais...</a>
  <% end %>
</div>