<%
  js_deferred_index ||= false
  child_index = js_deferred_index ? "js-deferred-index" : -1
%>
<% options = {} %>
<% presenter.form.fields_for presenter.record_name, presenter.new_attachment_instance, :child_index => child_index do |record_form| %>
  <div>
    <%= record_form.label presenter.attachment_name, presenter.label %>
    <%= record_form.file_field presenter.attachment_name %>
  </div>
<% end %>