<div class="destaque">
  <span class="ui-icon ui-icon-grip-dotted-vertical" style="float: left;"></span>
  <div class="multimodel-fields">
    <%= select_tag "destaques[]", option_groups_from_produtos_for_select(produtos, destaque), :id => "", :class => "select_destaque" %>
    <div class="multimodel-remove">
      <%= link_to_function image_tag("backend/icons/remove.gif"), "jQuery(this).parents('.destaque').remove()" %>
      <span>remover</span>
    </div>
  </div>

  <br class="clear" />
</div>
