<% form_for( [:admin, categoria_curso] ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 255 %>
  </div>

  <div>
    <%= f.label :parent_id, "Categoria Pai" %>
    <%= Admin::FormPresenter.select_field f,
                                   :parent_id,
                                   :field => :nome_for_selects,
                                   :collection => @parent_categorias,
                                   :include_blank => true %>
    <%# f.collection_select :parent_id, @parent_categorias, :id, :nome_for_selects, :include_blank => true %>
  </div>


  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
    <%= link_to "excluir", [:admin, categoria_curso], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete if not categoria_curso.new_record? %>
  </div>

<% end %>
