<% form_for(:destaques, :url => destaques_admin_categoria_cursos_path, :method => :post) do |f| %>
  <div id="destaques">
    <%= render :partial => "destaque", :collection => @destaques, :locals => {:f => f, :produtos => @produtos} %>
  </div>
  <div class="controles">
    <%= f.submit 'salvar' %>
    <%= link_to_function "adicionar destaque", :id => "adicionar_destaque" do |page|
      page.insert_html :bottom, :destaques, :partial => "destaque", :object => Produto.new, :locals => {:f => f, :produtos => @produtos }
      page['#destaques .select_destaque'].filter(":last").select2
    end %>
  </div>
<% end %>
