<% title "Cursos em Destaque" %>

<% content_for :custom_javascript_includes do %>
  <%= javascript_include_tag "admin/categoria_cursos_destaques.js" %>
<% end %>
<ul id="produtos">
  <%= render :partial => "form_destaques", :locals => {:produtos => @produtos, :destaques => @destaques} %>
</ul>
