<% title "Categorias" %>

<% content_for :custom_css_includes do %>
  <%= stylesheet_link_tag "jquery-dynatree/skin-vista/ui.dynatree.css" %>
<% end %>
<% content_for :custom_javascript_includes do %>
  <script type="text/javascript">
    $.adminSite = {};
    $.adminSite.categorias = {
      urls: {
        index: "<%= index_ajax_admin_categoria_cursos_url %>"
      },
      ajaxParams: {
        "<%= session_key %>": "<%= cookies[session_key] %>",
        "authenticity_token": "<%= form_authenticity_token %>",
      }
    };
  </script>
  <%= javascript_include_tag "jquery.dynatree.min.js" %>
  <%= javascript_include_tag "admin/categorias.js" %>
<% end %>

<% render :layout => 'layouts/barra_controle', :locals => {:ordenar => false, :entidade => 'categoria_curso', :label => 'nova categoria'} do %>
  <div class="adicionar_registro">
    <div class="canto_esquerdo"></div><div class="link">
      <%= link_to "definir destaques", destaques_admin_categoria_cursos_path %>
    </div><div class="canto_direito"></div>
  </div>

<% end %>

<div id="categorias">
</div>

<br class="clear" />
