<li>
  <p class="foto"><%= image_tag missing?(professor.imagem) ? "thumb_curso_online.gif" : professor.imagem.url(:thumbnail), :alt => "Foto de #{professor.nome}" %></p>
  <div class="desc_professor">
    <p class="nome"><%= professor.nome %></p>
    <% unless professor.site.blank? -%>
      <p class="e-mail"><span>E-mail: </span><%= link_to professor.email, "mailto:#{professor.email}" %></p>
    <% end -%>
    <% unless professor.site.blank? -%>
      <p class="site"><span>Site: </span><%= link_to clean_url(professor.site), professor.site, :target => "_blank" %></p>
    <% end -%>
    <% unless professor.area_atuacao.blank? -%>
      <p class="areas"><span>Áreas de Atuação: </span><%= professor.area_atuacao %></p>
    <% end -%>
    <p class="curriculo"><span>Currículo: </span><%=raw professor.curriculo %></p>
    <% if professor.artigos.count > 0 -%>
      <p class="lista_artigos"><%= link_to "Ver artigos deste professor (#{professor.artigos.count})", artigos_path("filtros[professor]" => professor.id) %></p>
    <% end -%>
  </div>
  <br class="clear" />
</li>