<% title "Professores" -%>

<div class="conteudo_geral">

<h2>Professores</h2>

<% form_tag url_for(:controller => "professors", :action => "index"), :method => :get, :class => "form_busca", :id => "form_busca" do %>
<div class="principal">
  
	<div class="busca"><%= render :partial => "busca" %></div> 
	  
	<div class="ordenacao">
		<%= hidden_field_tag "page", (params[:page])  %>
		<label for="exibir_por">Ordenar por:</label>
		<%= select_tag 'ordenar', options_for_select(@ordenacao, params[:ordenar]), :onchange => "$('#form_busca').submit();" %>
	</div>
      
	<div class="exibir_professores">
	<% unless @professores.blank? -%>
	  <ul class="lista_professores">
	    <% @professores.each do |professor| -%>
	      <%= render :partial => "professor", :locals => {:professor => professor} %>
	    <% end -%>
	  </ul>
	  <!-- Paginacao -->
	  <div class="paginacao">
	    <%= will_paginate @professores %>
	  </div>
	<% end -%>
	<br class="clear" />
	</div>
<br class="clear" />
</div>
<% end -%>
<!-- fim do conteudo principal -->

<div class="col3_interna">

  <!--<%= render :partial => "cursos/depoimento", :locals => {:depoimento => @depoimento} unless @depoimento.blank? %>-->
<!--
  <div id="form_newsletter" class="newsletter newsletter_interna">
    <%= render :partial => "newsletter_subscribes/form", :locals => {:subscribe => NewsletterSubscribe.new} %>
  </div>
-->
  <%= render :partial => "cursos/banners" %>

</div>
</div>