<div class="ticker content_lancamentos">
  <a class="seta_voltar ticker_previous" title="Anterior">Anterior</a>
  <a class="seta_avancar ticker_next" title="Pr&oacute;ximo">Pr&oacute;ximo</a>
  <div class="ticker_content">
    <% unless tickers.blank? -%>
      <% tickers.each_index do |i| -%>
    <ul>
        <% if tickers[i].link.blank? -%>
          <li><%= image_tag tickers[i].imagem.url(:original), :alt => tickers[i].descricao, :title => tickers[i].descricao, :size => '940x320' %></li>
        <% else -%>
          <li><%= link_to image_tag(tickers[i].imagem.url(:original), :alt => tickers[i].descricao, :title => tickers[i].descricao, :size => '940x320'), tickers[i].link %></li>
        <% end -%>
        </ul>
      <% end -%>
    <% end -%>
  </div>
</div>
