<!-- Top cursos da home -->

<div class="produtos">
	<h2 style="float:left; margin-bottom: 30px;">Cursos</h2>

	<% form_tag video_aulas_path, :method => :get, :class => "form_busca_home", :id => "form_busca" do %>
		<p>
			<!--<label class="label_busca" for="campo_busca">Buscar</label>-->
			<%= text_field "filtros", "nome", :placeholder => "busque seu curso", :class => "campo_busca campo_busca_home" %>
			<%= submit_tag "Buscar", :class => 'btn_logar button gray btn-busca-home' %>
		</p>
	<% end -%>
	<br class="clear" />

  <%= render_cell "produtos_destaque", :show, :paginate_controller => "home" %>
  <br class="clear" />
</div>