<div class="lancamentos">
  <ul class="categorias-ticker">
    <%= render :partial => "categoria", :collection => @categorias %>
  </ul>

  <% @categorias.each do |categoria| %>
    <div id="<%= categoria.parameterize.underscore %>">
      <%= render :partial => "ticker", :locals => { :categoria => categoria, :tickers => Ticker.ordered.find_all_by_category(categoria) } %>
    </div>
  <% end %>
</div>
<!-- Fim de lancamentos -->
<div class="clear"></div>
