<% form_for( [:admin, professor], :html => { :multipart => true } ) do |f| %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email, :maxlength => 100 %>
  </div>

  <div>
    <%= f.label :site %>
    <%= f.text_field :site %>
  </div>

  <div>
    <%= f.label :area_atuacao, "Área de Atuação" %>
    <%= f.text_field :area_atuacao %>
  </div>

  <div>
    <%= f.label :imagem %>
    <%= f.file_field :imagem %>
    <%= image_tag professor.imagem.url(:thumbnail) unless missing?(professor.imagem) %> (.jpg, .gif ou .png)
  </div>

  <div>
    <%= f.label :curriculo, "Currículo" %>
    <br/>
    <%= f.text_area :curriculo, :class => "tinymce" %>
  </div>

  <div class="controles">
    <%= f.label '', '&nbsp;' %>
    <%= f.submit 'salvar', :name => 'save' %>
    <%= f.submit 'salvar e criar outro', :name => 'save_and_new' %>
    <%= f.submit 'limpar', :type => 'reset' %>
  </div>

<% end %>