<div>
  <span>
    <span class="titulo"><%= link_to professor.nome, edit_admin_professor_path(professor) %></span>
  </span>
  <%= link_to image_tag('backend/btn_delete.gif'), [:admin, professor], :confirm => 'Tem certeza que deseja remover o registro?', :method => :delete, :class => 'remover' %>
</div>