<% title "Professores" %>

<%= render :partial => 'layouts/barra_controle', :locals => {:ordenacao => @ordenacao, :entidade => 'professor'} %>

<div class="registros">
  <%= render :partial => @professors %><br />
</div>
<br class="clear" />

<%= will_paginate @professors %>