<%
  genero ||= 'o'
  ordenacao ||= {}
  ordenacao[""] = "" if ordenacao.kind_of? Hash
  ordenacao = ordenacao.sort if ordenacao.kind_of? Hash
  ordenar = ordenar.nil? ? true : ordenar
  adicionar = (adicionar.nil?) ? true : adicionar
  action ||= ""
  label ||= "nov#{genero} " + entidade.humanize.downcase
%>

<div class="barra_controle">
  <% if ordenar %>
    <div class="visualizacao">
      <div class="ordenar">Ordenar por: <%= select_tag 'ordenar', options_for_select(ordenacao, params[:ordenar]),
        :onchange => "if(this.value != ''){ location = '/#{params[:controller]}#{action}?ordenar=' + this.value + '#{('&page=' + params[:page]) if params[:page] }'+ '#{('&' + params[:filtro].to_query('filtro')) if params[:filtro] }' }" %>
      </div>
    </div>
  <% end %>
  <% if adicionar %>
    <div class="adicionar_registro">
      <div class="canto_esquerdo"></div><div class="link">
        <%= link_to label, url_for(:action => 'new', :controller => entidade.pluralize.downcase) %>
      </div><div class="canto_direito"></div>
    </div>
  <% end %>
  <%= yield %>
  <br class="clear" />
</div>
