<h3>Carrinho de Compras</h3>

<% if quantity == 0 %>
  <p>Carrinho vazio.</p>
<% else %>
  <p>Você tem <span><%= quantity %></span> <%= quantity == 1 ? 'item' : 'itens' %> no carrinho.</p>
  <%= link_to "Ver", {:controller => 'carrinho', :action => 'index'} , {:class => 'button gray', :title => "Ir para o carrinho", :alt => "Ir para o carrinho" }  %>
<% end %>