<% singular ||= model.to_s.downcase %>
<% plural   ||= nil %>
<div id="count" class="count-crud">
  <%=
  case
  when model.respond_to?(:filter)
    pluralize(model.filter(current_user).count(:all), singular, plural)
  when model.respond_to?(:search)
    pluralize(model.search(params).count(:all), singular, plural)
  else
    pluralize(model.count(:all), singular, plural)
  end
  %>
</div>
