<% if model_object.errors.size > 0 %>
  <ul class="errors-crud">
    <% model_object.errors.each do |key, msg| %>
        <%= content_tag :li, [key.capitalize, msg].join(" ") %>
    <% end %>
  </ul>
<% end %>