<% if !flash.blank? && (!flash[:error].blank? || !flash[:notice].blank? || !flash[:message].blank?) %>
  <div id="flash_message">
    <%= content_tag(:span, flash[:error], :class => "flash_error") if flash[:error] %>
    <%= content_tag(:span, flash[:notice], :class => "flash_notice") if flash[:notice] %>
  </div>
<% end %>