<% if current_user.blank? -%>
  <% form_tag session_path do -%>
    <h4>&Aacute;rea do Aluno</h4>
    <%= label_tag 'login', "Login" %>
    <%= text_field_tag 'login', @login, :class => 'campo_texto', :maxlength => 50, :placeholder => "insira seu login ou e-mail" %>

    <%= label_tag 'password', "Senha" %>
    <%= password_field_tag 'password', nil, :class => 'campo_texto', :placeholder => "insira sua senha" %>
    <%= submit_tag 'Enviar', :class => 'btn_logar button gray' %>

    <p class="relembrar_senha">
      <%= link_to "Cadastre-se", new_user_path %>
      <%= link_to 'Esqueceu sua senha e/ou login?', forgot_password_path, :class => "esq_senha" %>
    </p>
  <% end -%>
<% else -%>
  <div class="area_aluno">
    <h4>&Aacute;rea do Aluno</h4>
    <p>Seja bem-vindo(a) <%= current_user.name %></p>
    <%= link_to "Sair", logout_path, :class =>"btn_sair button gray" %>
    <ul>
      <li><%= link_to "Dados", edit_user_path(current_user) %></li>
      <li><%= link_to "Pedidos", :controller => 'pedido', :action => 'index' %></li>
      <li><%= link_to "Cursos", meus_cursos_path %></li>
      <li><%= link_to "Simulados", my_simulated_tests_path %></li>
      <li><%= link_to "Ebooks", meus_arquivos_path %></li>
      <li><%= link_to "Ao Vivo", meus_tickets_path %></li>
      <li><%= link_to "Ingressos", my_classroom_tickets_path %></li>
    </ul>
  </div>
<% end -%>
