<ul>
	<li><%= link_to 'Início',	home_path, :title => 'Página Inicial', :id => ((params[:action] == 'home') ? 'ativo' : nil) %></li>
    <li><%= link_to 'Simulados', simulated_tests_path,:title => 'Simulados', :id => ((params[:controller] == 'simulated_tests') ? 'ativo' : nil) %></li>
	<!--<li><%= link_to 'Gustavo Brígido', sobre_path, :title => 'Gustavo Brígido', :id => ((params[:action] == 'sobre') ? 'ativo' : nil) %></li>-->
	<li><%= link_to 'Cursos', video_aulas_path,:title => 'Cursos', :id => ((params[:controller] == 'video_aulas') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Ebooks', arquivos_path,:title => 'Ebooks', :id => ((params[:controller] == 'arquivos') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Assinaturas', assinaturas_path,:title => 'Assinaturas', :id => ((params[:controller] == 'assinaturas') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Ao Vivo', tickets_path,:title => 'Ao Vivo', :id => ((params[:controller] == 'tickets') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Eventos', classroom_events_path, :title => 'Eventos', :id => ((params[:controller] == 'classroom_events') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Professores', professors_path, :title => 'Professores', :id => ((params[:controller] == 'professors') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Parceiros', parceiros_path, :title => 'Parceiros', :id => ((params[:controller] == 'parceiros') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Notícias', noticias_path, :title => 'Notícias', :id => ((params[:controller] == 'noticias') ? 'ativo' : nil) %></li>
	<li><%= link_to 'Contato', contacts_path, :title => 'Contato', :id => ((params[:controller] == 'contacts') ? 'ativo' : nil), :class => "ultimo" %></li>
</ul>