<!-- menu -->
<ul id="nav" class="dropdown dropdown-horizontal">
  <li id="n-home"><%= link_to 'Home', admin_dashboard_path %></li>
  <% if current_user.is_admin? -%>
    <li id="n-admin"><a href="#" class="dir">Produtos</a>
      <ul>
        <% if Settings.menus.show_courses %>
        <li><%= link_to 'Cursos Presenciais', admin_cursos_path %></li>
        <% end %>
        <li><%= link_to 'Cursos', admin_video_aulas_path %></li>
        <li><%= link_to 'Pacotes de Cursos', admin_pacotes_path %></li>
        <li><%= link_to 'Ebooks', admin_arquivos_path %></li>
        <li><%= link_to 'Assinaturas', admin_assinaturas_path %></li>
        <li><%= link_to 'Aulas Ao Vivo', admin_tickets_path %></li>
        <li><%= link_to 'Eventos', admin_classroom_events_path %></li>
        <li><%= link_to 'Categorias', admin_categoria_cursos_path %></li>
        <li><%= link_to 'Professores', admin_professors_path %></li>
        <% if Settings.menus.show_simulated_tests %>
        <li><%= link_to 'Simulados', admin_simulated_tests_path %></li>
        <% end %>
      </ul>
    </li>
    <li id="n-admin"><%= link_to "Vídeos", admin_video_uploads_path, :class => "dir" %>
    </li>
    <li id="n-admin"><%= link_to "Faturas", admin_faturas_path, :class => "dir" %>
	  <ul>
	  	<li><%= link_to 'Resumo', resumo_admin_faturas_path %></li>
	  </ul>
	</li>
	<li id="n-admin"><a href="#" class="dir">Promoções</a>
      <ul>
        <li><%= link_to 'Cupons', admin_cupoms_path %></li>
        <li><%= link_to 'Descontos', admin_descontos_path %></li>
      </ul>
    </li>
    <li id="n-admin"><a href="#" class="dir">Conteúdo</a>
      <ul>
        <li><%= link_to 'Destaques', admin_tickers_path %></li>
        <li><%= link_to 'Notícias', admin_noticias_path %></li>
		    <li><%= link_to 'Artigos', admin_artigos_path %></li>
		    <li><%= link_to 'Parceiros', admin_parceiros_path %></li>
        <li><%= link_to 'Banners', admin_banners_path %></li>
        <li><%= link_to 'Depoimentos', admin_depoimentos_path %></li>
		    <li><%= link_to 'Termos de Uso', edit_admin_termos_path %></li>
        <li><%= link_to 'Sobre o Site', edit_admin_sobre_path %></li>
        <li><%= link_to 'Canal ao Vivo', edit_admin_live_channel_path %></li>
      </ul>
    </li>
    <li id="n-admin"><a href="#" class="dir">Administração</a>
      <ul>
        <li><%= link_to 'Usuários', admin_users_path %></li>
        <% if Settings.user.manage_views %>
        <li><%= link_to 'Gerenciar Visualizações', admin_manage_views_path %></li>
        <% end %>
        <li><%= link_to 'Relatório Financeiro', financial_admin_reports_path %></li>
      </ul>
    </li>
  <% end -%>
</ul>
<!-- fim do menu -->
