<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= (yield(:title) ? yield(:title) : nil) || ("Painel Administrativo - " + NOME_SITE) %></title>

    <!-- javascripts -->
    <%= javascript_include_merged :base, :backend %>
    <%= yield :custom_javascript_includes %>
    <!-- css -->
    <%= stylesheet_link_merged :base, :backend_impressao, :media => "all" %>
    <%= yield :custom_css_includes %>
  </head>
  <body class="impressao">
    <div id="container">
        <div id="conteudo" class="grid_12">
          <h1><%= yield :title %></h1>
          <div id="content_body" class="content_body1">
            <%= yield %>
          </div>
        </div>
    </div><!-- fim do container-->
  </body>
</html>
