<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= (yield(:title) ? yield(:title) + " - " + Settings.site : nil) || ("Painel Administrativo - " + Settings.site) %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- javascripts -->
    <%= javascript_include_merged :backend %>
    <%= yield :custom_javascript_includes %>

    <!-- css -->
    <%= stylesheet_link_merged :base, :backend %>
    <%= yield :custom_css_includes %>
  </head>
  <body>
    <div id="container">
      <div id="geral" class="container_12">
        <div id="topo">
          <h1 class="logotipo">
            <%= link_to image_tag("/images/backend/logo.gif"), admin_dashboard_path, :title => "Home Painel" %>
          </h1>
          <p class="painel_controle">Painel de Controle</p>
          <div class="info">
            <p>
              Oi, <span><%= current_user.login %></span> <br />

              <% if current_user.last_login %>
                Seu último acesso foi em: <span><%= current_user.last_login.to_s(:padrao_data_hora) %></span>
              <% else %>
                Esse &eacute; seu <span>primeiro acesso</span>
              <% end %><br />

              <%= link_to 'sair', url_for(logout_path), :class => "btn_sair", :alt => "Sair do sistema", :title => "Sair do sistema" %>
              <%= link_to 'Editar dados', change_password_path %>
            </p>

          </div>
          <br class="clear" />
          <span class="etiqueta">Promine</span>
        </div>

        <%= render :partial => "layouts/menu_backend" %>

        <div id="conteudo" class="grid_12">
          <div id="flash_message">
            <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
          </div>

          <h1><%= yield :title %></h1>

          <div id="content_body" class="<%= @content_for_resumo ? 'content_body2' : 'content_body1'  %>">
            <%= yield %>
          </div>

          <% if @content_for_resumo %>
            <div id="resumo_tela">
              <%= yield :resumo %>
            </div>
          <% end %>

          <br class="clear" />
        </div>

      </div><!-- fim do geral-->
    </div><!-- fim do container-->

    <div id="rodape">
      <div class="conteudo_rodape"></div>
    </div>
  </body>
</html>
