<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= include_meta_tags(@description) %>
    <title><%= (yield(:title) ? yield(:title) + " - " + Settings.site : nil) || Settings.site %></title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= javascript_include_tag "jquery-1.8.3.min", "jquery-ui-1.9.2.custom.min" %>
    <%= javascript_include_tag "jquery.livequery.min" %>
    <%= javascript_include_merged :base, :frontend %>
    <%= yield :custom_javascript_includes %>
    <%= render_cell "analytics", :show %>
    <%= stylesheet_link_merged :base, :frontend %>
    <%= stylesheet_link_merged :print, :media => :print %>
  </head>
  <body>
  <% if !current_user.blank? -%>
    <%= auto_session_timeout_js %>
  <% end -%>  
	<div class="topo">
      <div class="container_12">
        <div class="grid_12">
          <h1 class="logo"><%= link_to "Professor Gustavo Brígido", home_path %></h1>
          <div class="carrinho_topo">
            <%= render :partial => "layouts/carrinho_topo", :locals => { :quantity => @total }%>
          </div>
          <div class="login">
            <%= render :partial => "layouts/login_topo" %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- Navegação -->
    <div class="navegacao">
      <div class="container_12">
        <div class="grid_12">
          <%= render :partial => "layouts/menu_frontend" %>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <!-- Conteúdo -->
    <div class="conteudo" id='conteudo'>
      <%= render :partial => 'layouts/flash_frontend', :locals => { :flash => flash } %>
      <%= yield %>

    </div>
    <!-- Fim do bloco conteudo -->

    <br class="clear" />

    <!-- Rodapé -->
    <div class="rodape">
      <div class="rodape_conteudo">
        <%= link_to image_tag("logo_gustavo_brigido_rodape.png"), sobre_path, :class => "logo_rodape" %>

        <%= render :partial => "cursos/acompanhe" %>

        <div class="termos">
              <p><%= link_to "Termos de Uso", termos_path %><br /><span>"Leia antes de comprar um curso."</span></p>
          <br class="clear" />
        </div>

        <div class="selo-site-seguro">
	        <script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=gustavobrigido.com.br&amp;size=M&amp;lang=br"></script>
        </div>

        <div class="formas_pagamento">
          <%= image_tag "formas_pagamento.jpg", :alt => "Formas de Pagamento - PagSeguro", :title => "Formas de Pagamento - PagSeguro" %>
        </div>
        <br class="clear"/>
      </div>

    </div>
  </body>
</html>
