<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= (yield(:title) ? yield(:title) + " - " + Settings.site : nil) || ("Login" + Settings.site) %></title>
    <%= javascript_include_merged :base %>
    <%= stylesheet_link_merged :login %>
  </head>
  <body>

    <div class="box_login">
      <%= yield %>

      <div id="flash_message">
        <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
      </div>
    </div>

  </body>
</html>

